[2021-03-26 19:46] #933 closed

[2021-03-26 19:52] jharenza opened #967 "Updated analysis: molecular subtyping integrate"
#### What analysis module should be updated and why?
molecular-subtyping-integrate

#### What changes need to be made? Please provide enough detail for another participant to make the update.
Add additional logic to map some of the `pathology_free_text_diagnosis` terms to be included within the final `harmonized_diagnosis` and/or `integrated_diagnosis`, if one exists. For example, we do not subtyp

[2021-03-26 19:56] jharenza commented on #867
- Add PFS_days to histologies file per #963
- Add hotspot + consensus SNV maf
- possibly update CNV files per #43 (TBD)
- Rerun all subtyping per #959
- Add MB file needed for #747

[2021-03-26 20:00] jharenza opened #968 "Updated analysis: Add oncoprints by `broad_histology` + update consensus maf to use hotspot consensus maf"
#### What analysis module should be updated and why?
oncoprint-landscape

#### What changes need to be made? Please provide enough detail for another participant to make the update.
- Add oncoprints by `broad_histology` in panel form for easier viewing.

#### What input data should be used? Which data were used in the version being updated?
- Use histology-specific gene lists per #969
- Update con

[2021-03-26 20:04] jharenza opened #969 "Proposed Analysis: Create broad histology-specific gene lists for oncoprint"
#### What are the scientific goals of the analysis?
Since the oncoprint-landscape module currently utilizes a set of genes from the interaction-plots module, and we would like to break apart the oncoprint (per #968), the lists will not include canonical fusions/CNVs observed in the histologies, nor include canonical rare mutations, so we would like to manually curate broad histology-specific gene

[2021-03-26 21:05] jharenza opened #970 "Updated analysis: molecular subtyping LGAT misses MYB/MYBL fusions"
#### What analysis module should be updated and why?
molecular-subtyping-lgat currently misses MYB/MYBL fusions in [this file](https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/analyses/molecular-subtyping-LGAT/lgat-subset/LGAT_fusion_subset.tsv), but they are present in the [lgat fusion summary file](https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/analyses/fusion-summa

[2021-03-26 21:07] jharenza commented on #970
Also, once this is updated, can you also rerun molecular subtyping pathology in this PR to update that file? Thanks!

[2021-03-26 22:39] jharenza commented on #966
@cbethell I am not sure why the filenames are not printing as expected - they seem to be coded correctly. Can you take a look next week, and potentially update the bgCol :) ?

[2021-03-26 22:41] jharenza opened #971 "Data check: BS_7HC4W4SA IDH1 mutant?"
#### What data file(s) does this issue pertain to?
[LGAT snv mutation file](https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/analyses/molecular-subtyping-LGAT/lgat-subset/LGAT_snv_subset.tsv)

#### What release are you using?

NA, current github repo analysis modules

#### Put a link to the relevant section of the [OpenPBTA-manuscript](https://github.com/AlexsLemonade/OpenPBTA-manusc

[2021-03-26 23:28] jharenza commented on #971
Update on this - obtained the path report and had it translated. The patient tumor _does_ have an IDH1 mutation. It _IS_ in our consensus file (p.R132H). I also checked the .CRAM file and it is clear:
![BS_7HC4W4SA](https://user-images.githubusercontent.com/207034/112702116-d965c300-8e68-11eb-8045-0f4ce6c443d1.png)

So, it appears that the subtyping is missing this mutation call in the LGAT subset

[2021-03-27 23:01] jaclyn-taroni commented on #898
As far as I can tell, this is done.

[2021-03-27 23:01] #898 closed

[2021-03-29 15:53] jaclyn-taroni commented on #931
I agree, that's what we've done for figure generation so far:

- Running this module for figures specifically: https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/b148e1fd7d4c50486157a8b6093dc621a9761323/figures/generate-figures.sh#L103
- Making the heatmap itself: https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/b148e1fd7d4c50486157a8b6093dc621a9761323/figures/scripts/transcriptomic-ov

[2021-03-29 19:16] komalsrathi commented on #931
I see, its good to know that you are only using xCell in the transcriptomic overview, I was suggesting the same i.e. get rid of other methods completely as they are not helpful in the interpretation.

I will change the script such that it will only:
1. run xCell
2. generate xCell based heatmap

So there won't be any data/plot associated with any other methods. I'll file a PR soon.

[2021-03-29 21:14] jharenza opened #972 "Updated analysis: HGAT subtyping - modify gliomatosis cerebri inclusion"
#### What analysis module should be updated and why?
HGG subtyping - upon inspection of `pathology_free_text_diagnosis` and discussion with Cassie Kline, I noticed that only 2/4 gliomatosis cerebri samples we subtyped are denoted as high grade (`anaplastic gliomatosis cerebri (who grade 4)`), therefore, only those two should be subtyped within the HGG subtyping module.

[code]

#### What changes n

[2021-03-29 21:17] komalsrathi commented on #965
@jharenza Can you confirm that there are only 7 broad histologies for which molecular_subtype info is available? Also can you check the attached plot?

[heatmap_xCell_by_molecular_subtype.pdf](https://github.com/AlexsLemonade/OpenPBTA-analysis/files/6224639/heatmap_xCell_by_molecular_subtype.pdf)

[2021-03-31 13:43] komalsrathi commented on #965
@jharenza I was initially using the `molecular_subtype` field from the `data/pbta-histologies.tsv` file, which worked fine as it  has a 1-1 mapping for `Kids_First_Biospecimen_ID` and `molecular_subtype`. When I instead switched to using the file under `molecular-subtyping-pathology/results/compiled_molecular_subtypes.tsv`, it seems to have duplicates (not sure if this is a known issue and how to

[2021-03-31 15:25] komalsrathi commented on #931
Can be closed.

[2021-03-31 15:34] #931 closed

[2021-03-31 15:38] kgaonkar6 commented on #964
I'm getting an error at `rule merge_all` step running the code in docker as is from the master branch.
[code]

It seems like a simple command to cat all the files and seems to work fine when I run it on bash from `docker exec` so seems like a snakemake file specific bug?

[2021-03-31 17:32] jaclyn-taroni commented on #952
Here's the status of my investigation:

- When we build the Docker image in CI using the `--no-cache` option (#976), it builds just fine: https://app.circleci.com/pipelines/github/AlexsLemonade/OpenPBTA-analysis/5186/workflows/e8e74608-512f-41a1-87bb-6f890a723a57/jobs/5792
- Similarly, there's no problem building locally with `--no-cache`.
- Recent pull requests have not seen the same intermittent

[2021-03-31 17:33] #952 closed

[2021-03-31 17:51] jharenza opened #977 "Updated analysis: add recurrent fusions to oncoplot goi list"
#### What analysis module should be updated and why?
oncoprint-landscape

#### What changes need to be made? Please provide enough detail for another participant to make the update.
Per discussion [here](https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/975#issuecomment-811286554), I noticed that since we have recurrent SNVs and CNVs in our GOI lists, then it might follow that we add recurre

[2021-03-31 17:56] jharenza commented on #965
Thanks, @komalsrathi - actually, the file we want to use is [this one](https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/analyses/molecular-subtyping-pathology/results/compiled_molecular_subtypes_with_clinical_pathology_feedback.tsv), which corrects these manually after review.

[2021-04-01 16:01] kgaonkar6 commented on #972
Just wanted to check this issue is still something we want to work on since 7316-3817 is now updated to glioblastoma?

[2021-04-01 17:09] jharenza commented on #972
Yes please, just because it can be high or low grade and we don't want any low grades sneaking in. We'll get the same result, but when we add more samples in the future, this won't be a worry. Thanks!

[2021-04-01 17:24] kgaonkar6 commented on #972
Ok cool, since pathology_free_text_diagnosis is so varied in it's terms I wanted to confirm should I make an exclusion to remove if pathology_free_text_diagnosis exactly matches `gliomatosis cerebri` ?

Since pathology_free_text_dx is not quite uniform the grade is sometimes written as `grade III` or `grade IV` or `grade 3` or `grade 4` or sometimes as `grade iii/iv` or `grade 3-4` or `gr 3`  or `

[2021-04-01 17:51] jharenza opened #981 "Updated analysis: update Multi-Hit definition"
#### What analysis module should be updated and why?
oncoplot-landscape

#### What changes need to be made? Please provide enough detail for another participant to make the update.
I noticed many of the `KIAA1549--BRAF` positive samples are annotated as `Multi-Hit`. I am wondering if this is because of the presence of reciprocal fusions `KIAA1549--BRAF` and `BRAF--KIAA1549` or if there are additio

[2021-04-01 18:08] jharenza commented on #972
For this case, we would only include in HGG subtyping if there is any annotation in HGG denoting the grade - I think for this, we should just match the exact terms in the JSON file as we did with embryonal tumor subtyping [here](https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/analyses/molecular-subtyping-embryonal/subset-files/embryonal_subtyping_path_dx_strings.json). So, IF `patho

[2021-04-01 18:15] kgaonkar6 commented on #972
got it, makes sense!

[2021-04-01 18:19] jharenza commented on #330
Closing this for v1

[2021-04-01 18:19] #330 closed

[2021-04-01 18:21] jharenza commented on #335
I don't think this will be necessary - I think the global views by broader histology, compared to TCGA are exactly what we want.

[2021-04-01 18:21] #335 closed

[2021-04-01 18:22] jharenza commented on #966
completed with #975

[2021-04-01 18:22] #966 closed

[2021-04-01 18:29] jharenza commented on #481
@cansavvy ok to close this?

[2021-04-01 18:31] jharenza commented on #837
This was completed with #841 , #922 , #945

[2021-04-01 18:31] #837 closed

[2021-04-01 18:33] jharenza commented on #608
closed with #951

[2021-04-01 18:33] #608 closed

[2021-04-01 18:34] jharenza commented on #606
closing, as beyond the scope of v1

[2021-04-01 18:34] #606 closed

[2021-04-01 18:34] jharenza commented on #551
closing, as we still have not gotten access to these data

[2021-04-01 18:34] #551 closed

[2021-04-01 18:36] jharenza commented on #572
@jaclyn-taroni is this still a plan for figure 1?

[2021-04-01 18:46] #481 closed

[2021-04-01 20:59] jharenza commented on #970
closed with #978

[2021-04-01 20:59] #970 closed

[2021-04-01 21:11] jharenza commented on #968
@cbethell I saw you added a PR as I was writing this!

In looking at the `independent-specimens.wgswxs.primary.tsv` file being used for the oncoprint, I started thinking of how we want to create panels for this plot since we have such a spread for N per histology (below)

broad_histology | Freq
-- | --
Low-grade astrocytic tumor | 227
Embryonal tumor | 132
Diffuse astrocytic and oligodendroglial

[2021-04-01 21:15] cbethell commented on #968
Sounds good to me @jharenza! I'll work on implementing this over in that draft PR 👍

And I'll keep an eye out for your update on this point!

[2021-04-01 21:25] jharenza commented on #981
Actually, I do see `Multi-Hit Fusion` in the plot (missed that at first because I was looking for alpha order :P.

Looking at the TMB plot section with the spread of mutations, I am assuming many of those multi-hits are coming from CNV + fusion. At first, I was wondering if the CNVs were being added to the MAF and that is why they are appearing as multi-hits, but I see you are entering it in the `

[2021-04-01 23:06] jharenza commented on #968
I also wanted to note that the legend has `Normal` as a value for `display_group`, but I don't think that should be the case.

[2021-04-01 23:07] jharenza commented on #964
@jashapiro I know you are out this week, but when you are back, would you be able to help with the error above? Thanks!

[2021-04-01 23:13] jharenza commented on #971
closed with #979

[2021-04-01 23:13] #971 closed

[2021-04-01 23:54] jharenza commented on #968
I wasn't able to meet with him, but let's go ahead and remove these.

[2021-04-02 00:31] jharenza commented on #967
@jaclyn-taroni and @kgaonkar6 - I finished up this file after discussion with a clinician and pathologists. The file is located [here](https://docs.google.com/spreadsheets/d/1fDXt_YODcSAWDvyI5ISBVhUCu4b5-TFCVWMOwiPeMwk/edit#gid=1210552782), but I wanted some advice/discussion around how to integrate the `rules_by_free_text` tab. Here, I am adding the above meningioma information, which should be s

[2021-04-02 10:59] jashapiro commented on #964
I can try to help out. Is there any more detail you can give about exactly how you ran it @kgaonkar6? As far as I am aware, the workflow runs in CI, so there would have to be a pretty specific bug... as a first step, I would check that `scratch/copy_consensus` is empty before running the `run_consensus_call.sh` script.

[2021-04-02 14:46] kgaonkar6 commented on #964
I ran the analysis  with this command
[code]

I did edit the script `bed_tosegfile.R` which is the last step `rule make_segfile` in the Snakemake file but the error occurs 2 steps before where all files are merged in step `rule merge_all` .

I will try a re-run with an empty `scratch/copy_consensus`, thanks for the input!

[2021-04-02 15:09] kgaonkar6 commented on #964
re-running with an empty scratch/copy_consensus worked! 🎉  Thank you, should have tried that before!

[2021-04-02 16:53] jaclyn-taroni commented on #967
Are you able to distill the rules for what ends up in `harmonized_diagnosis` when subtyping has occurred into a sentence or two? (What the final field should be, etc.) And will it be the same across subtyping modules?

[2021-04-02 17:02] jaclyn-taroni commented on #572
Yea, this would be of interest to readers IMO.

[2021-04-02 17:08] jharenza commented on #572
I agree!

[2021-04-02 17:11] jharenza commented on #964
thanks @jashapiro

[2021-04-02 17:16] jharenza commented on #953
closed with #962

[2021-04-02 17:16] #953 closed

[2021-04-02 17:18] jharenza commented on #965
We can update this after v19 release #867 , at which point you can use the updated `pbta-histologies.tsv` file.

[2021-04-02 19:09] kgaonkar6 commented on #964
Sorry for bringing this up again.. @jashapiro @jashapiro

 The analysis ran successfully with testing data I had downloaded for another PR I'm working on, but it actually did error out in the same step when I ran it with v18
[code]

[2021-04-05 16:30] jaclyn-taroni opened #985 "Enrich for LGAT samples or specific lesions in CI files such that LGAT subtyping can be fully tested"
Currently, the first three steps of LGAT subtyping have to be skipped in CI. This resulted in a couple issues that likely would have been caught via CI. See #980 for more information about why the failures arise.

Instead of skipping these notebooks in CI, we could alter how the CI files are generated to accommodate these steps like we do for other analyses.

_Originally posted by @jaclyn-taroni i

[2021-04-05 19:20] cbethell commented on #977
@jharenza, after taking another a look at this issue and #969, I now have the question of whether or not these issues will overlap.

If the broad histology specific goi lists will be curated as noted in #969, should we go ahead and wait to include those lists? Will those lists include recurrent fusions or fused genes? Or should these recurrent fusions perhaps be added to the lists from #969 rather

[2021-04-05 19:33] jharenza commented on #977
hmm, I think if we deprecate the full oncoprint, then this issue would no longer be valid and the genes with fusions (not fusions themselves) will be included within the gene list for #969 - is the plan to remove the full oncoprint?

[2021-04-05 19:53] cbethell commented on #977
Good question @jharenza, I do not feel strongly about removing/retaining the full oncoprint. However, if we do retain the full oncoprint, would we also retain the current complete goi list (which we would add the genes with fusions to) or should we also update the goi list for the full oncoprint in accordance with #969, perhaps by compiling the histology goi lists?

[2021-04-06 15:40] kgaonkar6 opened #986 "Updated analysis: HGG subtyping sample selection on harmonized path_dx and path_free_text_dx"
#### What analysis module should be updated and why?
HGG subtyping module could be updated to use only the harmonized path_dx and path_free_txt_dx for selection across all samples.

#### What changes need to be made? Please provide enough detail for another participant to make the update.
In v18 the pathology diagnosis for all HGG samples was fully harmonized so will not need the hard code cohort

[2021-04-07 14:26] kgaonkar6 commented on #972
fixed with #982

[2021-04-07 14:31] #972 closed

[2021-04-07 18:41] jharenza commented on #967
I was thinking about how best to do this. This is not going to be the same across subtyping modules.

The only two histologies that have been subtyped that I have us updating using `pathology_free_text_diagnosis` are Craniopharyngioma and LGAT, so I wonder if this is better to add to the subtyping modules themselves?

Then, that would leave anything not subtyped to be taken care of here.

[2021-04-09 19:10] jashapiro opened #990 "Updated analysis: SNV consensus calling (for things other than substitutions)"
#### What analysis module should be updated and why?

`snv-callers`, and in particular the generation of the consensus MAF file.

#### What changes need to be made? Please provide enough detail for another participant to make the update.

As noted in another review (https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/961#pullrequestreview-632629314), the current SNV consensus script may not ha

[2021-04-12 15:47] jaclyn-taroni opened #991 "CI failure: Molecular Subtyping - Ependymoma"
#### Context

The EPN subtyping step run in CI is now failing in CI. [Here's the `command` step for this module in CI](https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/52f64f3debc7763520ac64ff685c69a7dd68bb2d/.circleci/config.yml#L61):

[code]

This happens across multiple, seemingly-unrelated pull requests:

* https://app.circleci.com/pipelines/github/AlexsLemonade/OpenPBTA-analysis/5236/w

[2021-04-12 16:35] jaclyn-taroni commented on #967
What about adding steps, potentially divided up by subtype, to `molecular-subtyping-pathology`, which appears to be upstream of `molecular-subtyping-integrate`?  The point being that `molecular-subtyping-pathology` would then capture all of the pathology- or clinical-related changes or additions to our subtyping process. We'd have to change the docs (e.g., `README.md`) in that module to be more ge

[2021-04-12 19:00] jharenza commented on #967
Sure - will do!

[2021-04-12 19:14] jharenza opened #993 "Updated analysis: molecular subtyping pathology - Meningioma"
#### What analysis module should be updated and why?
As outlined in #967, we would like to integrate some of the information in `pathology_free_text` diagnosis to the `integrated_diagnosis` or `harmonized_diagnosis`. For this ticket, we will further subtype Meningioma samples per the [WHO 2016 CNS subtypes](https://link.springer.com/content/pdf/10.1007/s00401-016-1545-1.pdf) based on information g

[2021-04-12 19:29] jharenza opened #994 "Updated analysis: molecular subtyping pathology - Craniopharyngioma"
#### What analysis module should be updated and why?
As outlined in #967, we would like to integrate some of the information in `pathology_free_text` diagnosis to the `integrated_diagnosis` or `harmonized_diagnosis`. For this ticket, we will further subtype Craniopharyngioma samples which may have been annotated as "To be classified" since they lacked canonical mutations which subtype the samples.

[2021-04-12 19:37] jharenza opened #995 "Updated analysis: molecular subtyping LGAT: remove non LGG tumors"
#### What analysis module should be updated and why?
molecular subtyping LGAT - after review of `pathology_free_text_diagnosis` contents with Cassie Kline, it was decided that we should remove a few samples from the LGAT module, as they belong within the `broad_histology` of `neuronal and mixed neuronal-glial tumors`

#### What changes need to be made? Please provide enough detail for another part

[2021-04-12 20:14] jharenza opened #996 "Updated analysis: molecular subtyping pathology - add glialneuronal tumors"
#### What analysis module should be updated and why?
As outlined in #967, we would like to integrate some of the information in `pathology_free_text` diagnosis to the `integrated_diagnosis` or `harmonized_diagnosis`. For this ticket, we will further subtype some `neuronal and mixed neuronal-glial tumors` per the [WHO 2016 CNS subtypes](https://link.springer.com/content/pdf/10.1007/s00401-016-1545-

[2021-04-12 20:29] jharenza opened #997 "Updated analysis: molecular subtyping pathology - choroid plexus papilloma"
#### What analysis module should be updated and why?
As outlined in #967, we would like to integrate some of the information in `pathology_free_text` diagnosis to the `integrated_diagnosis` or `harmonized_diagnosis`. For this ticket, we will further subtype `choroid plexus papilloma` per the [WHO 2016 CNS subtypes](https://link.springer.com/content/pdf/10.1007/s00401-016-1545-1.pdf) based on infor

[2021-04-12 20:39] jharenza opened #998 "Updated analysis: molecular subtyping pathology - JXG"
#### What analysis module should be updated and why?
As outlined in #967, we would like to integrate some of the information in `pathology_free_text` diagnosis to the `integrated_diagnosis` or `harmonized_diagnosis`. For this ticket, we will further subtype `Other` tumors to `Juvenile xanthogranuloma` per the [WHO 2016 CNS subtypes](https://link.springer.com/content/pdf/10.1007/s00401-016-1545-1.p

[2021-04-12 21:03] jharenza opened #999 "Updated analysis: molecular subtyping pathology - lymphoma"
#### What analysis module should be updated and why?
As outlined in #967, we would like to integrate some of the information in `pathology_free_text` diagnosis to the `integrated_diagnosis` or `harmonized_diagnosis`. For this ticket, we will further subtype `
` tumors to `CNS Burkitt's lymphoma` per the [WHO 2016 CNS subtypes](https://link.springer.com/content/pdf/10.1007/s00401-016-1545-1.pdf) ba

[2021-04-13 00:58] jharenza opened #1000 "Updated analysis: molecular subtyping pathology - LGAT by pathology free text diagnosis"
#### What analysis module should be updated and why?
As outlined in #967, we would like to integrate some of the information in `pathology_free_text` diagnosis to the `integrated_diagnosis` or `harmonized_diagnosis`. For this ticket, we will further subtype `
` LGAT tumors` per the [WHO 2016 CNS subtypes](https://link.springer.com/content/pdf/10.1007/s00401-016-1545-1.pdf) based on information gat

[2021-04-13 16:35] kgaonkar6 commented on #990
I hadn't thought about all the possible representation for indels , but this is a great point of interest for consensus calling! I looked at what people have done before and found this normalization code from bcbio:
https://github.com/hongenxu/bcbio-nextgen/blob/master/bcbio/variation/normalize.py. They also do consensus ( which they call ensembl) calling and normalize their vcf calls by:

1. Spli

[2021-04-13 18:13] jharenza opened #1001 "Updated analysis: interaction plots - assess oncogene/TSG co-occurrence/mutual exclusivity"
#### What analysis module should be updated and why?
interation-plots

We are interested in determining whether:
1. cancer genes co-occur or are mutually exclusive in pediatric brain tumors and if this is true across histologies (eg: if TP53 and H3F3A co-occur in HGAT, do they also co-occur in other histologies?). We may be very limited for this latter point because of our N per group unless we ap

[2021-04-13 18:54] jharenza commented on #607
closing this, as we do update via subtyping modules

[2021-04-13 18:54] #607 closed

[2021-04-13 18:58] jashapiro commented on #990
Thanks @kgaonkar6! I think you see some of the issues I was thinking about. I think the MNV issue should be fine; we were sort of saved by the fact that strelka2 does not call any MNVs, so we had to decompose the others right off. But INDELs remain an issue that I guess we never really resolved.

It does seem to me that applying a normalization algorithm to all of the vcf files would be worth doin

[2021-04-13 20:29] jharenza commented on #990
@migbro and @yuankunzhu - do we have this performed pre-d3b consensus?

[2021-04-13 20:59] migbro commented on #990
Not yet. I currently have in review a workflow to bring our vcfs to a new spec. This means the following will happen:
 - Normalize the vcf using the above described method
 - Run annotation subwf:
    - add standard FORMAT fields: ONLY FOR STRELKA2 (GT, AF, AD). This helps for downstream compatibility for some tools
    - VEP annotate
    - Annotate using bcftools to add AF from gnomad (the refere

[2021-04-13 21:13] migbro commented on #990
Ah! I knew that estimate was a little too good, multiply that by 4. so more like 4 hours is the rosy estimate to generate outputs start-to-finish.

[2021-04-13 21:43] cbethell opened #1002 "Updated analysis: Combine broad histology oncoprints into a single multi-panel plot"
#### What analysis module should be updated and why?

The `figures` directory should be updated as to address part of #968

#### What changes need to be made? Please provide enough detail for another participant to make the update.

As suggested in https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/968#issue-842260376, we want to add the broad histology oncoprints (added in merged PR #983)

[2021-04-14 13:48] cbethell opened #1004 "Updated analysis: Update oncoprint-landscape module to use histology-specific goi lists"
#### What analysis module should be updated and why?

The `oncoprint-landscape` module should be updated to use the broad histology specific goi lists (as noted in https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/968#issue-842260376) once they are available.

#### What changes need to be made? Please provide enough detail for another participant to make the update.

The `run-oncoprint.sh`

[2021-04-14 13:49] cbethell opened #1005 "Updated analysis: Update oncoprint landscape module to use hotspot consensus maf"
#### What analysis module should be updated and why?

The `oncoprint-landscape` module should be updated to use the hotspot consensus maf file (as noted in https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/968#issue-842260376) once available.

#### What changes need to be made? Please provide enough detail for another participant to make the update.

The `run-oncoprint.sh` script will need

[2021-04-14 14:08] jashapiro commented on #1001
With the way the scripts are currently written, there is not currently an option to include a specific gene list for analysis, but that should be straightforward to add as an alternative to the current method, which takes the most mutated N genes (N=50 as currently run). Note that the gene list in fusion-filtering contains ~5000 genes, which will result in 25 million comparisons. The more comparis

[2021-04-14 14:54] jaclyn-taroni commented on #968
Closing in favor of #1004 and #1005

[2021-04-14 14:54] #968 closed

[2021-04-14 14:55] jaclyn-taroni commented on #977
I think our limited time is better spent on dropping the full oncoprint, with the understanding that we should not alter the code in a manner that makes it difficult to plot the full oncoprint, and focusing on #969 and #1004. Closing this.

[2021-04-14 14:55] #977 closed

[2021-04-14 14:58] jashapiro commented on #990
Thanks for your work on this @migbro! I noted elsewhere, but apparently not in this issue that we will also need to update the TCGA set that we are using for comparison here. So the time estimate is going to be even longer, unfortunately.

[2021-04-14 18:43] jaclyn-taroni opened #1006 "Better pin Python dependencies in project Docker image"
#### Context

We think we ran into the problem noted in #991 (see also: #1003) because there was some underlying Python dependency that did not have a hardcoded version in the Dockerfile and changed between builds of the project image. Something like this has happened before, and we pinned many of the Python dependencies at the time but not all of them.

#### Idea and potential next steps

We shou

[2021-04-14 21:43] LauraEgolf opened #1007 "Proposed Analysis: Chromothripsis analysis with ShatterSeek"
#### What are the scientific goals of the analysis?
- Identify candidate chromothripsis regions based on SV and CNV calls
- Classify tumors as +/- chromothripsis
- Plot chromothripsis incidence by tumor subtype

#### What methods do you plan to use to accomplish the scientific goals?
ShatterSeek (already installed in OpenPBTA Docker). I plan to build off of the analysis started for #393. I will cr

[2021-04-15 15:08] migbro commented on #990
Sure thing. The PR is approved, and @zhangb1 and @yuankunzhu are discussing today how to organize and run this request. As for adding TCGA to that request, I think we'd have to meet to see if we can make that happen, and we'd to loop in someone like @jharenza or someone else who was familiar with what inputs Teja used when she worked with these file sto see if it's doable.

[2021-04-15 19:42] cbethell commented on #981
Per https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/259#issue-339626318 and the comments added at the top of the [`01`](https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/analyses/focal-cn-file-preparation/01-add-ploidy-cnvkit.Rmd) and [`02`](https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/analyses/focal-cn-file-preparation/02-add-ploidy-consensus.Rmd) ploidy not

[2021-04-15 19:45] jharenza commented on #981
I would be in favor of recoding just for the oncoplot

[2021-04-15 19:47] cbethell commented on #981
Sounds good, I can get started on drafting a PR for this!

[2021-04-15 19:48] jharenza commented on #981
thank you!

[2021-04-15 21:05] jharenza commented on #747
@komalsrathi - will you use the new file below as input for the classifier accuracy assessment? Thank you!

[openPBTA-mb-pathology-subtypes.csv](https://github.com/AlexsLemonade/OpenPBTA-analysis/files/6321093/openPBTA-mb-pathology-subtypes.csv)

[2021-04-15 21:08] jharenza commented on #746
File for release:
[openPBTA-mb-pathology-subtypes.csv](https://github.com/AlexsLemonade/OpenPBTA-analysis/files/6321102/openPBTA-mb-pathology-subtypes.csv)

Full notes for record-keeping:
[2021-04-15-openPBTA-mb-pathology-subtypes-full-notes.xlsx](https://github.com/AlexsLemonade/OpenPBTA-analysis/files/6321112/2021-04-15-openPBTA-mb-pathology-subtypes-full-notes.xlsx)

[2021-04-15 23:00] kgaonkar6 opened #1010 "Updated analysis: Neutral region called as losses when compared to ploidy"
#### What analysis module should be updated and why?
The CNV analysis specifically

While creating the consensus seg file in `copy_number_consensus_call` module we bind a df of  *neutral* region in the code here to fill back neutral calls :
https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/84a324790f9cb2848cd9e370832f0f4d0a7610b1/analyses/copy_number_consensus_call/scripts/bed_to_segfile.R#L

[2021-04-16 10:30] jharenza commented on #1010
I am in favor of

[2021-04-16 13:06] komalsrathi commented on #747
@jharenza can you assign this to me? I never see these tickets unless they are assigned (only get notified and then I have to search for it).

[2021-04-16 15:57] #991 closed

[2021-04-16 15:57] #1006 closed

[2021-04-16 16:24] jaclyn-taroni commented on #1010
Just popping into say I am going to put the `blocking release` label on this.

[2021-04-16 17:16] jharenza commented on #747
done!

[2021-04-16 21:33] jharenza commented on #969
@cbethell I created this file below, which I sent to CBTN PIs for review today, so if there are any additions, we can swap the file out afterward. I wanted to be sure we captured the sources to cite and there are currently duplicate genes due to multiple sources, so please just unique those. Hope this works!

[oncoprint-goi-lists-OpenPBTA.csv](https://github.com/AlexsLemonade/OpenPBTA-analysis/fil

[2021-04-17 19:44] jaclyn-taroni commented on #993
I'm going to assign myself to a couple of these subtyping tickets that are blocking the release.

[2021-04-19 12:14] jaclyn-taroni commented on #1010
The discussion so far is missing some important context in my opinion. When we perform the copy number consensus calling, CNVkit copy number = 2 is called as neutral, regardless of whether or not ploidy = 2 as inferred by ControlFreeC. Said a different way: how we handle CNVkit ignores ploidy information. (More background in #501 and some in #486.)

In the CN consensus module, we require at least

[2021-04-19 14:16] komalsrathi commented on #747
@jharenza This file does not contain two columns that we have in the current input file:
`Kids_First_Biospecimen_ID` and `other_molecular_findings`. These are also added in the output files. If you can update the csv file, it would be easy to incorporate. I don't want to make any local changes to this file on my end as I am seeing this was referenced in other tickets as well. Thanks!

[2021-04-19 14:33] jaclyn-taroni commented on #995
I'm assigning myself to this, as I assigned myself to #996 and they are related.

[2021-04-19 14:52] jaclyn-taroni commented on #1010
FWIW I like option 2

because I think it's a better representation of what's happening and the net result is the same.

[2021-04-19 15:21] jaclyn-taroni commented on #995
@jharenza what should I do in this case, where these samples would be included because `pathology_diagnosis == "Ganglioglioma"` but also excluded because `pathology_free_text_diagnosis` contains "glioneuronal"

[code]

<details>
  <summary> Steps to reproduce </summary>

[code]
</details>

[2021-04-19 19:01] kgaonkar6 commented on #1010
Thanks for bringing this up, I forgot to mention that we would update first make controlfreec copy number as default as we do in #987. So then the underrepresentation of potential losses will be  for calls only called by cnvkit+manta calls.

Am I thinking this correctly, for tumor samples ploidy >2 a gain occurred in a large portion of the genome so average ploidy increased to say 3, so for region

[2021-04-19 19:40] mchikina opened #1015 "Mutational signatures for CBTTC"
Thanks for generating these signatures. I tried to match them with my data on CBTTC samples and *all* of the samples are signature 1. Is this expected?

[2021-04-19 19:41] jharenza commented on #1010
@jaclyn-taroni and @kgaonkar6 thanks for the detailed explanations! I think having that context of CNVkit calls is good and I am on board with using NA to denote the neutral changes and using the controlfreec CN as default as noted in #987. Let's see how that works!

[2021-04-19 19:51] jharenza commented on #747
Added BS_ID but removed `other_molecular_findings` to keep this lite for the release.
[openPBTA-mb-pathology-subtypes.csv](https://github.com/AlexsLemonade/OpenPBTA-analysis/files/6338682/openPBTA-mb-pathology-subtypes.csv)

[2021-04-19 19:57] jharenza commented on #995
For these cases, even though `Ganglioglioma` are glial-neuronal tumors, Cassie Kline had asked us to subtype them with the LGGs, but as a part of that subtyping, when we add the `short_histology`, they should be `Ganglioglioma` instead of LGAT, and should have `Ganglioglioma` as the prefix for `integrated_diagnosis` - I may have to check the latter.

[2021-04-19 20:16] jharenza commented on #995
yes

[2021-04-19 20:27] #1015 closed

[2021-04-20 12:57] jaclyn-taroni commented on #1010
You've spent more time with this code/module than I have recently, but my understanding is that `analyses/copy_number_consensus_call/scripts/bed_to_segfile.R` has separate arguments for a CNV file and neutral file and using ControlFreeC as the default will only impact the former. I expect the CNV file only has alterations in it, so you could potentially have false negatives that arise because CNVk

[2021-04-22 15:05] kgaonkar6 commented on #1010
@jharenza @jaclyn-taroni
I compared the following 4 versions of gene annotated consensus cnv calls:
1) NA to denote the neutral changes and using the controlfreec CN as default [here](https://github.com/kgaonkar6/OpenPBTA-analysis/tree/focal-cn-update/analyses/focal-cn-file-preparation)
2) v18 release which denotes neutral changes as 2 and cnvkit as default calls[here](https://github.com/kgaonkar6

[2021-04-22 15:35] migbro commented on #990
Ok, a quick update on this. TCGA is done in terms of normalizing vcfs and creating per-caller maf files. There are two sets of outputs for each caller, one considered "protected" the other "public". This is because of a recent effort to attempt to employ "germline masking." For us, that entails dropping calls that have a norm depth < 8 and/or gnomad AD > 0.001 for the public version (except hotspo

[2021-04-22 21:15] jharenza commented on #1010
@kgaonkar6 this is great! It looks like using copy number = NA and ControlFreeC as default CN gives us the cleanest/least artifact-y plots.

@jaclyn-taroni we also did some internal checking by recoding the PNOC samples using the IDs in the manuscript and found that using number 1 above does give us the CNVs as expected from clinical sequencing. We did this using the consensus seg files (autosomes

[2021-04-23 13:55] jashapiro commented on #1010
Do you have a comparison with what I might call 1b: Leaving  the neutral regions to NA but leaving CNVkit as the default for the CN quantification? I honestly don’t remember exactly why we chose CNVkit as the default for CN, but I feel like it was recommended as the most reliable. Which might not be right!

[2021-04-23 14:03] jharenza commented on #986
closed with #1021

[2021-04-23 14:03] #986 closed

[2021-04-23 20:09] jharenza opened #1024 "INDEL renormalization of MAFs"
#### What data file(s) does this issue pertain to?
[code]

#### What release are you using?

v18- for for v19 update

#### Put a link to the relevant section of the [OpenPBTA-manuscript](https://github.com/AlexsLemonade/OpenPBTA-manuscript/) here.
NA

#### Put your question or report your issue here.
Based on discussion in #990, we want to perform indel renormalization of the VCFs using the workfl

[2021-04-23 20:32] jharenza opened #1025 "Update CNS_region for HGG"
#### What data file(s) does this issue pertain to?
`pbta-histologies.tsv`

#### What release are you using?

v18

#### Put a link to the relevant section of the [OpenPBTA-manuscript](https://github.com/AlexsLemonade/OpenPBTA-manuscript/) here.
NA

#### Put your question or report your issue here.
Cassie Kline had done some internal review of pathology reports to update HGG `CNS_regions`, and we wi

[2021-04-23 22:17] migbro commented on #990
Ok, these files:
[code]
have been uploaded here: `https://s3.console.aws.amazon.com/s3/buckets/kf-openaccess-us-east-1-prd-pbta?prefix=data/` (as s3 uri: `s3://kf-openaccess-us-east-1-prd-pbta/data/release-v19-20210423/`)
I also updated the md5 files

These mafs are those public ones that I was talking about, as @jharenza has recommended that I merge those and add, which is nice to have that kind

[2021-04-23 23:07] jharenza commented on #990
thank you both so much!!

[2021-04-26 11:46] bjhaneline21291 opened #1027 "Updated analysis: notebook"
#### What analysis module should be updated and why?
Tenserflow integration

#### What changes need to be made? Please provide enough detail for another participant to make the update.

Participant unaware of ongoing unsupervised project brain

#### What input data should be used? Which data were used in the version being updated?

Non updated sdk 1st version

#### When do you expect the revised a

[2021-04-26 11:55] bjhaneline21291 commented on #1027
Brain project unlawfully used to target humans not computers in order to harass and harm individuals including myself. With data being edited and erased. Integration of frontier and ibm with code integration compatibility not successful, causing bodily harm and blindness due to neural imaging issues

[2021-04-26 12:02] #1027 closed

[2021-04-26 13:17] jashapiro commented on #990
@migbro Can you clarify a couple of the added columns in the new MAF files?  Specifically, what are `MS` and `FETS`? `HotSpotAllele` is pretty self explanatory.

There are also a few things that were removed, most notably Entrez IDs. I don't know if any packages use the Entrez IDs, but that is something we will have to look out for. (I note that validation & ExAC info is now removed as well, but t

[2021-04-26 14:12] jashapiro commented on #990
I assumed that the column names were consistent, but that doesn't seem to be the case!
MS and FETS are only in lancet
`MQ`, `MQ0`, and `QSI` are in strelka2
`MBQ` and `TLOD` mutect2
`MSI` `MSILEN`  `SOR` `SSF` in vardict

Should the columns be in the MAF files at all, or can they be harmonized?

[2021-04-26 14:26] migbro commented on #990
Hi @jashapiro , sure! So the added columns were columns that I subjectively thought might be helpful output that each caller does that others might not. As far as I know, the MAF spec does allow for users to add additional columns on top of the "core" set. Descriptions are from the vcf headers below
Lancet:
`MS` : `Microsatellite mutation (format: #LEN#MOTIF)`
`FETS`: `phred-scaled p-value of the

[2021-04-26 15:14] jashapiro commented on #990
@migbro One followup: it does seem that the `Entrez_Gene_Id` is standard based on https://docs.gdc.cancer.gov/Data/File_Formats/MAF_Format/

As I said, I don't expect to use it, but if the column is expected by others it could definitely cause some trouble at times. Was this removal intentional?

[2021-04-26 15:24] migbro commented on #990
Hi @jashapiro , yeah, that's an interesting point. So, it was intentional because we haven't been filling it in. I felt comfortable dropping it following what cBioPortal deemed as minimal for a maf https://docs.cbioportal.org/5.1-data-loading/data-loading/file-formats#minimal-maf-format, which is admittedly, not much! I can ping Kyle Hernandez from U Chicago to get his opinion on it, who was heavi

[2021-04-26 15:56] migbro commented on #990
@jashapiro , yes, you are right that is a required column (one of 30), and Kyle has pointed me to a definitive source for that. I will do the following today:
 - [ ] I will ensure that all [required columns](https://github.com/NCI-GDC/maf-lib/blob/main/maflib/schemas/gdc-1.0.0.json) exists
 - [ ] Test output with the [maf tools R package](https://www.bioconductor.org/packages/release/bioc/html/maf

[2021-04-26 15:59] jashapiro commented on #990
@migbro Thanks for looking into it! Yes, it should be fine to overwrite the files. Just let me know when the new ones are up!

[2021-04-26 16:46] jharenza opened #1029 "Generate v19 CI files"
#### What data file(s) does this issue pertain to?
Generate v19 CI files

#### What release are you using?

V19

#### Put a link to the relevant section of the [OpenPBTA-manuscript](https://github.com/AlexsLemonade/OpenPBTA-manuscript/) here.
NA

#### Put your question or report your issue here.
For the v19 release, we need to generate new CI files.

[2021-04-26 16:50] kgaonkar6 opened #1030 "Updated analysis: embryonal subtyping"
#### What analysis module should be updated and why?
In v19, some pathology diagnosis have been changed specifically BS_AQMKA8NC  and BS_FEPRNEXX will be removed from embryonal subtyping because the pathology_diagnosis changed from "Other" to "ETMR", I believe we will have to update the code in `molecular-subtyping-embryonal` to include "Embryonal Tumor with Multilayered Rosettes (ETMR)" in the pa

[2021-04-26 22:48] jharenza opened #1032 "7316-2686: path dx == PNET; diagnosis free text == Ewing sarcoma"
#### What data file(s) does this issue pertain to?
`pbta-histologies.tsv`

#### What release are you using?

v19 within this embryonal subtyping update [PR](https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/1031)

#### Put a link to the relevant section of the [OpenPBTA-manuscript](https://github.com/AlexsLemonade/OpenPBTA-manuscript/) here.
NA

#### Put your question or report your issue he

[2021-04-27 02:01] migbro commented on #990
@jashapiro it's up!

[2021-04-27 04:21] bjhaneline21291 commented on #1027
I have proof and because she picked all brain it's almost impossible to detect. Explain why you closed it? Github should not be the place where government contractors can come and change the source code. And if you don't know and no offensive it's as easy as downloading the software, using f12 developer tools to remove any subscription. At that point anyone half a meatball can come to github rearr

[2021-04-27 12:43] jharenza commented on #1032
Update on this: site coordinator updated the path dx to EWS Abs free test to PNET(EWS), so this will be reflected in v20.

[2021-04-27 14:11] jashapiro commented on #990
@jharenza The consensus files based on the updated MAFs are now uploaded to https://open-pbta.s3.us-east-1.amazonaws.com/data/snv-consensus/snv-consensus-20210427.zip

I have not checked them in detail, but they seem to be about the right size: a bit smaller than previously, but based on some of the shrinkage in the input files, that seems reasonable?

I hadn't fully processed how much VarDict res

[2021-04-27 15:21] migbro commented on #990
@jashapiro I know right?! I took a peek at the CBTN portion, and summarized the `FILTER` events:
[code]
High gnomad > 0.001 filter is def the big culler of variants.

[2021-04-27 16:20] kgaonkar6 opened #1034 "Updated analysis: molecular subtyping HGG TP53 annotation"
#### What analysis module should be updated and why?
`10-HGG-TP53-annotation.Rmd` is not added to run script in `molecular_subtyping_HGG`

#### What changes need to be made? Please provide enough detail for another participant to make the update.
just add to run script

[code]

#### What input data should be used? Which data were used in the version being updated?
pbta-histologies-base.tsv
pbta-sn

[2021-04-27 16:28] kgaonkar6 opened #1035 "Updated analysis: molecular subtyping TP53 scoring to run with base histology file"
#### What analysis module should be updated and why?
The `tp53_nf1_score` is not updated to be run as part of base subtyping using `pbta-histologies-base.tsv`
These updates are necessary  for v19 release mainly because of the 2 PNOC sample_id updates which need to propagated to the tp53_nf1_score module if we don’t there will be duplicate subtypes because of incorrectly matched samples for those 2

[2021-04-27 17:02] jashapiro commented on #990
Yeah, but what I don't understand is why so many got culled from vardict that didn't get culled other places. Here is an upset plot from the previous data:
![image](https://user-images.githubusercontent.com/20483/116280861-1fa78e00-a757-11eb-9e4d-0ea81a4a40d2.png)
And with the new data:
![image](https://user-images.githubusercontent.com/20483/116280954-35b54e80-a757-11eb-8e99-b50d1643a5c4.png)

(O

[2021-04-27 17:40] migbro commented on #990
Thanks for looking into this! In looking at the pre-pass file from vardict on a hunch, it seems that VarDict has it's own `INFO/AF` field, unrelated to gnomad AF tagging: `##INFO=<ID=AF,Number=A,Type=Float,Description="Allele Frequency, for each ALT allele, in the same order as listed">`. If I had to guess, what isn't getting overwritten by gnomad AF annotation remains. Oh boy, quite the frustrati

[2021-04-27 17:41] migbro commented on #990
So in short, I'd say your current consensus method is probably safe since you are excluding VarDict. In the meantime, I will modify how the annotation is done for VarDict first, but generally will likely strip any existing `INFO/AF` field and replace in so that only the intended `INFO/AF` field from gnomad is populated. Thanks again!

[2021-04-27 20:23] migbro commented on #990
A quick update, so after adding in a pre-strip INFO step, the numbers look more "sane." A single sample example:
Vardict pre-strip:
[code]
Post strip:
[code]
For comparison, strelka2:
[code]
I'll re-run vardict with this new wf and update the vardict maf when completed.

[2021-04-28 00:07] migbro commented on #990
Ok, vardict has been updated

[2021-04-28 13:09] kgaonkar6 commented on #990
thanks @migbro! I'll create the CI files for vardict.

@jashapiro just wanted to check if these tmb files in the link https://open-pbta.s3.us-east-1.amazonaws.com/data/snv-consensus/snv-consensus-20210427.zip should be renamed to the file naming convention used in v18?

filenames currrent link
pbta-snv-mutation-tmb-all.tsv
pbta-snv-mutation-tmb-coding.tsv

filenames in v18:
pbta-snv-consensus-muta

[2021-04-28 13:16] jashapiro commented on #990
Yes, we should keep the file names the same as before! Sorry about that: I didn't confirm that the script output file names matched.

[2021-04-28 14:27] kgaonkar6 commented on #867
Just documenting some file updates for the v19 release:

@migbro added updated maf files for pbta and tcga
- [ ] pbta-tcga-snv-mutect2.vep.maf.gz
- [ ] pbta-tcga-snv-lancet.vep.maf.gz
- [ ] pbta-tcga-snv-strelka2.vep.maf.gz
- [ ] pbta-snv-lancet.vep.maf.gz
- [ ] pbta-snv-strelka2.vep.maf.gz
- [ ]  pbta-snv-mutect2.vep.maf.gz
- [ ] pbta-snv-vardict.vep.maf.gz

@jashapiro added the consensus files b

[2021-04-30 22:34] jharenza commented on #1034
closed via #1036

[2021-04-30 22:34] #1034 closed

[2021-04-30 22:34] jharenza commented on #1035
closed with #1037

[2021-04-30 22:34] #1035 closed

[2021-04-30 22:45] jharenza commented on #967
closing since I created individual tickets

[2021-04-30 22:45] #967 closed

[2021-04-30 23:22] jharenza opened #1048 "Data release: v20"
#### What data file(s) does this issue pertain to?
[code]

#### What release are you using?

v19

#### Put a link to the relevant section of the [OpenPBTA-manuscript](https://github.com/AlexsLemonade/OpenPBTA-manuscript/) here.
NA

#### Put your question or report your issue here.
Once #961 and #987 are merged and subtyping tickets are finished, we will do a final release (v20) prior to publicatio

[2021-05-01 00:01] jharenza opened #1049 "Updated analysis: Update PFA EPN subtyping for EZHIP over-expression"
#### What analysis module should be updated and why?
molecular-subtyping-EPN

Quick update to include over-expression of _EZHIP_ (_CXorf67_) alone, as a biomarker of PFA EPN, according to the following publication:
[EZHIP is a specific diagnostic biomarker for posterior fossa ependymomas, group PFA and diffuse midline gliomas H3-WT with EZHIP overexpression
](https://actaneurocomms.biomedcentral.c

[2021-05-03 19:12] jaclyn-taroni commented on #1049
I believe picked 3 across the board (i.e., for all subtyping modules where overexpression is included, not just EPN) to be very stringent.

[2021-05-04 15:59] kgaonkar6 commented on #1010
@jharenza @jashapiro @jaclyn-taroni  In this plot I've reduced the gene list for simplicity and comparing Freec+neutral calls as NA, CNVkit +neutral calls as NA , and V18 release:
![image](https://user-images.githubusercontent.com/34580719/117028631-e5e10500-accb-11eb-92d7-9a2a49497138.png)

status =NA here represents that this gene+sample_id has a non -neutral call in v18 versions.

The main chan

[2021-05-04 16:56] kgaonkar6 commented on #1010
Here I'm comparing ( consensus_seg_annotated_cn_autosomes.tsv.gz + consensus_seg_annotated_cn_x_and_y.tsv.gz ) from the following versions of the files
- controlfreec (default for copy number ) + neutral calls as NA
- cnvkit (default for copy number) + neutral calls as NA
- and v18 release
![image](https://user-images.githubusercontent.com/34580719/117039107-64db3b00-acd6-11eb-97e2-247cb7875451.pn

[2021-05-04 20:49] jharenza commented on #1010
I think it is also important to note here that these samples had clinical sequencing performed and the below option has captured these calls more accurately (as noted above when @kgaonkar6 mentions certain calls being missed.

This being said, I think we should go with the above.

[2021-05-04 21:17] jharenza opened #1052 "Data release: v21"
#### What data file(s) does this issue pertain to?
all DNA and RNA files, histology files

#### What release are you using?

v19-20

#### Put a link to the relevant section of the [OpenPBTA-manuscript](https://github.com/AlexsLemonade/OpenPBTA-manuscript/) here.
NA

#### Put your question or report your issue here.
With this release (after manuscript submission), we would like to add additional PN

[2021-05-05 15:57] kgaonkar6 commented on #1025
closing since this is updated in base histology creation step https://github.com/d3b-center/D3b-codes/blob/6fd75ef9f870172299ab6ce9dd014d0ecf882fb1/OpenPBTA_v19_20210423/review_updates.Rmd

[2021-05-05 15:57] #1025 closed

[2021-05-05 15:58] kgaonkar6 commented on #1030
Closing with #1031

[2021-05-05 15:58] #1030 closed

[2021-05-06 19:57] jharenza commented on #1010
@jaclyn-taroni are you ok with using the above?

[2021-05-06 21:20] jaclyn-taroni commented on #1010
Yes, seems reasonable

[2021-05-06 21:30] jharenza commented on #1010
great, thanks. I think we will start merging @kgaonkar6's PRs [here](https://github.com/kgaonkar6/OpenPBTA-analysis/pulls) in that case, so we can get back to #987

[2021-05-06 22:20] jharenza commented on #1029
close with #1038

[2021-05-06 22:20] #1029 closed

[2021-05-06 22:21] jharenza commented on #963
This has been added with #1026

[2021-05-06 22:21] #963 closed

[2021-05-06 22:21] jharenza commented on #1024
as of #1026 these have been updated

[2021-05-06 22:21] #1024 closed

[2021-05-06 22:22] jharenza commented on #965
@komalsrathi this is ready to be worked on now that #1026 was merged

[2021-05-06 22:23] jharenza commented on #867
closed with #1026

[2021-05-06 22:23] #867 closed

[2021-05-06 22:23] jharenza commented on #862
removed with #1026

[2021-05-06 22:23] #862 closed

[2021-05-06 22:24] jharenza commented on #840
I think this can be closed since we have a new workflow for generating these files with each release

[2021-05-06 22:24] #840 closed

[2021-05-06 22:24] jharenza commented on #746
added in #1026

[2021-05-06 22:25] jharenza commented on #610
leaving this out of the histologies file since it went into #796

[2021-05-06 22:25] #610 closed

[2021-05-07 16:52] #995 closed

[2021-05-07 17:32] LauraEgolf commented on #1007
Hi all (@jharenza, @jaclyn-taroni, others) - update and question about this issue. I'm mostly finished with the analysis and I did adapt code from the existing [sv-analysis](https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/master/analyses/sv-analysis) module, which already underwent review. When I submit the first pull request, I was wondering if anyone has a preference whether I start a ne

[2021-05-07 19:44] #994 closed

[2021-05-10 13:02] jharenza commented on #1005
Also adding that we should also switch to using the seg file and setting a threshold for amplifications (so gains and amps are not all coded as amp) once #987 is merged

[2021-05-10 17:21] jharenza commented on #746
This file is on aws, but is missed in `md5sum.txt` file, so we will add with v20.

[2021-05-10 17:27] #996 closed

[2021-05-10 18:31] jharenza opened #1058 "BS_WSFB4SA2 has BRAF p.V504_R506dup within kinase domain but not in hotspot INDEL file"
#### What data file(s) does this issue pertain to?
[hotspot_database_2017_indel.tsv](https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/analyses/hotspots-detection/input/hotspots_database/hotspot_database_2017_indel.tsv)

#### What release are you using?

v19/NA

#### Put a link to the relevant section of the [OpenPBTA-manuscript](https://github.com/AlexsLemonade/OpenPBTA-manuscript/)

[2021-05-10 18:52] jharenza opened #1059 "Updated analysis: LGAT subtyping missing a few genes in `other MAPK` subtyping"
#### What analysis module should be updated and why?
[molecular-subtyping-LGAT](https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/master/analyses/molecular-subtyping-LGAT)

#### What changes need to be made? Please provide enough detail for another participant to make the update.
- Add _RAF1_ (c-RAF) SNV or INDEL to `LGG, other MAPK` category (we currently only capture _RAF1_ fusions).
- Add

[2021-05-10 19:38] kgaonkar6 commented on #1000
While working on #1060 I found that there are multiple spellings in pathology_free_text_diagnosis so I've update the search regex for:
- Pleomorphic xanthoastrocytoma as:
pleomorphic xanthroastrocytoma|pleomorphic xantoastrocytoma|pleomorphic xanthoastrocytoma|pxa
- Pilocytic astrocytoma needed as :
jpa|juvenile astrocytoma|juvenile astocytoma|pilocytic|pilocystic|pilocytioc|pilomyxoid|piloxymoid

[2021-05-10 19:53] kgaonkar6 commented on #1000
Ah yes that exclusion is implemented [here](https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/0f5f89f1dc30bc24b27ce3cac47947f90ebab362/analyses/molecular-subtyping-pathology/pathology_free_text-subtyping-lgat.Rmd#L150-L159)
[code]

[2021-05-10 20:55] kgaonkar6 opened #1061 "Proposed Analysis: Compile molecular-subtype+pathology and clinical feedback + pathology_free_text_diagnosis subtypes to a file"
#### What are the scientific goals of the analysis?
Combine pathology_free_text_diagnosis base subtyping with the existing compiled subtype results to be used as input for `molecular-subtype-integrate`. Tagging @jharenza @jaclyn-taroni for inputs to combined the pathology_free_text_diagnosis updates to `compiled_molecular_subtypes_with_clinical_pathology_feedback_and_report_info.tsv`

#### What me

[2021-05-12 17:34] kgaonkar6 commented on #998
closed via #1056

[2021-05-12 17:34] #998 closed

[2021-05-12 17:34] kgaonkar6 commented on #999
closed via #1057

[2021-05-12 17:34] #999 closed

[2021-05-12 20:02] #1002 closed

[2021-05-12 21:48] #997 closed

[2021-05-13 09:55] jharenza commented on #1010
Closed with #1066

[2021-05-13 09:55] #1010 closed

[2021-05-13 09:55] jharenza commented on #964
Closed with #1066

[2021-05-13 09:55] #964 closed

[2021-05-13 09:56] jharenza commented on #965
Closed with #1055

[2021-05-13 09:56] #965 closed

[2021-05-13 09:57] jharenza commented on #1005
Note: since the consensus and hotspot maf are separate, this would require combining them and removing redundant calls.

[2021-05-13 12:46] jharenza commented on #819
Closed with #819

[2021-05-13 12:46] #819 closed

[2021-05-13 17:05] kgaonkar6 commented on #959
@jharenza  @jaclyn-taroni
I think we would need some order in which PR go in to get this updated, how does the following sound (open to suggestions ):

1.  Update code only in subtyping modules (CRANIO, LGAT and HGG) requiring snv maf files:
[code]
to
[code]

2. Rerun preprocessing modules used in subtyping with relative path to hotspot mafs and updated cnv consensus files (tp53-nf1-score needs up

[2021-05-13 21:05] #1004 closed

[2021-05-13 21:11] kgaonkar6 opened #1072 "Updated analysis: tp53-nf1-score with hotspot mafs and updated consensus cnv calls"
#### What analysis module should be updated and why?
This needs to be updated with hotspot maf + consensus maf calls to gather all TP53 hotspot + consensus calls for DNA samples for annotation.
Updated consensus cnv methods will also affect the TP53 alteration annotation and so should be re-run and reviewed.

#### What changes need to be made? Please provide enough detail for another participant t

[2021-05-14 01:12] jharenza opened #1074 "Updated analysis: LGAT integrated dx for ganglioglioma"
#### What analysis module should be updated and why?
molecular-subtyping-lgat
Ganglioglioma diagnoses are not captured in integrated dx

#### What changes need to be made? Please provide enough detail for another participant to make the update.
Recode `integrated_diagnosis` for samples with `pathology_diagnosis == "Ganglioglioma"` to become `Ganglioglioma, subtype` rather than `Low-grade glioma/as

[2021-05-14 01:17] jharenza commented on #1059
closed with #1062

[2021-05-14 01:17] #1059 closed

[2021-05-14 01:33] jharenza commented on #959
@kgaonkar6 I think this sounds ok but more time consuming than perhaps taking the modules one by one. Since we look for mutations in an exon (CRANIO) and kinase domains (LGAT), even if the hotspots maf is sufficient for these (I am guessing it will miss some mutations), then I would still like to see the consensus + hotspot mafs in these subtyping modules so that we still capture all possible SNVs

[2021-05-14 13:28] jaclyn-taroni commented on #959
A couple comments on what has been discussed so far:

* I agree with taking the modules one by one. I'm not convinced we want code only PRs; we are certainly concerned with how the changes impact with the results! So, going through each module and submitting a PR that also includes a rerun and the results seems like a good way to approach this. (This is to say that I think we should close #1071.)

[2021-05-14 13:41] kgaonkar6 commented on #959
Ok sound good, closed #1071 and will update subtyping only modules with consensus + hotspot maf

[2021-05-17 21:03] jharenza opened #1079 "v19 histologies file has extra columns"
#### What data file(s) does this issue pertain to?
`pbta-histologies.tsv`

#### What release are you using?

v19

#### Put a link to the relevant section of the [OpenPBTA-manuscript](https://github.com/AlexsLemonade/OpenPBTA-manuscript/) here.
NA

#### Put your question or report your issue here.
Contains “previous_cancer_predispositions” and “previous_parent_aliquot_id” leftover from QC. Will rem

[2021-05-19 17:35] jharenza commented on #1061
@kgaonkar6 I think this sounds logical, but to maintain consistency, we probably should pull meningioma out of a direct add to `analyses/molecular-subtyping-pathology/results/compiled_molecular_subtypes_with_clinical_pathology_feedback_and_report_info.tsv` and put it in step 1 here.

[2021-05-19 17:48] kgaonkar6 opened #1081 "Updated analysis: Mol-subtyping using pathology_free_text_diagnosis reported subtype (Meningioma)"
#### What analysis module should be updated and why?
Revert back meningioma subtyping to https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/1013

#### What changes need to be made? Please provide enough detail for another participant to make the update.
Revert back meningioma to https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/1013 so that it can be added correctly to `analyses/molecul

[2021-05-25 16:52] kgaonkar6 opened #1085 "Updated analysis: BS_5BMNK8SY assigned 2 MB subtypes"
#### What analysis module should be updated and why?
[molecular_subtyping_MB](https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/master/analyses/molecular-subtyping-MB)
BS_5BMNK8SY has 2 subtypes from matching with 2 different RNA-Seq with sample_id==7316-14

Kids_First_Biospecimen_ID | sample_id | aliquot_id | Kids_First_Participant_ID | cohort_participant_id | previous_parent_aliquot_id | p

[2021-05-25 17:30] jashapiro commented on #990
With the changes to normalized vcfs and updated files associated with the release of v19 #1026, I believe this can be closed. While it is possible that more improvements could be made, I think that would require substantial time and effort to fully assess and implement.

[2021-05-25 17:30] #990 closed

[2021-05-26 00:35] jharenza opened #1086 "Updated analysis: add glialneuronal tumors back to LGAT subtyping"
#### What analysis module should be updated and why?
molecular-subtyping-LGAT

#### What changes need to be made? Please provide enough detail for another participant to make the update.
revert the glialneuronal tumor removal #1014 , but reannotate these at the end of the module as per [this discussion](https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/1078#pullrequestreview-667309287). We w

[2021-05-26 01:08] kgaonkar6 opened #1087 "Updated analysis: Oncoplot CNV calls"
#### What analysis module should be updated and why?
Add CNV calls from consensus seg files for autosomes , X and Y chromosomes as inputs for oncoplots.
 - 1 of the main reasons to update this would be to gather ATRX deletions
 - Eye balling a few samples we saw consensus seg calls match to some known calls for example 7316-3213  MET amplifications

Amp with consensus seg
![image](https://user-ima

[2021-05-26 01:19] kgaonkar6 opened #1089 "Updated analysis: Oncoplot SNV calls"
#### What analysis module should be updated and why?
We will add hotspot mafs with consensus calls to plot in oncoplots

#### What changes need to be made? Please provide enough detail for another participant to make the update.
--consensus_maf_file ${maf_consensus}
--hotspot_maf_file ${maf_hotspots}

#### What input data should be used? Which data were used in the version being updated?
pbta-snv-

[2021-05-26 10:53] jaclyn-taroni commented on #1089
I think this is _a little more complicated_ than this issue implies, or at least requires some more decision making.

We need to use `sample_id` to map between the WGS and RNA-seq samples for this module. We do that in `analyses/oncoprint-landscape/01-map-to-sample_id.R`. In terms of keeping things generalizable, it makes sense to me that we'd want the script that actually does the plotting (`anal

[2021-05-26 13:09] kgaonkar6 commented on #1089
That is a great suggestion! I'll implement this as optional in `01-map-to-sample_id.R` and provide the scratch file to 02.

[2021-05-26 13:12] kgaonkar6 commented on #1089
About the use of sample_id should we also make that generalizable so that any other (project specific) id can be used?

[2021-05-26 13:31] jaclyn-taroni commented on #1089
In general, probably yes. For this project in this moment of time, I don't think it's a high priority. That ship has sailed ⛵ but we have an opportunity with this design choice to be forward-thinking!

[2021-05-26 19:34] kgaonkar6 commented on #1081
Closed with #1082

[2021-05-26 19:34] #1081 closed

[2021-05-26 19:35] kgaonkar6 commented on #1074
Closing with #1078

[2021-05-26 19:35] #1074 closed

[2021-05-26 19:36] kgaonkar6 commented on #1049
Closed with #1068

[2021-05-26 19:36] #1049 closed

[2021-05-26 19:38] kgaonkar6 commented on #1000
Closing with #1060

[2021-05-26 19:38] #1000 closed

[2021-05-26 21:33] kgaonkar6 opened #1093 "Updated analysis: pathology feedback for BS_H1XPVS9A needs update"
#### What analysis module should be updated and why?
In #1000 we updated the LGAT samples to incorporate the pathology_free_text_diagnosis in integrated_diagnosis. Which should also be updated in the pathology_feedback script for BS_H1XPVS9A which is a PXA

#### What changes need to be made? Please provide enough detail for another participant to make the update.
Currently the
integrated_diagnosis

[2021-05-27 13:19] kgaonkar6 opened #1094 "Updated analysis: Add fusion as TP53 loss"
#### What analysis module should be updated and why?
tp53_nf1_score module update 04-tp53-sv-loss.Rmd to include fusion breakpoints. @jharenza  noticed that we had missed out adding fusion in TP53 that removes most of the gene and functional domains in BS_NJ4WPQVK as a TP53 loss.
[annofuse_TP53_bk_BS_NJ4WPQVK](https://github.com/AlexsLemonade/OpenPBTA-analysis/files/6554209/annofuse_bpleft.pdf)

#

[2021-05-28 19:41] jharenza commented on #1072
closed with #1073

[2021-05-28 19:41] #1072 closed

[2021-06-02 14:33] komalsrathi commented on #1085
@kgaonkar6 I am slightly confused - molecular subtyping is done on the RNA samples only. The DNA sample `BS_5BMNK8SY` is associated with two different RNA samples: `BS_Z7PKVY9J` and `BS_QEYPFYHD`. This is the output of the classification is below:

[code]

The reason for this discrepancy is because we are using MM2S as an additional classifier and using the consensus between our medulloPackage (ou

[2021-06-02 15:17] komalsrathi commented on #1085
From the molecular subtype module perspective, this can only be resolved if we used one of the classifiers and not the consensus. Or if we only use one RNA sample per DNA for subtyping.

cc: @jharenza

[2021-06-02 16:43] kgaonkar6 commented on #959
Closing this issue with #1075, #1076 and #1077

[2021-06-02 16:43] #959 closed

[2021-06-02 22:19] kgaonkar6 commented on #1086
Just wanted to mention here that molecular-subtyping-pathology will also need an update to recode for glialneuronal tumor
 samples. Specifically this code which adds the intgerated_diagnosis for LGG samples:
https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/c0744576ee80914636443b01012168efc2da22a9/analyses/molecular-subtyping-pathology/01-compile-subtyping-results.Rmd#L223-L239

[2021-06-04 01:36] komalsrathi commented on #1085
@kgaonkar6 can you close this if this is resolved? (I don't have permissions, thank you!)

[2021-06-04 10:22] jharenza commented on #1085
Closing with #1096

[2021-06-04 10:23] #1085 closed

[2021-06-04 14:16] kgaonkar6 commented on #1094
Closing with #1095

[2021-06-04 14:16] #1094 closed

[2021-06-04 16:11] natemella commented on #919
There are two methods for doing the batch correction: `combat()` and `combat_seq()`. Combat_seq() showed mixed results.

Here's a before and after where combat-seq worked

![image](https://user-images.githubusercontent.com/33582671/120831727-16130200-c51d-11eb-81cd-bf0b968d2a6e.png)

Here's a before and after where combat-seq didn't work

![image](https://user-images.githubusercontent.com/33582671

[2021-06-04 16:23] komalsrathi commented on #919
Hi @natemella are you using `TPM` input for both `Combat` and `ComBat_seq`? I think the latter is only meant to take raw counts as input (from what I have read in the docs and the various discussions around using FPKM/TPM as input for batch correction).

[2021-06-04 16:36] natemella commented on #919
Yes, I'm using TPM. Your explanation makes a lot more sense as to why ComBat_seq hasn't worked well. Thanks for reaching out.

[2021-06-17 16:06] kgaonkar6 commented on #1089
closed with #1092

[2021-06-17 17:29] kgaonkar6 opened #1099 "Updated analysis: CNV deep deletions"
#### What analysis module should be updated and why?
update focal-cn-file-preparation
and
rerun ocnoprint-landscape

#### What changes need to be made? Please provide enough detail for another participant to make the update.
Change:
https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/6bf301eea42a7f8812c3b14cee35a961097f8ecf/analyses/focal-cn-file-preparation/04-prepare-cn-file.R#L240-L247

To:

[2021-06-22 15:36] kgaonkar6 opened #1102 "Updated analysis: amplification in XY chr"
#### What analysis module should be updated and why?
focal-cn-file-preparation to add a condition to annotate `status` as amplification in genes on XY chr

#### What changes need to be made? Please provide enough detail for another participant to make the update.
We are adding "deep loss" status in #1101  so including the changes proposed in that ticket we will update:
https://github.com/AlexsLemo

[2021-06-23 15:53] kgaonkar6 opened #1103 "Updated analysis: independent rna sample list selection"
#### What analysis module should be updated and why?
An incorrect matching here:
https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/6bf301eea42a7f8812c3b14cee35a961097f8ecf/analyses/independent-samples/independent_rna_samples.R#L46-L49

Should actually map to Kids_First_Participant_ID
[code]

#### What changes need to be made? Please provide enough detail for another participant to make the u

[2021-06-23 20:52] jharenza commented on #1001
closing this due to time constraints

[2021-06-23 20:52] #1001 closed

[2021-06-25 20:41] jharenza opened #1107 "BS_0TCRV9AC needs recode to normal"
#### What data file(s) does this issue pertain to?
`pbta-histologies.tsv`

#### What release are you using?

v19

#### Put a link to the relevant section of the [OpenPBTA-manuscript](https://github.com/AlexsLemonade/OpenPBTA-manuscript/) here.
NA

#### Put your question or report your issue here.
This sample is a normal adjacent tissue and some backend decisions were implemented to recode this as

[2021-06-25 22:31] afarrel opened #1108 "Typo in 'Adamantinomatous Craniopharyngioma' tables"
#### What data file(s) does this issue pertain to?

Integrated and harmonized data

#### Put your question or report your issue here.

There is a typo in one of the cancer histologies:
"Adamanti**m**omatous Craniopharyngioma" should be "Adamanti**n**omatous Craniopharyngioma"  in  the integrated and harmonized data.

[2021-06-26 13:24] sjspielman opened #1109 "Figures README number of palettes - is it 5 or 6?"
In the Figures `README` file [here](https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/master/figures#color-palette-usage), the text reads: " There are 6 sets of hex color keys to be used for all final figures, stored as 6 TSV files in the figures/palettes folder." However, there are [only 5 files](https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/master/figures/palettes).

Either a pal

[2021-07-01 20:03] kgaonkar6 opened #1110 "Updated analysis: molecular-subtyping-embryonal sample selection"
#### What analysis module should be updated and why?
`molecular-subtyping-embryonal`

It seems because the path_dx is slightly updated in v19 to Embryonal Tumor with Multilayered Rosettes (ETMR);Other but the we filter by exact matching to terms here https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/analyses/molecular-[…]embryonal/subset-files/embryonal_subtyping_path_dx_strings.json

[2021-07-01 21:20] jharenza commented on #969
close with #1046

[2021-07-01 21:20] #969 closed

[2021-07-16 10:44] jharenza commented on #1103
@logstar can you work on this?

[2021-07-16 10:45] jharenza commented on #1103
@logstar can you work on this?

[2021-07-16 10:46] jharenza commented on #747
Closed with #1019

[2021-07-16 10:46] #747 closed

[2021-07-16 14:12] logstar commented on #1103
Sure. I can work on this.

[2021-07-16 18:01] jharenza commented on #1108
updated in #1084

[2021-07-16 18:03] jharenza commented on #1099
closed with #1101

[2021-07-16 18:03] #1099 closed

[2021-07-16 21:11] jharenza commented on #917
Regarding this question @jaclyn-taroni , we have since created some logic to make a `cancer_group`, which is narrower than `broad_histology` but narrower than `integrated_diagnosis` or `harmonized_diagnosis`, so this could be good to use - we can add this to the histology file for #1048. In these, we removed benign and non-tumors and have 22 groups. Below are the number of unique patient and sampl

[2021-07-18 17:19] jaclyn-taroni commented on #917
Adding this to the histology file for v20 for this purpose sounds good 👍🏻

[2021-07-19 14:23] #1109 closed

[2021-07-19 20:14] jharenza commented on #1061
closed with #1084

[2021-07-19 20:14] #1061 closed

[2021-07-19 20:14] jharenza commented on #1108
closed with #1084

[2021-07-19 20:14] #1108 closed

[2021-07-19 20:14] jharenza commented on #1086
closed with #1097

[2021-07-19 20:14] #1086 closed

[2021-07-20 17:29] jharenza commented on #1093
updated in #1111

[2021-07-20 17:29] #1093 closed

[2021-07-20 17:31] jharenza commented on #1048
v20 ADAPT histologies file pull is located here: `s3://d3b-bix-dev-data-bucket/hgg-dmg-integration/20210719-data/` @kgaonkar6

[2021-07-20 18:37] kgaonkar6 opened #1113 "Updated analysis: Subset manta FILTER=="PASS" consensus cnv"
#### What analysis module should be updated and why?
Add a FILTER==PASS for manta calls used in `copy_number_consensus_call`. I think this filter is necessary so that we use a subset of high-confidence broad SVs called by manta. https://github.com/Illumina/manta/blob/master/docs/userGuide/README.md#vcf-format-fields

#### What changes need to be made? Please provide enough detail for another parti

[2021-07-21 21:45] kgaonkar6 commented on #1087
Closing with #1088 #1092

[2021-07-21 21:45] #1087 closed

[2021-07-22 15:15] jharenza commented on #1113
closed with #1114 #1115 #1116

[2021-07-22 15:15] #1113 closed

[2021-07-22 15:18] jharenza commented on #1102
closing this since the MANTA PASS filter resolved our amp/del issues, see #1113

[2021-07-22 15:18] #1102 closed

[2021-07-22 15:44] kgaonkar6 commented on #1103
This is low priority @logstar so I think you can move this from your to-do list for now.

[2021-07-22 21:00] jharenza commented on #1110
closed with #1117

[2021-07-22 21:00] #1110 closed

[2021-07-22 21:58] logstar commented on #1103
Thank you for letting me know @kgaonkar6 ! I will work on this after finishing some ongoing PedOT work.

[2021-07-30 15:46] kgaonkar6 opened #1122 "Updated analysis: chromothripsis"
#### What analysis module should be updated and why?
chromothripsis module errors out with v20 here:

[code]

#### What changes need to be made? Please provide enough detail for another participant to make the update.
I am not sure if it is a bug/issue with shatterseek or the cnv for BS_JJNSP29S

#### What input data should be used? Which data were used in the version being updated?
pbta-cnv-conse

[2021-07-30 16:00] LauraEgolf commented on #1122
Not sure why this is happening - I'll take a look.

[2021-07-30 17:07] kgaonkar6 commented on #1122
Thank you!

[2021-08-02 19:40] LauraEgolf commented on #1122
@kgaonkar6 I can't seem to reproduce the error from the current master branch with the latest data download - I might be missing something but the output looks fine and I'm not getting that error message. Has anything been updated since you tested this?

[2021-08-02 20:00] LauraEgolf commented on #1122
Oh actually - I am still on v19. I re-ran download-data.sh but didn't realize it's still on v19. Where can I find v20? I don't see it on Cavatica. Sorry if this is obvious :)

[2021-08-02 20:18] kgaonkar6 commented on #1122
Ah yes, v20 download script is not pushed to master yet.

Can you clone the branch in #1118 locally and try to rerun with v20?

[2021-08-04 18:21] kgaonkar6 opened #1125 "Proposed Analysis: Review 50% reciprocal overlap in CNV consensus analysis"
#### What analysis module should be updated and why?
We believe criteria for cnvs to have 50% reciprocal overlap might be too stringent. After the #1116 we are missing some subtype defining CNVs.

#### What changes need to be made? Please provide enough detail for another participant to make the update.
After investigation we see the CNV alterations n controlfreec and cnkit . For example chr19 amp

[2021-08-09 18:59] jaclyn-taroni opened #1129 "Focal CN preparation takes over an hour to run in CI"
#### Context

Right now, the focal CN preparation step in CI takes over an hour: https://app.circleci.com/pipelines/github/AlexsLemonade/OpenPBTA-analysis/5780/workflows/9c9f689d-5a14-4bfd-8fd8-8b8259f528ef/jobs/6483

This seems to me like a _somewhat_ recent development based on my memory alone, so I randomly picked this run from earlier in the year and it used to take 10 minutes: https://app.cir

[2021-08-09 20:10] jaclyn-taroni commented on #1129
There's been a big jump in the number of steps for the snakemake pipeline such that something makes me suspicious that that step is now not limited to the CI samples somehow 🤔

[2021-08-12 13:57] kgaonkar6 commented on #1125
Closing with #1123

[2021-08-12 13:58] #1125 closed

[2021-08-12 16:58] #1129 closed

[2021-08-12 21:45] jaclyn-taroni commented on #1048
Closed via #1118

[2021-08-12 21:45] #1048 closed

[2021-08-16 17:35] jharenza commented on #1107
closed with #1048

[2021-08-16 17:35] #1107 closed

[2021-08-16 17:36] jharenza commented on #1079
closed with #1118

[2021-08-16 17:36] #1079 closed

[2021-08-16 17:36] jharenza commented on #1032
closed with #1118

[2021-08-16 17:36] #1032 closed

[2021-08-16 17:37] jharenza commented on #1005
closed with #1088

[2021-08-16 17:37] #1005 closed

[2021-08-16 17:37] jharenza commented on #746
closed with #1118

[2021-08-16 17:37] #746 closed

[2021-08-17 17:48] jharenza opened #1132 "Updated analysis: regenerate figures using v21 data release"
#### What analysis module should be updated and why?
Script:
https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/figures/generate-figures.sh

#### What changes need to be made? Please provide enough detail for another participant to make the update.
Rerun for current plot figures in order to determine necessary changes for final figures

#### What input data should be used? Which data w

[2021-08-17 18:30] jharenza opened #1133 "Updated analysis: add manta PASS filter to chr instability and rerun with v20"
#### What analysis module should be updated and why?
`chromosomal-instability` - rerun with v20 data for latest results - this resulted in a lot more SV calls than CNV calls, but I also noticed that this is because SVs are not filtered for PASS variants, so that needs to be updated as well

#### What changes need to be made? Please provide enough detail for another participant to make the update.

[2021-08-17 18:49] kgaonkar6 commented on #917
Just wanted to add the original ticket for assigning cancer_group [here](https://github.com/PediatricOpenTargets/ticket-tracker/issues/48) for reference.

[2021-08-17 18:51] jharenza opened #1135 "Updated analysis: rerun cnv-chrom-plot with v20 data release"
#### What analysis module should be updated and why?
`cnv-chrom-plot ` - rerun with v20 data

#### What changes need to be made? Please provide enough detail for another participant to make the update.
just a rerun with v20

#### What input data should be used? Which data were used in the version being updated?
v20

#### When do you expect the revised analysis will be completed?
today

#### Who wi

[2021-08-17 18:59] kgaonkar6 commented on #917
Should I close this since `cancer_group` was added in #1128? I'll add another ticket to update `figures/mapping-histology-labels.Rmd` to generate the new display_group hex_codes.

[2021-08-17 19:36] jharenza commented on #917
sure! we also probably only want to plot N>=5 cancer groups - display group will stay in some figures, but we will also need cancer group as well for others

[2021-08-17 19:42] jharenza opened #1137 "Updated analysis: rerun `immune-deconv` with v20 data"
#### What analysis module should be updated and why?
`immune-deconvolution`

#### What changes need to be made? Please provide enough detail for another participant to make the update.
rerun with v20 data

#### What input data should be used? Which data were used in the version being updated?
v20

#### When do you expect the revised analysis will be completed?
today

#### Who will complete the upd

[2021-08-17 20:10] jharenza opened #1139 "Updated analysis: update all modules to use v21 data for release v1"
#### What analysis module should be updated and why?
all modules should be rerun to use v21 data in order to generate figures and tables for the manuscript, as well as to be updated for the official github release

#### What changes need to be made? Please provide enough detail for another participant to make the update.
rerun all analysis modules which were not run with v21:

- [x] chromosomal-in

[2021-08-17 20:42] kgaonkar6 opened #1140 "Updated analysis: figures/mapping-histology-labels.Rmd"
#### What analysis module should be updated and why?
`figures/mapping-histology-labels.Rmd`

#### What changes need to be made? Please provide enough detail for another participant to make the update.
- Include cancer_group in `histology_variables`
- Add cancer_group as display_group and
- Remove "Benign tumor","Dysplasia/Gliosis","Other" and Normals from display_group assignment
-  Remove display

[2021-08-17 20:47] kgaonkar6 opened #1141 "Updated analysis: oncoprint-landscape"
#### What analysis module should be updated and why?
oncoprint-lamdscape

#### What changes need to be made? Please provide enough detail for another participant to make the update.
- Update gene list
- Remove display group and instead replace with cancer group coloring
- Remove right side barplots
- Remove 7316 ids
- Increase size of the CNV boxes? Make a rectangle?
- Add annotation for sex (usin

[2021-08-17 20:53] jharenza commented on #1141
For the updated gene lists: https://docs.google.com/spreadsheets/d/1md5_49yCRh0gBQrRzL7iHvk3wBlAH9rMocxf0LcGwUM/edit#gid=1974203153 - I put ependymal tumor within the "Other" grouping since it has very few genes - this way, we can have a 4 panel, more balanced figure instead

[2021-08-18 00:47] jharenza commented on #1133
closed with #1134

[2021-08-18 00:47] #1133 closed

[2021-08-18 00:51] jharenza commented on #761
How about `ggtheme = theme_pubr())` from `library(ggpubr)`: https://rpkgs.datanovia.com/ggpubr/ - follows the classic theme and has built in stat options when needed - agree with @cansavvy about no grids or greys for a cleaner look :)

[2021-08-18 01:41] jharenza opened #1144 "Updated analysis: update some figures to include annotations by `cancer_group` for manuscript"
#### What analysis module should be updated and why? What changes need to be made? Please provide enough detail for another participant to make the update.

- [x] interaction-plots - update plotting to be by `cancer_group`
- [x] telomerase-activity-prediction - change `broad_histology` and `short_histology` plots to `cancer_group` for the main figure. Could keep all in the analysis module</s>
- [

[2021-08-18 01:45] jharenza opened #1145 "Updated analysis: telomerase activity by subtypes"
#### What analysis module should be updated and why?
`telomerase-activity-prediction`

#### What changes need to be made? Please provide enough detail for another participant to make the update.
create subtype-level figures using the same logic as in `immune-deconv`: https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/analyses/immune-deconv/util/heatmap_by_molecular_subtype.R

#### What

[2021-08-18 01:54] jharenza opened #1146 "Updated analysis: tp53 module to add figures for manuscript"
#### What analysis module should be updated and why?
`tp53_nf1_score`

#### What changes need to be made? Please provide enough detail for another participant to make the update.
Using ggpubr 's `ggtheme = theme_pubr())`, export some figures within the RMD files so they can be used within the manuscript:

- [x] Distribution of scores across tp53 altered status
- [x] Distribution of TP53 expression

[2021-08-19 17:26] kgaonkar6 commented on #1144
While working in the interaction plots I've identified some points that I'd like to get clarification on:

1) Do we want to plot coocurrence plot per each cancer_group corresponding to the broad_histology here https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/0f5a7263af2b02f80c6949f9d33730fe006eaab2/analyses/interaction-plots/01-create-interaction-plots.sh#L40-L49 ? Asking because dividing s

[2021-08-19 18:13] jharenza opened #1148 "Updated analysis: update oncoprint panel figure code"
#### What analysis module should be updated and why?
`figures`: https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/figures/scripts/oncoprint-landscape.R

#### What changes need to be made? Please provide enough detail for another participant to make the update.
Update the panel for 4 figures instead of 5, since #1143 combined ependymal tumors into other

#### What input data should be

[2021-08-19 18:16] jharenza commented on #1144
@kgaonkar6 I was envisioning only the barplot would be changed to cancer group, but the analysis would remain as is.

[2021-08-19 18:17] jharenza commented on #1137
closed with #1138

[2021-08-19 18:17] #1137 closed

[2021-08-19 18:17] jharenza commented on #1135
closed with #1136

[2021-08-19 18:17] #1135 closed

[2021-08-19 18:19] jharenza commented on #920
Agree with removing - I think we can use the pie chart as the sample distribution figure, with modifications as noted in #1144

[2021-08-19 18:24] jharenza opened #1149 "v21 release: minor histology file update"
#### What data file(s) does this issue pertain to?
`histologies.tsv`

#### What release are you using?

v20

The `cancer_group` column has ganglioglioma samples annotated as either `GNG` or `Ganglioglioma`, which separates them for plotting and will be fixed with a quick release.

[code]

#### Put a link to the relevant section of the [OpenPBTA-manuscript](https://github.com/AlexsLemonade/OpenPBTA

[2021-08-19 18:26] jharenza commented on #1052
closing this, as it will be completed in v9 of https://github.com/PediatricOpenTargets/OpenPedCan-analysis per https://github.com/PediatricOpenTargets/ticket-tracker/issues/174

[2021-08-19 18:26] #1052 closed

[2021-08-19 18:59] kgaonkar6 commented on #1149
Additionally,
cancer_groups which currently have "/" will be updated to `space` so that while using the term for plots the "/" does not denote the subfolder.

Example:
Previous | Update
-- | --
High-grade glioma/astrocytoma  | High-grade glioma astrocytoma
Low-grade glioma/astrocytoma | Low-grade glioma astrocytoma

And cancer_group with ";" will be updated "-"

Example
Previous | Update
-- | --
M

[2021-08-19 19:38] kgaonkar6 commented on #1149
GNT were added back to LGAT subtyping module in this #1097 but I missed updating integrated_diagnosis for the GNT samples after the update. Currently the GNT sample integrated_diagnosis is still being replaced by the pathology_free_text_diagnosis based subtypes https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/0f5a7263af2b02f80c6949f9d3[…]ubtyping-pathology/02-compile-subtyping-pathology-fre

[2021-08-19 19:54] cbethell commented on #1148
I can work on tackling this issue!

[2021-08-19 19:58] jharenza commented on #1148
thanks so much!

[2021-08-20 15:19] kgaonkar6 opened #1154 "Updated analysis: Add pathology_diagnosis == Subependymal Giant Cell Astrocytoma (SEGA) to LGAT"
#### What analysis module should be updated and why?
We want to include pathology_diagnosis == "Subependymal Giant Cell Astrocytoma (SEGA)" in LGAT subtyping because in a recent ticket all samples which contained "sega" in pathology_free_text_diagnosis have their broad_histology coded as "Low grade astrocytic tumor" and integrated_diagnosis== "Subependymal Giant Cell Astrocytoma, <molecular_subtyp

[2021-08-20 15:56] kgaonkar6 opened #1155 "Update broad/short histology matching in base histologies file"
#### What data file(s) does this issue pertain to?
Update base histologies file with latest [pathology_diagnosis_for_subtyping](https://docs.google.com/spreadsheets/d/1fDXt_YODcSAWDvyI5ISBVhUCu4b5-TFCVWMOwiPeMwk/edit#gid=0) and [pathology_free_text_diagnosis_for_subtyping](https://docs.google.com/spreadsheets/d/1fDXt_YODcSAWDvyI5ISBVhUCu4b5-TFCVWMOwiPeMwk/edit#gid=804564754)

#### What release are

[2021-08-21 15:36] jharenza opened #1158 "[Figures]: update `figures` README with theme and cancer group info"
#### What module should be updated and why?
`figures` README needs to be updated to include `cancer_group` info/hex codes now that #1142 is merged and a unified publication theme per #761

#### What changes need to be made? Please provide enough detail for another participant to make the update.
Add information about theme and color palette for `cancer_group` as well as palette for other one-off p

[2021-08-23 14:42] kgaonkar6 commented on #1154
Closing with #1156

[2021-08-23 14:42] #1154 closed

[2021-08-24 19:09] kgaonkar6 opened #1160 "Updated data-formats.md"
#### What documentation should be updated and why?

doc/data-formats.md

#### What changes need to be made? Please provide enough detail for another participant to make the update.
I believe the documentation for CN/ploidy interpretation [here](https://github.com/kgaonkar6/OpenPBTA-analysis/blob/master/doc/data-formats.md#a-note-on-ploidy) needs to be updated to include the `deep deletion` and `am

[2021-08-25 16:45] kgaonkar6 commented on #1141
@jharenza, documenting the PRs, please let me know if I missed anything.

#1143
Update gene list
Remove right side barplots
Remove 7316 ids

#1147
Remove display group and instead replace with cancer group coloring
Add annotation for sex (using germline sex estimate)

Pending:
Increase size of the CNV boxes? Make a rectangle?
I am not sure changing the shape/size is possible in maftools::oncplot()

[2021-08-26 19:10] jharenza opened #1162 "Create new bucket and update path"
We need to move this data to a different payment account, so we are creating a new bucket [here](https://github.com/d3b-center/aws-infra-d3b-accounts/pull/196), [copying the data over](https://d3b.atlassian.net/browse/DM-213), will create a PR and test here, then delete the old bucket.

Who will complete this?
@blackdenc @chris-s-friedman and @jharenza

[2021-08-26 20:12] jharenza opened #1165 "Updated analysis: oncoprint update aesthetics"
#### What analysis module should be updated and why?
`oncoprint-landscape`

#### What changes need to be made? Please provide enough detail for another participant to make the update.

per comment [here](https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/1164#issuecomment-906709011):

- remove titles on each plot (`Altered in*`)
- Move broad histologies titles to be centered above each plot
-

[2021-08-28 00:41] komalsrathi commented on #1146
For this, if we make the molecular subtype as the y-axis, what would be the x-axis?

[2021-08-30 17:11] kgaonkar6 commented on #1140
I believe this can be closed with #1142, the filtering for <5 will be done within the analysis module when necessary.

Please open if required.

[2021-08-30 17:11] #1140 closed

[2021-08-30 17:13] kgaonkar6 commented on #917
I believe this is closed with #1142 and #1159. Please open if required.

[2021-08-30 17:13] #917 closed

[2021-08-30 18:57] kgaonkar6 commented on #1144
For transcriptomic-dimension-reduction I get an error saying
`Error: Insufficient values in manual scale. 58 needed but only 26 provided.`

The manual scale has 26 colors here, do we want to add the 58 colors from the figures palette for cancer_group here?
https://github.com/jaclyn-taroni/OpenPBTA-analysis/blob/1ac140e1d93fcb9615d57265f9a11c55c9f4bc74/analyses/transcriptomic-dimension-reduction/ut

[2021-08-30 19:01] jaclyn-taroni commented on #1144
@kgaonkar6 do you need to alter the module itself or would be altering the figure generation steps to use an updated palette be sufficient for what you're trying to accomplish (e.g., [in here](https://github.com/alexslemonade/OpenPBTA-analysis/blob/1ac140e1d93fcb9615d57265f9a11c55c9f4bc74/figures/scripts/transcriptomic-overview.R#L100))?

[2021-08-30 19:16] kgaonkar6 commented on #1144
umm good question, I thought we want to update the modules in this ticket and the `figures/` will be recreated in #1132.
Let me know if I mis-understood.

[2021-08-30 19:21] jaclyn-taroni commented on #1144
That question _probably wasn't for me_, but I'd say that I don't see any reason to update that module if it's only for display purposes. In fact, keeping `figures/` separate is handy for this kind of tweak as it keeps the final touches of display separate from the analysis which can sometimes be exploratory in nature & is nice to have preserved.

For interaction plots, the figure is just copied fr

[2021-08-30 19:25] jaclyn-taroni commented on #1144
I'll also add: I'm not sure making a scatter plot with a 58 color palette is going to be helpful to or discernible by our readers?

[2021-08-30 20:01] kgaonkar6 commented on #1144
That makes sense @jaclyn-taroni!

From additional discussions with @jharenza we decided to:
 - update the  `TelomeraseActivities.R` and `transcriptomic-overview.R` in the figures folder itself with the cancer_group update, and if that look too busy then revert back to the original figures.
- copy over figure for sample distribution from sample-distribution-analysis with updated code in #1161

[2021-08-31 15:57] #1148 closed

[2021-08-31 16:18] cbethell commented on #1165
The following points from above have successfully been addressed in PR #1164:

- remove titles on each plot (`Altered in*`)
- Move broad histologies titles to be centered above each plot
- Label A,B (top), C,D (bottom)
- Increase gene name font size as much as possible
- Try to make the plots more horizontally condensed for a portrait page  -- _although there may room for further improvement here_

[2021-08-31 16:54] kgaonkar6 commented on #1132
Adding here to track updates:
- copy over figure for sample distribution from sample-distribution-analysis with updated code in #1161

[2021-09-01 18:58] #1162 closed

[2021-09-02 19:38] jharenza opened #1173 "[Discussion] - Manuscript figure for de novo mutational signatures"
We need to sketch out a manuscript figure for the de novo CNS mutational signatures now that #1100 has been merged.

Some things we should have:
1 - Supplemental excel book of DNA BS_ID + signatures with tabs for (CNS signatures `mean` in `fitted_cns_signature_exposures.RDS`), COSMIC, and Alexandrov
2 - plot of CNS signature proportions by `cancer_group`(?) - can be similar to the COSMIC/Alexandro

[2021-09-02 20:00] jharenza commented on #1145
closed with #1153

[2021-09-02 20:00] #1145 closed

[2021-09-07 21:03] jaclyn-taroni opened #1174 "Rework cancer group / display group palettes to identify a minimal number of colors for multi-group display"
### Problem

The `display_group` palette was originally designed as a higher-level grouping that would allow us to show multiple histologies in the same figure. It was [intended to be about 10-15 colors](https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/4240cc64ffcce2607717be63ab32acb81cbd299b/figures/mapping-histology-labels.Rmd#L17), but [I think it is currently set at 18](https://github.c

[2021-09-07 21:05] jaclyn-taroni commented on #1174
I'll also note another, possibly more straightforward way to limit the palette would be to only consider `cancer_group` where N >= 10 (18 colors).

[2021-09-08 04:16] kgaonkar6 commented on #1174
I like this idea, more general and we will capture most of the data without prior selection.

[2021-09-08 14:27] jaclyn-taroni commented on #1174
I know I said I would file a new issues about _how_ to do this, but thinking ahead a tad: Functionally, if we were to have an individual hex code for 18 `cancer_group` values (or 15 depending on the outcome of discussion) and then one (gray) hex code for all other `cancer_group` values that would become the `display_group`. So the notebook for creating `display_group` would get updated to use `can

[2021-09-08 14:31] jharenza commented on #1174
I think I have to check on which `cancer_group` are >=10, but I think for all figures other than the oncoprint, this may be fine. For the oncoprint, we should still annotate as the specific cancer. However, I think we also want to keep the `broad_histology` for some plots - eg the transcriptomic overview, so all points have a color, and the GSEA plot, I was thinking could have two annotations - on

[2021-09-08 14:39] kgaonkar6 commented on #1174
Here's the list of cancer_group that are >10, I'm using release-v21-20210820 pbta-histologies.tsv , I've then checked for overlap with display_groups ( derived from broad_histology) below:

[code]

[2021-09-08 14:40] jaclyn-taroni commented on #1174
If the specific cancer does not meet this criteria, we could include the oncoprint in the supplemental material instead and possibly even split up by `cancer_group`, rather than `broad_histology`, which would allow us to avoid having to worry about colors for specific cancer groups with N < 10.

Depending on what you find, I'd consider: How would we have two separate palettes without the colors ov

[2021-09-08 15:40] kgaonkar6 commented on #1141
This seems to completed with #1143, #1147 and #1164?

[2021-09-08 15:41] jashapiro commented on #1174
A few semi-random thoughts on this:
- The notebook to assign colors was originally designed for the case where we did not know what the final groups were going to be, and names and numbers were changing. The fact that it assigned colors semi-randomly was a function of that constraint. At this stage, we should not be doing random assignment, and we will likely want to have a separate table(s) with

[2021-09-08 15:42] kgaonkar6 commented on #1141
I believe the updates from #1164 are
https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/1164#issuecomment-908393543

[2021-09-08 16:08] jaclyn-taroni commented on #1174
For everyone's reference, re: the relationship between `broad_histology` and `cancer_group` (using v21)

[code]

[code]

[2021-09-08 17:42] jharenza commented on #1141
Yes!

[2021-09-08 17:42] #1141 closed

[2021-09-09 00:34] jaclyn-taroni commented on #1174
Okay the individual colors here _need work_ to be sure, but I'm going to post to convey the point. We could create a `broad_histology` palette used for things like the UMAP plot where it is comprised of only `broad_histology` where N >= 10 in at least 1 `cancer_group` within the `broad_histology` to get an 11 color palette like so:

|`broad_histology` | HSV value | hex code |
|------------------|-

[2021-09-09 11:58] jharenza commented on #1174
This seems like a good solution!

[2021-09-09 13:23] kgaonkar6 commented on #1174
Sounds like a great plan!

Wondering if the blue hues might be a little mis-directing to read since some hues as Ependymal, Germ cell tumor and others for LGG ?

broad_histology | cancer_group | HSV value | hex code
-- | -- | -- | --
Ependymal tumor | Ependymoma | hsv(248°,100%,100%) | `#2200ff`
Germ cell tumor | Teratoma | hsv(208°, 75%, 85%) | `#368dd9`
Low-grade astrocytic tumor | Ganglioglioma

[2021-09-09 14:05] jashapiro commented on #1174
I would lean toward doing this.

Couple color choices that I would worry about:

Embryonal tumor/Medulloblastoma: `#655673`
reads very grey to me, so it might not be super visible with an "other" class.
Maybe go more intense with something like H271 S96 L57 `#9426fb`

Neuronal and mixed neuronal-glial tumor: `#332900` seems very dark, almost black on my screen
How about H48 S66 L25 `#685815` there

[2021-09-09 17:10] jaclyn-taroni commented on #1174
Attempted to make the blues situation a little bit better...

|`broad_histology` | HSV value | hex code |
|------------------|------------|----------|
| Benign tumor | hsv(336°,100%,35%) | `#590024` |
| Diffuse astrocytic and oligodendroglial tumor | hsv(312°,50%,100%) | `#ff80e5` |
| Embryonal tumor | hsv(272°,100%,25%) | `#220040` |
| Ependymal tumor | hsv(248°,100%,100%) | `#2200ff` |
| Germ ce

[2021-09-09 20:41] jaclyn-taroni opened #1175 "Split up sample distribution representation between figures and tables, main text and supplement"
### Context

Currently we're using a multilayer sunburst plot to represent [(from inner to outer layer) the following data](https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/4240cc64ffcce2607717be63ab32acb81cbd299b/analyses/sample-distribution-analysis/02-multilayer-plots.R#L144):

1. `broad_histology`
2. `cancer_group`
3. Type of DNA-seq
4. Presence or absence of RNA-seq
5. `tumor_descripto

[2021-09-12 13:51] jaclyn-taroni opened #1176 "Update figures/ to reflect new minimal "display group" palettes"
#### Context

_Related to #1174_

Right now, `figures/mapping-histology-labels.Rmd` creates a `display_group` and `cancer_group` palette by randomly assigning colors from large sets of hex codes. `display_group`, which is based on `broad_histology`, is broader than `cancer_group` and all tumors from a `cancer_group` will map to a single `broad_histology` https://github.com/AlexsLemonade/OpenPBTA-a

[2021-09-12 13:52] jaclyn-taroni commented on #1174
Closing in favor of #1174 - thanks all!

[2021-09-12 13:52] #1174 closed

[2021-09-12 13:53] jaclyn-taroni commented on #1158
Addressed by #1172 and if there are items remaining, I think they are subsumed by #1176 at this point.

[2021-09-12 13:53] #1158 closed

[2021-09-12 14:05] jaclyn-taroni opened #1177 "Updated analysis: Oncoprints to use new minimal display palettes, remove cancer group with n < 10"
#### What analysis module should be updated and why?

`oncoprint-landscape`

#### What changes need to be made? Please provide enough detail for another participant to make the update.

With the changes coming in #1176, we will need to remove any `cancer_group` with n < 10 from the oncoprints for main display. I know there is logic in this module that is pretty tightly tied to `broad_histology` va

[2021-09-12 14:31] jaclyn-taroni opened #1178 "Create panel of standalone legends for the oncoprint plots"
⚠️ _Blocked by #1177_

#### Context

Quoting https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/1165#issue-980606286

#### Next steps

There are at least four steps to getting a unified legend into a final oncoprint figure that I am aware of, which I will detail below.

1. Create a series of [standalone legends using `legend()`](https://stackoverflow.com/questions/48966645/how-can-i-create-

[2021-09-12 14:34] jaclyn-taroni commented on #1165
Based on my read, only the last point about legends was relevant per https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/1165#issuecomment-909384523 and the fact that the labels mentioned don't seem cutoff in the oncoprints in `figures/pngs`. I've filed #1178 with a series of steps to create the unified legend and final figure.

[2021-09-12 14:34] #1165 closed

[2021-09-12 17:36] jaclyn-taroni opened #1179 "Idea: Create co-occurrence plots per cancer group, assemble into multipanel figure"
#### Context & idea

Right now the output of `interaction-plots` looks like this: https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/4240cc64ffcce2607717be63ab32acb81cbd299b/analyses/interaction-plots/plots/combined_top50.png

The most important point I want to make about that plot is that all samples are combined in this panel and it uses the top 50 genes (with some FLAGS filtering, if I rec

[2021-09-12 17:40] jaclyn-taroni commented on #1173
Link to the signatures we used and the related reference signatures: https://signal.mutationalsignatures.com/explore/studyTissueType/1-6#

[2021-09-12 17:50] jaclyn-taroni commented on #1173
I'm going to assign myself to this so I can do a bit of poking around in the existing code before making recommendations. For my own reference, the bubble plots we have are an adaptation of this figure: https://www.nature.com/articles/s41586-020-1943-3/figures/3 (from [Alexandrov et al. 2020](https://doi.org/10.1038/s41586-020-1943-3)).

[2021-09-12 19:01] jharenza commented on #1177
I think I misunderstood when we talked about this - I was thinking we would have a separate set of colors for the oncoprint to ensure we are still plotting all cancer groups with mutations. This will also ensure that our plots match pedcbio for the genes listed so that people don't get confused if they check our figures vs pedcbio. Thoughts?

[2021-09-12 19:03] jharenza commented on #1179
I don't think we have a high enough N for this, as we don't have a high enough N for the broad histology groups. I wish! :) but that is why I stuck with the plot of all cancers together, because we do see expected co-occurrences in that plot we can describe.

[2021-09-12 21:31] jaclyn-taroni commented on #1177
My take in https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/1174#issuecomment-915298938 was that we could include `cancer_group`-specific oncoprints for groups that didn't meet the sample size criteria:

And more generally in https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/1174#issuecomment-915666312

This what I meant by

above, as well. We could then assemble the individual, `

[2021-09-12 21:49] jaclyn-taroni commented on #1179
Was thinking about `Low-grade glioma astrocytoma`, `Medulloblastoma`, `High-grade glioma astrocytoma`, and maybe `Ependymoma`, and `Diffuse midline glioma` (based on numbers here: https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/1174#issuecomment-915372913) but you're right the other plots in [`analyses/interaction-plots/plots/`](https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/a35

[2021-09-12 21:49] #1179 closed

[2021-09-13 16:15] jaclyn-taroni commented on #1122
👍🏻  thank @LauraEgolf - closing!

[2021-09-13 16:15] #1122 closed

[2021-09-16 13:41] komalsrathi commented on #1146
@jharenza can we close this or are we waiting for additional plots?

[2021-09-16 19:36] jharenza commented on #1146
Closing with #1152 merged

[2021-09-16 19:36] #1146 closed

[2021-09-21 04:58] kgaonkar6 opened #1180 "Updated analysis: GISTIC with ploidy instead of NA"
#### What analysis module should be updated and why?
run-gistic, errors out with

[code]

We believe that the change from 2 to NA might be causing this issue, gistic then removes all the markers marked as NaNs

#### What changes need to be made? Please provide enough detail for another participant to make the update.
Suggested by @jaclyn-taroni  we could try to convert to NA to ploidy as we do in

[2021-09-21 12:10] runjin326 commented on #1180
@kgaonkar6, thanks for looking into this! I did some digging and I am pretty sure it is coming from the fact that we change `copy.num=NA` for all the neutral calls. I tried last night to change those back to 2 and it ran just fine.
I see that previously you did some analyses and `copy.num=NA` gives the least amount of noise in focal CN annotation so I think we can keep that for that module. I was

[2021-09-21 13:46] kgaonkar6 commented on #1180
I think as recommended by @jaclyn-taroni,  we should replace the NA with tumor ploidy within an internal step in `run-gistic` as we did for chromothripsis here
https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/d31c927a27813ec0b8032fbe768002f31723636f/analyses/chromothripsis/02-run-shatterseek-and-classify-confidence.R#L67-L76

[2021-10-09 21:08] jharenza opened #1182 "Updated analysis: oncoprint readme/output to list Ns per group"
#### What analysis module should be updated and why?
oncoprint-landscape

In writing the manuscript, I need to reference the Ns per group when listing out frequencies, so I think we should either have some output table with this info or an update in the readme - probably easier to do the former in case of any changes.

#### What changes need to be made? Please provide enough detail for another par

[2021-10-09 21:09] jharenza commented on #1177
hi @jaclyn-taroni - coming back to this - I have just put in a [new issue](https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/1182) for adding Ns per group for manuscript writing. For now, I will just create a stub in the methods to add Ns, but once this is implemented, the groups/Ns will also change, so noting that here.

[2021-10-09 21:12] jharenza commented on #1175
hi @jaclyn-taroni - this looks fine. How about also adding a small pie chart of the tumor descriptors in a panel as well? I think that information is more valuable than sex. We can highlight in text that we have a lot of diagnostic high-grade tumors, which traditionally were not biopsied.

[2021-10-09 23:45] jharenza opened #1183 "Updated analysis: medullo subtyping misses WGS only samples as To be Classified"
#### What analysis module should be updated and why?
medulloblastoma-subtyping - missed WGS only samples

[code]

#### What changes need to be made? Please provide enough detail for another participant to make the update.
annotate these samples as to be classified

#### What input data should be used? Which data were used in the version being updated?
v21

#### When do you expect the revised analy

[2021-10-10 19:57] jharenza opened #1184 "Updated analysis: oncoprint landscape missing SMARCB1 for embryonal (ATRT)"
#### What analysis module should be updated and why?
oncoprint landscape - the embryonal tumor plot for ATRTs is missing SMARCB1, the major driver mutation

#### What changes need to be made? Please provide enough detail for another participant to make the update.
Not sure why this is missing - see this [pedcbio page](https://pedcbioportal.kidsfirstdrc.org/results?cancer_study_list=ped_opentargets

[2021-10-10 20:21] jharenza opened #1185 "Add OpenPBTA v21 (GitHub release 1) publication study to PedcBio"
## Description
This template is used to start a request to load or update a study onto the Kids First PedcBioPortal
## Common - any new study REQUIRED

1. If this is the first time being loaded, please fill out the cbio meta_study info, for instance:
[code]
    - `type_of_cancer` can be found here: https://github.com/kids-first/kf-cbioportal-etl/blob/master/REFS/type_of_cancer and are based on [On

[2021-10-10 20:21] jharenza commented on #1185
@migbro will work on this once the data are in place

[2021-10-10 20:28] jharenza opened #1186 "Add v21 combined data matrices to s3 for pedcbio load"
Merge the following files from V21 and add to s3://kf-openaccess-us-east-1-prd-pbta/data/pedcbio/ for @migbro to load to pedcbio

**Somatic variant calls:**
Merge `pbta-snv-consensus-mutation.maf.tsv.gz` and `pbta-snv-scavenged-hotspots.maf.tsv.gz` and deduplicate (some `pbta-snv-scavenged-hotspots.maf.tsv.gz` are contained within `pbta-snv-consensus-mutation.maf.tsv.gz`

**Copy number calls:**
Me

[2021-10-11 04:48] jharenza commented on #1184
That's true, but I also see genes mutated in only one sample in those plots, and with there being a few ATRTs in the plot, I would have thought we'd capture some SMARCB1, as we do in pedcbio. I think we also need to check whether the samples in pedcbio harboring the mutations exist in the oncoprint and if so, why aren't they showing up here. I think maybe this is the culprit, but want to be sure s

[2021-10-11 13:56] komalsrathi commented on #1183
Sure, will do. Can you add me as an assignee?

[2021-10-14 15:24] runjin326 commented on #1184
@jharenza, so I looked into this - and the reason is due to the top20 filter for GOI list.
- SMARCB1 is present only CNV file, not in fusion or MAF
- it is still present after first filtering for GOI (`"SMARCB1" %in% filtered_maf_object@data[["Hugo_Symbol"]]` is TRUE)
- However, it got filtered out when selecting the top20 (see attached gene summary)
[gene_sum.txt](https://github.com/AlexsLemonade

[2021-10-15 18:13] jharenza commented on #1184
Thanks for this! We may want to prioritize the genes being shown in this specific plot - let me think about it.

[2021-10-16 00:51] jharenza opened #1187 "Proposed Analysis: Create manuscript tables"
#### What are the scientific goals of the analysis?
Create manuscript tables and supplemental tables - Table 1, S1, and S2 for now

#### What methods do you plan to use to accomplish the scientific goals?
- Create `tables` directory in main dir (https://github.com/AlexsLemonade/OpenPBTA-analysis) and put scripts and tables there.
- Either export TSV from this repo as EXCEL files or combine tables

[2021-10-16 01:55] #1186 closed

[2021-10-18 19:43] migbro commented on #1185
Also, the merged maf file is missing the typical `#version 2.4` header line. I can easily work around that with a simple flag, but not sure if that is intentional.

[2021-10-18 21:21] migbro commented on #1185
@runjin326 it's up! https://kf-strides-cbioportal-qa.kidsfirstdrc.org/study/summary?id=openpbta
Please take a look and let me know id you see anything odd

[2021-10-18 21:31] migbro commented on #1185
I do notice fewer variant calls...that's because of the consensus method of using 3/3 + hotspots, right?

[2021-10-19 15:07] migbro commented on #1185
So what you are saying is that the one you currently have in the histologies file, you think that is that best representative (`BS_0VXZCRJS`), and the one I have in `pbta_all` ought to be replaced with that one, instead of the one I used, `BS_SHZZ99DT`? There were actually 39 that I saw in openPBTA, but not `pbta_all`. 14 of which were because the library was listed in data service as polyA and we

[2021-10-19 17:38] jharenza commented on #1185
Hi @migbro - is this for release notes? Can you just link to the consensus and hotspot modules within OpenPBTA? You will also have to do this with CNVs for consensus and Fusions for putative oncogenic. There are a few nuances and the very brief description may not suffice.

[2021-10-19 17:41] migbro commented on #1185
It's more for the study meta files. for instance:
[code]
Each data type has this corresponding file

[2021-10-20 18:55] runjin326 commented on #1182
@jharenza, sure I will start working on this!

[2021-10-20 21:00] runjin326 commented on #1185
@migbro, I am in the process of checking the CNV file loaded and there might be an update on the file being used. I will ping you once I complete that. Maybe we can wait to push to prod? Thanks!

[2021-10-28 01:00] #1182 closed, assigned to kgaonkar6

[2021-10-28 01:07] jharenza opened #1198 "Proposed Analysis: Create tsnes with molecular subtype highlighted for Fig S4"
#### What are the scientific goals of the analysis?
I drafted some [figures](https://github.com/AlexsLemonade/OpenPBTA-manuscript/blob/12118614c628e2f1d98ba7ab75bd6a3de658e30b/content/images/supplement/Figure-S4.png) for Figure S4 to highlight some relevant subtypes within the tsne plot. This PR should update the tsne or figures code to generate these figures for the paper.

#### What methods do y

[2021-11-12 16:28] runjin326 opened #1203 "Updated analysis: Add CI to interaction-plots module"
#### What analysis module should be updated and why?
Add CI to `interaction-plots` module

#### What changes need to be made? Please provide enough detail for another participant to make the update.
Add CIs for the odds ratio calculations.

#### What input data should be used? Which data were used in the version being updated?
N/A

#### When do you expect the revised analysis will be completed?
1-

[2021-11-29 18:08] jaclyn-taroni commented on #1203
Closed via #1204

[2021-11-29 18:08] #1203 closed

[2021-11-30 18:06] jharenza opened #1207 "V22 data release"
From the below conversation, we will push one more release to include the missed _to be classified_ MB subtypes into the histology file. This will require rerunning the molecular subtyping to create the new histology file.

I don't think we want to be in a situation where the release and the supplemental data are out of sync, but perhaps the new release can be the very last thing we do before we c

[2021-12-01 18:56] jharenza commented on #1183
Closing with #1206

[2021-12-03 18:15] runjin326 opened #1210 "Updated analysis: survival analysis generalization"
#### What analysis module should be updated and why?
survival analysis that is currently in [PR 1208](https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/1208)

#### What changes need to be made? Please provide enough detail for another participant to make the update.
1) Currently the script has non-HGAT and PBTA all commented out - need to add back as a loop function to run the analyses on al

[2021-12-16 16:33] jharenza commented on #1198
@runjin326 can you work on this?

[2021-12-16 16:46] runjin326 commented on #1198
@jharenza , sure! will be able to get to this early next week.

[2021-12-17 02:21] jharenza commented on #1184
going to close this since these genes are not technically missing

[2021-12-17 02:21] #1184 closed

[2021-12-17 02:21] jharenza commented on #1187
closing with #1199

[2021-12-17 02:22] #1183 closed

[2021-12-17 14:52] jaclyn-taroni commented on #1210
I'm going to close this in favor of what's outlined in https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/1208#issuecomment-996356663

[2021-12-17 14:52] #1210 closed

[2022-01-04 14:37] jaclyn-taroni commented on #1177
I'm going to call this closed via #1200. We can open a new issue if needed!

[2022-01-04 14:37] #1177 closed

[2022-01-04 14:37] #1178 closed

[2022-01-05 22:21] LauraEgolf opened #1214 "Updated analysis: chromothripsis module - change R^2 to R on scatterplot"
#### What analysis module should be updated and why?
Chromothripsis module - change R^2 to R on scatterplot of SV vs. CNV breaks (for consistency with other figures/text)

#### What changes need to be made? Please provide enough detail for another participant to make the update.
- Update scatterplot code in analyses/chromothripsis/04-plot-chromothripsis-and-breakpoint-data.Rmd
- Re-run figure gene

[2022-01-12 15:49] jaclyn-taroni opened #1217 "Consider distinguishing `Progressive` and `Progressive Disease - Post Mortem` in tumor descriptor palette"
In the palette used here, `Progressive` and `Progressive Disease - Post Mortem` have the same color. Is this intentional? Should they have different patterns, perhaps? Or should they be combined for the purposes of this plot? Seems odd to label them separately if there is no way to distinguish them in the plot itself.

_Originally posted by @jashapiro in https://github.com/AlexsLemonade/OpenPBTA-a

[2022-02-10 16:37] #400 closed

[2022-02-10 21:56] #1176 closed

[2022-02-10 22:05] sjspielman opened #1218 "Updated analysis: Add Rmarkdown parameter for data release name to mapping-histology-labels"
#### What analysis module should be updated and why?

The [`mapping-histology-labels.Rmd`](https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/figures/mapping-histology-labels.Rmd) notebook assumes a specific data release: `release-v21-20210820`. It is very likely there will be more data releases, so the notebook should be more flexible.

#### What changes need to be made? Please provid

[2022-02-11 13:24] sjspielman commented on #627
This has been taken care of with #1174 and #1176.

[2022-02-11 13:24] #627 closed

[2022-02-11 13:25] sjspielman commented on #762
Taken care of with updated palettes described in #1174 and #1176.

[2022-02-11 13:25] #762 closed

[2022-02-15 13:29] sjspielman opened #1220 "Updated analysis: Figures for mutational signatures fitting"
Related to #1173.

#### What analysis module should be updated and why?

Figures representing the results from `mutational-signatures` analyses need to be formalized and incorporated. The overall conclusions from this analysis module were that i) *de novo* extraction does not converge likely to due small and highly heterogeneous dataset. ii) We can fit any of COSMIC, Alexandrov, and/or the 8 CNS S

[2022-02-15 20:06] sjspielman opened #1223 "Updated analysis: Update palette df throughout"
#### What analysis module should be updated and why?

From #1174,

The palettes have been updated so that histology/cancer groups use [`broad_histology_cancer_group_palette.tsv`](https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/figures/palettes/broad_histology_cancer_group_palette.tsv).

There are many analysis modules which use the deprecated file (`histology_label_color_table.tsv`)

[2022-02-15 20:18] sjspielman commented on #1223
**Update:** The final decision here will be to _not delete the deprecated palette file_.

It is allowed to persist in individual modules, but it is not allowed to be used in any scripts in `figures/`.

[2022-02-15 20:18] #1223 closed

[2022-02-16 13:55] sjspielman opened #1225 "Discussion: CI is timing out"
Recent builds are failing on Circle CI because of time outs:

Looks like we are surpassing the three hour limit, and there is no performance degradation right now with Circle CI that could affect the run time. As more analyses get updated and pub-ready figures created, my guess is we will keep hitting this time limit moving forward.

From [Circle CI docs](https://circleci.com/docs/2.0/configuratio

[2022-02-16 13:56] sjspielman commented on #1225
Tagging @jaclyn-taroni @jashapiro

[2022-02-16 14:10] jaclyn-taroni commented on #1225
We're not upgrading to Scale, so that option's off the table.

In my opinion, the problem is that we're not seeing a benefit from the Docker layer caching right now and then 2 of 3 hours is eaten up by building the image. That might be because CI is running less frequently than earlier in the project when PRs were more frequent. It might be because how one configures that correctly has changed ove

[2022-02-16 14:13] jaclyn-taroni commented on #1225
I'm going to try altering #1224 because why not

[2022-02-16 14:42] jaclyn-taroni commented on #1225
Noting here that for the jobs that are rerunning after timing out Docker layer caching appears to be working as expected.

[2022-02-18 19:22] #1217 closed

[2022-02-18 19:22] sjspielman commented on #1218
Closed with #1219

[2022-02-18 19:22] #1218 closed

[2022-02-23 14:37] #1175 closed

[2022-02-23 14:39] sjspielman opened #1229 "Updated analysis: Sample distribution tables and supplemenetary figures"
This issue takes over #1175. Sample distribution Figure 1 stub has been completed, but we may need further discussion for additional tables (main or SI?) and associated supplementary figures.

[2022-02-28 21:35] sjspielman opened #1230 "Updated analysis: Manuscript Figure 4 immune deconvolution panels"
The manuscript Figure 4 panels C/D currently contain temporary heatmaps showing immune deconvolution results. These figures need to be formalized and integrated into the manuscript figures.

#### Who will complete the updated analysis?

@sjspielman

[2022-02-28 21:42] sjspielman opened #1231 "Updated analysis: Manuscript Figure 5"
The manuscript Figure 5 needs to be finalized. This will entail, at a minimum:

+ Using a consistent color scheme for panels A-D
+ Re-envisioning F-G with updated color scheme and current cancer groups and/or broad histologies
+ Removing panel H
+ Re-envisioning panel I to match F-G updates
+ Creating a new figure for survival analysis

#### Who will complete the updated analysis?

@sjspielman

[2022-03-01 14:22] jaclyn-taroni commented on #572
This is not reflected in the Google slides version of figure drafts, so I am going to close it.

[2022-03-01 14:22] #572 closed

[2022-03-01 17:16] sjspielman commented on #1230
While going through the history of this module, I am not finding clear methods for _normalization_ as it relates to heatmap visualization.

Previously, heatmaps were created but no normalization was performed. The only calculation was to take the mean of each group going into the heatmap. XCell itself does not contain any normalization of scores after they are calculated.

The [XCell paper](https:

[2022-03-01 17:28] sjspielman commented on #1230
Another note: 0's were removed from heatmaps before plotting, but AFTER means were calculated. This step will be removed as part of incorporating actual row-based normalization.

[2022-03-02 17:29] sjspielman commented on #708
This is not going to happen.

[2022-03-02 20:17] sjspielman commented on #1231
@jharenza, I'm wondering if I can get some feedback from you as I start this! In our current figure paneling outline (the google slides), I'm looking at figure 4D which is [this figure](https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/analyses/tp53_nf1_score/plots/tp53_scores_vs_tp53_altered_status_Li-Fraumeni%20syndrome.png) in the repo.

I don't think we can/should use this figure

[2022-03-02 23:24] sjspielman commented on #1231
@jharenza, I'm wondering if I can get some feedback from you as I start this! In our current figure paneling outline (the google slides), I'm looking at figure **5D** which is [this figure](https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/analyses/tp53_nf1_score/plots/tp53_scores_vs_tp53_altered_status_Li-Fraumeni%20syndrome.png) in the repo.

I don't think we can/should use this fig

[2022-03-02 23:34] sjspielman commented on #1231
Another question that has come up is why, in panels B/C, different groupings were used for visualization and statistical comparison. Specifically, B which plots expression does not consider "other" (the _vast_ majority of points in the data), but C does. When the "other" grouping is included for the expression comparison, p-values change substantially. For just a 2-group activated/loss, P=0.0035.

[2022-03-02 23:47] sjspielman commented on #1231
Leaving a note here for future reference and possible discussion - when [`05-tp53-altered-annotation.Rmd`](https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/analyses/tp53_nf1_score/05-tp53-altered-annotation.Rmd) is re-rendered, one of its output files [`tp53_altered_status.tsv`](https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/analyses/tp53_nf1_score/results/tp53_altere

[2022-03-03 02:40] komalsrathi commented on #1230
Hi @sjspielman I am _scaling by columns_ here https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/analyses/immune-deconv/util/heatmap_by_histology.R#L48-L51 and https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/analyses/immune-deconv/util/heatmap_by_molecular_subtype.R#L36-L39.

@jharenza My expertise on normalizing these scores is limited - hence used the scaling function

[2022-03-03 15:19] sjspielman commented on #1230
Hi @komalsrathi, awesome I see the `scale` arg now! Fwiw, the method provided very little (no?) information provided on normalization schemes for this data, so the current idea (per chats with @jaclyn-taroni is we'll likely go with z-scores. I'll keep moving it along! :)

[2022-03-07 14:37] sjspielman opened #1233 "Updated analysis: Update immune-deconv analysis README"
#### What analysis module should be updated and why?

The `immune-deconv` analysis README.md currently describes the xCell method we use to deconvolute immune cell types, and indicates xCell scores can be compared across samples AND across cell types. This description is not accurate, as is indicated in [here](https://icbi-lab.github.io/immunedeconv/articles/immunedeconv.html#interpretation-of-sco

[2022-03-07 21:23] sjspielman opened #1235 "Broken links in data-files-description.md"
There are a few broken links in [`data-files-description.md`](https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/doc/data-files-description.md), eg [this](https://github.com/kids-first/kf-rnaseq-workflow/blob/master/workflow/kfdrc_RNAseq_workflow.cwl) is broken. Links should be checked and fixed accordingly.

#### Who will do it?

@sjspielman

#### When?

<= 1 week

[2022-03-08 19:17] jharenza commented on #1231
Sorry for the delay on this.

I agree this is a bit tricky because of the N = 2 here, which was why the points are shown. The point of this panel is as a positive control for the classifier predictions of oncogenic _TP53_. Li Fraumeni Syndrome (LFS) is a cancer predisposition syndrome which is defined by a genetic loss of function variant in _TP53_. The data chosen for this panel were all samples

[2022-03-08 19:21] jharenza commented on #1231
I see what you are saying - I hadn't thought about that since I was not thinking about comparing expression of "other", which is really going to be a mix of loss or wildtype. That is a tricky, unresolved group. But, we can definitely add it to plot C. The main comparison is to ask whether we see higher expression in samples with the activating mutations vs those which have alterations resulting in

[2022-03-08 19:26] jharenza commented on #1231
I think this happens with every rerun of the classifier - @gwaygenomics would have more input.

[2022-03-08 19:33] jharenza commented on #1231
Looping in @runjin326 here for the correlation plots

[2022-03-08 19:59] runjin326 opened #1237 "Add scripts/modules for generating correlation plots for TP53 scores"
#### What are the scientific goals of the analysis?
Add two correlation plots:
1) TP53 scores vs. NormEXTEND score
2) TP53 scores vs. breakpoint density

#### What methods do you plan to use to accomplish the scientific goals?
Grab data from analysis modules or tables and plot the results out

#### What input data are required for this analysis?
NormEXTEND scores
TP53 scores
Breakpoint density of

[2022-03-09 16:30] sjspielman commented on #1235
Closed by #1236

[2022-03-09 16:30] #1235 closed

[2022-03-09 16:34] sjspielman opened #1238 "Updated analysis: Update immune deconvolution module to include xCell and quanTIseq"
#### What analysis module should be updated and why?

Currently, `immune-deconvolution` uses only the `xCell` method. This method reports relative scores without units and only allows for comparisons between samples, but _not_ between cell types (see #1234).

We may want to have a complementary method, such as `quanTIseq`, which provides absolute scores that can be interpreted as fractions of the

[2022-03-09 16:38] sjspielman opened #1240 "Updated analysis: Remove xCell heatmap figures"
#### What analysis module should be updated and why?

The `immune-deconvolution` module contains several heatmaps of `xCell` scores averaged across groupings, including histologies and molecular subtypes for certain histologies. These plots should be removed because:

+ `xCell` scores cannot be compared across cell types, and heatmaps are misleading because they make it seem like you can compare a

[2022-03-09 17:26] jharenza commented on #1231
Yes!

[2022-03-09 17:28] jharenza commented on #1231
That plot is fine but also not using stats for the LFS patients is also fine. We just want to use them as a control. We can even simply mention from the supp table of scores that all except two patients had scores >x, validating the classifier in a way other than using somatic variants.

[2022-03-09 18:50] gwaygenomics commented on #1231
Hmm, to me this seems like it's an R version issue with `readr` or `dplyr`. That `.Rmd` file isn't rerunning the classifier, so any diff must be internal to the R script.

That being said, I wouldn't be shocked if rerunning the classifier caused these diffs. Re-_training_ the classifier will certainly cause diffs, and re-_applying_ might as a result of python float-handling differences if versions

[2022-03-09 20:36] sjspielman commented on #1231
Unfortunately there is no `sessionInfo()` that was originally included in the notebook so I can't say much about the environment this was originally run in.

[2022-03-09 20:38] sjspielman commented on #1231
Something I can do, though, is run the notebook a few times within Docker and see if it changes in between those runs. This will sort of approximate whether the issue is from versioning.

[2022-03-09 20:41] jaclyn-taroni commented on #1231
That sounds good. I'd also add `sessionInfo()` to the notebook as part of whatever PR addresses everything else!

[2022-03-09 20:44] sjspielman commented on #1231
Five different runs _within_ docker have no diffs, so this feels strongly like versioning where current results may have previously been run outside the docker. I'll put in a PR for this shortly.

[2022-03-10 18:30] #1144 closed

[2022-03-10 19:11] sjspielman commented on #1214
Closed with #1215.

[2022-03-10 19:11] #1214 closed

[2022-03-11 16:30] jharenza opened #1245 "update CAVATICA to v21"
#### What data file(s) does this issue pertain to?
v20, v21 releases

#### What release are you using?

v21

#### Put a link to the relevant section of the [OpenPBTA-manuscript](https://github.com/AlexsLemonade/OpenPBTA-manuscript/) here.
NA

#### Put your question or report your issue here.
Please link v20 and v21 files to https://cavatica.sbgenomics.com/u/cavatica/openpbta

[2022-03-11 16:30] jharenza commented on #1245
@zhangb1

[2022-03-14 14:50] jharenza opened #1246 "Updated analysis: add cancer group info to README"
#### What analysis module should be updated and why?
`molecular-subtyping-integrate`

#### What changes need to be made? Please provide enough detail for another participant to make the update.
Add info in README about cancer group definitions so the users don't have to find it in the code. Probably easiest to make a markdown table.

#### What input data should be used? Which data were used in the

[2022-03-18 18:01] jharenza opened #1248 "Proposed Analysis: investigate whether signatures 3 and 18 also"
#### What analysis module should be updated and why?
mutational signatures

Based on the literature below, we hypothesize we would see a similar phenomenon in our cohort. That is, samples with hypermutator phenotypes have signatures associated with high genomic instability (in our CNS signature analysis, those would be RefSigs 3 andd 18) _and_ _TP53_ dysregulation.

From doi:10.1038/s43018-020-002

[2022-03-18 20:04] sjspielman commented on #1248
Misc note, as discussed in [this comment](https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/1227#discussion_r829949839) - we might want to move the exploration of signatures 1 and MMR2 into this notebook where we explore 3 and 18. There will be a decent amount of similarities among the comparisons.

[2022-03-19 19:44] jharenza opened #1249 "Updated analysis: add README to survival analysis module"
#### What analysis module should be updated and why?
survival-analysis

#### What changes need to be made? Please provide enough detail for another participant to make the update.
There is currently no README for this module, so we should add one to describe the different analyses in it.

#### What input data should be used? Which data were used in the version being updated?
NA

#### When do you e

[2022-03-20 20:00] jharenza commented on #1238
updated in #1243

[2022-03-20 20:00] #1238 closed

[2022-03-20 20:01] jharenza commented on #1198
done in #1213

[2022-03-20 20:01] #1198 closed

[2022-03-20 20:02] jharenza commented on #1220
done with #1226 and #1227

[2022-03-20 20:02] #1220 closed

[2022-03-20 20:03] jharenza commented on #1173
done per #1220

[2022-03-20 20:03] #1173 closed

[2022-03-20 20:03] jharenza commented on #1240
updated in #1241

[2022-03-20 20:03] #1240 closed

[2022-03-21 12:50] zhangb1 commented on #1245
Sorry, I missed this ticket. this has been done.

Please check the data in the public project here : https://cavatica.sbgenomics.com/u/cavatica/openpbta/files/#q

[2022-03-21 14:53] sjspielman opened #1250 "Recurrent build fails"
Opening issue to note that since Friday 3/18/22, builds have been recurrently failing during `Data Download`. [Here](https://circleci.com/api/v1.1/project/github/AlexsLemonade/OpenPBTA-analysis/7085/output/102/0?file=true&allocation-id=6234bc70dfea812aefba5d2f-0-build%2F60DD3679) is an example of one of those fails.

It appears to be an issue with MRAN -

  cannot open URL 'https://mran.microsoft.

[2022-03-21 14:58] jashapiro commented on #1250
Looks like MRAN is just plain down:
No dates on https://mran.microsoft.com/timemachine work.

[2022-03-21 18:21] sjspielman commented on #1250
Sort of concerningly, the MRAN folks are MIA. See [here](https://github.com/microsoft/microsoft-r-open/issues/133) as an example. There are several other very recently opened issues.

[2022-03-21 18:39] sjspielman opened #1252 "Updated analysis: oncoprint counts for manuscript"
#### What analysis module should be updated and why?

Related to [MS PR #199](https://github.com/AlexsLemonade/OpenPBTA-manuscript/pull/199), we need to create a notebook in `oncoprint-landscape` module tabulating certain counts that are slated to appear in the manuscript. The results in this notebook can then be used to populate the respective manuscript sections.

[2022-03-21 18:58] jharenza commented on #1252
Thanks for opening this @sjspielman!

I think this addition might be a bit complicated.

Since we highlight specific cancer group statistics in the manuscript, the goal would be to generate cancer_group specific tables for `*primary_only_*_oncoprint_summary_n.tsv` files. This would entail creating maf subset files and output tables for every cancer group that is represented in the oncoprints curre

[2022-03-21 19:16] jaclyn-taroni commented on #1252
I will pick this up and make the determination about how to implement it along the way

[2022-03-21 19:28] jharenza opened #1253 "Create updated panels for Fig 3"
Now that Figure 3 is finalized (see [here](https://docs.google.com/presentation/d/1bgaDcMaGgwNEGJl46Lg03FoF4EnS4XLjdp5Ji_ufGsI/edit#slide=id.ge9d4ddd4cc_0_15)), we should save the CNS mutational signatures figure as a panel for Figure 3C in https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/master/figures/pdfs/fig3/panels.

Do we also need a script to create this figure? It isn't immediately

[2022-03-21 19:28] jashapiro commented on #1250
We might be able to switch the repository for the image to rstudio package manager: that repository does seem to go back far enough, so we could use the closest date: https://packagemanager.rstudio.com/cran/2019-07-07.

We'd have to investigate a bit how rocker stores the CRAN mirror (I think it is in `/usr/local/lib/R/etc/Rprofile.site`  based on https://github.com/rocker-org/rocker-versioned/blo

[2022-03-21 19:37] jharenza opened #1254 "Create panels for Figure S2"
This figure is not yet represented [here](https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/master/figures/pdfs/supp) and panels should be added per the slide deck [here](https://docs.google.com/presentation/d/1bgaDcMaGgwNEGJl46Lg03FoF4EnS4XLjdp5Ji_ufGsI/edit#slide=id.ge9d4ddd4cc_0_30).

Figures used for panels can be found:
- A: https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master

[2022-03-21 20:01] jharenza opened #1255 "Create additional panels for Figure S3"
Only the `primary_only_other_supplemental_oncoprint.pdf` panel  is represented [here](https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/master/figures/pdfs/supp), so the two CN landscape and chromothripsis panels should be added per the slide deck [here](https://docs.google.com/presentation/d/1bgaDcMaGgwNEGJl46Lg03FoF4EnS4XLjdp5Ji_ufGsI/edit#slide=id.ge9d4ddd4cc_0_30).

Figures used for pane

[2022-03-22 01:21] jashapiro commented on #1250
I played around with this, and I can confirm that with the following change, the Docker image builds using RSPM instead of MRAN (but I can _not_ confirm that everything is identical):
https://github.com/jashapiro/OpenPBTA-analysis/commit/b6836f400d3de153241179d03ff3554a23129af4

However, MRAN seems to be back up, so this may be moot, for now.

[2022-03-22 12:03] sjspielman commented on #1250
MRAN is still back up, so _for now_ this is moot. If this situation comes back to haunt us we could consider a different solution!
I'll keep this open for now as discussion as needed.

[2022-03-22 12:11] sjspielman commented on #1255
Yup, I got it!

[2022-03-22 12:15] sjspielman commented on #1254
Got it!

[2022-03-22 12:20] sjspielman commented on #1253
In this case it's appropriate to just have a line in [this script](https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/figures/generate-figures.sh) copying the figure over, since the figure in the module is pub-ready. This will be quick, can do it!

[2022-03-22 16:10] jharenza commented on #1245
thanks @zhangb1 !

[2022-03-22 16:10] #1245 closed, assigned to nobody

[2022-03-22 16:46] sjspielman commented on #1254
I've tracked down panel B - https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/analyses/cnv-chrom-plot/plots/cn_status_heatmap.png

[2022-03-22 16:47] sjspielman commented on #1255
I've tracked down panel B here. It was last run with v20, so we might want to update. - https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/analyses/cnv-chrom-plot/plots/cn_status_heatmap.png

[2022-03-22 18:13] jharenza opened #1258 "Updated analysis: multivariate survival analysis to explore immune cell fractions' prognosis"
#### What analysis module should be updated and why?
survival-analysis

#### What changes need to be made? Please provide enough detail for another participant to make the update.
Similar to the analyses performed to assess relationships between TP53 scores and telomerase, we are interested in determining whether there is an immune cell type which might predict better or worse prognosis for cancer

[2022-03-22 19:07] jharenza opened #1260 "Updated analysis: supp tables updates"
#### What analysis module should be updated and why?
https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/master/tables

#### What changes need to be made? Please provide enough detail for another participant to make the update.
- Remove alexandrov and cosmic mutational signatures from DNA table
- Add new tab for quantiseq immune scores to RNA-Seq file (probably easiest to do column 1 bs_id and

[2022-03-22 19:11] sjspielman opened #1261 "Update generate_figures.sh script in order of figures"
Currently, [`generate_figures.sh`](https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/figures/generate-figures.sh) (which is used to generate all figures for the manuscript) is ordered based on analyses that figures are coming from. It may be more helpful to order this script in terms of the manuscript figure order.

@sjspielman will do this, ETA ~1-2 weeks.

[2022-03-23 14:03] sjspielman commented on #1254
Question about setting this up for @jaclyn-taroni - These plots use sql dbs which have to be created in `scratch/` and this takes a decent amount of time.

Two options here -
+ Can update figure code in modules directly to make pub-ready figures and copy them over
+ Call `bash run_caller_consensus_analysis-pbta.sh` and `bash run_caller_consensus_analysis-tcga.sh`, and write updated plotting code i

[2022-03-23 14:46] jaclyn-taroni commented on #1254
I'd probably do the second option just to make local development (ever so slightly) easier. If you end up running the bash scripts every time you want to make tweaks to the figure, that seems less than ideal. So you'd run the bash scripts in the overall figure generation script as you suggest, but you could then develop whatever you have in `figures/scripts` with the assumption that those have bee

[2022-03-25 13:09] jaclyn-taroni commented on #1260
Was this closed by #1265 @jharenza or did more need to happen?

[2022-03-25 13:21] jaclyn-taroni commented on #1248
This was closed by #1263. There are some remaining questions in https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/1263#pullrequestreview-920749859, but those would be separate issues.

[2022-03-25 13:21] #1248 closed

[2022-03-25 13:34] sjspielman commented on #1253
Closed with #1256

[2022-03-25 13:34] #1253 closed

[2022-03-25 13:40] sjspielman opened #1267 "Add organization to the supplementary figure PDF directory"
The directory [`figures/pdf/supp`](https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/master/figures/pdfs/supp) directory holds all PDF panels for supplementary figures. Currently, this directory does not have any formal organization, but it should.

Suggested changes:

+ One directory per supplemental figure, named `supp-figX` where `X` is the name of the figure
+ Add documentation about thi

[2022-03-25 13:51] jharenza commented on #1260
Yes

[2022-03-25 13:52] #1260 closed

[2022-03-25 15:46] sjspielman opened #1268 "Update mutational signatures supplementary tables"
Related to PR https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/1265/
The path to the fitted mutational signatures file currently used to build the supplementary tables needs to be updated from ` fitted_exposures_signal-cns_sigfit.rds` to  `fitted_exposures_signal-cns_deconstructSigs.rds` to match the analysis reported in the main text.

### Who will do it?
@sjspielman

### How long to compl

[2022-03-28 16:44] sjspielman commented on #1252
Closed by #1266

[2022-03-28 16:44] #1252 closed

[2022-03-28 17:58] sjspielman commented on #818
Closed with PRs:
#974
#1018
#1100
#1220
#1227
#1248

[2022-03-28 17:58] #818 closed

[2022-03-28 17:59] sjspielman commented on #761
We use `ggpubr::theme_pubr()` [as described](https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/figures/README.md#overall-figure-theme).

[2022-03-28 17:59] #761 closed

[2022-03-29 13:28] sjspielman opened #1271 "Rearrange manuscript figures"
Context: https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/1263#pullrequestreview-920749859

We want to modify some aspects of current figure layouts to make room for further exploration of (ultra)hypermutators.

#### What changes need to be made? Please provide enough detail for another participant to make the update.

The following changes should be made:
+ Current Figure 3C (mutational si

[2022-03-29 13:37] sjspielman opened #1272 "Manuscript figures for telomerase"
Both the script and figures for telomerase visualizations need to be made publication-ready.

#### What changes need to be made? Please provide enough detail for another participant to make the update.

Currently there is one script `figures/scripts/TelomeraseActivities.R` that creates main text and supplemental figures. Starting with this script as a baseline, we should:

+ Move code into separat

[2022-03-29 15:24] sjspielman commented on #1231
Closing in favor of #1271 and #1272

[2022-03-29 15:24] #1231 closed

[2022-03-29 15:25] sjspielman commented on #1255
Closed by #1259

[2022-03-29 15:25] #1255 closed

[2022-03-29 15:29] sjspielman commented on #1230
Partially addressed with #1251. Closing in favor of #1271 which further updates figure 4.

[2022-03-29 15:29] #1230 closed

[2022-03-29 15:32] sjspielman commented on #985
Closed by #980

[2022-03-29 15:41] sjspielman commented on #1180
Closed by updates here: https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/119/files

[2022-03-29 16:01] sjspielman commented on #895
Noting `v18` was re-run here https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/892, but this has not been re-run with `v19` as [suggested](https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/895#issuecomment-765419640). At the time of this comment, the current version is `v21`.

[2022-03-29 16:01] sjspielman commented on #763
Closing in favor of #1267.

[2022-03-29 16:11] sjspielman commented on #647
Noting that since this issue was opened, cancer groupings are primarily used:

+ [This module](https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/master/analyses/molecular-subtyping-integrate) introduces the `cancer_group` grouping
+ Groupings used in the manuscript are completed and described [here](https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/figures/mapping-histology-labe

[2022-03-29 16:15] sjspielman commented on #636
For further discussion of mutational signatures, see these issues: #1173, #1220, #1248

Several PRs were merged to close this out. In the end, there remained convergence problems with de novo extraction, so we instead fit 8 known adult CNS signatures to the data.

#678 and #799 (closed without merge)
#806
#811
#974, #1018, #1100 (stacked)
#1190
#1192
#1226 and #1227 (stacked)

[2022-03-29 16:15] #636 closed

[2022-03-29 16:18] sjspielman commented on #646
Closing because the de novo extraction continued to experience convergence problems and is effectively deprecated, as described [here](https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/636#issuecomment-1082082185).

[2022-03-29 16:18] #646 closed

[2022-03-29 16:19] sjspielman commented on #630
@jaclyn-taroni are we still interested in doing this? If so, it would be good to do in conjunction with/instead of #1261

[2022-03-29 16:26] sjspielman commented on #500
Noting current data version is `v21`.

[2022-03-29 16:28] jaclyn-taroni commented on #630
Are we interested? Sure, but I think we'd need to estimate the amount of effort before I comment on whether or not we _should_ do it.

[2022-03-29 16:32] sjspielman opened #1273 "Remove sigfit vignette install from Dockerfile"
As noted in #1225 there are occasional CI timeouts. The docker image may benefit from some cleanup to reduce changes of timeouts when there is no cache available.

#### What changes need to be made? Please provide enough detail for another participant to make the update.

In the Dockerfile, `R -e "remotes::install_github('kgori/sigfit', ref = '209776ee1d2193ad4b682b2e2472f848bd7c67a6', build_vigne

[2022-03-29 16:43] sjspielman commented on #630
My gut tells me the effort would be a little too high, _but_ this depends on how much is in what @jashapiro had previously [written up](https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/630#issuecomment-772583999). This link is now long gone it seems and I can't find the branch [here](https://github.com/jashapiro/OpenPBTA-analysis/branches/all). @jashapiro, still have this locally?

[2022-03-29 17:10] jashapiro commented on #630
In some previous cleaning, I must have removed that branch on github, but I did have it locally, and it is now [back up](https://github.com/jashapiro/OpenPBTA-analysis/blob/jashapiro/snakemake-results/Snakefile). Note that that file was setting up to do _all_ the analysis: not just the figures, but also the analysis that generated the inputs to those figures. Doing just the figures should be a bit

[2022-03-29 17:29] sjspielman commented on #1271
@jaclyn-taroni given that the existing GSVA and UMAP panels focus on `broad_histology` groupings, but tp53 would be across `cancer_group` (I don't think `broad_histology` would be appropriate for that plot), we could in theory end up with two legends in Figure 5. But, a legend won't be strictly necessary for any boxplot with a labeled x-axis, so it doesn't seem to be we're in two legend territory.

[2022-03-29 18:50] sjspielman commented on #1267
Closed by #1270

[2022-03-29 18:50] #1267 closed

[2022-03-29 19:57] sjspielman commented on #1271
Note that I deleted a comment here because it was induced by me reading the number 5 as the number 3, so it was wholly irrelevant.

[2022-03-29 21:13] sjspielman commented on #630
Thanks for branch + context, @jashapiro!!

This point is key -

The figure generation script calls scripts in _both_ scenarios - inputs internally, and inputs as arguments. We'd want this more consistent for a robust workflow, and it doesn't make sense to me to modify analysis module files specifically to work with a manuscript figure-generating workflow. This is especially true because many of th

[2022-03-30 13:24] sjspielman commented on #1273
No longer happening because PR was experiencing CI problems (probably unrelated to vignette removal), but those problems are not a compelling argument for this proceed. In addition, it doesn't really make a dent in runtime overall.

[2022-03-30 13:24] #1273 closed

[2022-03-30 20:24] sjspielman commented on #1254
This is almost ready for a PR, but quick questions for everyone @jharenza @jaclyn-taroni because the current notebook producing the CDF plots (https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/analyses/tmb-compare/plots/tmb-cdf-pbta-tcga.png) is very out of date.

+ It uses `snv-callers/results/consensus/pbta-snv-mutation-tmb-coding.tsv` and similar for TCGA. These files no longer exi

[2022-03-31 14:03] jharenza commented on #1254
Is there a way to do compression before export from R, or can we use a tiff (if this will be put together in illustrator anyway?)

[2022-03-31 16:04] sjspielman opened #1277 "CI failing at TCGA"

[2022-03-31 16:09] sjspielman commented on #1277
CC @jaclyn-taroni

[2022-03-31 16:35] jaclyn-taroni commented on #1277
I don't think this actually gets used anymore. So if the results are captured in the repo, I think we can deprecate the module and remove it from CI.

[2022-03-31 20:27] sjspielman commented on #1277
Closed with #1278

[2022-03-31 20:40] jaclyn-taroni commented on #1254
Yes, also consistent with https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/3b5fb8d71daadc9f6c67c62f3b5eef82d2cb466e/doc/data-files-description.md#current-release-release-v21-20210820

Definitely not attached to these colors. If we use `cancer_group`, we could use the `cancer_group` colors and then put the adult cancers in a darker grey.

I think going back to vertical and using `cancer_grou

[2022-04-01 15:27] sjspielman commented on #1271
Closed with #1275

[2022-04-01 15:27] #1271 closed, assigned to sjspielman

[2022-04-03 14:56] jharenza opened #1281 "Create Panels for Figure S5"
Four panels for figure S5 (see [here](https://docs.google.com/presentation/d/1bgaDcMaGgwNEGJl46Lg03FoF4EnS4XLjdp5Ji_ufGsI/edit#slide=id.ge9d4ddd4cc_0_77)) need to be created and colors updated to be consistent with others.

A: https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/analyses/tp53_nf1_score/plots/polya_TP53_roc.png
B: I removed B (https://github.com/AlexsLemonade/OpenPBTA-ana

[2022-04-03 15:01] jharenza commented on #1272
Oops, I just created #1281, which has some telomerase discussion/questions - we can close and discuss here, although there is one other TP53 panel in #1281 which I do not see mentioned in #1280 so wanted to bring that up as well. Also note, since we are moving up TP53 to figure 4, I moved up TP53/telomerase to be before UMAP panels in S5 now.

[2022-04-03 17:41] jharenza commented on #1246
updated in #1247

[2022-04-03 17:41] #1246 closed

[2022-04-03 17:45] jharenza commented on #1132
closing this since we have tickets for individual figures now

[2022-04-03 17:45] #1132 closed

[2022-04-04 13:22] sjspielman opened #1282 "Complete manuscript figures"
This Issue tracks status of completing manuscript figure panels and overall figures and adding them to `figures/scripts/`, `figures/pdfs/`, and as compiled panels.

See here:
https://docs.google.com/spreadsheets/d/1RbHSHvY8IiSatiX2F1IQYgPs5YgMnRzDoVBt5kwaT50/edit?usp=sharing

[2022-04-04 15:27] sjspielman opened #1284 "Remove fig4-telomerase-activities.R script"
PRs #1280 and #1283 complete telomerase figures for the manuscript. Therefore `fig4-telomerase-activities.R` should be _removed_ once they are merged.

[2022-04-06 17:12] sjspielman opened #1287 "Document which analysis modules are in the manscript"
As we solidify the manuscript, we should track which analysis modules are actually going to be part of the paper.

To this end, the analyses [README](https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/analyses/README.md) should be updated with an additional column to indicate if the module is part of the paper or not.

[2022-04-07 16:55] sjspielman commented on #1281
Remaining have been completed and merged in #1283. Some panel re-organization has occurred since this issue was filed, so at time time all of Figure S5 is complete.

[2022-04-07 16:57] sjspielman commented on #1254
Closed with #1279

[2022-04-07 16:57] #1254 closed

[2022-04-07 17:45] sjspielman commented on #1272
Closed with #1283 and #1280

[2022-04-07 17:45] #1272 closed

[2022-04-08 19:06] jharenza commented on #1284
completed in #1291

[2022-04-08 19:06] #1284 closed

[2022-04-11 14:07] sjspielman opened #1294 "Updated analysis: SNV Callers"
#### What analysis module should be updated and why?

The `snv-callers` module code is out of date and does not run. I believe the current data release `v21` should be used, but potentially not for historical reasons(?) CC @jaclyn-taroni

#### When do you expect the revised analysis will be completed?

1 week

#### Who will complete the updated analysis?

@sjspielman

[2022-04-11 14:08] jaclyn-taroni commented on #1294
In principle, we should update it, but I don't think we can say for sure until we know _why_ it does not run.

[2022-04-11 14:44] sjspielman opened #1295 "Deprecate tmb-compare module"
#### What analysis module should be updated and why?

The `tmb-compare` module is deprecated. Documentation should be updated to reflect this status, including:
+ `analyses/README.md`
+ `analyses/tmb-compare/README.md`
+ Remove `tmb-compare` module from CI

#### When do you expect the revised analysis will be completed?

1-3 days

#### Who will complete the updated analysis?

@sjspielman

[2022-04-11 19:06] sjspielman opened #1297 "Deprecate supplementary figure correlation plots"
#### What analysis module should be updated and why?

Figures created by `figures/scripts/supp-tp53-correlation.R`, which have been saved in `figures/pdfs/supp/correlation_plots/`, are not ending up in supplementary figures.

#### What changes need to be made? Please provide enough detail for another participant to make the update.

+ Move the script to `figures/scripts/deprecated`
+ Delete the PD

[2022-04-11 19:50] sjspielman commented on #1229
Closed with #1228

[2022-04-11 19:50] #1229 closed

[2022-04-11 20:17] jaclyn-taroni commented on #1287
Closed with #1290

[2022-04-11 20:17] #1287 closed

[2022-04-11 20:20] jaclyn-taroni commented on #1282
@sjspielman is Fig 5C missing currently? I _think_ we need a `cp` step in `figures/` for this: https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/analyses/immune-deconv/plots/cell_types-molecular_subtypes.pdf and, more generally, to run that module in that script. Going to acknowledge is could be in #1286

[2022-04-11 21:01] jaclyn-taroni opened #1300 "Contact Docker and CircleCI to ask permission to use icons in Figure 1 panel"
I think it's worthwhile to reach out to docker and CI to see if we can use. We have time before we need the _final_ submission version!

_Originally posted by @sjspielman in https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/1292#issuecomment-1092809714_

[2022-04-12 13:07] #1297 closed

[2022-04-12 13:10] sjspielman commented on #1295
Closed with #1298

[2022-04-12 13:10] #1295 closed

[2022-04-12 16:00] jaclyn-taroni commented on #1300
I've reached out to the relevant teams.

[2022-04-12 16:34] sjspielman commented on #1282
Noting Fig 5C is now present

[2022-04-13 01:04] jharenza opened #1306 "Updated analysis? update a few cancer group abbreviations"
#### What analysis module should be updated and why?
Script here, plus figure 1B panel
https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/figures/palettes/broad_histology_cancer_group_palette.tsv

#### What changes need to be made? Please provide enough detail for another participant to make the update.
To be consistent with subtyping module output, we should update:
Ganglioglioma from

[2022-04-13 02:04] jharenza opened #1307 "Updated analysis: check tp53 Figure 4B,C Ns"
#### What analysis module should be updated and why?
scripts for plots in figure 4B, C

First, I think both panels probably should have the same Ns?
Second, panel B Ns add up to more RNA-Seq specimens (1166) than we have in this cohort, so that one is likely wrong.

#### What changes need to be made? Please provide enough detail for another participant to make the update.
check Ns, plots may need

[2022-04-13 12:29] sjspielman commented on #1306
I added these abbreviations _specifically_ to get the Figure 1 sample distribution in a manageable size. They are encoded in `figures/mapping-histology-labels.Rmd`. I can update these.

[2022-04-13 14:45] sjspielman commented on #1307
FYI @jaclyn-taroni , we should address this before you compile Figure 4. I'm going to look into it today.

[2022-04-13 17:39] #1307 closed

[2022-04-13 19:02] sjspielman opened #1314 "Deprecate primary-plus oncoprint plots in `figures/` ?"
Currently, the script `figures/scripts/fig2-oncoprint-landscape.R` creates plots for _both_ primary-plus and primary-only. However, at this time, it does not appear that any primary-plus plots will be incorporated in the manuscript directly.

Do we want to deprecate these plots? The script has a for-loop over only vs. plus, so the code is very adaptable.

[2022-04-13 19:02] sjspielman commented on #1314
CC @jaclyn-taroni

[2022-04-13 19:31] jaclyn-taroni commented on #1314
I think it would be fine either way. The main advantage to removing this would be to avoid confusion when compiling figures.

[2022-04-14 12:49] sjspielman opened #1315 "Update Figure 2 oncoprint panels"
The figure 2 oncoprint primary-only panels have a mismatch between legends and panel: Cancer groups seen in legends are not always seen in the oncoprint figures directly. Specifically:

+ Embryonal legend contains Ganglioneuroblastoma, but this cancer group is not in the landscape plot
+ Diffuse astrocytic legend contains Oligodenroglioma, but this cancer group is not in the landscape plot

Other

[2022-04-14 12:58] jaclyn-taroni commented on #1315
This might be another good reason to address #1314, yea. I suspect this is the root of the issue!

[2022-04-14 13:04] jaclyn-taroni commented on #1315
For what it's worth, I drop these from my version of the compiled figure, which you can see an older version of [here](https://github.com/jaclyn-taroni/OpenPBTA-analysis/blob/f6bcf253ac3ceb242e2557e82ad259ea3eb0f729/figures/pngs/figure2.png). It would not shock me if this was not technically possible.

[2022-04-14 14:06] sjspielman opened #1317 "Update compiled Figure S3"
When #1316 is merged, the Figure S3A panel will have changed. Therefore, the compiled S3 figure PDF and PNG need to be updated accordingly.

[2022-04-14 14:20] sjspielman commented on #1315
Indeed, technically not possible -  see https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/1316

[2022-04-14 17:52] jharenza opened #1318 "Create table 2"
Per this comment and [PR](https://github.com/AlexsLemonade/OpenPBTA-manuscript/pull/238), we are adding a main table 2 to the manuscript and it has not been entirely created yet. Below are some of the details.

Not entirely created - you created a portion [here](https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/b9a7a7f41695bf0bce9579a4a954cdeed4acefcc/analyses/mutational-signatures/08-explor

[2022-04-14 20:42] #1314 closed

[2022-04-14 20:43] sjspielman commented on #1315
Closed with #1316

[2022-04-14 20:43] #1315 closed

[2022-04-15 01:47] jharenza opened #1319 "Updated analysis: Update table S1"
#### What analysis module should be updated and why?
tables

#### What changes need to be made? Please provide enough detail for another participant to make the update.
From the manuscript METHODS, add the tables named `Table S1. Clinical metadata collected for OpenPBTA. {#tbl:S1}` and `Table S2. Harmonized CNS brain regions derived from primary site values. {#tbl:S2}` as supplemental tabs of meta

[2022-04-15 05:02] jharenza opened #1321 "Update compiled figure 5 and S5"
### What needs to be done?
For Figure 5, replace with cancer group plot in #1320
For Figure S5, make all current plots smaller (UMAP can be on one row?), then add subtype plot from #1320

### Who will complete this analysis?
@sjspielman

[2022-04-15 05:04] jharenza opened #1322 "Copy panels from Figures 5/S5 to panel folders"
What needs to be done?
For Figure 5, replace main panel with cancer group plot in #1320
For Figure S5, add subtyping plot from #1320 to supp panels

Who will complete this analysis?
@sjspielman

[2022-04-15 05:17] jharenza opened #1323 "Updated analysis: Create HR figures for HGGs"
#### What analysis module should be updated and why?
survival analysis: tp53/telomerase and immune cells (PR #1264)

#### What changes need to be made? Please provide enough detail for another participant to make the update.
1. From tp53/telomerase analysis, create HR plot for Figure 4 panel F from data used below:
<img width="502" alt="Screen Shot 2022-04-15 at 1 14 07 AM" src="https://user-image

[2022-04-15 13:25] sjspielman opened #1324 "Update compiled supplementary figures"
When creating supplementary figure compilations, slight mistake on my part occurred - I took an approach to opening files to combine that accidentally rendered them PNGs. In the end, my compiled PDF figures are accidentally sets of compiled PNG graphics instead of PDF graphics.

This is not immediately necessary to fix for the draft, but it needs to be fixed for the final manuscript.

Figure S2 an

[2022-04-15 17:52] jharenza commented on #1318
I will work on this today

[2022-04-18 00:53] jharenza opened #1327 "Updated analysis: add NGSCheckmate to Table S4"
#### What analysis module should be updated and why?
generate tables - missing NGSCheckmate, but I am actually not sure if it is captured [here](https://github.com/d3b-center/OpenPBTA-workflows/tree/master/cwl)

#### What changes need to be made? Please provide enough detail for another participant to make the update.
- We may need to add this to the OpenPBTA-workflows repo first, but sent a msg t

[2022-04-19 00:48] jharenza commented on #1327
Docker is here: https://github.com/migbro/ngs_checkmate_wf and workflow is here: https://github.com/kids-first/ngs_checkmate_wf

@migbro will be adding a copy of this to the [OpenPBTA-workflows](https://github.com/d3b-center/OpenPBTA-workflows).

[2022-04-19 21:33] sjspielman commented on #1323
I'm not sure that it will be possible to get a panel G here as we'd discussed above, given updated results in #1264. But, 4F is done with #1325!

[2022-04-20 04:05] #1317 closed

[2022-04-20 15:07] jaclyn-taroni commented on #1300
If I don't hear back by Friday, I will consider that a no and close this.

[2022-04-20 15:33] sjspielman commented on #1324
Both boxes are checked because a single PR was filed for both: #1331

[2022-04-20 17:39] migbro commented on #1327
Updated the dockerfile to our d3b repo here: https://github.com/d3b-center/bixtools/blob/master/ngscheckmate/1.3/Dockerfile
Functionally equivalent prod release here: https://github.com/kids-first/ngs_checkmate_wf/tree/1.0.0

Created a PR in the workflows repo: https://github.com/d3b-center/OpenPBTA-workflows/pull/1

[2022-04-20 20:26] #1324 closed

[2022-04-20 23:55] jharenza commented on #1327
NGSCheckmat3 is v1.3

[2022-04-21 04:57] jharenza opened #1335 "Panel 4H - KM curve"
### What needs to be done?

From #1332, create panel 4H for KM curve of HGG subtypes

### Who will complete this?
@sjspielman

[2022-04-21 04:59] jharenza opened #1336 "Create Panel 5D - forest plot"
### What needs to be done?
From #1264, add forest plot panel for figure 5: quantiseq cell types + CD274 expression for medulloblastoma tumors

### Who will complete this?
@sjspielman

[2022-04-22 12:09] jharenza commented on #1319
I will work on this today

[2022-04-22 13:11] sjspielman commented on #1335
I'm not sure about including this panel, because the upper CI's are all `NA` and sometimes _both_ are `NA`. I was reading more about how the `survival` package does these calculations, it seems that it is just not possible to calculate an upper limit _when the events are <50%_ for the given group.

But, that's not the case here. Instead, we have the opposite case - nearly all samples have an event

[2022-04-22 13:20] sjspielman opened #1337 "Update GSVA analysis"
From [this comment](https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/1330#issuecomment-1103995168), we should update the GSVA analysis to consider `cancer_group` instead of `broad_histology` as the sample group variable. This requires both updating the module to update results, and update the code in `figures/scripts/fig5-panels-gsva-umap.R` that makes the associated manuscript figure.

[2022-04-22 13:41] jaclyn-taroni commented on #1300
Haven't heard back - closing this!

[2022-04-22 14:06] sjspielman commented on #1300
Bummer, but fair!

[2022-04-22 14:07] #1300 closed

[2022-04-22 14:09] jharenza commented on #1335
My idea was to include the plot, not any of the stats - this would be for visualization only, to go along with the forest plot discussion.

[2022-04-22 16:04] sjspielman commented on #1335
That's fine with me as long as we have a clear discussion, and caption information, contextualizing! One of the plotting issues is that we can't show CIs that are infinite, so we'll have to really contextualize those stats.

[2022-04-22 16:53] jharenza commented on #1335
Yes of course, definitely will be clear! We don't have to plot the CIs, typically i haven't seen them plotted unless there are two groups (Even then, not usually) because it's too much for a figure.

[2022-04-22 19:54] #1337 closed

[2022-04-22 20:35] #1336 closed

[2022-04-22 21:05] jharenza commented on #1327
completed in #1334

[2022-04-22 21:05] #1327 closed

[2022-04-22 21:06] jharenza commented on #1258
completed in #1264

[2022-04-22 21:06] #1258 closed

[2022-04-26 17:36] sjspielman opened #1349 "Remove deprecated survival analysis result files"
From [this comment](https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/1348#pullrequestreview-953762566), the `survival-analysis` module which has been heavily reworked recently seems to have a lot of now-deprecated result files in `results/`.

We should carefully comb through files to identify which result files should and should not exist. A quick approach here would be - once all survival

[2022-04-28 16:45] #1349 closed

[2022-04-28 18:35] #1335 closed

[2022-04-29 02:08] jharenza commented on #1323
completed with #1332 and #1346

[2022-04-29 02:08] #1323 closed

[2022-04-29 02:14] jharenza commented on #1139
I will close this since we have done this for all figures being generated

[2022-04-29 02:14] #1139 closed

[2022-04-29 13:31] migbro commented on #700
To perhaps close the one out, I think I can summarize as:
1. It’s an edge case
1. pipeline was updated to avoid this
1. Josh seemed to address this by removing duplicate lines
1. The overlapping MNPs found are probably real
1.  I think we’ve each overcome the overlapping region issue

[2022-04-29 19:28] jharenza commented on #1319
closed with #1341

[2022-04-29 19:28] #1319 closed

[2022-05-02 13:49] #1318 closed

[2022-05-02 17:25] #1249 closed

[2022-05-02 18:51] jharenza opened #1359 "Add new table S4 - survival results included in manuscript"
#### What data file(s) does this issue pertain to?
cox reg output files

#### What release are you using?

v21

#### Put a link to the relevant section of the [OpenPBTA-manuscript](https://github.com/AlexsLemonade/OpenPBTA-manuscript/) here.
Figures 4/5 results

#### Put your question or report your issue here.
I reference TP53 score cox regression results for specific cancer groups (EPN/DMG) whic

[2022-05-02 22:11] #700 closed

[2022-05-02 22:12] jharenza commented on #1321
just note figure 5 is merged with #1330, but S5 will need an update

[2022-05-03 13:34] sjspielman opened #1361 "Add dependency: `python-tk`"
The `tp53_nf1_score` module relies heavily on Python libraries for running the classifier. In addition, this module makes some plots using `matplotlib`.

It turns out this module can _only run_ if it's not being run in interactive mode, e.g. from the rocker IDE, because of a `matplotlib` dependency.. It runs perfectly fine directly from the command line with `docker run`, but not from within a ser

[2022-05-03 16:35] sjspielman commented on #1361
After testing this out, it seems that adding `python-tk` to the Docker image is not _sufficient_ for the solution. It seems to be necessary to install this ubuntu dependency to avoid import errors, but a new error now occurs:

`_tkinter.TclError: couldn't connect to display "unix:0"`

Therefore, even with this dependency installed, there are still errors that `matplotlib` triggers because of how g

[2022-05-04 18:15] jharenza commented on #1359
closed with #1360

[2022-05-04 18:15] #1359 closed

[2022-05-04 18:16] #1322 closed

[2022-05-04 18:16] jharenza commented on #1321
closed with #1363  and #1364

[2022-05-04 18:16] #1321 closed

[2022-05-05 13:36] sjspielman opened #1366 "key resources table"
According to the [Cell guidelines](https://www.cell.com/star-supplemental-information),

The key resources table should be renamed from `TableS5-Key-Resources-table.xlsx` to just `Key-Resources-table.xlsx`.

[2022-05-05 16:37] jharenza commented on #1366
@sjspielman we may have to reach out to the editors because this is in contrast to what I posted the other day that if we go over the KR table limit, then it becomes a supp table

[2022-05-05 16:43] jharenza commented on #1366
My read of what you have above is that the actual KR table which they provide the template for, and STAR Methods, are not part of the supplement, but per [this](https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/1360#issuecomment-1117732886), if we expand (>10 items within a heading of the table), then we need to make that an official supp table. If you have a different understanding, then I

[2022-05-05 16:51] sjspielman commented on #1366
Aha! Thanks. What a shame this information is not linked from the other set of information that says Key Resources isn't SI! We can probably ignore all of this then!

[2022-05-05 16:51] #1366 closed

[2022-05-05 17:46] #1361 closed

[2022-05-05 17:51] jharenza opened #1368 "Updates required post v22 histologies file release"
Per my comments on #1365, some LGG `cancer_group` updates were implemented, but never transferred to `pbta-histologies.tsv`. This resulted in separate `cancer_group` in plots for `Low-grade glioma astrocytoma` (LGGA) and ganglioglioma but not PXA, pilocytic, and SEGA because they remained within LGGA:

[code]

Therefore, sadly, we will need to update some modules and figures with the v22 histology

[2022-05-05 17:54] jharenza commented on #1366
💯

[2022-05-05 19:43] jaclyn-taroni opened #1369 "Create v22 CI files"
We need to create the CI testing files related to v22. I will get this started by making the required changes and testing locally. Because the CI data currently is stored in a D3B bucket, I will hand this off with instructions.

[2022-05-06 15:18] sjspielman opened #1370 "Add run script to GSVA module"
The GVSA module does not have a single run script to run the module. This is not consistent with other analysis modules, but since this module is in the paper, it should have a run script.

@sjspielman will do this

[2022-05-06 15:20] sjspielman opened #1371 "Add "skip denovo" option for mutational signatures"
The mutational signatures module cobbles together several distinct analyses, many of which are not part of the manuscript but take _significant_ of memory and time. To facilitate running the most relevant parts of the the mutational signatures module, we might consider adding an option to the script to skip _de novo_ fitting.

[2022-05-06 15:26] #1370 closed

[2022-05-06 18:58] sjspielman opened #1372 "Update LGG plots"
Certain plots that use LGG will need to be updated as we move towards #1368.

+ The oncoprint plots will need to be updated and recompiled
  + We may want to retitle the LGG panel for manuscript consistency.
  + There is some wonky text resulting from figure compilation that we missed.
+ UMAP in S6
+ Potentially GSVA and UMAP in Fig 5, if we want to retitle legends with "low grade glioma"

[2022-05-06 19:05] sjspielman opened #1373 "Update TP53 plot wording"
In https://github.com/AlexsLemonade/OpenPBTA-manuscript/issues/261 we decided to use terminology "lost" and "activated" (instead of "loss") for TP53 status.

Several figures need minor textual tweaks as a consequence:
+ C, E, F panels in Figure S6
+ Forest panel in Figure 4G

[2022-05-07 18:51] jharenza commented on #1372
Related to https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/1368

[2022-05-07 19:13] jharenza opened #1389 "Pre-V22 PR summary"
| PR                                                                                                                     | type                                                                | summary

[2022-05-09 14:43] sjspielman commented on #1282
Initial compilations have been completed. Closing in favor of tracking new changes in #1368 and #1372

[2022-05-09 14:43] #1282 closed

[2022-05-09 19:59] sjspielman opened #1390 "Ensure figures adhere to submission guidelines"
Before submission, we may need to resize some figure compilations to meet the following [guidelines](https://www.cell.com/figureguidelines), namely the 8.5x11" criterion. This is a simple matter of re-exporting from the Graphic app at the given relative size.

[2022-05-10 15:13] sjspielman opened #1391 "Establish notebook for interaction plots sample sizes"
From [this discussion](https://github.com/AlexsLemonade/OpenPBTA-manuscript/pull/262#discussion_r867084046), we need to add a small notebook to the `interaction-plots` module directly reporting relevant sample sizes we discuss in the manuscript.

[2022-05-10 15:13] sjspielman commented on #1391
@jharenza can you take this?

[2022-05-10 15:17] sjspielman opened #1392 "Establish notebook for overall project sample sizes"
From [here](https://github.com/AlexsLemonade/OpenPBTA-manuscript/pull/262#issue-1228190527), the manuscript has some numbers that appear disparate.

A single notebook should be established (potentially in `analyses/sample-distribution/`?) to directly calculate these numbers and ensure their accuracy for the manuscript.

@jharenza can you take this as well?

[2022-05-10 15:28] sjspielman opened #1393 "Update compiled Figure 3"
There is some funky compilation-induced text in Figure 3D as well as overly thick lines in 3E. The compilation requires minor tweaks.
Certain panels in Figure 3 may also need updating based on V22 changes, so this update should only occur after V22 is settled.

[2022-05-10 16:17] jharenza commented on #1391
Yes, will do!

[2022-05-10 18:07] sjspielman commented on #1392
Yeah, I think a lot of it could be language! A quick sentence or 2 spelling out the definitions will go a long way.

[2022-05-11 10:46] jaclyn-taroni opened #1399 "Create bash script for generating analysis files, separate out subtyping steps"
Related to a comment https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/1286#issuecomment-1121072097

We're going to need to rerun subtyping ahead of release v22 (#1389). I'm proposing that we write a bash script that runs all the required molecular subtyping steps. It would probably live in the root of `analyses` and get documented in `analyses/README.md`.

I can start this this morning.

[2022-05-11 12:55] sjspielman commented on #1371
Welp, looks like this is actually already there as an option `CNS_FIT_ONLY` and I had magically glossed over it!

[2022-05-11 12:55] #1371 closed

[2022-05-11 13:55] jaclyn-taroni commented on #1399
New plan! This exists: [`scripts/run-for-subtyping.sh`](https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/e257cf5649a362137cbb7bbe82f172bb36b5d988/scripts/run-for-subtyping.sh)

But we have subtyping modules that are inconsistent on their reliance on `data/` vs. `analyses/` files _and_ that script currently does two things:

1. Generates analysis or derived files to be included in a release

[2022-05-11 21:54] jaclyn-taroni commented on #1399
Okay I have put something together on this branch https://github.com/jaclyn-taroni/OpenPBTA-analysis/tree/jaclyn-taroni/scripting-subtyping

#### Summary of changes

- The subtyping modules now all use `data/` files: https://github.com/jaclyn-taroni/OpenPBTA-analysis/commit/cfaed472c4ff95f8571562343f9418469bfcd24a, https://github.com/jaclyn-taroni/OpenPBTA-analysis/commit/efb9d6610cb00ff125fdef924

[2022-05-12 12:44] sjspielman commented on #1399
So far I've only done local runs of `generate-figures.sh` which doesn't need anything special. To create S2 figures, I had to rerun the `snv-callers` module. We spun up a 128 GB instance for this, but `docker stats` never showed RAM getting about maybe 30-40 GB.

[2022-05-12 17:58] #1391 closed

[2022-05-12 18:40] sjspielman opened #1403 "Update HGG and LGG wording in figures"
From [this comment](https://github.com/AlexsLemonade/OpenPBTA-manuscript/issues/268#issuecomment-1125303759), the palette file should be updated and associated figures re-generated. This should be done alongside adding in the additional LGG groupings to relevant panels, which should naturally occur when the metadata and palette files are accordingly updated for v22.

Specifically,

+ `broad_histol

[2022-05-12 18:40] sjspielman commented on #1372
Closing in favor of #1403

[2022-05-12 18:40] #1372 closed

[2022-05-16 13:39] jaclyn-taroni opened #1406 "Update the shell scripts in `snv-callers` to have a consistent working directory"
@runjin326 is running the `generate-analysis-files-for-release.sh` script described here: https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/1399#issuecomment-1124329628

The script fails at the SNV callers step with the following error:

[code]

Which stems from this line: https://github.com/jaclyn-taroni/OpenPBTA-analysis/blob/f95853e50c92fa850a156f00cd914808e88cf098/scripts/generate-anal

[2022-05-17 00:07] jharenza opened #1407 "Updated analysis: tables/Key Resources"
#### What analysis module should be updated and why?
generate manuscript tables - add:
- RSEM: https://github.com/d3b-center/OpenPBTA-workflows/blob/master/cwl/kfdrc_RNAseq_workflow.cwl
- AnnotSV: https://github.com/d3b-center/OpenPBTA-workflows/pull/2
- FusionAnnotator: https://github.com/d3b-center/OpenPBTA-workflows/issues/3

#### What changes need to be made? Please provide enough detail for a

[2022-05-17 20:14] #1392 closed

[2022-05-19 13:34] sjspielman opened #1411 "Update figure S6 panel arrangement"
The compiled Figure S6 has UMAPs in the wrong order. It should be:
A- MB
B- EPN
C- LGG
D- HGG

[2022-05-19 14:58] sjspielman opened #1416 "Update LGG survival models"
Based on discussion in https://github.com/AlexsLemonade/OpenPBTA-manuscript/issues/268, and in particular [this comment](https://github.com/AlexsLemonade/OpenPBTA-manuscript/issues/268#issuecomment-1131751611), survival models that consider an LGG grouping need to be updated to include all LGG `broad_histology`, NOT just `cancer_group`.

[2022-05-19 15:00] sjspielman opened #1417 "Update Figure panel 4F"
After the survival analysis itself is updated in #1416, the associated forest plot (figure 4F) will need to be accordingly updated with the new model results.

[2022-05-19 21:04] jaclyn-taroni opened #1426 "Plan: Road to v22"
The purpose of this issue is to outline the order in which things need to be reviewed and run prior to the release of v22.

### 1. Reviews before release

Pull requests that are marked as `blocking release` and `review before release` should be reviewed & ideally merged in the following order. cc: @sjspielman

- [x] Refactoring the Docker image build and fixing the push to Dockerhub in CI: https:/

[2022-05-19 22:19] jharenza commented on #1426
@zhangb1 will work on #3 above when it's time

[2022-05-20 12:37] jaclyn-taroni commented on #1426
Wanted to note that we had some issue with `medulloPackage` not being installed on some Docker containers if the layer was cached (example linked over on https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/1425). When I went to try and look into that, it took almost 3 hours to build the image alone. That means that we would definitely have an issue with timeouts in CI and that could be a probl

[2022-05-20 16:03] sjspielman opened #1427 "Update docs/data-files-description.Rmd"
Currently in https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/doc/data-files-description.md, some analysis modules are not clearly spelled out analyses modules. For example, the `Origin` entry of [`CNV consensus calls`](https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/master/analyses/copy_number_consensus_call) would be clearer if it said [`copy_number_consensus_call`](https:/

[2022-05-20 16:28] sjspielman opened #1428 "Add hotspots detection to docs"
From this comment, https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/1421#discussion_r878317637, [this docs file](https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/doc/data-files-description.md) is missing the `hotspots-detection` module and associated data.

[2022-05-20 18:20] sjspielman opened #1429 "Update molecular-subtyping-HGG module README"
Currently, this module's [README](https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/master/analyses/molecular-subtyping-HGG) does not document the notebook `10-HGG-TP53-annotation.Rmd`. The README should be updated accordingly.

[2022-05-21 20:34] #1180 closed

[2022-05-21 22:11] jaclyn-taroni commented on #1426
The changes related to the analysis files generation and subtyping can go in independently. Since some of the PRs ensuring that subtyping modules are already approved & ready to merged, I'm going to start merging them.

[2022-05-22 13:01] jaclyn-taroni commented on #1389
I think this can be closed now.

[2022-05-22 13:01] #1389 closed

[2022-05-22 17:51] jaclyn-taroni commented on #1426
Updated the initial comment, but to summarize what comes next:

1. #1425 should be reviewed and go in to fix the deploy step in CI
2. #1420 needs to be re-reviewed, approved, and merged
3. #1421 needs to be merged (currently approved & comments addressed!)
4. We should probably rerun things with the code changes (#1412) tbh
5. #1414 needs to be re-reviewed, approved, and merged
6. #1422 needs to b

[2022-05-24 01:22] #1406 closed

[2022-05-24 20:41] sjspielman commented on #1416
From [this comment](https://github.com/AlexsLemonade/OpenPBTA-manuscript/issues/268#issuecomment-1131751611), SEGA _should_ be included, so we do not have to wait for the v22 release for this.

[2022-05-25 17:26] #1399 closed

[2022-05-25 19:48] sjspielman opened #1431 "Update data documentation"
From [this comment](https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/1423#pullrequestreview-980277914)

The `analyses/README.md` should be updated to include a column for whether the module produces results that end up in data releases.

[2022-05-26 19:30] jharenza opened #1438 "Updated analysis: molecular subtyping EPN"
#### What analysis module should be updated and why?
This should require a YAP1 fusion for the call to be EPN, YAP1 and RELA fusions for a call to be EPN, RELA. Currently, it also considers other molecular markers and can call a tumor YAP1 positive without the YAP1 fusion.

#### What changes need to be made? Please provide enough detail for another participant to make the update.
See above and thi

[2022-06-01 18:14] jharenza commented on #1426
Ok, this is coming from
https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/e72c11dbebed2377072df43150fd15f2ffa0262a/analyses/create-subset-files/01-get_biospecimen_identifiers.R#L99-L102

since

[code]
 have different column names. I will update that code now.

[2022-06-01 19:01] jharenza commented on #1426
After updating the code to add the additional CNV file, I ran using
[code]

but gets killed:
[code]

If I try to just copy and not subset, I also get an error about directory creation, which @migbro also mentioned he didn't have in his run.
[code]

[2:55](https://d3b.slack.com/archives/C03HD9NQV9V/p1654109731300099)
but also if i try to not to subset, just to copy, it tells me dir not found
root@3

[2022-06-02 13:43] migbro commented on #1426
I think I am ready to push, however, I don't have that kind of access to this project. Can I be granted such access please? Thanks!

[2022-06-07 16:56] #1207 closed

[2022-06-12 20:36] #1426 closed

[2022-06-12 20:36] #1369 closed

[2022-06-14 18:26] jharenza commented on #1438
closed with #1437

[2022-06-14 18:26] #1438 closed

[2022-06-17 17:54] jharenza commented on #1429
Closed with #1414

[2022-06-17 17:54] #1429 closed

[2022-06-21 19:29] sjspielman opened #1455 "Updated approach to running analyses and figures"
This approach emerged from discussion with @jaclyn-taroni and @jashapiro about a strategy to ensure analysis modules and figures are up-to-date and in sync, especially if/when there is a future data release.

Currently, we have *three scripts* that run aspects of PBTA:
+ `scripts/generate-analysis-files-for-release.sh`. This script runs analysis modules that need to be run to _enable_ subtyping.
+

[2022-06-22 13:39] sjspielman commented on #1455
I marked `focal-cn-file-preparation` as redundant because, even though the histology file is read in, the only columns used are `"Kids_First_Biospecimen_ID"`  and `"short_histology"`:
https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/6071c5fe89afeb656ade29051a9ceeb17a0effb7/analyses/focal-cn-file-preparation/06-find-recurrent-calls.Rmd#L87-L97

It's certainly not used in figures! It looks li

[2022-06-22 13:44] sjspielman commented on #1455
Ah! Got it.

[2022-06-22 17:40] jashapiro opened #1459 "Table 1 double counts histologies"
The code linked below is used to derive Table 1 in the manuscript, but this code double counts samples where there are WGS and RNA-seq biospecimens.

https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/6071c5fe89afeb656ade29051a9ceeb17a0effb7/tables/output_tables.Rmd#L78-L86

I believe adding a `distinct(broad_histology, molecular_subtype, sample_id)` line to the above before counting should a

[2022-06-22 19:55] #1416 closed

[2022-06-23 19:06] jharenza opened #1467 "Update CAVATICA project with V22 release data"
#### What data file(s) does this issue pertain to?
all

#### What release are you using?

v22

#### Put a link to the relevant section of the [OpenPBTA-manuscript](https://github.com/AlexsLemonade/OpenPBTA-manuscript/) here.
NA

#### Put your question or report your issue here.

Please add V22 release to https://cavatica.sbgenomics.com/u/cavatica/openpbta/files/#q  @zhangb1

[2022-06-23 19:18] zhangb1 commented on #1467
Okay , v22 release is in the project : https://cavatica.sbgenomics.com/u/cavatica/openpbta/files/#q?path=release-v22-20220505

I also updated the volume, using the d3b bucket in the release files.

[2022-06-23 19:30] jharenza commented on #1467
thanks so much!

[2022-06-23 19:30] #1467 closed

[2022-06-28 17:54] sjspielman commented on #1261
Closed with #1454

[2022-06-28 17:54] #1261 closed

[2022-06-29 13:40] sjspielman opened #1474 "Discussion: Cancer groups in V22 figures"
Tagging @jharenza @jashapiro @jaclyn-taroni for discussion.

With V22, we now have different numbers of samples across certain cancer groups. The purpose of this issue is to discuss a unified strategy for ensuring that figures are roughly consistent with which cancer groups they display, which may benefit from some hard-coding (see here: https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/1453

[2022-06-29 13:50] jashapiro commented on #1474
If we leave off `Other`, which seems reasonable enough for at least some cases, then N=12, which can be plotted reasonably. In previous plots for mutation sigs we had not included other.

[2022-06-29 19:31] jharenza commented on #1474
Agree with leaving out "Other" from non-interaction plots, but for:

We will want to modify the groups to at least include the ones discussed in the manuscript (NF and schwannoma are not included above but had the most striking immune deconv to go along with biological discussion of results)

[2022-06-30 00:52] #1431 closed

[2022-06-30 00:52] #1427 closed

[2022-06-30 00:52] #1428 closed

[2022-06-30 15:53] sjspielman commented on #1474
@jharenza I'm filing the `immune-deconv` re-run now, so we can figure this out precisely in #1458 next on deck!

[2022-07-01 23:59] jharenza opened #1481 "Updated analysis: Update Table 2 - hypermutators"
#### What analysis module should be updated and why?
`tables` for manuscript

#### What changes need to be made? Please provide enough detail for another participant to make the update.
For Table 2, `BS_F0GNWEJJ` should be added.

#### What input data should be used? Which data were used in the version being updated?
histology, clinical databases

#### When do you expect the revised analysis will

[2022-07-05 17:07] sjspielman opened #1482 "Re-compile Figure 1"
With the merge of #1456, Figure 1 needs to be re-compiled to use the updated panel.

[2022-07-05 17:10] sjspielman opened #1483 "OpenPBTA Figure re-runs"
With updates from V22, OpenPBTA figure panels need to be re-generated, and those panels need to be re-compiled into overall figures. This Epic tracks those tasks.

[2022-07-05 17:14] sjspielman opened #1484 "Update Figure 2: oncoprint plots"
Figure 2 panels need to be updated by re-running, and updating as potentially needed for V22 cancer group and palette changes, this script: [`fig2-oncoprint-landscape.R`](https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/figures/scripts/fig2-oncoprint-landscape.R).

[2022-07-05 17:15] sjspielman opened #1485 "Re-compile Figure 2"
Once oncoprint panels are remade in #1484, we will need to re-compile panels to create the final Figure 2.

[2022-07-05 17:18] sjspielman opened #1486 "Copy interaction plots to figures/pdfs/"
Interaction plots were updated in #1453 to accommodate the V22 data and updated palette. However, relevant manuscript panel still need to be copied over into `figures/pdfs/`. Specifically,  `interaction-plots/plots/combined_top50.pdf` should be copied to `pdfs/fig3/panels/mutation_cooccurrence_figure.pdf`.

[2022-07-05 17:22] sjspielman opened #1487 "Re-generate OpenPBTA manuscript display items"
This Epic is associated with issues that re-generate and/or re-compile manuscript tables and figures for OpenPBTA. This is necessary with V22 data and palette updates.

[2022-07-05 17:32] sjspielman opened #1488 "Re-compile Figure 3"
Figure 3 will need to be recompiled.

Note from #1393:

[2022-07-05 17:33] sjspielman opened #1489 "Re-compile Figure 4"
Figure 4 panels will need to be recompiled.

[2022-07-05 17:33] sjspielman opened #1490 "Re-compile Figure 5"
We'll need to re-compile updated panels into an overall Figure 5.

[2022-07-05 17:36] sjspielman opened #1491 "Re-generate Figure 5 GSEA and UMAP panels"
With the new cancer groups and palette in V22, this script needs to be re-run and updated as needed:
[`fig5-panels-gsva-umap.R`](https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/figures/scripts/fig5-panels-gsva-umap.R).

[2022-07-05 17:38] sjspielman opened #1492 "Re-generate S5 panels"
With the new cancer groups and palette in V22, this script needs to be re-run and updated as needed:
[`supp-S5-panels.R`](https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/figures/scripts/supp-S5-panels.R). This script will generate all Figure S5 panels.

[2022-07-05 17:40] sjspielman opened #1493 "Re-compile Figure S5"
After panels are updated in #1492, we'll need to re-compile the panels into an overall Figure S5.

[2022-07-05 17:43] sjspielman opened #1494 "Re-generate snv-callers panels for Figure S2"
This script will need to be re-run and updated for V22: [`supp-snv-callers-panels.R`](https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/figures/scripts/supp-snv-callers-panels.R)

Note that this needs to be done on AWS.

[2022-07-05 17:44] sjspielman opened #1495 "Update tmb compare panels for Figure S2"
This script will need to be re-run and updated for V22: [`supp-tmb-compare-panels.R`](https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/figures/scripts/supp-tmb-compare-panels.R.R).

[2022-07-05 17:46] sjspielman opened #1496 "Re-generate supplemental UMAP figures"
UMAP figure panels for Figure S6 need to be updated for V22 by re-running and updating, as needed, this script:  (https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/figures/scripts/supp-subtype-umap.R)

[2022-07-05 17:49] sjspielman commented on #1393
Closing in favor of #1488.

[2022-07-05 17:49] #1393 closed

[2022-07-05 17:52] jharenza commented on #1496
@sjspielman do you want me to take this since you assigned yourself the TMB callers plots?

[2022-07-05 17:53] sjspielman opened #1497 "Re-compile Figure S2"
S2 panels will need to be re-compiled into an overall figure.

[2022-07-05 17:54] sjspielman opened #1498 "Re-compile Figure S3"
S3 panels will need to be re-compiled into an overall figure.

[2022-07-05 17:55] sjspielman opened #1499 "Re-compile Figure S4"
S4 panels will need to be re-compiled into an overall figure.

[2022-07-05 17:55] sjspielman opened #1500 "Re-compile Figure S6"
S6 panels will need to be re-compiled into an overall figure.

[2022-07-05 17:56] sjspielman commented on #1455
I am closing this issue in favor of smaller issues for the *items that are still unchecked.*

[2022-07-05 17:56] #1455 closed

[2022-07-05 17:57] sjspielman opened #1501 "Re-run oncoprint-landscape module with V22"
Given V22 cancer group and palette changes, the `oncoprint-landscape` module needs to be re-run and updated as needed.

[2022-07-05 17:58] sjspielman commented on #1501
Noting this has been opened in #1478.