[2019-07-11 12:55] cgreene opened #2 "Data Download Script"
We should put together a script to download the data into a defined folder. We should require folks to not modify that folder. We should include dummy germline data in the download if we are not able to distribute it without restrictions so that at least the CI works.

[2019-07-11 12:55] cgreene commented on #2
We might also want a script that downloads small subsets of the data (or even dummy data with identical structure) so that we can test quickly via CI.

[2019-07-11 12:56] cgreene opened #3 "Planned Analysis: Tumor Mutation Burden"
We have planned to include an analysis of tumor mutation burden as well as a comparison to the tumor mutation burden of adult tumors in TCGA. This issue is for fleshing out the analysis. The manuscript issue for the methods description is: https://github.com/AlexsLemonade/OpenPBTA-manuscript/issues/7

[2019-07-11 12:58] cgreene opened #4 "Planned Analysis: MultiPLIER LVs + Survival & Variant Analysis"
We plan to produce a MultiPLIER LV matrix. We then plan to use that analysis to identify LVs associated with survival as well as those associated with samples that contain alterations in selected genes. This issue is for more fully fleshing out the analysis.

[2019-07-11 17:14] cgreene opened #5 "Planned Analysis: Figure showing the distribution of samples by cancer type"

[2019-07-12 12:58] PichaiRaman commented on #5
This could include a graphic of a brain to show the origin / location of the different brain tumor types.

[2019-07-12 13:05] PichaiRaman opened #6 "Planned Analysis: Oncoprint showing landscape of genetic lesions across PBTA."
This figure typically focuses on a set of high frequency and cancer associated lesions (mutations / CNV) and will typically have corresponding phenotypic data so as to visualize associations. See Figure 1 (https://www.biorxiv.org/content/10.1101/656587v1.full) for an example.

[2019-07-12 13:19] PichaiRaman opened #7 "Planned Analysis: Single-Sample Enrichment Analysis and visualization of pathway scores"
The idea here is calculate pathway scores on each of the samples and summarize via a visualization to demonstrate associations of different pathways with phenotypic or genetic elements. This visualization be in the form of a clustered heatmap and should include some sort of statistical analysis when identifying "strong" associations.

[2019-07-12 13:26] jharenza commented on #7
As a comment on this, it may be noisy using ssGSEA (we just had the issue with the PPTC paper), so instead, you can use molecular subytpes for this analysis.

[2019-07-12 14:36] PichaiRaman opened #8 "Planned Analysis: Copy number plot showing recurrently amplified/deleted regions in different PBTA cancers"
The idea would be to visualize trends of deletions / amplifications in each of the cancer types (where relevant). Pointing out highly amplified/deleted regions with oncogenes/tumor suppressors may be interesting.

[2019-07-12 14:43] PichaiRaman opened #9 "Planned Analysis: Unsupervised analysis of transcriptomic differences between different cancer types"
The idea is to demonstrate that samples in the PBTA cluster by cancer type / molecular subtype using a dimensionality reduction technique such as PCA/T-SNE/or UMAP. Please see figure 2 (https://journals.plos.org/plosgenetics/article?id=10.1371/journal.pgen.1006599) as an example of using this to look at GTEx and differentiate different tissue types.

[2019-07-12 14:47] PichaiRaman opened #10 "Planned Analysis: Analysis of recurrent fusions"
This should probably be partitioned by cancer type and/or molecular subtype. This could be a **stacked** bar chart (one bar per fusion) for instance with colors representing different cancer types.

[2019-07-12 14:58] PichaiRaman opened #11 "Planned Analysis: Cosmic Mutational Signatures"
Characterize PBTA with COSMIC Mutational Signatures and correlate back to cancer type, genetic lesions, and pathway activity. Visualization of this would be important as well.

[2019-07-12 15:01] PichaiRaman opened #12 "Planned Analysis: Identification of recurrent germline frequencies"
Correlating back to cancer type or other annotation fields would be important. Visualization as a bar or pie-chart to show % of samples with some germline mutations.

[2019-07-12 15:04] PichaiRaman opened #13 "Planned Analysis: Co-Occurence / Mutual Exclusivity"
Determining genetic lesions (Mutation, CNV, Fusion) and/or pathways which co-occur or are mutually exclusive across the PBTA. This could help associate lesions with pathways or define potential synthetic lethality relationship.

[2019-07-12 15:06] PichaiRaman opened #14 "Planned Analysis: Isoform analysis / patterns"
Determine differential isoforms across PBTA or within specific PBTA cancers and correlate back to genomic or phenotypic characteristics.

[2019-07-12 15:13] jharenza commented on #11
Though in pediatric cancers, these should not be as prevalent, could also consider environmental signatures as reported [here](https://www.cell.com/cell/pdf/S0092-8674(19)30263-6.pdf).

[2019-07-12 15:13] PichaiRaman opened #15 "Planned Analysis: Immune/Stroma characterization across PBTA"
Determine immune/stromal composition using software such as xCell and correlate back to genetic and phenotypic characteristics.

[2019-07-12 15:15] PichaiRaman opened #16 "Planned Analysis: Primary vs Relapse"
Compare primary samples to relapse samples to determine genomic and transcriptomic differences and identify trends. See (https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5172533/).

[2019-07-12 15:22] PichaiRaman opened #17 "Planned Analysis: Druggable & Actionable targets"
Summary of druggable/actionable genes via mutation, over-expression, fusion, synthetic lethality and actionable features i.e. TMB, mutational signatures, PD-L1 expression, etc..across the PBTA. Analysis of what's currently used and what may be some potential opportunities.

[2019-07-12 15:26] PichaiRaman opened #18 "Planned Analysis: Survival Analysis across PBTA"
Comparison of genomic/transcriptomic features and derivates such as TMB, pathway activity, etc... to survival. Determine markers that could add prognostic values to different PBTA cancer types. KM Plots for significant and interesting features.

[2019-07-12 16:16] jharenza opened #19 "Planned Analysis: Molecularly subtype all tumors"
Without methylation data, the goal of this analysis is to best molecularly subtype all brain tumors based on defining features.
- [x] Medulloblastomas (MBs) into SHH, WNT, Group 3, and Group 4 - @PichaiRaman has created a classifier [here](https://github.com/PichaiRaman/MedulloClassifier) and classified the samples with RNA-Seq.
- [ ] ATRTs into SHH, MYC, TYR. See: [1-s2.0-S1535610816300356-main.p

[2019-07-12 16:17] jharenza commented on #9
Also consider Figure 3 in [this paper](https://www.ncbi.nlm.nih.gov/pubmed/30349086).

[2019-07-12 18:15] jharenza opened #20 "Process for CAVATICA access/analysis"
We should flush out this process - giving people access to CAVATICA to analyze data, ability to use virtual notebooks to do analyses, then submission of their code/figures/notebooks to github.

[2019-07-14 13:01] cgreene commented on #9
![Screen Shot 2019-07-14 at 9 00 15 AM](https://user-images.githubusercontent.com/542643/61183946-d20b7100-a615-11e9-9212-e8f8cfc04600.png)

This is Figure 3 of the paper referenced by @jharenza.

I revised to remove the specific approach to figure generation so that we can have a discussion with folks who are interested in tackling this about what the preferred strategy is.

[2019-07-14 14:13] jharenza commented on #19
I prefer to use [this](https://docs.google.com/spreadsheets/d/1Sa0hNX1lje40HdBpWiLUBY6-53UzvQczFLYb3uIm2jw/edit?usp=sharing) as a working list of tumor histologies which we can molecularly subtype. I have gone through and broadly classified each histology based on the WHO 2016 classifications and also classified "Other" tumors based on internal CBTTC data.

[2019-07-14 14:25] jharenza opened #27 "Planned Analysis: Integrated CNV and SV analyses and chromothripsis"
We have generated CNV output from [ControlFreeC](http://boevalab.com/FREEC/) and [CNVKit](https://cnvkit.readthedocs.io/en/stable/), but are seeking individuals to determine consensus focal calls and/or identify additional algorithms we can run to instill high confidence in focal CNV calls from the WGS dataset.

[2019-07-14 14:43] cgreene commented on #27
After https://github.com/AlexsLemonade/OpenPBTA-manuscript/pull/15 is approved and merged, can you write up the CNV methods and file a PR into that subsection so that we can link folks to the current version of the processing code?

It may change in the future, but then we'll have an accurate manuscript-ready description of what was done.

[2019-07-14 22:21] jharenza opened #28 "Planned Analysis: Somatic Structural Variant and Chromothripsis Analysis"
The goal of this analysis is to identify recurring, putative oncogenic SV lesions/genes with recurrent lesions within and/or across brain tumor subtypes. Coupled to this, investigation of chromothripsis and correlations with survival should be done. See [this paper ](https://www.biorxiv.org/content/10.1101/333617v1)for chromothripsis analysis using WGS.

[2019-07-14 22:31] jharenza opened #29 "Noncoding Genome Analysis"
Should we attempt this for the paper or tackle that in OpenPBTA2? 😄

[2019-07-16 11:54] alexfelmeister commented on #18
I maybe able to help out here. I've done this with CBTTC data for demonstration purposes as well as done the back and forth about how to get this from that data structure.

[2019-07-23 15:11] gonzolgarcia commented on #28
Another example studying structural variants and chromothripsis in [our recent paper](https://www.biorxiv.org/content/10.1101/572248v2)
Note: in order to study chromothripsis both CNV calls and Str. variant calls are required

[2019-07-24 13:03] jharenza commented on #27
This [machine learning publication](https://genome.cshlp.org/content/29/7/1134.abstract?sid=24e125af-ad75-449a-a342-9d5c2b8dcdd8) may help us with CN true positives:

[2019-07-24 13:04] jharenza commented on #27
Yes - will work on getting this filled in by the harmonization team.

[2019-07-24 18:22] cgreene commented on #20
Short summary:
* We will create a CAVATICA user that has access to the PBTA data.
* We will generate an API key.
* We will use that API key in our download scripts to obtain the PBTA data files.

[2019-07-24 20:05] kgaonkar6 commented on #28
R package used for Chromothripsis analysis https://github.com/parklab/ShatterSeek; used in  [Comprehensive analysis of chromothripsis in 2,658 human cancers using whole-genome sequencing] <https://www.biorxiv.org/content/10.1101/333617v1>

[2019-07-24 20:09] kgaonkar6 commented on #29
Annovar does annotate some noncoding calls with known COSMIC noncoding variants and reg_snp https://github.com/linhai86/regsnp_intron annotations

[2019-07-24 20:31] gonzolgarcia commented on #28
I have been using this package lately and it is not straight forward. In their manuscript they recognize that eventually it requires visual inspection... Another method implemented as a perl module: https://metacpan.org/release/SGOVIND/Shatterproof-0.13

[2019-07-25 15:22] kgaonkar6 commented on #28
Ah ok good to know, I've not used the package yet just found it while reading up on SVs.

[2019-07-25 18:55] linneacripe commented on #19
Medulloblastoma- need five subtypes, SHH p53 mutated and SHH p53 wild type

[2019-07-25 18:58] cansav09 commented on #13
Would we be looking as an end goal to make some figure like this where we would likely have disease type on the bottom? ![10 1038_ng1975-f2_large_2](https://user-images.githubusercontent.com/23458084/61900827-67e3ad80-aeec-11e9-82ea-a959d85b4761.jpg) (from Rotika et al, 2019).

[2019-07-25 19:03] cansav09 commented on #13
Would we be looking to have something like this figure for this analysis, but with the disease type along the bottom? ![Screen Shot 2019-07-25 at 3 01 05 PM](https://user-images.githubusercontent.com/23458084/61901156-23a4dd00-aeed-11e9-9d69-d17c405bf5fb.png) This is from Rotika et al, 2019 doi: http://dx.doi.org/10.1101/566455.

[2019-07-25 19:03] cansav09 commented on #13
And after #19 is done, the molecular subtypes could also be added.

[2019-07-25 19:12] cansav09 commented on #13
One of my initial questions is how we'd like to combine results that measure similar things.

For example, we have two fusions results. Do we want only take the common fusions from both files?
[code]
And if I understand correctly, these all have results that overlap:
[code]
Note that I'm still digging into all these files and determining what's here, so after I do some initial analyses I may come

[2019-07-25 19:17] jharenza commented on #13
We actually have created a high-confidence set of calls by integrating the two fusion callers - will add that progress to #10 soon! The same should be done with the SNVs and SVs (Lumpy SV data yet to come).

[2019-07-25 19:18] cansav09 commented on #13
Okay. So I should hold off on doing this until those integrated results come back?

[2019-07-25 19:18] jharenza commented on #10
Krutika and I would like to work on this analysis. We have already created a workflow for annotating and identifying high-confidence fusions from the two fusion algorithms.

[2019-07-25 19:31] jharenza commented on #13
I think you can integrate the SNV results and do the mutual exclusivity/co-occurrance analysis on SNVs more immediately!

[2019-07-25 19:35] cansav09 commented on #13
Okay. How should I integrate those? Sounds like you guys have already done some work on this?

[2019-07-25 19:41] cansav09 commented on #3
This may be a simplistic question, but in our case `TMB = Median(# coding indels + # coding base substitutions) / Megabase`?  Second question is, I am presuming we need to do some kind of analysis that looks at differences between synonymous and nonsynonymous mutations? This perhaps may needs to be related to age of diagnosis?

[2019-07-25 23:15] jharenza commented on #13
This figure is related to #6. For this issue, we would look for something similar to
[example-plot.pdf](https://github.com/AlexsLemonade/OpenPBTA-analysis/files/3433544/example-plot.pdf) (created with maftools for another solid tumor dataset I had) for specific histologies or another mode of visualizing/tabling statistical testing for these mutation relationships. First, discover those relationshi

[2019-07-25 23:19] jharenza commented on #13
We do not yet have this automated, so you can come up with the total merge of mutations per sample based on the two mutation algorithms, Mutect2 and Strelka2 and then start with those. It may also be a good idea to investigate mutations present in only one algorithm for potential artifacts (some will be real), but this may be constitute another issue and may cause these issues dependency on that -

[2019-07-26 19:11] cbethell commented on #5
To address the first part of this, would a bar plot with the cancer type on the x axis and the frequency on the y axis be well suited for this purpose? Possibly, a more complex version of this:
![MSI-Fig1-860x685](https://user-images.githubusercontent.com/43576623/61975254-a0e85480-afb6-11e9-8e41-361efd0755d7.jpg)

or part A of this:
![1-s2 0-S2211124718304376-gr1](https://user-images.githubuserco

[2019-07-29 12:04] cansav09 commented on #13
Sounds like I should do some initial analyses to see how much overlap there is between Mutext2 and Strelka2 and then I'll report back and we can try to make some further decisions.
I will hold off for now on combining the fusions results since it sounds like [you are working on this](https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/10#issuecomment-515178814.

[2019-07-29 12:32] cgreene commented on #13
Maybe it'd be good to add a new issue for:

This may be helpful to keep discussion within the issue focused on a single topic.

[2019-07-29 12:35] jharenza opened #30 "Evaluate concordance between Mutect2 and Strelka2 and decide on next steps"
Evaluate concordance and determine overall set of high-confidence somatic variants for PBTA.

[2019-07-29 12:37] jharenza commented on #13
created #30

[2019-07-29 13:24] gonzolgarcia commented on #28
I will be running some of the analyses implemented in our [recent paper](https://www.biorxiv.org/content/10.1101/572248v3); including analyses of recurrent SVs and CNVs but also chromothripsis.

[2019-07-29 18:28] cgreene commented on #20
Current instructions from @yuankunzhu
[code]

About to convert this into a download script.

[2019-07-29 18:34] cgreene opened #31 "Method to check correctness of download file"
Working on #2 - @yuankunzhu - do you have a checksum for these files that we're downloading that can be downloaded at the same time? I'd like to make sure that when folks download they are getting the expected contents.

[2019-07-29 18:45] cgreene commented on #2
Some features we should really have:
- [ ] Uses checksum to evaluate validity of downloaded data (probably best to download the file and then a .md5 or similar file & compare)
- [ ] Downloads a compressed file that includes the snapshot of the data
- [ ] The compressed file includes a README file that has a version number and description of each of the data files / formats
- [ ] The compressed fil

[2019-07-29 18:45] jharenza commented on #20
As an FYI for anyone downloading this data, we will be updating the download dataset to include some additional CNV/SV analyses by the end of next week.

[2019-07-29 18:49] cgreene commented on #20
@jharenza - what do you think about closing this issue now that we have determined a process and taking a look at #2 and adding additional requirements (if any) in there? Also, are you and @yuankunzhu going to take a stab at putting the download code together?

[2019-07-29 18:50] jharenza commented on #20
sure - I think @yuankunzhu will work on this during this sprint!

[2019-07-29 18:50] #20 closed

[2019-07-29 19:13] cgreene commented on #3
@PichaiRaman : I think this came from you - how were you planning to do this analysis?

[2019-07-29 19:18] cgreene commented on #5
@cbethell I think that the bar cart from the first paper would be aligned with what I was thinking here! I'm pretty sure the vision would be to use Column O in https://docs.google.com/spreadsheets/d/1Sa0hNX1lje40HdBpWiLUBY6-53UzvQczFLYb3uIm2jw/edit#gid=1663834900 .

[2019-07-29 19:53] cbethell commented on #5
@cgreene  Great! Thank you for the clarification.

[2019-07-30 11:06] jharenza opened #32 "Data analysis/format questions for downstream analysts"
CNV
1. We have ControlFreeC and CNVkit. CNVkit output is VCF – do users want raw output for these or should we convert ControlFreeC output to VCF, then annotate all with AnnotSV (which is what we are using for SV annotation) and then provide annotated tab files?

SV
2. Do we want Novobreak as a 3rd algorithm? Have Manta and and will have Lumpy.

Annotated/Merge Files
3. We ran Strelka2 and Mutect2

[2019-07-30 12:15] jharenza commented on #5
@cbethell agree with @cgreene on the barplot and Column O!

[2019-07-30 12:22] jharenza commented on #3
@cansav09 I think we are looking for something like this - Figure 1 from the [Grobner, 2018](https://www.ncbi.nlm.nih.gov/pubmed/29489754) landscape, but for brain tumors:
<img width="928" alt="grobner-figure1" src="https://user-images.githubusercontent.com/207034/62128604-c28d5880-b2a2-11e9-97f3-a59e0580129d.png">

For reference, here is the second pan-pediatric cancer landscape from 2018:
[Ma, 2

[2019-07-30 12:52] cgreene commented on #32
I am just heading out of town so this is really short and not a comprehensive set of answers, and instead some guiding principles:

* Standard file formats are preferred for the initial distribution. This way tooling, to the extent possible, will already work with it. My inclination for your first question (as an example) would be to have both in VCF if that's what's most widely used.
* If we want

[2019-07-30 12:54] cgreene opened #33 "Script to generate a subset of the data"
It would be really handy if there was a script that could be run over the input data files to produce files containing data for only a small, specified number of matched participants. I'm imagining that we would use this to produce data files with information for 10 or so participants. We would then use this code via CircleCI to test the analytical code that people contribute without having to run

[2019-07-30 13:49] jharenza commented on #33
@yuankunzhu ^

[2019-07-30 15:31] gonzolgarcia commented on #27
**Integrated CNV and SV analyses and chromothripsis.**

The proposed analyses broadly addresses the prevalence and functional impact of structural variation across brain tumors. It is important to note that copy number variations are essentially a subset of structural variants and as such,  both CNV and SV calls are highly overlapping and complementary and should be studied together. I am effectiv

[2019-07-30 15:48] jharenza commented on #28
merge with and rename #27

[2019-07-30 15:48] #28 closed

[2019-07-30 15:49] jharenza commented on #27
merged #27 and #28 here per @gonzolgarcia's request

[2019-07-30 16:16] samesense commented on #32
5. For merged files, use gvcf or something similar that provides depth of coverage for non-variants.
6. Less data duplication and updates if you provide notebooks that point to same cloud datasource.
7. Merge at start.
8. Include tumor-only to use as additional evidence when making arguments about somatics.
* As you update data, I'd git-lfs for data version control.

[2019-07-30 21:22] cansav09 commented on #30
I've gotten the data fairly well wrangled and loaded. What kinds of stats should I focus on evaluating the similarities/differences between these two? What kind of comparison plots would you like to see?

[2019-07-31 13:44] cansav09 commented on #30
Here's what I'm thinking for *first line* analyses:

- Venn diagrams of individual mutations detected by Mutect2 vs Strelka2
- Correlation of total # mutations called for each sample
- Correlation of total # mutations called for each gene

We can then do these analyses and subset these by the type of mutation. Does this sound reasonable as a first pass?

[2019-07-31 15:02] cgreene commented on #30
I like those ideas!

On Wed, Jul 31, 2019, 6:44 AM Candace Savonen <notifications@github.com>
wrote:

[2019-07-31 19:47] cgreene commented on #32
From our experience, git-lfs has significant limitations around file size and transfer that make it unsuitable for a project like this.

I do think that the place it's being distributed from should provide a zip file that unzips with versioned file names, a readme with a version and changelog, file checksums & automated checking in the download script, and ideally symlinks (if we can assume that f

[2019-07-31 20:22] cbethell commented on #5
The graph below is a rough draft of my interpretation of the first figure suggested by @cgreene.

![image](https://user-images.githubusercontent.com/43576623/62245249-2d2bba80-b3af-11e9-8cab-53b10b99aa6b.png)

As is, the bars are colored by `count`, but this can later be changed to reflect `molecular_subtype`. The y-axis also represents the raw sample count, which can be changed to percentage if p

[2019-08-01 22:28] cgreene commented on #5
This is really helpful to me. It's nice to understand the characteristics of the data. @jharenza: does this align with what you were expecting the distributions to look like in the dataset?

[2019-08-02 00:17] jharenza commented on #32
@yuankunzhu ^

[2019-08-02 00:25] jharenza commented on #5
This looks right and the coloring in this case would be fine being all black or later colored by subtypes, but may make the legend complex. You can also see https://pedcbioportal.kidsfirstdrc.org/study/summary?id=pbta_cbttc as a guide for this dataset. I was also thinking a multi-venn could be useful here with inner rings being the broad histology, outer being these unique histologies, and next ci

[2019-08-02 12:58] samesense commented on #32
Good point. I've been working with a custom git-lfs server that talks directly to google cloud storage, and didn't realize the limitations of other implementations.

[2019-08-02 15:17] cgreene commented on #2
@jharenza @yuankunzhu - if this is in progress could you open up a work in progress pull request here so we can see how things are going? This way we can check things out and maybe make suggestions before things get too far along if the issue is under-specified. Thanks!

[2019-08-02 15:18] jharenza commented on #5
@cbethell I pushed the code here: https://github.com/marislab/create-pptc-pdx-pie - let me know if you have any issues!

[2019-08-02 15:42] cbethell commented on #5
@jharenza Thank you! I'll take a look at it now.

[2019-08-02 16:30] yuankunzhu commented on #2
We are fundamentally updating the downloading process/script as we got push back from the CAVATICA security for the shared downloader API token. We are most likely will do a public s3 bucket route at this moment, which eventually will be a wget/curl command line instead a script.

I will do the PR for that part under **How to Obtain OpenPBTA Data** once we have the bucket/data ready.

In addition

[2019-08-02 16:36] cgreene commented on #2
Ok! I think the public s3 bucket is an appropriate way to go.

If we have each data file separately, I think it will be important to have a solution that lets us have folks point their analysis code at a specific location with the expectation that the location will hold the latest version of the data files in question. If the md5sum file in the bucket always has the most recent version, we can wri

[2019-08-05 13:01] jaclyn-taroni commented on #4
I will get started on the MultiPLIER LV matrix this week in [this Docker container](https://github.com/greenelab/multi-plier#dependencies) to start. First steps include filtering to remove low variance LVs.

[2019-08-06 20:44] cansav09 commented on #3
Now that I've gotten somewhat familiar with the SNV data, I can do this analysis as well. It looks like Grobner says they used `Number of SNV of coding mutations per Mb`? Just to try to clarify, does this mean we include synonymous and non-synonymous mutations alike in this number? They don't mention distinguishing between this in their Methods, but I've seen other papers that look into it.

Here'

[2019-08-06 20:58] jharenza commented on #3
Hi @cansav09! I think @farrela may have some input here, as he has worked with a lot of TMB data. People do this many different ways. I had previously used only non-synonymous mutations to be reflective of somatic burden. Looks like there is a harmonization effort [here](https://www.focr.org/tmb), but not sure what they have decided. One other note is that you use coding only, then you should calc

[2019-08-07 12:28] cansav09 commented on #3
This is interesting. Glad someone is working on making things uniform, but yeah, hard to tell what the conclusion is from this.

[2019-08-07 12:49] jharenza opened #39 "Planned Analysis: Filter and Annotate Fusions"
Here, we will filter potential artifacts, filter fusions observed in normal tissue, retain high-confidence calls, and annotate with several databases to create a final list of putative driver fusions.

[2019-08-07 12:50] jharenza commented on #39
@kgaonkar6 and I have created a workflow for this, will update soon!

[2019-08-07 16:19] jharenza commented on #19
V2 clinical file [here](https://docs.google.com/spreadsheets/d/1gFbA7_9VsqLGXI6SYLT9XoOnOfY0qixLeJmH5DoJ-Ec/edit#gid=1385692882), and will be included with data download V2.

[2019-08-07 19:56] cansav09 commented on #30
Here's the equivalents of the [figure examples noted here](https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/38#issuecomment-518838416). I need to neaten up the code some more, will get that in a better spot tomorrow.

Figure A:
<img width="783" alt="Screen Shot 2019-08-07 at 3 51 25 PM" src="https://user-images.githubusercontent.com/23458084/62653485-abe2a380-b92b-11e9-96a4-f9b5b58f10b3.png

[2019-08-07 20:21] jharenza commented on #30
This looks really great! Interesting - most of the mutations called by only one algorithm are subclonal (VAF <0.2). I think the next question is, are any of these artifacts/low confidence, and do we keep all/some/none?

[2019-08-07 20:34] cansav09 commented on #30
Do you have suggestions for analyses to approach this question?

[2019-08-07 20:48] jharenza commented on #30
This is where another algorithm could help :) (in the works). Can you explore whether these are mostly coding/noncoding/synonymous/nonsynonymous/indels? Perhaps we focus here on coding variants only here, which have some predicted functional consequence, which is eventually what we will show in oncoprints (or split coding/noncoding into separate plots). That may help reduce some of these numbers.

[2019-08-07 22:11] gonzolgarcia commented on #30
I would recommend to replicate figures D-E from my [figure](https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/38#issuecomment-518838416). This will give you an idea if there are biases in the frequency of changes.

[2019-08-08 15:19] cansav09 commented on #30
@jharenza and @gonzolgarcia, here's the equivalent plot. Thoughts?

![Screen Shot 2019-08-08 at 11 16 44 AM](https://user-images.githubusercontent.com/23458084/62715278-2c59e080-b9ce-11e9-9ba2-bf5e482972fc.png)

[2019-08-08 18:13] gonzolgarcia commented on #30
Probably would be better to represent as percentages so that the bars are comparable.

What you need (and my figure also lacks) is a reference/gold standard that tells you what are the expected frequencies to compare with this observation (some literature search could help). What is clear is that there is certain bias between 'both' and mutect and strelka only.

[2019-08-08 18:29] cbethell commented on #5
In addition to the [draft PR](https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/40) I filed, I have put together a graphic of the brain showing the sites of various cancer types as suggested by @PichaiRaman.

Given the relatively large amount of unique cancer types in the dataset, I thought it may be more feasible to label the graphic with the highest expressed cancer type at each primary si

[2019-08-08 20:20] jharenza commented on #5
Hi @cbethell - we actually have a graphic designer on staff that can handle this brain region figure. I think this is a good start, but we are missing major tumor types, eg medulloblastoma, gliomas will have to be narrowed further, and some types have other regions not represented (eg DIPG also in brainstem and thalamus), so this may be difficult to represent and maybe we think about how to do thi

[2019-08-09 12:02] jharenza commented on #15
A new method, [MIXTURE](https://www.biorxiv.org/content/biorxiv/early/2019/08/07/726562.full.pdf), seems to do a bit better for tumor microenvironment cell deconvolution than previous methods and was validated with flow cytometry. Code here: https://github.com/elmerfer/MIXTURE.App

[2019-08-09 12:15] cgreene commented on #15
I read the MIXTURE paper but didn't find the supplement. The supplement seems like it's pretty necessary to understand how well we'd be able to apply this to our own data. I am excited about the potential of the method, but also a bit cautious after reading the details.

I did tweet about the supplement. bioRxiv keeps moving things around on the website, so it's possible I missed it.
https://twitt

[2019-08-09 12:18] jharenza commented on #15
Oh good catch - I don't see it either.

[2019-08-09 13:01] cbethell commented on #5
Hi @jharenza - this seems like a good way to present the major tumor types. I will look for the paper and for other diagrams similar to what you describe above, and prepare the data for use in this manner.

[2019-08-09 13:52] jaclyn-taroni commented on #5
@cbethell This issue may be a better spot for discussion around the plots included as part of #40. Can you post what the plots look like here? For the interactive plot, you can probably create a repo of your that includes the HTML file generated in https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/40/commits/857fd810e1af16fa20f51df39e579a65de208615 (if I understand correctly) -> turn on [Git

[2019-08-09 14:58] cbethell commented on #5
@jaclyn-taroni per your suggestion, here are the plots included in draft PR #40 :

- `sample-distribution-analyses/plots/distribution_across_cancer_types.pdf`
![distribution_across_cancer_types-1](https://user-images.githubusercontent.com/43576623/62786878-81aaf600-ba91-11e9-9b33-e364cc516792.png)

I modified the above plot to show percentages above each bar instead of the raw count. Thoughts?

-

[2019-08-09 15:11] cbethell commented on #5
As noted in draft PR #40, the main ideas I would like input on include:
1. Does the multilayer sunburst pie chart meet expectations? (In terms of the presentation and the data representation)
2. Are there any additional data filtering steps that may need to be included for this particular dataset?
3. Are the results/plots suffice for this particular issue? If not, what other forms of tables or plo

[2019-08-09 15:20] jaclyn-taroni commented on #5
For me, the treemap is less valuable as a static image. That is not to say that an interactive treemap would be better than the interactive pie chart you linked above.

[2019-08-09 15:23] cbethell commented on #5
Good point. I can make the treemap interactive and we can decide how useful it may be from there.

[2019-08-09 16:17] cbethell commented on #5
Find the link to the interactive treemap [here](https://cbethell.github.io/histology-pie-data/histology-treemap.html).

Its value still does not appear to exceed that of the interactive pie chart, however, what are the thoughts on including it now?

[2019-08-09 19:59] yuankunzhu opened #41 ".gitignore skips data file"
somehow the `.gitignore` file keeps ignoring changes in `data/` path, i saw you @cgreene only skips the DS_Store file, not sure what happened. I ended up using `git add -f` for force adding my commits.

[2019-08-09 20:20] cgreene commented on #41
Hi @yuankunzhu - we were keeping the data folder empty so that we could expect to safely download in there without overwriting anything. We also added it to the gitignore so that we didn't have people accidentally committing files to the directory. I'm going to close this issue now. I've added some additional requests to #42 to get this to align with what we are hoping to fill in.

[2019-08-09 20:20] #41 closed

[2019-08-12 12:49] jaclyn-taroni commented on #33
@cgreene and I discussed this in person as a follow-up to #44. We'll aim for 5 matched participants across all files. They will contain all the data for these 5 participants.

I can generated these subset files and stick them on S3 to facilitate getting CI up and running.

[2019-08-12 13:58] cgreene commented on #2
This is implemented in #45 .

[2019-08-12 13:58] #2 closed

[2019-08-12 13:58] cgreene commented on #31
Added with #45

[2019-08-12 13:58] #31 closed

[2019-08-12 14:20] jharenza commented on #32
Thanks for all of the comments!

[2019-08-12 14:20] #32 closed

[2019-08-12 14:29] jaclyn-taroni opened #49 "Data: Add RSEM RDS file to md5sum.txt"
With the additions in #45, all the data files will need to be represented in the `md5sum.txt` file. This issue pertains to `rsem.fpkm.rds`, first mentioned here: https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/43/files#diff-04c6e90faac2675aa89e2176d2eec7d8R125

This will need to be added to `md5sum.txt`.

[2019-08-12 14:29] jharenza commented on #49
@jaclyn-taroni - done!

[2019-08-12 14:31] #49 closed

[2019-08-12 14:35] cgreene opened #50 "Add histologies file to md5sum.txt"
This file will also need to be added since #45 has landed.

[2019-08-12 20:39] jaclyn-taroni opened #53 "Data: Fusion TSV files are not tab-delimited"
While working on #33, I read the Arriba file into R like so (removing the full path info for simplicity):

[code]
And the output in the console was:
[code]

Running

[code]
yields

[code]
and
[code]

Also checked by gunzipping the file and using `less -U`. I get a similar pattern with `pbta-fusion-starfusion.tsv.gz`.

---

I would expect files with a `tsv.gz` extension to be tab-delimited. Is it p

[2019-08-12 21:20] jharenza commented on #53
@jaclyn-taroni - we noticed this and updated the files, but looks like they were not updated in S3 - stand by. cc: @yuankunzhu

[2019-08-12 21:33] yuankunzhu commented on #53
yea, sorry i missed it as it was on our internal github issue comment, we just edit the old comments by replace the new data file and that didn't send out notifications. i just picked the file and updated s3 links. it should be tab delimited now. sorry updated the md5 checksum accordingly.

[2019-08-13 00:27] jaclyn-taroni commented on #53
Thanks for fixing this @yuankunzhu. After rerunning `bash download-data.sh`, I can confirm that the fusion files are tab-delimited.

[2019-08-13 00:27] #53 closed

[2019-08-13 12:55] jaclyn-taroni commented on #50
This is blocking #33

[2019-08-13 13:37] jharenza commented on #50
@yuankunzhu - can you add md5sum for the histologies file?

[2019-08-13 14:57] cbethell commented on #12
I am planning to work on this issue and therefore would like verification on whether the intent is to use the `tumor_descriptor` variable from the `pbta-histologies.tsv` or the data from the `pbta-snv-strelka2.vep.maf.gz` file to address this.

[2019-08-13 15:03] jaclyn-taroni commented on #12
If I understand the purpose of this issue correctly, one needs germline mutation information and cancer type information to accomplish this. Looking at the histology TSV that I obtained from S3 with `wget`, I don't see a field that would get you the germline mutation piece (I could be wrong).

Are the questions then:
1. Which variable(s) in the histology file should be used?
2. How does one find o

[2019-08-13 15:09] cbethell commented on #12
I mentioned the `tumor_descriptor` variable due to the `Recurrence` value seen there in some observations, though I am not entirely sure how this value was determined.
Overall, my understanding is the same as yours, so the above questions are indeed better suited.

[2019-08-13 15:43] cgreene commented on #15
The author ( @elmerfer ) provided a link to the supplement in a comment on bioRxiv
https://www.biorxiv.org/content/10.1101/726562v1#comment-4575975402

I haven't gotten to read it yet but it would be good to go through it.

[2019-08-13 16:04] jharenza commented on #12
This issue is going to be blocked by another CBTTC germline project in which they will provide to us the high-confidence germline SNVs, so we should table this for now.

[2019-08-13 16:05] jaclyn-taroni commented on #12
Thanks for that update @jharenza. I'm going to create a blocked label for issues like this and apply it to this issue.

[2019-08-13 16:06] jharenza commented on #50
This has been completed.

[2019-08-13 16:06] #50 closed

[2019-08-13 17:55] cgreene commented on #50
Can confirm. Download via script now includes this file 👍

[2019-08-13 19:25] cbethell commented on #9
I am beginning to flesh out the solution for this issue. If anyone has begun to work on it or have an idea of a preferred strategy, please feel free to express your thoughts.

[2019-08-13 21:01] jharenza opened #57 "Classify glioma brain regions into midline/hemispheric"
Propose dividing `primary_site` into:
[code]
[2019-08-13-brain_regions.xlsx](https://github.com/AlexsLemonade/OpenPBTA-analysis/files/3498856/2019-08-13-brain_regions.xlsx)

@awaanders will help assess accuracy of this prior to updating the clinical file on S3.

[2019-08-14 16:33] cansav09 opened #58 "Data: MAF files have samples that do not have metadata"
### Problem

13 samples that have data in the MAF files (`pbta-snv-mutect2.vep.maf.gz` and `pbta-snv-strelka2.vep.maf.gz`) are missing from the metadata. I am using data `release-v2-20190809` and downloaded it via the bash script this morning.

### Samples that are missing metadata but have data reported in the MAF files.
[code]

Here are the steps I took to obtain this list of samples were missin

[2019-08-14 17:23] jharenza commented on #58
Will look into this. Thanks for the catch!

[2019-08-14 17:36] yuankunzhu commented on #58
I didn't see those IDs in the MAF files. What i did is below:
1. for `BS_0BA5TZND`, search in entire maf
[code]

2. extract the tumor/normal barcode and search all BS IDs
[code]

[2019-08-14 18:56] cansav09 commented on #58
Okay. I re-downloaded and refreshed and I think things are good. This was a false alarm. Sorry about that.

Second question though, why did those 13 samples get removed in this latest data edition when they were in the previous? I'm going to go ahead and close this comment since the original issue is not a problem.

[2019-08-14 18:56] #58 closed

[2019-08-14 19:00] jharenza commented on #58
No worries. We had a handful of samples that were removed due to QC/consent issues.

[2019-08-14 19:46] jaclyn-taroni commented on #33
Closed via #56.

[2019-08-14 19:46] #33 closed

[2019-08-15 13:36] yuankunzhu commented on #58
No problem. I briefly described it a little bit in the [release-notes](https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/doc/release-notes.md) also.

[2019-08-15 19:37] jaclyn-taroni opened #64 "Contributor friendliness: make project approachable for newcomers"
In service of making the project more approachable for new contributors, I'm creating this issue to discuss the use of our _issue labels_.

From the [Planned Analysis section](https://github.com/AlexsLemonade/OpenPBTA-analysis#planned-analyses) of the README:

We do not currently have a 'fleshed-out' Docker image. As a result, I've untagged all issues that were labeled as `good first issue` for th

[2019-08-15 19:57] jharenza commented on #64
Sounds good. We can perhaps change `assigned` to `in progress` - I quickly added that to denote people are working on it/ it has been claimed, but also don't want to give the impression that if people want to work on it they can't since it has been assigned. Thoughts? Or, we could tag the ones not being worked on with `help-needed`.

Not sure we need priority tags. It's kind of all high-priority :

[2019-08-15 20:28] jaclyn-taroni commented on #64
Okay, made the change from `assigned` -> `in progress` and added a description: https://github.com/AlexsLemonade/OpenPBTA-analysis/labels

What do you think?

[2019-08-15 20:29] jharenza commented on #64
Looks good!

[2019-08-15 20:35] jharenza commented on #18
@alexfelmeister - Thanks for volunteering! We have to work with @allisonheath to hammer down survival before adding it to the clinical file, so I have marked this issue as `blocked` for now.

[2019-08-19 12:24] jaclyn-taroni commented on #39
Is this pipeline described in https://github.com/AlexsLemonade/OpenPBTA-manuscript/pull/21?

[2019-08-19 12:28] jharenza commented on #39
It is not yet described there. Do you think we should add it to the methods section or part of the analysis/results section? We created a workflow (and @kgaonkar6 created an R package) to annotate fusion gene partners as TSG, oncogene, kinase, TF, receptor, added expression of each gene, filtered out artifacts, fusions in normal tissues, etc, to come up with a high-confidence list of putative driv

[2019-08-19 12:37] jaclyn-taroni commented on #39
Ah, sounds good. This is the order I would expect. Are the `Fusion prioritization` steps described in https://github.com/AlexsLemonade/OpenPBTA-manuscript/pull/21 then upstream, e.g., they have been performed on the fusion TSV files?

[2019-08-19 12:40] jharenza commented on #39
They are all post data download of TSV files.

[2019-08-19 17:54] cansav09 commented on #3
I think the first part of this analysis will be determining if there are differences between different methods of calculations of TMB.

My thought is I should calculate TMBs and compare for the following 2 sets of variables:

1) Coding mutations only vs all mutations.
2) SNVs + CNVs vs only using SNVs - this however requires that we have an integration of CNV data - #27 (Let me know if there is so

[2019-08-19 18:00] jharenza commented on #3
TMB typically does not include CNV data, so I would recommend against using it. Otherwise, I would add to compare to adult tumors, as mentioned above in the one reference.

[2019-08-20 20:00] jharenza opened #73 "Proposed Analysis: Sex prediction on PBTA cohort"
#### Scientific goals

_What are the scientific goals of the analysis?_
Accurately predict sex of PBTA samples for downstream analyses

#### Proposed methods

_What methods do you plan to use to accomplish the scientific goals?_
Ratio of Y:X+Y chromosomes
XIST expression in RNA

#### Required input data

_What input data will you use for this analysis?_
normal DNA BAMS
RNA-Seq FPKM

#### Proposed

[2019-08-20 20:24] jharenza commented on #73
@kgaonkar6, @jharenza, @shrivatsk working on

[2019-08-21 18:19] cansav09 commented on #30
From your comment on PR #69, I have a follow up question :

Do you prefer these data are presented as their numeric values or their reported categories e.g. 'tolerated_low_confidence'

[2019-08-21 19:09] jharenza commented on #30
I would say categories.

[2019-08-22 15:47] jaclyn-taroni opened #77 "How we add completed analysis modules to CI"
Context is https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/76#discussion_r316751701, to quote that here

I propose that we try this model out with @cbethell's addition of #5 (relevant PRs: #54, #55). If successful, we can update the instructions in the README.

[2019-08-23 15:15] afarrel commented on #3
Just to reiterate what @jharenza said, typically we include SNVs and small InDels in TMB calls. In regards to TMBs you need to define if you are calling all SNVs or only non-synonymous mutations. In some of our applications, we perform TMB calls using Tumor-Only methods because we don't have matched normal data and exclude synonymous mutation calls to reduce false positives and better reflect soma

[2019-08-23 18:52] PichaiRaman commented on #7
@jharenza what if we focused on the Hallmark sets?

[2019-08-23 18:59] jharenza commented on #7
Can't hurt to try! @jainpayal022 is interested in seeing some of this for some PNOC samples, so if we can get some signal here, that would be awesome.

[2019-08-23 19:08] PichaiRaman commented on #16
I thought I may work on this. @cgreene Let me know if you prefer we wait and do other analyses first.

[2019-08-23 20:26] cgreene commented on #16
I believe that the Docker/CI stuff is in a reasonable enough place that it's possible for folks to jump into things more. Getting a set of analyses done will help us continue to improve the instructions for new contributors. I'd be happy to see what comes of this! 👍

Can you take a look at the new issue template for proposed analyses, and maybe write brief blurbs about this? I'm hoping they will h

[2019-08-26 13:24] #77 closed

[2019-08-28 13:53] cgreene opened #84 "Proposed Analysis: RNA Expression-based Prediction of Sex"
#### Scientific goals

In https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/73 it's noted that the reported sex of the participants in the study didn't align with information from germline sequencing in 11 cases. It could be interesting to understand how accurately this can be called from gene expression data. For some studies, gene expression data is all that is available. If it can also

[2019-08-29 16:04] jharenza commented on #73
#88 V3 histologies list updated, so closing this

[2019-08-29 16:04] #73 closed

[2019-08-30 16:03] jharenza opened #93 "RSEM file mismatched to clinical"
#### File(s)

_What data file(s) does this issue pertain to?_
pbta-gene-expression-rsem.fpkm.RDS

#### Release

_What release are you using?_
V2/V3

#### Link to [OpenPBTA-manuscript](https://github.com/AlexsLemonade/OpenPBTA-manuscript/)

_Put a link to the relevant section of the OpenPBTA manuscript here._

#### Question/issue

_Put your question or report your issue here._
I noticed that there

[2019-08-30 16:06] jharenza opened #94 "symlinks instructions in README"
#### File(s)

_What data file(s) does this issue pertain to?_

#### Release

_What release are you using?_

#### Link to [OpenPBTA-manuscript](https://github.com/AlexsLemonade/OpenPBTA-manuscript/)

_Put a link to the relevant section of the OpenPBTA manuscript here._

#### Question/issue

_Put your question or report your issue here._
We had some confusions about how to use symlinks with R, and t

[2019-08-30 16:23] jaclyn-taroni commented on #94
For my reference, this is the specific commit: https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/92/commits/777fa8d5f08a1643e4464eba783cc1361d994960

[2019-08-30 19:56] jharenza opened #95 "duplicate RNA-Seq BS_ID in clinical file"
#### File(s)

_What data file(s) does this issue pertain to?_

#### Release
V2/V3

_What release are you using?_

#### Link to [OpenPBTA-manuscript](https://github.com/AlexsLemonade/OpenPBTA-manuscript/)

_Put a link to the relevant section of the OpenPBTA manuscript here._

#### Question/issue

_Put your question or report your issue here._
`BS_6DCSD5Y6` is duplicated for its RNA-Seq entry in the

[2019-08-30 20:06] jharenza commented on #95
Age of `2955` was correct. Will update this file in V4 and also add units of days to the age column.

[2019-08-30 20:09] cgreene commented on #95
Nice detective work! 👍

[2019-08-30 20:35] jaclyn-taroni opened #96 "Low number of matched participant identifiers"
#### File(s)

All files

#### Release

`release-v3-20190829`

#### Question/issue

I was attempting to increase the number of matched participants in the subset file to 100 over on #91. I map the biospecimen IDs in each file to the participant IDs: https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/6b47032c4c227ec11e4d076c296c2c921ac5a527/analyses/create-subset-files/01-create_subset_files.Rm

[2019-08-30 20:50] jharenza commented on #96
Hmm, it looks like lumpy numbers are low - should be on par with Manta.  Also, from V2, looks like the total N participants in both clinical files is 943. I think the kallisto results you have there are N biospecimens, not patients.

[2019-08-30 20:54] jaclyn-taroni commented on #96
Those numbers are for V3, I think the issue is duplicates in the mapping
[code]

[2019-08-30 20:56] jaclyn-taroni commented on #96
Adding a `unique` to the mapping step
[code]
I get:
[code]

[2019-08-30 20:58] jharenza commented on #96
I think that looks better - we will look into that lumpy file - seems like we are missing data.

[2019-08-30 21:09] jharenza opened #97 "LUMPY file missing data"
#### File(s)

_What data file(s) does this issue pertain to?_
pbta-sv-lumpy.tsv.gz

#### Release

_What release are you using?_
V2/V3

#### Link to [OpenPBTA-manuscript](https://github.com/AlexsLemonade/OpenPBTA-manuscript/)

_Put a link to the relevant section of the OpenPBTA manuscript here._

#### Question/issue

_Put your question or report your issue here._
LUMPY file only contains 171 partic

[2019-08-30 21:14] jharenza commented on #96
@jaclyn-taroni fyi, if you want to exclude LUMPY for now - https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/97

[2019-08-30 21:25] bill-amadio commented on #84
I would like to give this a try.  pbta-gene-expression-kallisto.rds looks like a good first source of gene expression estimates (1028 samples of 200,000+ transcript abundance values).  pbta-histologies.tsv has an entry for each of these samples.  Model construction will be with glmnet and glmnetUtils packages which allow tuning, through cross validation, of the regularization weight (lambda) and e

[2019-08-30 21:48] jaclyn-taroni commented on #84
Welcome @bill-amadio - thanks for getting this analysis started! We can use this issue to discuss strategy and address any questions around the analysis you have.

[2019-08-31 18:12] cgreene commented on #84
@bill-amadio - very exciting! This plan sounds good - in the interests of compute time you may find that filtering to the transcripts that vary the most in an unsupervised way (something like the median absolute deviation) may make things much faster to run with little to no loss in accuracy. I'm looking forward to hearing how this goes!

[2019-09-01 14:41] bill-amadio commented on #84
Thanks @jaclyn-taroni and @cgreene - Quick question: are the calls from germline sequencing 100% accurate?  If not, is there some estimate of the uncertainty in the process?

[2019-09-01 14:49] cgreene commented on #84
I don't know that we could say they are 100% accurate. We don't have that level of information, though they should be more closely aligned than the reported gender. The way I'm guessing that is by looking at the powerpoint linked in this comment from @jharenza https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/73#issuecomment-525727865. In slide 4 it looks like there are relatively few samp

[2019-09-07 17:49] bill-amadio commented on #84
[UnderstandKallistoRDS.pdf](https://github.com/AlexsLemonade/OpenPBTA-analysis/files/3586852/UnderstandKallistoRDS.pdf)

Hi, Jackie and Casey,

I've attached a first result, a predictive model for reported_gender using the top 25% mean absolute deviation transcripts out of the kallisto V3 file.  I split the data set 70/30 train/test, accuracy on the holdout was 96.7%.  The elastic net alpha on thi

[2019-09-07 19:37] jharenza commented on #84
That's right, @bill-amadio - there was only one sample which landed between the two distributions and we had removed it from our dataset due to a previous QC using [NGSCheckmate](https://github.com/parklab/NGSCheckMate) on its tumor/normal WGS data. We are presuming that germline sample was contaminated, hence why the fail on NGScheckmate and the mid-value for the sex prediction.

Great to have yo

[2019-09-07 19:39] jharenza commented on #84
Thanks for working on this! With regard to the duplicate sample, I noticed this and created an [issue](https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/95) and this should be fixed in V4 of the data release, which we hope to have online by the end of next week.

It would be great if you wanted to start a pull request with your analysis code, link to this issue, and that way we can make di

[2019-09-07 21:02] bill-amadio commented on #84
OK, @jharenza.  Will do.

[2019-09-09 21:42] cansav09 commented on #3
Is there a more exact way to determine the number of Megabases sequences per each sample? I can’t find anyone’s exact code for determining TMB so I am unsure what number(s) to use for the “per coding Megabases” part

[2019-09-09 21:48] cansav09 commented on #3
Also were these data filtered to take out intergenic mutations? I’m assuming yes based on what I’m seeing in the annotation but how was this done? And what other filters may have been applied to this data? Can we see the command that was given to run Strelka2? I did notice the methods so far say that Strelka2 was run using best practices so I will investigate that a bit more to see if anything the

[2019-09-09 21:57] jharenza commented on #3
For WES data, it is calculated using the bed regions file and for WGS, you can use the size of the whole genome - enlisting @migbro for this reference file and a size, as I just noticed that the links to the code are not in the manuscript...

[2019-09-09 22:06] jharenza commented on #3
The only filtering done was `PASS` for variants. The somatic workflows are [here](https://github.com/kids-first/kf-somatic-workflow/tree/master/tools).

[2019-09-10 14:35] cansav09 opened #102 "How were "Panel" experimental strategy samples processed?"
#### File(s)

`pbta-histologies.tsv` and to a lesser extent, `pbta-snv-strelka2.vep.maf.gz`

#### Release

release-v2-20190809

#### Link to [OpenPBTA-manuscript](https://github.com/AlexsLemonade/OpenPBTA-manuscript/)

[The methods section about data generation](https://github.com/AlexsLemonade/OpenPBTA-manuscript/blob/master/content/03.methods.md#data-generation) is where I would have expected to

[2019-09-10 14:39] jharenza commented on #93
updated in #101

[2019-09-10 14:39] #93 closed

[2019-09-10 14:40] jharenza commented on #97
updated in #101

[2019-09-10 14:40] #97 closed

[2019-09-10 14:40] jharenza commented on #95
updated in #101

[2019-09-10 14:40] #95 closed

[2019-09-10 14:41] jharenza opened #103 "vardict and lancet variant calls on deck"
#### File(s)

_What data file(s) does this issue pertain to?_

#### Release

_What release are you using?_

#### Link to [OpenPBTA-manuscript](https://github.com/AlexsLemonade/OpenPBTA-manuscript/)

_Put a link to the relevant section of the OpenPBTA manuscript here._

#### Question/issue

_Put your question or report your issue here._
We are currently generating lancet and vardict calls and will

[2019-09-10 14:45] jharenza commented on #102
@cansav09 thanks for pointing this out - yes, for this one sample, they did not have enough DNA for WES/WGS, so TGEN ran a panel. I will double check, but I think it was run using the WES pipeline and we have to note that in the methods. I created a [ticket](https://github.com/AlexsLemonade/OpenPBTA-manuscript/issues/41) to add this to the manuscript.

[2019-09-10 14:46] cansav09 commented on #102
So I think I will go ahead remove these from most of my analyses since I'm not sure how to compare it to the others.

[2019-09-10 15:30] jharenza commented on #102
Confirmed the panel alignment used the same bed regions as WES, and will have this updated in the methods this sprint.

[2019-09-10 17:46] jharenza commented on #7
@jpfeil let me know that he is

[2019-09-10 18:31] jashapiro opened #105 "Missing README files in v4"
#### File(s)

README.md
release-notes.md

#### Release

release-v4-20190909

#### Question/issue

This file does not seem to be present in the S3 bucket at the location specified in `download-data.sh`. Note that the script refers to `release-notes.md`, but the [release notes](https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/e6c94842afd760d2c168bdb558f105eb79768c90/doc/release-notes.md#relea

[2019-09-10 19:05] jharenza commented on #105
@yuankunzhu

[2019-09-11 13:10] yuankunzhu commented on #105
Hi @jashapiro, we have the `CHANGELOG.md` instead of `release-notes.md`, but you are right, there's no README.md in the release-folder. We draft it in the folder structure to follow @cgreene suggestion at #2, but i guess we can remove it as we never compose one.

[2019-09-11 14:59] cansav09 commented on #3
For WGS, will we need to calculate the percent of the reference genome covered in order to get an exact genome size in Mb? Or do we just use a general approximation? Are the bed regions files already prepared previously?

Also, I've set up the TCGA data, and I will generally attempt to calculate TMB the same way. Do you have an idea of what is the easiest way to obtain genome sizes for the TCGA sa

[2019-09-11 15:08] cbethell opened #106 "Proposed Additional PR checklist"
## Issue

I made a PR checklist inspired by the OpenPBTA project guidelines. This has been helpful for me personally, and I therefore believe that it can be helpful to other contributors. It would serve as an additional and optional resource.

The checklist is in markdown format and can be found below.

## OpenPBTA-analysis
### PR checklist

- [ ] [Fork](https://help.github.com/en/articles/fork-a-

[2019-09-11 17:09] cansav09 commented on #3
Here's a preview of the data as it is now, before dividing by genome size. I'm not sure which disease labels I should be using for both the TCGA and PBTA data.

For the TCGA data, I have only used what were brain tumors so hopefully it's more comparable.

[log2_coding_mutations.pdf](https://github.com/AlexsLemonade/OpenPBTA-analysis/files/3601919/log2_coding_mutations.pdf)

[2019-09-11 17:10] cansav09 commented on #3
![Screen Shot 2019-09-11 at 1 10 13 PM](https://user-images.githubusercontent.com/23458084/64719076-82221c80-d495-11e9-9f29-0c500083b780.png)

[2019-09-11 18:07] cansav09 commented on #11
Since I've been getting more comfortable with the variant data, I can also work on setting this analysis up.

[2019-09-11 19:02] jaclyn-taroni commented on #105
Closed via #107

[2019-09-11 19:02] #105 closed

[2019-09-11 19:09] bill-amadio commented on #84
Apologies.  This is my first multi-participant Git/GitHub project.  I am not sure I have the symlinks and the pull request correct.  I've reached out to a colleague here at Rider for some hand-holding.  Will issue the pull request asap.

[2019-09-11 19:12] jaclyn-taroni commented on #84
@bill-amadio No worries at all -- please let us know if there's anything we can do to help!

[2019-09-11 19:21] jaclyn-taroni commented on #96
This was resolved in data release v4.

[2019-09-11 19:21] #96 closed

[2019-09-11 20:10] kgaonkar6 commented on #3
Hi @cansav09! I've previously done TMB analysis for a subset of our samples for a paper (https://www.biorxiv.org/content/biorxiv/early/2019/05/31/656587.full.pdf) . I calculated TMB = total variants in coding region/length of exome bed (bp)*1000000. Where variants in coding region are variants overlapping an inclusive coding region file : https://github.com/AstraZeneca-NGS/reference_data/blob/mast

[2019-09-11 20:19] cansav09 commented on #3
@kgaonkar6 Thanks so much for the code and paper link! This is super helpful! So am I correct in saying that you only used the size of the reference genome for the denominator for all your samples? (As opposed to calculating the percent of the reference exome that each sample had covered and then obtaining a megabase count per sample.)

[2019-09-11 20:56] cansav09 commented on #3
I'm trying to look through the code and determine why the WGS samples don't have any intergenic mutations at all (okay there are 2 out of all the samples) but it isn't clear to me yet.

The reason I want to know this, is for determining the genome size in Mb to divide by, it seems like we would only want to use the size of the whole genome as our denominator for TMB if the data if we also had a ch

[2019-09-11 21:26] jharenza commented on #3
Hmm, that's a good point - I would expect to see intergenic, noncoding mutations as well - @yuankunzhu and @migbro, do you know if the pipelines selectively retained only coding variants?

If we only look at coding mutations, then yes, we would only use those within the coding genome/WES regions (as @kgaonkar6 mentioned) as the denominator.

[2019-09-11 21:42] jharenza commented on #3
Also, @cansav09, looking at the figure example, it does look like they restrict to coding SNVs. Your plot looks like you are on the right track, so maybe these new calculations will help - we expect to see a lower TMB in pediatric samples compared to adult. If you also wanted to order the x-axis by median for the groups and add the y-intercepts for 2, 10, and 100 muts/Mb, then we can mimic that fi

[2019-09-11 21:51] cansav09 commented on #3
Sounds good. Should I just make a coding BED file from the hg38 reference genome or is this something you guys have prepared and can share with me?

[2019-09-11 21:53] jharenza commented on #3
I think you can safely use the one listed above, provided by @kgaonkar6, select variants in the region within that bed, and use that bed's size. Sorry the fact we did this previously escaped me!

[2019-09-11 22:00] migbro commented on #3
@cansav09 @jharenza , this depends on what you are using as your input data.  If you got it from Ped cBioportal, the import process basically removes intergenic variants.  I'd suggest using the unaltered mafs.  Strelka2 used these intervals for WGS calls:
[code]
Mutect2, based on their recommended calling regions, with the addition of chromosome M:

[wgs_canonical_calling_regions.hg38.txt](https:/

[2019-09-11 22:14] cansav09 commented on #3
Perfect! Thanks, @migbro, @jharenza, and @kgaonkar6, all this information helps a lot! Will hopefully have an updated plot tomorrow.

[2019-09-16 14:39] cbethell commented on #14
I am planning to work on the solution to this issue. I have been looking into relevant literature and found a [paper](https://mcr.aacrjournals.org/content/early/2017/06/02/1541-7786.MCR-16-0459.full-text.pdf) on the `IsoformSwitchAnalyzeR` [R package](https://mcr.aacrjournals.org/content/molcanres/suppl/2017/07/12/1541-7786.MCR-16-0459.DC1/175983_2_unknown_upload_4006125_zp2qfk.pdf) that may be us

[2019-09-16 18:59] jashapiro opened #109 "Proposed Analysis: poly-A vs stranded"
Hi @cbethell! I think this is a great start and one thing we have been struggling with is that some of the RNA-Seq was a poly-A prep while the majority was stranded. I am not sure anyone has yet to figure out how to normalize across these two batches (eg I think UCSC Treehouse folks are also very interested in this). In some of our discussions, it has been suggested to subset the dataset for only

[2019-09-16 19:00] #109 closed

[2019-09-16 19:11] jashapiro opened #110 "Proposed Analysis: poly-A vs stranded/PNOC vs. CBTTC"
#### Scientific goals

As previously noted (e.g. in https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/83#issuecomment-525357478 ) the RNA-seq data was compiled from experiments that used two different techniques, poly-A prep vs. stranded. This is confounded with the source of the data: PNOC vs. CBTTC. If we are going to be able to compare these two sources, we will want to investigate if the

[2019-09-19 16:27] cbethell commented on #14
I have been looking into a few different packages to assist in tackling this issue and here are the packages I believe may be relevant:

- I attempted to implement the `IsoformSwitchAnalyzeR` package functions, but it does not seem to be feasible for this particular dataset, given the magnitude of samples. This particular also seems to prefer GTF files as input. See package vignette [here](https:/

[2019-09-19 18:22] gonzolgarcia commented on #27
**Issue with lumpy data**

As I am trying to filter somatic SVs from the table I realized that the evidence columns "Tumor" and "Normal" are switched.

In addition, there is no somatic score and haven't found much guidelines for somatic filtering of tumor/normal lumpy results. I will be considering this: https://github.com/arq5x/lumpy-sv/issues/268

[2019-09-19 18:24] cgreene commented on #8
@jharenza : is this still blocked? It seems like something that could be done now and if the CNV calls get improved, then this would just get re-run.

[2019-09-19 18:40] jharenza commented on #8
I think I may have added it that way thinking consensus calls @gonzolgarcia creates would go into this, but perhaps consensus for CNV and SV would be separate issues?

[2019-09-20 00:40] jharenza commented on #103
update on this - we have vardict completed and annotated and 100 more samples to run through lancet + annotation - will have these for v5 release on 09/24/19

[2019-09-20 00:47] jharenza commented on #94
I think we can close this, as this was resolved in the comments of the commit above.

[2019-09-20 00:47] #94 closed

[2019-09-20 00:48] jharenza commented on #29
Tabling this for this paper.

[2019-09-20 00:48] #29 closed

[2019-09-20 00:49] jharenza commented on #18
survival has been added to the clinical file with `release-v4-20190909`

[2019-09-20 10:00] jaclyn-taroni commented on #14
Thanks for putting all of these thoughts together @cbethell! The library size information should be relatively easy to come by - I am making the assumption that whatever tools want that information and want a matrix instead of SAM/BAM are looking for counts (off the top of my head/without looking, not sure if we have counts from kallisto or TPM).

This seems like picking a method may be difficult

[2019-09-20 12:10] jharenza commented on #14
@cbethell and @jaclyn-taroni - was just reading up on this thread and I think we can help here. We can provide a count matrices - let me see if we can include this in the v5 data download.

I also agree with @jaclyn-taroni about prioritizing. It sounds like the initial description was pretty open-ended and it may be better to revisit this once we have a hypothesis (eg we think there may be differe

[2019-09-20 12:14] jharenza commented on #11
@cansav09 great! I have used the [deconstructSigs](https://github.com/raerose01/deconstructSigs) package - super easy and will calculate signatures for each sample individually (some algorithms only look across a group and those are less informative). There are some newer COSMIC signatures with the latest COSMIC release, but I have not had a chance to look into those at all. Can definitely help wi

[2019-09-20 12:55] cansav09 commented on #11
@jharenza, thanks for that recommendation I will look into it. Meanwhile, if you wanna see how I’m comparing our data to the COSMIC mutations for the first and admittedly rough pass, you can take a look at the documentation I’ve prepared on PR 114.

[2019-09-20 19:25] PichaiRaman opened #119 "Planned Analysis: Identification of potential causal/driver VUS"
#### Scientific goals

Identify potential variants of unknown significance that may play a role in tumorigenesis.

#### Proposed methods

Look at frequently recurrent VUS, determine if there is a functional effect on a gene (or it is in a regulatory region), look at VAF and focus on samples without other relevant driver mutations.

#### Required input data

VCF or MAF files

#### Proposed timeline

[2019-09-20 19:45] jharenza commented on #27
Thanks, @gonzolgarcia! You are right, the T/N columns are swapped - we will fix this in V5 release coming next week.

[2019-09-20 20:00] jaclyn-taroni opened #121 "Planned data release: V5"
Currently planned for 24-Sept-2019

Planned addition + changes from @jharenza :
* Vardict - VEP annotated MAF (related: #103)
* Lancet – VEP annotated MAF (related: #103)
* Updated arriba fusion file (related: https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/92#discussion_r324873300)
* RSEM gene level count matrix
* RSEM transcript level count matrix (related: https://github.com/AlexsLemona

[2019-09-20 20:02] jaclyn-taroni commented on #121
@jharenza we may want to split the expression data files up based on the RNA library based on @jashapiro 's results on #120 - notebook [here](https://shapbio.me/OutputShare/01-selection-strategies.nb.html)

[2019-09-20 20:09] jharenza commented on #121
ok - separate RDS files for FPKM from each algorithm, as well as counts?

[2019-09-20 20:17] jaclyn-taroni commented on #121
That seems like it would be the most flexible way to go as far as downstream options if it's straightforward to do.

[2019-09-20 20:18] jharenza commented on #121
Ok, yeah once we merge, I can just separate into two RDS files.

[2019-09-23 00:42] jharenza commented on #121
Thinking about this again - would it be easier for those working on RNA to do this separation using the clinical file? I ask because many other analyses using these files may have to re-combine (eg - fusion workflow will use both stranded and polyA and if we look for CNV deletion evidence on the basis of RNA expression <1 FPKM, we would recombine these files). I agree we should not cluster/perform

[2019-09-23 01:14] jashapiro commented on #121
I would still support separating the files, and having the users combine them as needed. This means that the user will have to explicitly acknowledge that they are combining two different data sets, and may give a slight bit of pause to consider whether that is appropriate. For example, the meaning of FPKM < 1 is likely to be different in the two data sets, and the using the same cutoffs may not b

[2019-09-23 01:42] jharenza commented on #121
@jashapiro - makes sense! We will plan on separating them then.

[2019-09-23 12:18] jaclyn-taroni opened #124 "Update create-subset-files post v5 release"
With #121, the RNA-seq expression files will be split up by dataset and in #122, I noticed that I'm having an out of memory issue with the notebook. I need to update how we generate the subset files.

[2019-09-23 12:25] jaclyn-taroni commented on #9
As noted in the discussion on #116, we were planning on adding a README and 2 shell scripts to `analyses/transcriptomic-dimension-reduction`. I think we should hold off on that until #121 and #124 are completed @cbethell. We also need to decide if we will continue to include the plots that demonstrate the issue with the RNA library differences in that module or if we will remove that because we ha

[2019-09-23 16:34] cbethell commented on #8
I have begun to tackle this issue. Thus far, I believe the package `GenVisR` would be useful for this issue based on the literature I found [here](https://genviz.org/module-03-genvisr/0003/05/01/cnFreq_GenVisR/). If there are any suggestions for the implementation of an alternative package, please feel free to express them here.

[2019-09-24 16:12] yuankunzhu commented on #14
Hi @jaclyn-taroni @cbethell as for the counts, we have generated them as part of our pipeline, so we have:
- raw gene read counts from `STAR-GeneCounts`
- expected_count from `RSEM`
- raw exon read counts from `RNASeQC`

We could go back and fetch them all from the original task, but ideally, we'd like to know what analysis needs those in what format. After discussing with @jharenza, we are propos

[2019-09-24 17:16] jaclyn-taroni commented on #14
Hi @yuankunzhu we've tabled this specific analysis for now. If we're thinking about v5 more generally, I agree that expected_count from RSEM seems like a good place to start.

[2019-09-24 21:23] jharenza commented on #121
@cgreene @jaclyn-taroni @jashapiro - we have the CHANGELOG and all files except the transcript counts file staged and ready to go - that merge is taking longer than anticipated, so @yuankunzhu will either create the PR without that file later tonight and add tomorrow or just create the whole PR tomorrow morning.

[2019-09-25 13:08] jharenza opened #128 "Proposed Analysis: Copy number consensus calls"
#### Scientific goals

_What are the scientific goals of the analysis?_
Create consensus calls from ControlFreeC and CNVKit

#### Proposed methods

_What methods do you plan to use to accomplish the scientific goals?_
Breakpoints will not perfectly overlap between algorithms, so the analyst will likely have to define a window for overlap of copy number alterations to deem consensus calls.

#### Re

[2019-09-25 13:14] xiehongbo commented on #128
We will use additional methods to get CNV calls with a balanced sensitivity and specificity for the cohort.

[2019-09-25 13:16] jaclyn-taroni commented on #128
Are you planning on tackling this @jharenza and @xiehongbo? If so, I will mark as `in progress`.

[2019-09-25 13:18] jaclyn-taroni commented on #8
Related: #128

[2019-09-25 13:19] jharenza commented on #8
Hi @cbethell ! Thanks for working on this! I also just created an issue #128 for creation of consensus calls for CN to improve our accuracy for downstream analytics like this issue. I previously have used [GISTIC](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3218867/), but it does not work well for small cohorts (ie you need a large N to call recurrence within a caner). We may want to focus this i

[2019-09-25 14:53] fingerfen commented on #128
We have a pipeline, count me in as well!

[2019-09-25 14:53] xiehongbo commented on #128
Yeah, we are tackling this.

[2019-09-25 15:01] jharenza commented on #128
@fingerfen - great! What is the pipeline and what inputs do you need? We may have to set you up on CAVATICA to run this.

[2019-09-25 15:27] xiehongbo commented on #128
let talk about it today during our meeting.

[2019-09-26 18:03] cansav09 opened #130 "WXS.hg38.100bp_padded.bed is not able to opened normally"
#### File(s)

v5 release data, WXS.hg38.100bp_padded.bed

#### Release

release-v5-20190924

#### Link to [OpenPBTA-manuscript](https://github.com/AlexsLemonade/OpenPBTA-manuscript/)

NA, this is a question about how to use the file as opposed to how the file was made.

#### Question/issue

I cannot open this bed file even though I have no problems opening the rest of the BED files. It looks like

[2019-09-26 18:56] jharenza commented on #130
I can confirm this is actually gzipped without the extension. @migbro, can you provide the gunzipped version on S3 and @yuankunzhu, you may have to update md5, thanks

`507b9d8b84e4:Downloads harenzaj$ head -n 3  WXS.hg38.100bp_padded.bed
?,ˡ-?ɴi?e?`n??`97??????6??V?dv+h+?
?M+d?:?y???Z!~>K?K??N2??:?}?T=Y[?9k?z?fPO??$p?o??hKo???d?&f.??n?,^?0???%??qǖ?x?L???Z2w???fd2wiS???a@+Yտ??uC???cZ?`u?:??W?gX?~?

[2019-09-26 20:24] migbro commented on #130
Yup, my mistake.  File and md5 updated.

[2019-09-26 20:37] cansav09 commented on #130
Yes! It works now! Thanks!

[2019-09-26 20:38] #130 closed

[2019-09-27 13:56] #121 closed

[2019-09-27 13:58] jharenza opened #131 "duplicate WGS record in clinical file"
#### File(s)

_What data file(s) does this issue pertain to?_
`pbta-histologies.tsv`
#### Release

_What release are you using?_
v5

#### Link to [OpenPBTA-manuscript](https://github.com/AlexsLemonade/OpenPBTA-manuscript/)

_Put a link to the relevant section of the OpenPBTA manuscript here._

#### Question/issue

_Put your question or report your issue here._
`BS_4M0ZMCDC` has two records with di

[2019-09-28 14:12] jaclyn-taroni opened #135 "Issues reading in VarDict file"
#### File(s)

`pbta-snv-vardict.vep.maf.gz`

#### Release

`release-v5-20190924`

#### Link to [OpenPBTA-manuscript](https://github.com/AlexsLemonade/OpenPBTA-manuscript/)

N/A

#### Question/issue

I'm having trouble reading the VarDict file into R in the same manner that I handle all other MAF files, specifically using:

[code]

I get the following message:

[code]

It also seemed to be hanging

[2019-09-29 14:36] jaclyn-taroni commented on #103
@jharenza was this closed via #127?

[2019-09-29 21:11] jharenza commented on #103
yup, closed!

[2019-09-29 21:11] #103 closed

[2019-09-30 12:03] #124 closed

[2019-10-01 19:41] PichaiRaman commented on #18
I would like to potentially tackle this. I will work on not only categorical features such as mutations or fusions but was also going to look at RNA-Sequencing data and any other continuous measure. I have some experience with this and have some code pretty much ready to go

https://www.sciencedirect.com/science/article/abs/pii/S2210776218304897

I was also thinking of potentially using other deri

[2019-10-02 11:51] jharenza commented on #102
Updated with PRs in manuscript [here](https://github.com/AlexsLemonade/OpenPBTA-manuscript/pull/46) and [here](https://github.com/AlexsLemonade/OpenPBTA-manuscript/pull/47)

[2019-10-02 11:51] #102 closed

[2019-10-02 12:43] jharenza commented on #6
I imagine this analysis would make use of consensus SNV calls (#30), consensus CNV calls (#128), and filtered/prioritized fusion calls (#39 and #10) currently tied to multiple PRs. I can work on this after a grant submission Nov 15, but if anyone would like to work on this earlier, I have created some [code](https://github.com/marislab/create-pptc-pdx-oncoprints) for this for a recent manuscript t

[2019-10-02 18:42] komalsrathi commented on #15
I would like to take this on, potentially using `MIXTURE` as well as  [immunedeconv](https://github.com/grst/immunedeconv) which incorporates methods like `CIBERSORT` and `xCell` along with others to estimate immune cell fractions from bulk RNA.

[2019-10-03 19:05] cansavvy opened #145 "Where are the WXS samples in the Lancet dataset?"
#### File(s)

The Lancet MAF file: `pbta-snv-lancet.vep.maf.gz` doesn't appear to have WXS samples. Is this how it is supposed to be?

#### Release

v5 release-v5-20190924

#### Link to [OpenPBTA-manuscript](https://github.com/AlexsLemonade/OpenPBTA-manuscript/)

In the methods section don't see an indication in the methods that Lancet wasn't run on the WXS files, unless I'm missing that.

https:/

[2019-10-03 19:08] jharenza commented on #135
@bmennis - can you recreate this file ? see above error. Thanks!

[2019-10-03 19:24] jharenza commented on #145
@bmennis - see this issue as well - looks like the WXS files were missed here.

[2019-10-03 19:29] jharenza commented on #145
Update: it looks like WXS samples were not run, so they are being added to the queue ASAP. Related to #135 (also were run for Vardict).

[2019-10-03 19:36] jharenza opened #146 "Planned Data Release: v6"
#### File(s)

_What data file(s) does this issue pertain to?_

#### Release
v6
_What release are you using?_

#### Link to [OpenPBTA-manuscript](https://github.com/AlexsLemonade/OpenPBTA-manuscript/)

_Put a link to the relevant section of the OpenPBTA manuscript here._

#### Question/issue

_Put your question or report your issue here._
This will include updates to:

- Lancet and Vardict files (W

[2019-10-03 23:42] jharenza commented on #135
@jaclyn-taroni it looks like when we download the file from S3 or CAVATICA and gunzip, it works fine and MD5sum matches, however, when I just checked MD5sum of my download from the release, it did not match, so I think the file is truncating upon download in the release. Can you check yours? Also, the uncompressed file is 29GB.

[2019-10-04 00:02] jaclyn-taroni commented on #135
Hm, my md5sum did match what was reported in `md5sum.txt` but if yours got truncated it may explain your gunzip error.

Good to know. That is larger than I was expecting and will probably take a long time! I'll give it a try on my desktop tomorrow.

[2019-10-04 11:58] jharenza commented on #135
If it cannot load locally, let us know and we can create a CAVATICA project where you can run interactive R notebooks using your code to create the file subsets (and/or consensus calls, cc: @cansav09) and we can add those results to a data release.

[2019-10-04 16:32] jaclyn-taroni commented on #135
I got:
[code]
just now

[2019-10-04 16:49] jharenza commented on #15
@komalsrathi great! Looking forward to seeing your analysis!

[2019-10-04 20:28] #110 closed

[2019-10-04 20:29] jashapiro commented on #110
Closed by #120

[2019-10-04 21:36] syzheng opened #148 "Proposed Analysis: quantify telomerase activity across pediatric brain tumors"
#### Scientific goals

_The goal is to quantify telomerase activity and correlate them with telomere length and molecular alterations (TERTp mutation, ATRX mutation, etc)_

#### Proposed methods

_We will use our newly developed method EXTEND (EXpression based Telomerase ENzymatic activity Detection)_

#### Required input data

_Gene expression from RNAseq (either of TPM, RPKM, or counts)_

#### P

[2019-10-04 21:47] syzheng commented on #39
it can be from multiple resources. For instance, TCGA normal samples have been analyzed for fusions; but the best source might be GTEx. One issue with using normal sample for filtering is that the normal samples should be analyzed with the same pipeline used for cancer so to minimize tool introduced artifacts.

[2019-10-04 21:49] syzheng commented on #19
for oliodendroglioma and astrocytoma, you may also consider comparing them with adult cancers.

[2019-10-05 08:23] cgreene commented on #148
This sounds exciting! As I think about potential caveats, does it matter if the RNA-seq samples are poly-A selected or rRNA depleted?

[2019-10-07 15:05] syzheng commented on #148
that is a great point. we currently use data from regular polyA enriched protocol, mostly because our primary input data is TCGA. this does impact the method, because a key gene in our signature, TERC, is a non-coding RNA that is not properly captured by polyA methods. PCR shows this gene is abundantly expressed across tissues; however, RNAseq data from TCGA and GTEx only show very low expression

[2019-10-07 15:30] guru-yang commented on #27
The Yang Lab will perform analysis on chromothripsis.

[2019-10-07 15:45] cgreene commented on #148
@syzheng : Ok! This dataset contains both poly-A and rRNA depleted samples. #120 and https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/master/analyses/selection-strategy-comparison took a dive into the implications for gene expression analyses based on some earlier work by @cbethell.

I'm a bit confused by "a key gene in our signature, TERC, is a non-coding RNA that is not properly captured

[2019-10-07 15:56] syzheng commented on #148
EXTEND was developed using data from polyA. We essentially do not know if it works for rRNA depletion, because we did not have this type of data when we benchmarked the method. The key is TERC, a non-coding RNA that constitutes our gene signature as well as the telomerase complex. It would be great if we have a few cases that are sequenced by both methods. Otherwise, we can examine the distributio

[2019-10-07 16:17] cgreene commented on #148
Gotcha! You'll find both sets of files in the data download as processed in a few different ways:
[code]
For now, it will be interesting to see if the distribution is different and/or if TERC matches the estimates from the method in the `stranded` ones. Hopefully we'll have the set with both in the not terribly distant future, but we shouldn't wait for them to get started. Thanks for taking this o

[2019-10-07 17:48] gonzolgarcia commented on #27
Note that there are two callers for CNV (cnvkit & controlfreek) and SV (manta & lumpy)
This dataset still require some further processing and filtering

[2019-10-07 18:18] jaclyn-taroni commented on #27
This dataset still require some further processing and filtering

@gonzolgarcia are you planning to generate SV consensus calls?

[2019-10-07 18:46] gonzolgarcia commented on #27
Before getting a consensus, lumpy requires somatic filtering. It would be nice to have this added to next release

[2019-10-07 18:48] jaclyn-taroni commented on #146
Is it possible to perform somatic filtering on the LUMPY file as part of the next release? See https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/27#issuecomment-539151307 from @gonzolgarcia

[2019-10-07 19:45] jharenza commented on #146
@jaclyn-taroni - looking into this - looks like we have to run SVTyper on the VCFs first, then do the [specific filtering](https://github.com/arq5x/lumpy-sv/issues/268) mentioned in the issue (not sure how standard practice this filtering is). Perhaps this should also be done on Manta to be consistent, but they also seem to have their own filtering as the file is so much smaller (75MB v. 2.7GB). W

[2019-10-07 19:47] jharenza commented on #27
@guru-yang  - do you have any experience with somatic filtering of LUMPY SVs? The comment referred to here suggests the following:

1) Run SVTyper - docker
2) Filter for somatic calls:
a) keep non-reference SVs in the tumor;
b) keep SVs which have no alternate depth (AO==0) in normal;
c) keep SVs with sufficient depth in the normal (RO>~7)

[2019-10-07 20:27] guru-yang commented on #27
We haven't used LUMPY at all. The filtering steps sounds reasonable. Based on my experience, Manta alone might be good enough for SV calling.

[2019-10-07 21:06] gonzolgarcia commented on #27
l

You're probably right and manta alone + cnvkit should be enough for Shatterseek?

[2019-10-07 22:13] guru-yang commented on #27
Should be enough.

[2019-10-08 12:51] jharenza commented on #27
Great! @guru-yang and @gonzolgarcia - you can plan to use Manta + CNVkit for Shatterseek and then we can work on a filtered lumpy data file for release in the next few weeks for general recurrent SV analysis.

[2019-10-08 15:13] cansav09 commented on #135
Vardict file as far as Circle CI tests go has a temporarily fix that will need to be undone once the file is fixed. [See this commit](https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/149/commits/88991f576f7f3375eb9d8f3ab2a2672894056baa)

[2019-10-08 18:02] jashapiro commented on #13
I'm going to start working on this, aiming to build a figure similar to the one @jharenza presented:
![example-plot](https://user-images.githubusercontent.com/20483/66420235-875e8280-e9d3-11e9-8f77-7b8922eece75.png)

For now I will used the strelka2 data, but it should be flexible enough to feed in whatever final set of data we would be interested in.

I was planning to allow production alternativ

[2019-10-09 13:55] jashapiro opened #153 "Strelka2 maf file read counts seem incorrect"
#### File(s)

pbta-snv-strelka2.vep.maf.gz

#### Release

v5

#### Link to [OpenPBTA-manuscript](https://github.com/AlexsLemonade/OpenPBTA-manuscript/)

https://github.com/AlexsLemonade/OpenPBTA-manuscript/blob/master/content/03.methods.md#vcf-annotation-and-maf-creation

#### Question/issue

In the strelka2 files, the reference and alt counts for indel variants include `.` characters, which I wou

[2019-10-09 14:19] jashapiro commented on #146
Hoping this release can also address the strelka2 file issue identified in #153

[2019-10-09 20:21] jashapiro commented on #153
This was a bug in vcf2maf, that has been fixed in the development branch, at least.
https://github.com/mskcc/vcf2maf/pull/215

It would be good to have this updated, but if it needs to wait for the next release, that would be okay, as long as there is a note that VAF calculations for indels from strelka will be wrong (and may just silently fail depending on how this is handled).

[2019-10-09 20:27] jashapiro commented on #153
Note that the methods at https://github.com/AlexsLemonade/OpenPBTA-manuscript/blob/master/content/03.methods.md#vcf-annotation-and-maf-creation will also need to be updated to reflect the use of vcf2maf v1.6.17

[2019-10-10 11:45] jharenza commented on #145
As an update, we have completed this and they will be ready for #146

[2019-10-11 20:07] jashapiro opened #155 "Analyses including multiple samples from the same individual"
#### Question/issue

Many of the analyses that have been proposed are sensitive to the fact that we have multiples tumor samples from different time points or tumors from the same individual. For example, biospecimens `BS_K07KNTFY` and `BS_AQMKA8NC` are both tumor WGS data (initial and recurrence, respectively) from participant `PT_00G007DM`. While this is extremely useful data, it presents questi

[2019-10-11 20:15] jharenza commented on #155
@jashapiro I recently had this on my mind as I saw some of the mutation analyses you described, so I am glad you are bringing this up in an issue. As you allude to, I think how we use the data also depends upon how data are being used/plotted. For example, I think it makes sense to limit to one primary tumor per patient when doing mutual exclusivity/co-occurrence analyses (#13), but we could calcu

[2019-10-11 20:20] jharenza commented on #10
@kgaonkar6 - for this recurrent analysis, we should pay special attention to samples in which we have diagnosis/relapse pairs (#155) or patient/cell line matched data and should separate/plot differently. For example, we can look at cell line results separately (or exclude from this analysis). For patients with more than one RNA sample, I think we should look into how similar/different they are/if

[2019-10-11 20:20] jashapiro opened #156 "Incomplete metadata for RNA-seq biospecimens"
#### File(s)

pbta-histologies.tsv

#### Release

v5

#### Link to [OpenPBTA-manuscript](https://github.com/AlexsLemonade/OpenPBTA-manuscript/)

N/A

#### Question/issue

RNA-seq samples are missing data in the `tumor_descriptor` column. This information can be gleaned by looking at matched WGS samples, but it would be ideal to have this in the row for each of the RNA-seq samples as well.

For exa

[2019-10-11 20:31] jharenza commented on #156
@jashapiro we can add that!

[2019-10-13 20:00] cgreene commented on #155
I agree that we should ask people to - by default - report on only primary tumors and filter to one per patient for most of the overall atlas work. How many patients had multiple primaries?

We'll probably also want to go back and make sure that existing analyses thoughtfully consider whether this rule should be applied.

[2019-10-16 16:37] fingerfen opened #157 "Missing sample in pbta-sv-manta.tsv"
#### File(s)

Pertains to "pbta-sv-manta.tsv" file under "Kids.First.Biospecimen.ID.Tumor" column

#### Release

release-v5-20190924

#### Question/issue

I think there are 940 unique 'Kids.First.Biospecimen.ID.Tumor' samples for Cnvkit and ControlFreeC data. However, there are only 939 unique 'Kids.First.Biospecimen.ID.Tumor' samples in the Manta file. The missing sample is named 'BS_HSYF7G2D'. I

[2019-10-16 16:53] jharenza commented on #157
Thanks @fingerfen! It looks like that sample was missed during annotation. We will try to get this fixed in #146 !

[2019-10-17 15:05] jharenza commented on #157
Update: this has been completed and will be added to #146.

[2019-10-18 15:35] fingerfen commented on #157
Thank you very much for the quick response!

[2019-10-18 15:35] #157 closed

[2019-10-18 19:04] jashapiro commented on #155
I thought I would give a bit of specificity to this question. First up: highlighting the WGS samples where we have multiple biospecimens from the same participants, with no obvious way to decide which of these is earliest.

For these data, I have chosen the samples with the smallest age at diagnosis for each participant, and removed all derived cell line samples.

Kids_First_Participant_ID | sampl

[2019-10-21 18:54] cbethell commented on #6
I can begin working on this issue now, while keeping in mind that this analysis will need to be rerun once the aforementioned upstream issues are completed.

[2019-10-21 21:02] #145 closed

[2019-10-21 21:02] jharenza commented on #156
Done, will be integrated with #146

[2019-10-21 21:02] #156 closed

[2019-10-21 21:04] jharenza commented on #153
@migbro, can you update the github production repo to include this new VCF2MAF version and I can link to it/edit the manuscript?

[2019-10-21 21:09] jharenza commented on #131
updated for #146

[2019-10-21 21:09] #131 closed

[2019-10-22 13:45] jharenza commented on #6
Thanks, @cbethell !

[2019-10-22 13:45] jharenza commented on #19
I will work on this once we have some consensus, summary files!

[2019-10-22 13:46] jharenza commented on #19
@syzheng - in what way should we compare oliodendroglioma and astrocytoma to adult cancers? Specific analysis?

[2019-10-22 14:35] cansavvy opened #161 "Proposed Analysis: Getting a consensus set of SNV mutations"
#### Scientific goals

From the results of the four mutation callers, determine a set of mutations that we believe are reliable and real.

#### Proposed methods

**Overall steps:**
1) Get an initial evaluation of each caller (implemented by #117, #118, #125, #126, and  #144).
2) Compare the callers with each other (in progress but set up by #159)

The [snv-caller  README](https://github.com/AlexsL

[2019-10-22 15:07] migbro commented on #153
Workflow updated, PR made here: https://github.com/AlexsLemonade/OpenPBTA-manuscript/pull/48

[2019-10-22 18:35] cansavvy commented on #161
From in person talk with @jashapiro, plan is to:

1) Turn distribution sina plots into density plots
2) Do experiment with increasing VAF cutoffs -> recalculate TMB and determine if this improves TMB correlations across callers. Can we recover VarDict by increasing VAF cutoff?
3) Turn TMB distribution into facet wrapped plot so it is more easily readable.

[2019-10-23 12:47] jaclyn-taroni opened #162 "Update: sample distribution plots accounting for multiple samples from the same individual"
In light of https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/155, the plots from #5 that are in the [`sample-distribution-analysis`](https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/70879095fd79d7be5bbb21acf6b743eb96552ae6/analyses/sample-distribution-analysis) should probably be updated to remove "duplicates" when getting an overall picture of the cohorts (e.g., distribution of hi

[2019-10-23 12:47] jaclyn-taroni commented on #162
Related: https://github.com/AlexsLemonade/OpenPBTA-manuscript/issues/38

[2019-10-23 18:25] jaclyn-taroni opened #165 "Proposed Analysis: apply TP53 & NF1 classifiers to PBTA data"
#### Scientific goals

Identify samples that have _TP53_  or _NF1_ inactivation using gene expression data.

#### Proposed methods

* This would use a pre-existing classifier (trained on TCGA data) that was described in Knijnenburg et al.
* It seems appropriate to keep the poly-A and stranded samples separate for this.

#### Required input data

Gene expression data. I believe relative abundance d

[2019-10-24 00:27] cgreene commented on #165
From a conversation with @gwaygenomics and @PichaiRaman I have some additional info that may be helpful:
[code]

[2019-10-24 12:18] jharenza commented on #165
Updated to add _NF1_ since that classifier also works well in pediatric data!

[2019-10-24 12:27] jaclyn-taroni commented on #165
Relevant pub for _NF1_:  [Way et al. _BMC Genomics._ 2017.](https://doi.org/10.1186/s12864-017-3519-7)

[2019-10-24 18:53] jaclyn-taroni commented on #16
@PichaiRaman are you still working on this issue? It would be great to have you flesh this out a bit more using the [template for proposed analyses](https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/.github/ISSUE_TEMPLATE/propose-an-analysis.md) as a guide. This could be particularly helpful if someone else works on the issue, as it will give us more information for what you were upon

[2019-10-25 12:39] jaclyn-taroni commented on #15
Hi @komalsrathi, do you have an estimate of when we can expect the first pull request adding this analysis? This will help us factor in review as we plan our workload. Thank you!

[2019-10-25 13:20] jharenza commented on #27
@guru-yang and @gonzolgarcia as an update, we are going to remove LUMPY from the release. SVTyper processing is very long per sample (>10 hours), and will require some benchmarking for filtering, which we have de-prioritized in favor of benchmarking copy number. You have both said Manta is fine, so we will drop it. We will have a data release with new CN results coming next week #146, so please le

[2019-10-25 14:13] guru-yang commented on #27
@jharenza Thanks for the update. I am wondering how to get sample metadata. We are able to get gender, age at diagnose, tumor type from Kids First data portal. In order to perform survival analysis, age at last follow up would be needed. Do you know how to get that information? Are there any other information available for the patients, or their parents, such as smoking, alcohol consumption of the

[2019-10-25 14:15] cgreene commented on #27
@guru-yang : have you examined the metadata available in the files associated with this project? Once you do, could you file a new issue noting anything that's missing that you'd need for your analysis? Thanks!

[2019-10-25 14:30] komalsrathi commented on #15
@jaclyn-taroni Potentially by next Friday? (it could be earlier but just giving myself some extra time). Does that sound reasonable? Let me know.

[2019-10-25 14:30] jaclyn-taroni commented on #15
Yes sounds good - thank you!

[2019-10-25 14:33] guru-yang commented on #27
@cgreene I am able to find overall survival in pedcbioportal. Thanks.

[2019-10-25 14:41] jaclyn-taroni commented on #27
Hi @guru-yang - overall survival, gender, age at diagnosis, and tumor type are all available in the `pbta-histologies.tsv` file that are part of the data files that are obtained by running the `download-data.sh` script.

We need people to use that file when putting together their analyses because that ensures that different contributors that are working independently are using the same information

[2019-10-25 14:46] jharenza commented on #27
@guru-yang as @jaclyn-taroni mentioned, the survival is in the provided histologies file in the data download. We do not have age at last followup in the file currently, but it can be added in the release due next week. Can you please file an issue for that? We have no parental information available, but if there are other things you would like to see from patients, you can also ask in an issue an

[2019-10-25 14:51] guru-yang commented on #27
@jaclyn-taroni  @jharenza  I see. Thanks a lot. What about smoking and alcohol usage for the probands?  I don't expect smokers in pediatric cohort. Just curious.

[2019-10-25 14:52] cgreene commented on #27
@guru-yang : please file a _new_ github issue with requests for metadata so that we can keep this issue, currently titled "Planned Analysis: Integrated CNV and SV analyses and chromothripsis" on that topic. Thanks!

[2019-10-25 15:08] jaclyn-taroni commented on #162
I addressed part of this with #170 and can continue to work on this.

[2019-10-25 15:14] guru-yang opened #177 "Request metadata: patient age at last followup, smoking history, alcohol usage"
As discussed in issue #27 , I'd like to request patient age at last followup, smoking history, alcohol usage if available. Thanks.

[2019-10-25 15:16] jaclyn-taroni opened #178 "Data dictionary for tumor_descriptor field"
#### File(s)

`pbta-histologies.tsv`

#### Release

`release-v5-20190924`

#### Link to [OpenPBTA-manuscript](https://github.com/AlexsLemonade/OpenPBTA-manuscript/)

I would expect this information to be in this section: https://github.com/AlexsLemonade/OpenPBTA-manuscript/blob/master/content/03.methods.md#clinical-data-harmonization

But I don't see it.

#### Question/issue

This is related to ht

[2019-10-25 23:12] cgreene commented on #177
@guru-yang : I've updated the title. I'm going to guess that smoking history and alcohol usage is going to be unlikely to be available with this study, and also that in many cases here that there would be no smoking history or alcohol usage. Is there a reason that these variables would aid the analysis described in #27?

[2019-10-26 00:37] jaclyn-taroni commented on #18
@PichaiRaman do you have an idea of when you expect to file the first pull request for this?

I also wanted to ask if the code you mentioned above was publicly available. If so, we could potentially have someone else get started on adapting it for this project and have you review. Let me know what you think!

[2019-10-26 12:33] jharenza commented on #177
Hi @guru-yang ! We do not have smoking history or alcohol usage for this patient cohort, but we do have age at last followup. Will just double check that we can share this metadata, as it is not in the DRC, but was used for survival calculations, so hopefully, won't be a problem.

[2019-10-26 12:49] jaclyn-taroni commented on #9
Some initial work on this is currently in [`analyses/transcriptomic-dimension-reduction`](https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/c8a2399fb31e1024938c24693ed5fddc6343756f/analyses/transcriptomic-dimension-reduction). For this reason, I am assigning this an `updated analysis` label.

[2019-10-26 13:15] jaclyn-taroni opened #180 "Generate v6 files for continuous integration"
After the v6 release tracked in #146 happens, we will need to update the subset files we use in continuous integration to reflect that new release. This has several parts:

- [x] Tackling the TODO related to the VarDict file provided #135 is addressed in that release
  https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/c8a2399fb31e1024938c24693ed5fddc6343756f/analyses/create-subset-files/01-g

[2019-10-26 17:51] jaclyn-taroni commented on #8
**Summarizing _my understanding_ of the status of this issue:**

* The mention of GISTIC and TAGCNA = I understand we're looking for significant amplifications or deletions and therefore some metric and test for significance.

* As far as visualization is concerned, @jharenza has requested

  Here's an example from [Chekaluk et al.](https://doi.org/10.1371/journal.pone.0060927):

![](https://www.r

[2019-10-26 18:41] jaclyn-taroni commented on #19
Should we break each of the current list items into its own ticket with more specific instructions? Then they will be more limited in scope and the work could be more easily distributed _and_ approaches more easily discussed. I imagine the domain knowledge required for each of the items may vary. Getting specific instructions on tickets (including required inputs) would allow potential analysts to

[2019-10-26 19:06] jaclyn-taroni commented on #7
@PichaiRaman laid the groundwork for this in #133, but mentioned this should be revisited with finer granularity https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/133#issuecomment-538597315, e.g., molecular subtypes (#19). I am labeling this with `updated analysis`. The analysis can be found at [`analyses/ssgsea-hallmark/`](https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/master/analy

[2019-10-26 19:42] jharenza commented on #19
We can. I typically utilize fusions, CN, and SNVs to determine the subgroups, if possible. There are instances when you can categorize as NOS (not otherwise specified), so I think most of this will be done manually, unfortunately.

[2019-10-27 16:14] guru-yang commented on #177
@cgreene Smoking and alcohol usage are known to contribute to genome instability. @jharenza Good idea. We ended up using SNV signature to measure smoking in a lung cancer study, since self-reported smoking history is somewhat not accurate. Thanks.

[2019-10-28 11:49] cgreene commented on #177
@guru-yang : I realize that in other settings smoking and alcohol usage are known to contribute, but these are pediatric cancers. If you look at the `age_at_diagnosis` column of the `pbta-histologies.tsv` file I think you'll see something that suggests that in this population those risk factors are probably not a major driver of genome instability. Does this help?

[2019-10-28 12:00] allisonheath commented on #177
It would be interesting if we knew the status of these for the parents - but this is not something we collect at this time. We are working on revamping some of our clinical data collection, so will put a note to include this in the future if possible, but it won't be available for this analysis.

[2019-10-28 12:36] jaclyn-taroni commented on #8
GISTIC 2.0 is available as [a GenePattern module](http://software.broadinstitute.org/cancer/software/genepattern/modules/docs/GISTIC_2.0). This requires a reference file:

That description makes it seem like it might not be the most straightforward to obtain/derive?

Also requires:

  The markers file identifies the marker names and positions of the markers in the original dataset (before segmenta

[2019-10-28 12:41] jharenza commented on #148
Hi @syzheng ! Checking in on this analysis - do you have an idea of when you or your team would file a PR for this? Thanks!

[2019-10-28 12:57] jaclyn-taroni commented on #19
I'm not proposing an 'automatic' solution (e.g., building classifiers). I think if we can find ways to automatically generate reports that are easily consumed by, say, putting required results in a single place in tabular format, that might help us reach our goals more quickly. It would also allow us to rerun things when data gets updated (and therefore see if the subtype labels change) and probab

[2019-10-28 12:58] jaclyn-taroni commented on #19
I should say "see if the information underlying the subtype labels change"

[2019-10-28 14:19] guru-yang commented on #177
@cgreene I am fully aware, that's why I was asking about the parents. About one third of the patients in this cohort are teenagers, some of them might use tobacco and alcohol. Measuring by SNV signatures is probably the best way.

[2019-10-28 14:20] syzheng commented on #148
yes, we have finished the score calculation. will update on github once we
have more on integration.
Siyuan

On Mon, Oct 28, 2019 at 7:41 AM Jo Lynne <notifications@github.com> wrote:

[2019-10-28 20:09] jharenza commented on #8
@jaclyn-taroni I may be able to run this tomorrow and provide in the data release, once I get the updated seg files.

[2019-10-29 14:39] jaclyn-taroni commented on #180
@cansavvy will tackle this when #146 lands

[2019-10-29 14:42] cansavvy commented on #180
Only thing I will need more direction on is the `Uploading the files in data/testing/release-v6-2019XXXX to S3` component. I think last time I just sent you, @jaclyn-taroni, the updated test files. Do you want me to do the same this time?

[2019-10-29 14:43] jaclyn-taroni commented on #180
Yes that would be fine.

[2019-10-30 10:47] jaclyn-taroni commented on #180
If the files from https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/master/analyses/independent-samples and GISTIC files get added this release, this might be slightly more involved than described herein. However, since these would be new, no one will have developed against them yet. That means we can take a two step approach where we first do what is listed here and then deal with the new f

[2019-10-30 15:41] jaclyn-taroni opened #186 "Proposed Analysis: map from SEG file to genes (and broader segments)"
#### Scientific goals

We currently have copy number information in the form of SEG files. The goal of this analysis is to generate focal copy number files for consumption in the oncoprint (#6) and co-occurrence/mutual exclusivity modules (#13). In essence we want to know what genes are amplified or deleted in each sample for downstream analysis. ~This will also have an element of determining what

[2019-10-30 17:20] GeoffLyle opened #188 "Question on Proposing a Multi-Step Analysis"
Hi all,

This is a question on proposing a multi-step analysis.  Our team has a plan to perform a gene level outlier analysis on the ribodeplete (stranded) samples.  However, there are several prior steps to reaching this point, which will generate artifacts of their own.

Since these artifacts will be used as inputs to the next steps of the analysis:
Should we propose a single analysis with multi

[2019-10-30 17:51] jaclyn-taroni commented on #188
Hi @GeoffLyle, welcome! My inclination would be to file a single issue outlining all of the steps so folks can comment on the plan as whole. Then, each step/section should correspond to a single pull request.

The [pull request template](https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/.github/PULL_REQUEST_TEMPLATE.md) includes sections for soliciting specific feedback and reporting

[2019-10-30 18:34] jaclyn-taroni commented on #180
@cansavvy with #190 landing, this is ready to go. We do not need the further steps I described in https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/180#issuecomment-547841652. So you will need to run `download-data.sh` to get the new version (v6) and then carry out the steps above.

[2019-10-30 18:35] cansavvy commented on #180
I'm on it! 🚀

[2019-10-30 20:53] jaclyn-taroni commented on #180
This has been resolved for now.

[2019-10-30 20:53] #180 closed

[2019-10-30 20:53] jaclyn-taroni commented on #135
This has been resolved. See #192.

[2019-10-30 20:53] #135 closed

[2019-10-30 21:00] GeoffLyle commented on #188
@jaclyn-taroni Sounds straightforward.  We will put together our proposal in a single issue.  If we have any other questions during the process we will add them to this ticket.

[2019-10-30 21:21] cansavvy commented on #153
I was just testing whether this problem is resolved in v6. It looks like it is? Here's what I did to test it.
@jashapiro is this an adequate test?
[code]
Which yielded:
[code]
 I think if the `.` still persisted `summary would have given an error?

[2019-10-30 23:45] jashapiro commented on #153
That does look like it is fixed, as it is treating the columns as numeric, not characters.

[2019-10-31 00:35] #153 closed

[2019-10-31 10:57] jaclyn-taroni commented on #186
I wanted to note that the first step should go before oncoprint plotting and interaction plots in CI to allow folks to develop off of the output.

[2019-10-31 11:00] jaclyn-taroni commented on #146
Closed via #190

[2019-10-31 11:00] #146 closed

[2019-10-31 12:20] jharenza commented on #186
Hi! After not releasing the controlfreeC seg file yesterday, we figured out part of the problem was with LRR values and we are going to remove that information (or recalculate properly) in lieu of absolute CN. If you look at the new CNVkit seg file, you can see we added CN and so now this can be used instead of thresholding LRR (0 = homozygous loss, 1 = hemizygous loss, 2 = diploid, 3/4= gain, and

[2019-10-31 12:35] jaclyn-taroni commented on #186
Okay thank you -- looking forward to getting more information. Do you have an analysis that supports those calls that you can share publicly @jharenza ?

In that case @cbethell, let's have the tabular output in this format:

| gene_symbol | biospecimen_id | label |  copy_number |
|:-------------:| :---------------:|:----:|:------------:|
| YFG1 | BS_XXXXXXXX | hemizygous_loss | 1 |
| ... | ... | .

[2019-10-31 12:42] jharenza commented on #186
Do you mean the pipeline or explanation of the output? I think we pushed that to our github and I can update the link in the manuscript. If not, will do.

[2019-10-31 12:46] jaclyn-taroni commented on #186
Sounds good. I would expect the explanation of the output to be in the issue or README you mentioned above, is that correct?

[2019-10-31 13:04] jharenza commented on #186
Yep, I will add to the readme!

[2019-10-31 13:09] jaclyn-taroni commented on #155
With #191, I reran @jashapiro's [`independent-samples`](https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/master/analyses/independent-samples) module with the data from `release-v6-20191030`.

That means that we have 4 lists of independent samples [here](https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/0c2d0d25c01dcbbbd63f94b064a69afc9dc44ea8/analyses/independent-samples/results) that

[2019-10-31 13:14] jharenza commented on #155
@jaclyn-taroni - I had added his files to the latest release (v6) - forgot to note this. Do you want these in a new release or can we use the first set?

[2019-10-31 13:22] cgreene commented on #155
I think that we should advise people to filter samples to WGS primary specimens.

This way folks would need to actively think about the scientific purpose to go beyond that. It seems like this best balances ease (providing one recommendation) with care. We should provide guidance on how to filter. Perhaps we could provide template filtering code for this default for each of the file types that hav

[2019-10-31 13:22] jaclyn-taroni commented on #155
Did you rerun it with the v6 data or use the files already in the repository (v5)? I downloaded the v6 files yesterday and they were not present. Perhaps an issue with them missing from `md5sum.txt`?

[2019-10-31 13:22] cgreene commented on #155
I guess the question was about method of distribution: adding this list to the md5sum and data download would seem like the preferred method of distribution.

[2019-10-31 13:27] jharenza commented on #155
Ahh, ok, those were missed in the S3 transfer on our end - I took the lists from the v5 release (clinical subjects did not change) that @jashapiro created from his PR. We can add these with the new controlFreeC file - just let me know which versions you want!

[2019-10-31 13:41] jaclyn-taroni commented on #155
Can you add the files here: https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/0c2d0d25c01dcbbbd63f94b064a69afc9dc44ea8/analyses/independent-samples/results

Those are updated to use v6. The files did change because of changes to the clinical data: https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/191#pullrequestreview-309493468

[2019-10-31 13:44] jharenza commented on #155
Will do!

[2019-10-31 13:52] jharenza commented on #155
Should we rename these files as `independent-patients-**` to be clear these are from unique patient cohorts, since the specimens are already all unique?

[2019-10-31 13:53] jharenza opened #194 "Planned Data release: v7"
#### File(s)

_What data file(s) does this issue pertain to?_
ControlFreeC CNV, tumor ploidy estimate, and #155
#### Release

_What release are you using?_
update v6, adding files

#### Link to [OpenPBTA-manuscript](https://github.com/AlexsLemonade/OpenPBTA-manuscript/)

_Put a link to the relevant section of the OpenPBTA manuscript here._
https://github.com/AlexsLemonade/OpenPBTA-manuscript/issue

[2019-10-31 13:56] jashapiro commented on #155
I like independent-specimens, as the other lists include replicate (non-independent) specimens, wheras the ones here are truly independent.

[2019-10-31 14:22] jaclyn-taroni commented on #194
What is the timeline for this? That will influence whether or not I go forward with putting the independent samples files on the S3 bucket that has the CI testing data.

[2019-10-31 14:35] jaclyn-taroni opened #197 "Generate v7 files for continuous integration"
- [x] Updating the default release in the shell script that generates the subset files
https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/0c2d0d25c01dcbbbd63f94b064a69afc9dc44ea8/analyses/create-subset-files/create_subset_files.sh#L10
- [x] Running `./analyses/create-subset-files/create_subset_files.sh` to get the new files
- [x] Uploading the files in `data/testing/release-v7-2019XXXX` to S3

[2019-10-31 15:53] komalsrathi commented on #15
@jaclyn-taroni @jharenza It looks like I will be able to create a branch and push my existing scripts today but for the actual pull request, it will take a couple days more - cibersort needed me to request access to the source scripts which I just got my hands on. I would like to finish a correlation plot between all methods used and another cell type visualization per histology (boxplot) before I

[2019-10-31 16:02] jaclyn-taroni commented on #15
@komalsrathi you can create a pull request for what you have so far and then add the CIBERSORT steps, correlation, and additional plot in a later pull request(s). Generally pull requests with fewer parts are easier to review. Would that work on your end?

[2019-10-31 17:38] komalsrathi commented on #15
I think that should be doable - let me see if I can add a branch with at least 1-2 clean scripts. Thanks!

[2019-10-31 21:08] jaclyn-taroni opened #201 "Possible refactor: `snv-callers`"
We should take a moment to re-evaluate the overall structure of the [`snv-callers`](https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/master/analyses/snv-callers) module to see if there are improvements that can be made and what the scope for those would be. We can take a look early next week.

[2019-10-31 23:29] jaclyn-taroni commented on #194
Are the two SEG files supposed to be different formats? if so, can we please add a note in this section of the README: https://github.com/AlexsLemonade/OpenPBTA-analysis#data-formats ?

[2019-11-01 00:35] jharenza commented on #194
Yes, they are - I updated CNVkit, but waited for v7 to update controlfreeC. I added links and more info to clarify these; submitting PR now.

[2019-11-01 00:35] #194 closed

[2019-11-01 00:37] jharenza commented on #177
Added age at last follow up to #190 , but the rest of the information is not available.

[2019-11-01 00:37] #177 closed

[2019-11-01 00:39] jharenza commented on #155
@jashapiro, once #205 is merged, will you please describe the 4 independent specimen files to the README along with usage information?

[2019-11-01 00:41] jharenza commented on #57
Updated in #146 and will update the Manuscript with data dictionary tomorrow.

[2019-11-01 00:41] #57 closed

[2019-11-01 00:43] jharenza commented on #16
@PichaiRaman - from our discussion in person, it sounded like you are not working on this anymore. Are you able to add additional information, per @jaclyn-taroni's request? Thank you!

[2019-11-01 10:37] cansavvy commented on #201
**Things I'm noticing so far:**
- Some of the plots should be restructured for accommodating the full dataset.
   - Turn VAF correlation plot into a hexplot
   - Save histology legend separately
-  VAF of caller combinations doesn't save correctly to its png
- Some output messages are printing out the wrong file.path though they are saving to the correct file path.

**Optimization question*
- Woul

[2019-11-01 10:41] cansavvy commented on #161
Ran the full v6 data. Will upload and add a report. VarDict could not be run because of out-of-memory issues. Will need to optimize some memory intensive steps and figure out an acceptable VAF cutoff for VarDict to actually be run. That being said the consensus made without VarDict is probably more reliable.

[2019-11-01 10:42] cansavvy commented on #161
[consensus_mutation.maf.tsv.zip](https://github.com/AlexsLemonade/OpenPBTA-analysis/files/3797553/consensus_mutation.maf.tsv.zip) I will add a more detailed summary of this to the README.

[2019-11-01 13:39] jashapiro commented on #155
Will do.

[2019-11-01 15:59] cansavvy opened #207 "Consensus Mutation Files Release"
#### Background:

As documented in #161, I have the first edition of the consensus mutation files.

I have uploaded them to S3 in a zipped folder that is in their own separate folder `snv-consensus`:
~`https://open-pbta.s3.amazonaws.com/data/snv-consensus/snv-consensus_1112019.zip`~

**UPDATED:** https://open-pbta.s3.amazonaws.com/data/snv-consensus/snv-consensus_11122019.zip see https://github.co

[2019-11-01 20:37] jaclyn-taroni commented on #128
Hi @jharenza @xiehongbo @fingerfen,

Do you have an idea of when we should expect the first pull request for this issue? I am also wondering if we know what the format of the output of this analysis will be now that the two callers have different file formats. This information will help us in development for issues like #6 and #186.

[2019-11-01 21:14] #155 closed

[2019-11-01 23:32] jharenza commented on #128
Hi @fingerfen and @xiehongbo - we were able to finish the data releases to include the new CNVkit and ControlFreeC files, so now you are able to submit a pull request with your analysis. Is it possible to do this next week? @fingerfen can you also list here the output columns of your final file for @jaclyn-taroni ? Thanks!

[2019-11-01 23:32] cansavvy commented on #197
Files generated. Need to upload them to S3 bucket.

[2019-11-01 23:35] jharenza commented on #27
Hi @gonzolgarcia and @guru-yang! When do you think you will be able to file a pull request with either of your analyses? Thanks!

[2019-11-02 00:08] jaclyn-taroni commented on #197
Closed via #203

[2019-11-02 00:08] #197 closed

[2019-11-02 02:54] guru-yang commented on #27
@jharenza We have made some progress. Is there a regular conference call or similar to share results among the group? Or everything is through github?

[2019-11-02 19:24] jaclyn-taroni commented on #27
Hi @guru-yang, great to hear! We encourage you to file pull requests adding the code used to generate results as you have them. The analysis does not need to be complete before getting added to the repository. We have a [pull request template](https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/.github/PULL_REQUEST_TEMPLATE.md) with a section for summarizing results to facilitate discus

[2019-11-02 19:27] jaclyn-taroni commented on #178
This issue has been subsumed by https://github.com/AlexsLemonade/OpenPBTA-manuscript/issues/49. I found the `Relapse`, `Recurrence` distinction to be the most confusing but as of [`release-v6-20191030`](https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/doc/release-notes.md#release-v6-20191030) the single `Relapse` value has been changed and `Initial CNS Tumor`/`Diagnosis` has been har

[2019-11-02 19:27] #178 closed

[2019-11-02 19:32] jaclyn-taroni commented on #4
This should wait on #198

[2019-11-03 15:07] cgreene commented on #27
I will echo @jaclyn-taroni and @jharenza : please file pull requests adding code as you are writing it. It is much harder to integrate a large amount of code after it is entirely written. Thanks!

[2019-11-03 16:53] jaclyn-taroni opened #214 "`primary_site` seems to be a duplicate of `composition` column"
#### File(s)

`pbta-histologies.tsv`

#### Release

`release-v7-20191031` but I think this is also a problem in `release-v6-20191030` but **not** in `release-v5-20190924`.

#### Link to [OpenPBTA-manuscript](https://github.com/AlexsLemonade/OpenPBTA-manuscript/)

N/A

#### Question/issue

The `primary_site` column in the `pbta-histologies.tsv` file appears to mirror the information in the `composi

[2019-11-03 18:52] jharenza commented on #214
Ahhhh, nice catch - coding error, but just fixed this. Will ask @yuankunzhu to update this file on s3 Monday so we can do a quick v8 release.

[2019-11-04 04:10] guru-yang commented on #27
@jharenza @jaclyn-taroni @cgreene Will try to do that soon. I am traveling this week. One quick question, we have seen quite some patients with more than one tumors sequenced. When working on variants, is there a particular strategy to handle these tumors? Such as randomly pick one?

[2019-11-04 11:54] jashapiro commented on #27
As of the v7 release, we now provide lists of independent specimens (one tumor per individual) that we would like analyses to use. These are randomly selected, as you suggest, but this allows everyone to use consistent sets. See the bottom of the [Data Formats](https://github.com/AlexsLemonade/OpenPBTA-analysis#data-formats) section of the README for descriptions of those files.

[2019-11-04 12:45] jharenza opened #219 "Planned release: v8"
#### File(s)

_What data file(s) does this issue pertain to?_
pbta-histologies.tsv and pbta-cnv-controlfreec.tsv.gz
#### Release

_What release are you using?_
v7

#### Link to [OpenPBTA-manuscript](https://github.com/AlexsLemonade/OpenPBTA-manuscript/)

_Put a link to the relevant section of the OpenPBTA manuscript here._

#### Question/issue

_Put your question or report your issue here._
#214 a

[2019-11-04 13:29] jaclyn-taroni opened #220 "Updated analysis: sample distribution analysis primary site table"
#### What analysis module should be updated and why?

`sample-distribution-analysis` was broken by the change in the `primary_site` column tracked here #214.

#### Proposed changes

This is a matter of rerunning the module once the clinical file is fixed (#219):

[code]

#### Required input data and release version

`pbta-histologies.tsv` in the next release (v8)

#### Proposed timeline

This will

[2019-11-04 13:31] #162 closed

[2019-11-04 13:47] jaclyn-taroni commented on #16
The last table in [this section](https://alexslemonade.github.io/OpenPBTA-analysis/analyses/sample-distribution-analysis/03-tumor-descriptor-and-assay-count.nb.html#disease_type_-_descriptors_pairs) of the notebook added in #213 tells us that there are few instances where we have primary tumor data and recurrence data:

| disease_types | descriptors | n |
|---------------|-------------|---|
Ependy

[2019-11-04 14:37] cansavvy commented on #11
So I have mutational signature information for all the samples and made a graph for each sample,  but how would we like this information presented overall?  (Since looking over ~980 graphs is not practical.) How do we feel about something like the graph in [Alexandrov et al, 2018](https://www.biorxiv.org/content/10.1101/322859v2)? In our case we would have the signatures as rows and the histology

[2019-11-04 14:37] cansavvy commented on #11
Then when we have molecular subtype information we could make a version with that information instead of the histology?

[2019-11-04 14:45] cansavvy commented on #11
We can also present the data like this: ![Screen Shot 2019-11-04 at 9 45 17 AM](https://user-images.githubusercontent.com/23458084/68129597-d4a51580-fee7-11e9-8b71-9e0a25f23cb6.png)

[2019-11-04 14:47] jaclyn-taroni commented on #11
I think we'll want to do both kinds of charts you've put here @cansavvy. The stacked bar plots contain information about individual tumors, but I often find the _overall picture_ hard to digest when there are many signatures contributing.

[2019-11-04 15:07] jharenza commented on #11
I like them both as well!

[2019-11-04 15:34] cgreene commented on #11
Agree 💯

[2019-11-04 15:36] komalsrathi opened #221 "Inconsistent merging in RNA-seq RDS files"
#### File(s)

_What data file(s) does this issue pertain to?_

pbta-gene-expression-rsem-fpkm.polya.rds
pbta-gene-expression-rsem-fpkm.stranded.rds

#### Release

_What release are you using?_

release-v5-20190924

#### Link to [OpenPBTA-manuscript](https://github.com/AlexsLemonade/OpenPBTA-manuscript/)

_Put a link to the relevant section of the OpenPBTA manuscript here._

#### Question/issue

Lo

[2019-11-04 15:37] komalsrathi commented on #221
@jharenza I don't think I have access to assign this to you.

[2019-11-04 15:37] jaclyn-taroni commented on #221
I can help with that!

[2019-11-04 15:38] jharenza commented on #221
Thanks, just added as an issue to our github, too!

[2019-11-04 16:24] cansavvy commented on #201
### Changes to make to SNV caller pipeline

**Plot Aesthetic Changes:**
- Some of the plots should be restructured for accommodating the full dataset.
   - Turn VAF correlation plot into a hexplot
   - Save histology legend separately for `compare_snv_callers.Rmd` plot.
   -  VAF of caller combinations doesn't save correctly to its png

**Serious flaw**
- Get rid of `opt$output` 2x normalization f

[2019-11-04 16:25] cansavvy commented on #201
@jashapiro Let me know if you have further ideas for reducing the memory usage of this pipeline.

[2019-11-04 16:31] jashapiro opened #222 "Harmonize disease type separators"
#### File(s)

pbta-histologies.tsv

#### Release

v7

#### Question/issue

The meanings of separators (such as`;`, `/` and `-`) in the disease_type_new column are unclear, and possibly inconsistent.

As noted in #213, semicolons sometimes seem to refer to subtypes and/or additional information, as in the case of `Low-grade glioma;astrocytoma (WHO grade I/II)`, but at other times are used to separa

[2019-11-04 16:34] jaclyn-taroni commented on #219
Sounds like #221 will be addressed in this release as well.

[2019-11-04 17:36] jashapiro commented on #222
Subquestion: In the `short_histology` column, both `High-grade glioma;astrocytoma (WHO grade III/IV)` and `Brainstem glioma- Diffuse intrinsic pontine glioma` are combined as `HGAT`. Is this what we want for analysis, or should the latter be listed as `DIPG`?

[2019-11-04 18:11] jharenza commented on #222
Regarding this, this is going to be low priority - this is something that goes back to the way the data was put into databases to not make our lives miserable when adding additional data, we should keep as much consistency with the KF DRC as possible so not to have to redo much of this later. Eg: we are supposed to be adding multiple additional PNOC samples and the nomenclature for disease type fo

[2019-11-04 18:12] jharenza commented on #222
I believe I did this to abbreviate the `broad_histologies`, in which case HGAT describes both of these.

[2019-11-04 18:19] jharenza commented on #222
We also cannot use `,` for these for technical reasons - the KF DRC feeds into CAVATICA and CAVATICA works on CSV files, so having these delimited by `,` messes up the columns. So, the DRC had tried to replace all commas with semicolons where possible.

[2019-11-04 18:37] jharenza commented on #221
addressed in #223

[2019-11-04 18:37] #221 closed

[2019-11-04 18:37] jharenza commented on #219
#223 completed

[2019-11-04 18:37] #219 closed

[2019-11-04 18:40] jharenza commented on #214
fixed #223

[2019-11-04 18:40] #214 closed

[2019-11-04 18:44] jharenza commented on #222
Tagging @allisonheath here

[2019-11-04 18:55] jharenza commented on #186
Re: missing genes, you can potentially try using [an hg38 GTF file](https://cavatica.sbgenomics.com/public/files/5772b6c5507c1752674486ce/) to create a gene coordinates bed file and use the `bedr` [R package](https://cran.r-project.org/web/packages/bedr/vignettes/Using-bedr.html) to do intersections of genes with segments.

[2019-11-04 18:57] jashapiro commented on #222
Okay, that makes sense. Would you suggest that I keep these separate for downstream analyses or use the `broad_histology`? i.e. for mutation co-occurence data?

[2019-11-04 18:58] jharenza commented on #222
I think the co-occurrance should probably be done on `disease_type_new`

[2019-11-04 20:00] jaclyn-taroni commented on #186
This is the Ensembl link for the hg38 GTF linked in Cavatica above: `ftp://ftp.ensembl.org/pub/release-84/gtf/homo_sapiens/Homo_sapiens.GRCh38.84.gtf.gz`

[2019-11-04 20:48] jaclyn-taroni opened #226 "CI: Handle the case where only a few files get updated between releases"
Only 6 files changed between v7 and v8, no entirely new files were added, and the biospecimen identifiers should be unchanged (see: https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/doc/release-notes.md#release-v8-20191104). Given the way [`create-subset-files`](https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/3f1819d4a4018daf1eb1c551f89ff157849957e9/analyses/create-subset-file

[2019-11-04 21:37] allisonheath commented on #222
Thanks for pointing this out, just as a bit of background, on the original collection forms here are the options provided (as checkboxes):

[code]
These forms were created quite a while ago and in the context of prompts for better manual record abstraction. We're currently working on revamping for the future, but for the current purposes, we'll have to make due with what we have. So as you can see

[2019-11-04 22:04] jaclyn-taroni opened #228 "Generate v9 files for continuous integration"
- [x] Updating the default release in the shell script that generates the subset files
https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/d210b46f9429aae64856dc52aec03040c0657b0e/analyses/create-subset-files/create_subset_files.sh#L10
- [x] Running `./analyses/create-subset-files/create_subset_files.sh` to get the new files
- [x] Uploading the files in `data/testing/release-v9-20191105` to S3

[2019-11-04 22:06] jaclyn-taroni commented on #226
The RDS file with the biospecimen IDs is not up to date: https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/d210b46f9429aae64856dc52aec03040c0657b0e/analyses/create-subset-files

So this is not immediately useful, but I'm going to implement it soon anyway.

[2019-11-04 23:42] jashapiro commented on #222
That is very helpful, thanks @allisonheath. The list of expected values is particularly useful. My guess is that the switch from `/` to `;` was somehow not done completely, perhaps partly intentionally. That would explain the fact that `WHO grade I/II` etc. was left as is, but that cases where two boxes might have been checked originally, i.e. `Ganglioglioma;Low-grade glioma/astrocytoma (WHO grade

[2019-11-05 00:30] GeoffLyle opened #229 "Proposed Analysis: Comparative RNA-Seq analysis"
#### Scientific goals

- Create correlation matrices for polyA samples and ribodeplete (stranded) samples using gene expression data.
- Generate gene outlier thresholds for ribodeplete samples.
- List outlier genes for each ribodeplete sample.
- Discover trends in outlier genes by tumor subtype.
- Investigate possible targeted therapeutics based on outlier expression profile.

#### Proposed method

[2019-11-05 13:28] jharenza commented on #229
hi @GeoffLyle! Thanks for proposing this analysis! We currently have RSEM FPKM values available in our data release: `pbta-gene-expression-rsem-fpkm.polya.rds` and `pbta-gene-expression-rsem-fpkm.stranded.rds`. Since FPKM and TPM from RSEM are highly correlated, will this do, or does your analysis require TPM? If the latter, I can file an issue to add the TPM data during our next sprint, which sta

[2019-11-05 13:38] jaclyn-taroni opened #231 "Include or establish a 'blacklist' of likely false positive genes?"
Some genes might show up as highly mutated, but just happen to be very large (e.g., _TTN_) and are unlikely to be informative. Does a list of genes of this nature already exist out there somewhere in the literature?

If so, including that list somewhere could 1) help contributors with less specific domain expertise filter and interpret their results and 2) allow analysts to use the same list for c

[2019-11-05 13:42] cansavvy commented on #11
What kind of information should I use for a "proposed etiology" column? I don't think we want to keep the same ones? Or do we want to drop that column all together? Here are some drafts of the plots. Let me know what you think. I will have these made for both COSMIC and Alexandrov et al, 2013 Nature signatures.

This one is for COSMIC for now.
![Screen Shot 2019-11-04 at 3 56 07 PM](https://user-i

[2019-11-05 14:10] jaclyn-taroni commented on #186
@cbethell and I are going to split up the work on this, as there are two main areas where this needs to be worked on.

#### Changes to file preparation
* Using the `bedr` R package and `Homo_sapiens.GRCh38.84.gtf` instead of the R annotation package we currently use - the dependencies were added to the Docker image in #225
* Add functionality to use ControlFreeC input / use ploidy information for

[2019-11-05 14:52] jashapiro opened #233 "Update download script to skip unchanged files in new releases"
#### File(s)

download-data.sh

#### Release

v8

#### Question/issue

As we seem to be in a mode of many incremental updates (a good thing!), some of the process (time and disk space) of redownloading data can start to be a bit of a burden for contributors. To increase download efficiency, it might be nice to modify the `download-data.sh` script to check the previous version's folder for unchange

[2019-11-05 15:58] jaclyn-taroni opened #235 "Updated analysis: ssGSEA using collapsed matrix"
#### What analysis module should be updated and why?

In #198 code is being added to collapse the RSEM matrix to a set of gene symbols. The intent is to then distribute the collapsed files as part of the data download.

The [`ssgsea-hallmark`](https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/3ddf4f903758805596fcc941fba90370fea34593/analyses/ssgsea-hallmark) module includes a collapse step c

[2019-11-05 16:58] #220 closed

[2019-11-05 19:29] jaclyn-taroni commented on #11
For the bubble heatmap, can we make the size of the points the proportion of the tumors with the signature so it's not telling us about sample size?

For the stacked bar plot - should we try restricting this to primary tumors using the `independent-specimens` list? You can imagine a situation where two samples from the same participant at different points (`tumor_descriptor`) show the same pattern

[2019-11-05 20:07] GeoffLyle commented on #229
@jharenza I believe our analysis could work with the FPKM or Kallisto TPM values.  However, our current workflow is set up tot use RSEM TPM values and our learning model was trained on TPM data.  Since our team is much more comfortable working with RSEM TPM, it would be great if that data could be provided.  By the end of next week works perfectly well for our timeline.  Thanks!

[2019-11-05 20:54] jharenza commented on #229
OK, will add to our sprint, thanks!

[2019-11-06 12:27] jashapiro commented on #201
As you note, a big memory hog is going to be reading and writing large tables. One way to handle this may be to use the [arkdb package](https://github.com/ropensci/arkdb) (Note that despite instructions, it is available on CRAN).

If you store intermediate result tables in the db file, you will not have to save and load the files, which will allow transmission of results between scripts, without n

[2019-11-06 12:28] cansavvy commented on #201
Nice! I will look into arkdb then!

[2019-11-06 12:30] cansavvy commented on #11
I am unsure if I am calculating the number of signature mutations for each sample correctly. [`deconstructSigs::whichSignatures`](https://www.rdocumentation.org/packages/deconstructSigs/versions/1.8.0/topics/whichSignatures) doesn't supply this directly, but supplies `weights`. The weights appear to be a rough proportion of the sample's mutations that align with that signature. So I've been multip

[2019-11-06 15:52] jashapiro commented on #13
I'm currently working on adding processing of CNV outputs for these analyses. The current plan is to make plots with SNV only, CNV only, and SNV + CNV. For initial analysis, I am taking each gene + loss or gain status (broadly interpreted) as the mutation unit for each sample. However, there are a few issues worth discussing before finalizing the analysis.

* In the current analysis (CNVkit), almo

[2019-11-06 16:33] jashapiro commented on #186
I noticed in initial attempts to integrate CNV calls into #13 that there are a number of genes where CNVkit calls include both gain and loss for the vast majority of samples (see table below, noting that there are only 649 samples in the dataset used). This seems worth a bit of investigation. My initial guess is that most of these are bad calls in repetitive regions, and that restricting calls to

[2019-11-06 18:45] GeoffLyle commented on #229
Hi @jharenza, I talked with our bioinformatician and she informed me that we are interested in both Transcript Level and Gene Level RSEM TPM.  Would it possible to generate both of these files during your sprint?

[2019-11-06 22:35] cansavvy commented on #228
I think we can close this, right @jaclyn-taroni ?

[2019-11-06 22:37] cansavvy commented on #207
We should figure out what to do with this consensus file's handling for downstream analyses. Since #239 uses it, I have a temporary set of code to have it download directly from S3, however, this means its not subsetted along with the other files and will clog up CircleCI's tests.

[2019-11-06 23:24] jashapiro opened #241 "Standard annotation and reference files"
#### File(s)

*.gtf

#### Release

v9

#### Link to [OpenPBTA-manuscript](https://github.com/AlexsLemonade/OpenPBTA-manuscript/)

_Put a link to the relevant section of the OpenPBTA manuscript here._

#### Question/issue

As far as I am aware, we do not currently provide gtf or fasta files for downstream analysis in a standardized way with the repository or data download. Providing such files woul

[2019-11-07 00:14] jharenza commented on #241
will add to the next release

[2019-11-07 00:15] jharenza commented on #207
@cansavvy should we add these to the v10 release?

[2019-11-07 00:17] jharenza commented on #229
@GeoffLyle will do both!

[2019-11-07 00:22] jashapiro commented on #241
Are there any other reference files that you think should be added as well?

[2019-11-07 00:32] jharenza commented on #241
The only other thing I can think of offhand is a mapping file from biomart for ENS to Hugo to Entrez.. this was useful for me with the PDX paper to harmonize gene symbols (update old ones if algorithms used old mappings to current), but I'm not sure if this will be the case for us since we use more recent hg38 and the same ref for all DNA algorithms and same goes into STAR for both fusion algorith

[2019-11-07 12:44] jaclyn-taroni commented on #228
Yep, wanted to merge #236 first.

[2019-11-07 12:44] #228 closed

[2019-11-07 14:46] cansavvy commented on #207
What do you think, @jaclyn-taroni? We should probably add them to the `create-subset` scripts as well. I don't think #239 will be able to be merged until the file is subset.

[2019-11-07 14:51] cansavvy commented on #201
My refactoring plan has included making the `opt$file_format` option into an optional `opt$file_save` option, where the default is that the data are not saved to RDS or TSV files unless you specify with that option. Otherwise, all data is just saved to the SQLite file in order to speed up the process. What do you think of this plan @jashapiro? I guess my thought is that I could see an instance whe

[2019-11-07 15:20] jashapiro commented on #201
I think that makes sense. Is there a reason people will want the intermediate files for anything but debugging?

[2019-11-07 15:27] cansavvy commented on #201
Um mostly debugging? Maybe I should just get rid of the whole thing? IDK.

[2019-11-07 17:45] hongboxie commented on #128
We assume, that sample QC has been done by the sample noisy level.
here is what we did for summarizing consensus CNVs from three predictors of somatic CNs

1) We define two CNVs are the same event if the CNVs overlapping each other >50% reciprocally. We typically use much higher threshold for Germline CNVs (60-80%)
2) We took any CNVs that are identified by >=2 approaches (cnvkit,freec, etc).
curr

[2019-11-07 19:45] jaclyn-taroni commented on #186
@jashapiro I'll give `GenomicFeatures::exons` a shot and then let's take a look at these specific genes?

[2019-11-07 20:00] jashapiro commented on #186
Sounds good. In light of #241, we may want to think about switching over to reading in annotations from a GTF file too.

[2019-11-07 20:01] jaclyn-taroni commented on #186
Agreed 👍

[2019-11-07 20:32] jaclyn-taroni commented on #229
Hi @GeoffLyle I'm looking forward to these analyses. Thank you for proposing them and thanks @jharenza for your team's help with the RSEM TPM.

I wanted to ask about how you were planning to split up the analyses for submission. Would each bullet point under scientific goals be it's own pull request or will some steps be grouped together?

I also wanted to note that we are planning to flesh out th

[2019-11-07 21:18] jaclyn-taroni commented on #207
Adding to v10 and then getting them into `create-subset-files` sounds like a plan to me

[2019-11-07 23:25] GeoffLyle commented on #229
@jaclyn-taroni Our submission of analyses will follow the scientific goals bullet points.  Our first analysis will definitely be **_Create correlation matrices for polyA samples and ribodeplete (stranded) samples using gene expression data._** The **_Generate gene outlier thresholds for ribodeplete samples._** and **_List outlier genes for each ribodeplete sample._** may be two separate analyses o

[2019-11-08 13:05] jaclyn-taroni commented on #229
Sounds good @GeoffLyle, thank you! If you have any questions that pop up as you're implementing the correlation matrices step, please let us know.

[2019-11-08 13:31] jharenza opened #244 "Proposed Analysis: Molecularly subtype ATRT tumors"
#### Scientific goals

_What are the scientific goals of the analysis?_
Subtype ATRTs into SHH, MYC, TYR.

#### Proposed methods

_What methods do you plan to use to accomplish the scientific goals?_
Suggestions:
1) In the absence of methylation data, perform t-sne or other clustering of expression data to determine whether the total N of ATRTs is high enough to enable subgroup clustering (See Sup

[2019-11-08 15:21] jharenza opened #245 "Proposed Analysis: Molecularly subtype ependymoma tumors"
#### Scientific goals

_What are the scientific goals of the analysis?_
 Subtype ependymomas into ST-EPN-RELA, ST-EPN-YAP1, PF-EPN-A, and PF-EPN-B. Note: The publication listed below contains 9 subtypes of ependymomas, but only the 4 listed here are relevant to the OpenPBTA dataset (due to age at diagnosis) and will be discussed below.

#### Proposed methods

_What methods do you plan to use to ac

[2019-11-08 15:33] cansavvy commented on #3
<img width="802" alt="Screen Shot 2019-11-08 at 10 31 29 AM" src="https://user-images.githubusercontent.com/23458084/68488422-fcabb600-0212-11ea-8212-6bb31c830fff.png">
 Here's the updated plot,  There are some outliers of sorts. Is it acceptable to plot this on a log scale? Or what do you recommend?

[2019-11-08 15:36] jaclyn-taroni commented on #186
While I'm working on the changes to file preparation, I think I'll also add in a step that maps from Entrez IDs to cytobands using the `org.Hs.eg.db` package (`org.Hs.egMAP`). I don't think I'm going to put this into the same tabular format outlined above.

[2019-11-08 16:29] guru-yang commented on #27
I noticed in some samples the CNV calls from two algorithms are quite different. I wonder what's the plan going forward. It seems to me generating a consensus CNV call is not easy.

[2019-11-08 16:32] jaclyn-taroni commented on #27
Hi @guru-yang - have you taken a look at the copy number consensus issue: https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/128?

[2019-11-08 16:43] jharenza commented on #3
@cansavvy you can definitely plot on log10 scale! This is nice - there are some known HGAT that are hypermutated.

[2019-11-08 16:57] jharenza opened #247 "Proposed Analysis: Add additional subtypes to medulloblastoma tumors"
#### Scientific goals

_What are the scientific goals of the analysis?_
Further classify Medulloblastoma SHH subtype.

#### Proposed methods

_What methods do you plan to use to accomplish the scientific goals?_
Assess _TP53_ mutation status for samples classified as SHH subtype to further classify into SHH,TP53-mutated and SHH,TP53-wildtype. (See WHO book chapter below)

**SHH,TP53-mutated**
-SHH

[2019-11-08 17:04] komalsrathi opened #248 "Collapsed RNA-seq matrices with unique gene symbols"
#### File(s)

Collapsed RNA-seq matrices (merging multiple Ensembl identifers to get unique gene symbols)

#### Release

v9

#### Link to [OpenPBTA-manuscript](https://github.com/AlexsLemonade/OpenPBTA-manuscript/)

_Put a link to the relevant section of the OpenPBTA manuscript here._

#### Question/issue

Reg. https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/198, should we make the collaps

[2019-11-08 17:20] jashapiro commented on #128
I do not understand what this is referring to. Looking at [the manuscript](
https://github.com/AlexsLemonade/OpenPBTA-manuscript/blob/master/content/03.methods.md#somatic-copy-number-variant-calling), I am not clear on what QC steps were performed on CNV calls, if any. Are there standard QC steps that should be added to the CNV results, and/or documented in the manuscript? Perhaps @jharenza or @yu

[2019-11-08 17:22] jharenza opened #249 "Proposed Analysis: Molecularly subtype high-grade glioma tumors"
#### Scientific goals
_What are the scientific goals of the analysis?_
Subtype High-grade gliomas (high-grade astrocytic tumors, HGAT), according to defining histone lesion.

Note: historically, amino acid 1 was not counted in protein nomenclature, thus K27 and G34 mutations noted above really translate to K28 and G35. See:
[ActaNeuropathol.2018Leske.pdf](https://github.com/AlexsLemonade/OpenPBTA-

[2019-11-08 17:25] jharenza commented on #249
@adamcresnick, @awaanders, @jainpayal022 - do these look like reasonable ways to subtype the high-grade gliomas by lesion?

[2019-11-08 17:31] jharenza opened #250 "Proposed Analysis: Molecularly subtype chordomas"
#### Scientific goals

_What are the scientific goals of the analysis?_
Subtype chordomas into poorly differentiated if contain INI1/SMARCB1 loss.

#### Proposed methods
_What methods do you plan to use to accomplish the scientific goals?_
1) Review of mutation, copy number, and expression data.
2) Render results in tabular form in a notebook.

Add **Poorly-differentiated** subtype if the chordoma

[2019-11-08 18:01] jharenza opened #251 "Proposed Analysis: Molecularly subtype non-MB/ATRT embryonal tumors"
#### Scientific goals

_What are the scientific goals of the analysis?_
1) Subtype non-MB embryonal tumors (non-medulloblastoma/ATRT; eg: old PNET-classified tumors) into ETMRs and CNS embryonal NOS.
2) Assess whether any other tumors may have been mis-diagnosed but fit into these categories (eg: ETMR characteristics in other tumor diagnoses would make these newly ETMR cases).
3) Render the result

[2019-11-08 18:02] cansavvy commented on #3
Cool! One other question, @jharenza, to calculate TMB for the TCGA samples, I used the same genome windows and size I did for the PBTA samples. I filtered out any mutations that were not in the WGS windows used for TCGA, however all of them turned out to be inside the windows so the filter was irrelevant.

Two questions:
1) Is this method okay for calculating the TCGA TMB? Or do you suggest someth

[2019-11-08 18:05] jharenza commented on #19
Closing this, as I separated into #244 , #245 , #249 , #250 , and #251

[2019-11-08 18:05] #19 closed

[2019-11-08 18:07] syzheng commented on #19
Hi Jo Lynne
We have finished calculating telomerase scores. How should we circulate it?
Email, or upload to the project portal?
Thanks
Siyuan

On Fri, Nov 8, 2019 at 12:05 PM Jo Lynne <notifications@github.com> wrote:

[2019-11-08 18:13] jharenza commented on #19
@syzheng can you create a pull request for the telomerase ticket #148 with the code used to generate scores? If you need some help walking through it, perhaps @jaclyn-taroni and @jashapiro can help via phone or slack. You can join https://www.ccdatalab.org/slack and the `#open-pbta` channel for more discussion!

Thanks so much!

[2019-11-08 18:43] jaclyn-taroni commented on #19
Yes, please feel free to reach out with questions @syzheng

[2019-11-08 19:49] hongboxie commented on #128
@jharenza  I think we had this discussion before. Do you want to remove samples with extra high noisy levels, or keep every sample regardless. If we do want to remove samples with high noisy level, which "noisy sample" refers sample with high SD of Depth of coverage, we can do so. Otherwise, we can report CNVs from ALL samples. Up to your guys. I am fine with either way.

[2019-11-08 19:51] hongboxie commented on #128
@jashapiro when you recover CNVs from given samples, do you remove "noisy" samples? If so, what is your practice to do so?

[2019-11-08 19:51] cansavvy commented on #201
In my tackling of Tumor Mutation Burden and comparing to TCGA, I've realized it would probably be useful to have the SNV pipeline make two TMB files: One calculated with all mutations and another calculated with coding mutations only.

[2019-11-08 20:00] jashapiro commented on #128
@hongboxie That makes sense. As I do not have the raw data, I can't see the raw coverage metrics, but after you brought up such QC, I went to look in the manuscript for details, and didn't find them mentioned. This is not my area of expertise, so I do not know what the standard practices are; I am just trying to understand the data as we work on some of the downstream analysis.

[2019-11-08 21:10] hongboxie commented on #128
@jashapiro no worries! I am learning this topic from everyone as well. I am open to any suggestions.

[2019-11-08 22:17] jharenza commented on #128
@hongboxie sorry just reading this now... We discussed with @fingerfen to remove any samples if they showed whole genome-gain. That was a measure of inaccurate CN calling. I think we also chose to use a cutoff of >2500 segments for noise to follow what the arrays used, but I also may recall that ControlFreeC might not have smoothed their segments as CNVkit did (ie collapse multiple into one), so t

[2019-11-08 22:30] jharenza commented on #3
Hi @cansavvy!

1. I think you can use the same window in both, especially since we do not have access to the TCGA interval files. The only exception I can think of is if TCGA is WES (is it WES or WGS? I probably should know this), then we would not use a whole genome size for those samples, we would have to use a window and subset for mutations in that window. We would underestimate TMB in this ca

[2019-11-08 23:01] jharenza commented on #249
Got confirmation from @awaanders that these look good. Thanks!

[2019-11-09 07:48] cgreene commented on #3
@jharenza : TCGA is complicated as noted by @allisonheath in https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/3#issuecomment-531040782.

My impression is that the MC3 calls, which I understand based on the conversation above to be what we're using, follow the BED file here: https://gdc.cancer.gov/about-data/publications/mc3-2017

If we're using MC3, then we should use that interval. It do

[2019-11-09 13:02] jaclyn-taroni commented on #186
@jashapiro I followed up on your analysis above, where I counted how many instances of a gene being called as a gain and a loss within the same sample now that we've made the changes in #253. You can see the notebook for that here: https://jaclyn-taroni.github.io/openpbta-notebook-concept/both-gain-and-loss.nb.html

It seems _slightly better_ than before, but it appears to be much less of an issue

[2019-11-09 14:35] jashapiro commented on #186
Oh, I think that looks a *lot* better. The secondary concern I had (which this nb does not quite address), is the extent to which certain regions are prone to false calls and/or reference sequences are non-representative of the population. The analysis above came up in my work on #13 because I was investigating the high number of very high frequency calls that were stymying my filters; the multi-c

[2019-11-09 15:25] jashapiro commented on #119
I am starting to look at this. I will be following the approach in the linked paper of comparison of VUS to GENIE, COSMIC and ExAc to identify known drivers, benign mutations, and previously identified recurrent mutations. If there are other suggestions of sources for known drivers, that will become helpful in later filtering steps.

[2019-11-10 15:30] jaclyn-taroni commented on #161
Subsumed by #207? What do you think @cansavvy ?

[2019-11-10 16:40] jaclyn-taroni opened #254 "Planned data release: v10"
I am collecting what has been discussed/documented elsewhere, though things on this things on this list may get pushed to a later release:

* Consensus mutation files (#207)
* Standard annotation and reference files (#241)
* Collapsed RNA-seq matrices with unique gene symbols (#248)
* Gene- and transcript-level RSEM TPM values (https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/229#issuecom

[2019-11-10 21:37] jaclyn-taroni commented on #244
I'm adding what I think the table summarizing the results would contain here. From a cursory look, there are 30 samples that are classified as ATRT in the histologies file. That is a large enough sample size for what I'll suggest below. I agree that one of the first analyses would be unsupervised clustering or dimension reduction.

### Tabular format

The goal of the table is to summarize all of t

[2019-11-10 22:14] jaclyn-taroni commented on #250
This is what I think the table summarizing the results would look like based on the above:

| Kids First Participant ID | Kids First Biospecimen ID | Focal _SMARCB1_ Status | _SMARCB1_ Gene expression abundance |
|:--|:--|:--|:--|
| PT_XXXXXXXX | BS_XXXXXXXX | loss | ... |
| ... | ... | ... | ... |

* Focal CN information summarized to the gene level is available in a[`analyses/focal-cn-file-prepa

[2019-11-11 01:49] jashapiro opened #255 "Variation in MAF formats"
#### File(s)

pbta-snv-strelka2.vep.maf.gz
pbta-snv-lancet.vep.maf.gz
pbta-snv-mutect2.vep.maf.gz
pbta-snv-vardict.vep.maf.gz

#### Release

v9

#### Link to [OpenPBTA-manuscript](https://github.com/AlexsLemonade/OpenPBTA-manuscript/)

https://github.com/AlexsLemonade/OpenPBTA-manuscript/blob/master/content/03.methods.md#vcf-annotation-and-maf-creation

#### Question/issue

The maf files included

[2019-11-11 01:50] jashapiro commented on #254
Adding
* Rerun vcf2maf.pl for all SNV files (#255)

[2019-11-11 13:48] jaclyn-taroni commented on #249
For this ticket, the first step should be looking at these lesions in _all_ samples.

[2019-11-11 14:29] hongboxie commented on #128
We are perplexed by the outcome of Manta. There are multiple CNVs overlapping the same region. Currently we decide to merge all CNVs into one single consent event. There are something strange about Manta somatic CNV output.

[2019-11-11 14:30] hongboxie commented on #128
We haven't had change to dig into the root of this problem, yet

[2019-11-11 14:31] cgreene commented on #188
Since this is addressed and the other issue is filed, I'm going to go ahead and close it now. Thanks!

[2019-11-11 14:31] #188 closed

[2019-11-11 14:31] hongboxie commented on #128
We haven't had a chance to dig into the root of the problem.

[2019-11-11 14:55] jharenza commented on #128
@yuankunzhu  - do you have any advice?

[2019-11-11 16:29] cansavvy opened #257 "Proposed Analysis: Run brain TCGA SNV data through PBTA SNV caller pipeline"
#### What are the scientific goals of the analysis?

Related to #3 Tumor Mutation Burden Analysis.

In order to make the pediatric brain tumor SNV comparison to TCGA adult data more interpretable, we should run those data through the same mutation callers and parameters as was used for the PBTA data.

#### What methods do you plan to use to accomplish the scientific goals?

This would include runn

[2019-11-11 16:53] gonzolgarcia commented on #27
Hello everyone, I wanted to apologize for my lack of contribution to this issue, which I proposed initially. Unfortunately the requirements of my new position at Mount Sinai have let me with very little time bandwidth. For the time being I cannot guaranty that I will contributing steadily to this issue. However, I'd be happy to provide support if still needed as I am working on developing new tool

[2019-11-11 20:25] cansavvy commented on #201
## Update:
@jashapiro and I made a plan for the refactoring of snv-caller consensus pipeline so that it can be less memory intensive.

#### Major changes:
- `01-load-db.py` will create an SQL database that the other scripts use (@jashapiro is working on this).
- `02-merge.R`: Will have the calculating functions of `01-calculate_tmb_vaf.R` and merging functions of `03-merge-caller.R` which will per

[2019-11-12 14:30] jaclyn-taroni opened #260 "`age_at_diagnosis_days` column contained different information prior to v6"
#### What data file(s) does this issue pertain to?

`pbta-histologies.tsv`

#### What release are you using?

I am comparing `release-v5-20190924` to the current release, `release-v9-20191105`.

#### Put a link to the relevant section of the [OpenPBTA-manuscript](https://github.com/AlexsLemonade/OpenPBTA-manuscript/) here.

There is nothing in the data harmonization section about this specifically

[2019-11-12 14:34] jaclyn-taroni commented on #260
That is noted here: https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/doc/release-notes.md#release-v6-20191030

I think we do want some notion of the order in which different samples from the same patient were taken, but it doesn't need to be tied to age at all.

[2019-11-12 14:34] jharenza commented on #260
Hi @jaclyn-taroni - yes, this changed with the update because I noticed some discrepancies in the two databases we used, so I defaulted to use the age which was used to calculate OS, which is in one database away from kidsfirst, from which the data was first pulled. :(

[2019-11-12 14:36] jharenza commented on #260
Re: this, we don't have dates, and that would be PII anyway, so I think **maybe** the thing you can do is go by the SDG ID, which is sample and aliquot ID - @allisonheath do you know if these are always sequential for patients?

[2019-11-12 14:36] jaclyn-taroni commented on #260
Is it possible to have some field that indicates the order of samples instead?

[2019-11-12 14:36] jaclyn-taroni commented on #260
Not looking for dates, looking for rank order (e.g., 1, 2, 3).

[2019-11-12 14:38] jharenza commented on #260
@allisonheath - do we have that information? Typically this would be denoted by phase of therapy (initial cns tumor, progression, etc). I think we only recently talked about adding `event` to the clinical information. This is currently being brainstormed as a 6-month - 1 year(?) or so overhaul with @allisonheath's team.

[2019-11-12 14:46] jaclyn-taroni commented on #260
I think an issue with using `tumor_descriptor` alone is that there are instances where a combination of `Kids_First_Participant_ID` and `tumor_descriptor` is not unique:
[code]

[2019-11-12 14:54] jaclyn-taroni commented on #260
Okay - so `sample_id` can be used for the _specific_ participant-level mapping in the Oncoprint stuff that put this issue in motion:
[code]

[2019-11-12 14:57] jharenza commented on #260
Hmm, this is tough because post-mortem samples were all table at autopsy, which only occurs once, so we will have to just choose one.

`sample_id` as far as I know it, is really an `event` ID, but what I am not sure of is if one event ID gets retired, does that get reused and can there be an earlier event ID that is really a later event ID. Allison would know that.

[2019-11-12 15:58] cansavvy opened #262 "Updated analysis: Get rid of metadata appended to SNV consensus file"
#### What analysis module should be updated and why?

#207

#### Why should the module be updated?

It has metadata columns appended to it and we will not want those in the consensus file.

#### What changes need to be made? Please provide enough detail for another participant to make the update.

`04-create_consensus_mut_files.R` needs to change so that the metadata is removed.

It's downstream n

[2019-11-13 00:35] jaclyn-taroni commented on #247
@mkoptyra and I will start on this next week.

[2019-11-13 00:35] jaclyn-taroni commented on #250
@mkoptyra and I will start on this next week.

[2019-11-13 13:49] cansavvy commented on #207
As was noted by issue #262 and addressed by PR #263 , the consensus file needed to have the metadata columns that were appended to it, dropped. These changes have been implemented and both the code (#263) and the files on S3 have been updated.  The up to date zip file loaded to S3 is `snv-consensus_11122019.zip`.

[2019-11-13 13:50] cansavvy commented on #262
This has been addressed by #263 and noted by #207. The S3 files have also been updated. Closing this issue.

[2019-11-13 13:50] #262 closed

[2019-11-13 14:55] jharenza commented on #207
thanks @cansavvy - will add this zip file to #254

[2019-11-13 16:17] migbro commented on #241
RNA reference used: https://www.gencodegenes.org/human/release_27.html
Specifically this fasta: ftp://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_27/GRCh38.primary_assembly.genome.fa.gz

And this gtf: ftp://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_27/gencode.v27.primary_assembly.annotation.gtf.gz

[2019-11-13 17:55] jharenza commented on #241
thanks @migbro - we can add to #254

[2019-11-15 13:44] cbethell commented on #244
I am going to begin the work on this analysis by implementing the suggestions above.

[2019-11-15 14:33] jharenza commented on #254
Finalizing all of this today.

[2019-11-15 15:41] jashapiro opened #269 "Clarification sought on lancet parameters"
#### What data file(s) does this issue pertain to?

pbta-snv-lancet.vep.maf.gz

#### What release are you using?

v9

#### Put a link to the relevant section of the [OpenPBTA-manuscript](https://github.com/AlexsLemonade/OpenPBTA-manuscript/) here.

https://github.com/AlexsLemonade/OpenPBTA-manuscript/blob/master/content/03.methods.md#snv-and-indel-calling-1

#### Put your question or report your i

[2019-11-15 17:03] jharenza commented on #269
@migbro, can you respond to this?

[2019-11-15 18:26] migbro commented on #269
Hi @jashapiro , I think you've got it right, in that, the calls for lancet are limited to the GENCODE31 CDS plus any additional regions of calls made by mutect and strelka2 following the recommendation here: https://www.biorxiv.org/content/biorxiv/early/2019/04/30/623702.full.pdf.  So in effect, regions used will vary from sample-to-sample.  It is possible to omit the other callers and run it that

[2019-11-15 18:31] jharenza commented on #128
@hongboxie @fingerfen - can you please post the outcomes of our discussion Wednesday re: merging manta calls, and attach the slide deck here? Thank you!

[2019-11-15 18:34] jashapiro commented on #269
Thanks @migbro. That makes sense. In looking at the results, it seems like lancet makes similar #s of calls to mutect and strelka in transcribed, but it makes many fewer outside. In the article you linked (thanks!), they specify:

Is that what you did? If so, it seems if a call was made in both mutect and strelka, it would not be in the lancet region file? Is that correct? Or does the region file

[2019-11-15 18:37] migbro commented on #269
@jashapiro good catch.  I actually went +/300 bp, to make sure the 600bp window at a minimum was met, and included ALL additional strelka2 and mutect2 calls.  So i did deviate slightly from their plan.

[2019-11-15 18:53] jashapiro commented on #269
Okay, that actually makes a lot more sense than what they did! It is still a bit concerning that lancet calls outside the transcripts are so much more sparse, but that is probably just be the effect of the tool.

[2019-11-15 20:03] jaclyn-taroni opened #272 "Request for more info/documentation around Manta Annotated TSV"
#### What data file(s) does this issue pertain to?

`pbta-sv-manta.tsv.gz`

#### What release are you using?

`release-v9-20191105`

#### Put a link to the relevant section of the [OpenPBTA-manuscript](https://github.com/AlexsLemonade/OpenPBTA-manuscript/) here.

https://alexslemonade.github.io/OpenPBTA-manuscript/#somatic-structural-variant-calling

#### Put your question or report your issue her

[2019-11-15 20:21] jaclyn-taroni opened #274 "Updated analysis: rewrite SNV consensus steps in the oncoprint plotting module"
#### What analysis module should be updated and why?

`oncoprint-landscape`

#### Why should the module be updated?

The SNV consensus data was being retrieved from the same bucket where the CI files are. The consensus files will now be included in the data download (#273).

#### What changes need to be made? Please provide enough detail for another participant to make the update.

The `run-oncopr

[2019-11-15 20:25] jashapiro opened #275 "Updated analysis: snv-callers"
#### What analysis module should be updated and why?
snv-callers: The generation of the SNV consensus

#### Why should the module be updated?

The current SNV consensus strategy will lose some multinucleotide mutations due to differences between strelka2 and other callers.  As noted in https://www.biorxiv.org/content/biorxiv/early/2019/04/30/623702.full.pdf, strelka does not make any multinucleoti

[2019-11-15 20:31] jashapiro commented on #275
Note that this was previously also discussed in https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/30#issuecomment-519263233

[2019-11-15 21:13] cbethell commented on #244
To be more specific, my plan is as follows:
- Perform unsupervised hierarchical clustering using `Heatmap`
- Use the `pbta-histologies.tsv` file (filtered for `short_histology` == "ATRT") to obtain `primary_site`, `Kids_First_Participant_ID`, `Kids_First_Biospecimen_ID`, `age_at_diagnosis_days`, and `reported gender`.
- Use `primary_site` to define values for `location_summary`. These values will

[2019-11-15 21:44] migbro commented on #275
Hi all,
   I was asked to post my attempt within the DRC to tackle this issue.  It's in cwl, but with the meat of the work done injected as python code, so shouldn't be too hard to suss out.
The steps I go through are first, normalize each vcf following this protocol:
https://github.com/kids-first/kf-somatic-workflow/blob/master/tools/normalize_vcf.cwl

Then I build the mnps using this tool:
https

[2019-11-15 21:56] jashapiro commented on #275
Thanks @migbro! That is very close to what I was going to be doing, so that is really helpful.
I haven't had a chance to look at the code yet, but I do have a couple questions right off the bat...
Does the final VCF/MAF preserve the read count info for reference and alternate?

The reason I am asking is really for my second question: Because it seems like if your code is already working well,  sho

[2019-11-15 22:29] migbro commented on #275
Hmmm, I'll have to get back to you on that one.  What I do see, before reannotation, is that the consensus caller seems to keep the genotype and depth information from the first caller of the consensus for each call.  So, the format ends up varying. a bit, but you'll see something like:
[code]
as an example snippet from the benchmarking set.  So, for strelka2 supported mnps, since trying to recalc

[2019-11-15 22:43] jashapiro commented on #275
I guess I am asking about before the final consensus, as I think we want to keep the callers separate for now. It sounds like you are saying you use the first bp of the MNP in the strelka VCF, which I think is probably good choice.  Is that right?

What happens with the consensus is always going to be a challenge to settle on.

[2019-11-18 19:47] migbro commented on #275
Hi @jashapiro , yes, the first base pair, if and when an mnp is built with strelka2, is used to inform read depth and genotype information.  As for the final file, the good news is that the vcf2maf script that we use from MSKCC, in additional to annotating with VEP, also seem to "standardize" the formatting of the AD and DP files in the annotated vcf.

[2019-11-18 21:53] jaclyn-taroni commented on #235
When this gets addressed,  this will need to get added back into CI: https://github.com/AlexsLemonade/OpenPBTA-analysis/commit/aac50d7402e0c134868aa1081c4aa7317c7e9d94

[2019-11-18 23:52] jaclyn-taroni opened #281 "[IDEA / DISCUSSION] Subset reference FASTA file for download in CI"
The data download step with the addition of the reference files has run in CI a few times now. The fastest that has gone has been over 9 minutes. This could be a major pain point for contributors.

@jashapiro brought up the idea of having subset reference and annotation files for the specific purpose of CI. The issue title is about the FASTA file because that is larger and therefore more problemat

[2019-11-19 01:11] jashapiro commented on #281
The easiest thing would probably be to just download a single chromosome for CI, such as
ftp://ftp.ensembl.org//pub/release-98/fasta/homo_sapiens/dna/Homo_sapiens.GRCh38.dna.chromosome.21.fa.gz

This could cause problems with some analysis scripts, of course, but since none currently use these files, perhaps the pain would be minimal.

On the other hand... if `BSgenome.Hsapiens.UCSC.hg38` is alrea

[2019-11-19 13:30] jaclyn-taroni commented on #281
Can you say a bit more about this @jashapiro?

[2019-11-19 13:57] hongboxie commented on #128
About Manta:
1) we found many CNVs overlapping the same region in Manta's outcome;
2) It seems those should come from PE based CNV detection (I think)
3)Currently our consent is to merge those CNVs into one segment of CNV, and hoping other methods (CNVkit/FreeC) will help to eliminate any false positives.

[2019-11-19 14:02] #274 closed

[2019-11-19 14:03] hongboxie commented on #128
About consensus CNV:
1) I think ploidy detection is subjective, based on current approaches, for instance, it is very hard to get a consensus when one predictor predict there are 30 copies of one segment, the other predictor claims a different number of ploidy.
2) We will present two types of CNVs: Amplification (ploity>2) or Deletion (ploidy<2). We created 3 additional columns where we display or

[2019-11-19 14:22] jharenza commented on #254
completed #273

[2019-11-19 14:22] #254 closed

[2019-11-19 14:23] jharenza commented on #269
@jashapiro - do you want me to make any edits to manuscript methods based on this discussion, or do you want to suggest edits?

[2019-11-19 15:27] jashapiro commented on #281
Sure. With what is already in the docker container, rather than downloading anything in the CI file, we could run a little R script like:
[code]
to export a fasta file.

We would not want to do this for the default, as it assumes R and `BSgenome` packages are installed, which can not be guaranteed if running outside of the Docker image.

[2019-11-19 18:25] fingerfen commented on #128
[Pipeline_Visual_Example_on_chr7.pptx](https://github.com/AlexsLemonade/OpenPBTA-analysis/files/3865398/Pipeline_Visual_Example_on_chr7.pptx)

@jharenza Attached is the ppt from Wednesday's presentation. Sorry for the delay.

[2019-11-19 19:50] jharenza commented on #272
Ahh - @kgaonkar6 or @migbro - can you add the AnnotSV workflow to d3b github and share the link, if separate from the somatic WF? I can add this to the methods if not there currently.

[2019-11-19 21:29] #281 closed

[2019-11-20 14:06] kgaonkar6 commented on #272
Hi, here's the dockerfile and cwl for annotSV : https://github.com/d3b-center/annotSV/tree/master original tool https://lbgi.fr/AnnotSV/

[2019-11-20 14:09] jaclyn-taroni commented on #272
Hi @kgaonkar6 - I think that repository may currently be private. I am getting a 404.

[2019-11-20 15:17] kgaonkar6 commented on #272
ah yes sorry, it's public now

[2019-11-20 15:18] jaclyn-taroni commented on #272
Thank you @kgaonkar6

[2019-11-20 15:23] jharenza commented on #272
updated with [PR](https://github.com/AlexsLemonade/OpenPBTA-manuscript/pull/58)

[2019-11-20 15:23] #272 closed

[2019-11-20 15:24] jharenza commented on #255
updated with #273

[2019-11-20 15:24] #255 closed

[2019-11-20 15:24] jharenza commented on #248
Updated with #273

[2019-11-20 15:25] jharenza commented on #241
Added with #273

[2019-11-20 15:25] #241 closed

[2019-11-20 15:26] jharenza commented on #207
Released with #273

[2019-11-20 15:26] #207 closed

[2019-11-21 14:12] mkoptyra commented on #250
Brachyury / T / TBXT protein expression is a standard test clinically to diagnose chordoma.
High gene expression of TBXT gene can be a general chordoma indicator.

[2019-11-21 16:30] jaclyn-taroni commented on #250
Documenting a whiteboarding session with @mkoptyra from this morning:

![Image from iOS (15)](https://user-images.githubusercontent.com/19534205/69356857-21138380-0c52-11ea-9ad8-4bf6361f2b6f.jpg)

I will post my thoughts on the _SMARCB1_ expression jitterplot at the bottom of this photo later today.

[2019-11-22 19:11] jaclyn-taroni commented on #248
I am reopening this issue. Version 10 includes the following files:

[code]

These files are the tables that report whether or not a gene was dropped, not the summarized matrices themselves which would have been:

[code]

See https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/228df2f812d8875d38b20fb7f1a4f9b921d36161/analyses/collapse-rnaseq/01-summarize_matrices.R#L11

I think it's fine to co

[2019-11-22 19:28] jaclyn-taroni commented on #250
Figured out my source of confusion from yesterday morning @mkoptyra  🙂  https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/248#issuecomment-557656679

We might want to wait until the next data release to proceed with the _SMARCB1_ jitter plot because then we can more easily work with the expression data for this purpose, but I'll give it a bit of a think.

[2019-11-22 19:38] komalsrathi commented on #248
@jaclyn-taroni Actually, that was exactly why I had created this issue - to include the summarized matrices (not the dropped tables). Should I upload those files here: https://cavatica.sbgenomics.com/u/cavatica/pbta/files/#q?path=processed-data-merge%2FV10-data

[2019-11-22 19:47] jaclyn-taroni commented on #248
That was my understanding of this issue when you filed it too @komalsrathi. I am better equipped to speak to the `download-data.sh` method for obtaining data. On that front, we probably want to have a new release (v11) that includes these matrices. Tagging @jharenza @yuankunzhu for input on the CAVATICA side of things.

[2019-11-22 21:39] jaclyn-taroni commented on #128
Documenting the outcomes of the in person meeting this afternoon (@jaclyn-taroni @jashapiro @hongboxie @fingerfen):

* The first pull request will consist of the python script that parses the different callers files into files for individual biospecimens + sets up the snakemake file. A step running this script will also get added to `.circleci/config.yml`
* A second step running the snakemake pipe

[2019-11-22 21:44] mkoptyra commented on #250
Thank you! That makes sense reading the #248 (imagine, that I even understood that conversation ;) )

[2019-11-22 22:08] jharenza commented on #248
Ahhhh, sorry I thought the summarized matrices were the ones we put into CAVATICA and the data download - yes, we should swap those out, but I will make a V11 folder @komalsrathi - can you add them here: https://cavatica.sbgenomics.com/u/cavatica/pbta/files/#q?path=processed-data-merge%2FV11-data

[2019-11-22 22:11] jharenza commented on #248
Thinking back, I think this was miscommunication. I asked @kgaonkar6 to grab the collapsed files, but never realized there were also tables in the analysis from that PR, but we will swap out. Thanks!

[2019-11-22 22:13] jharenza commented on #257
@yuankunzhu can you share here the figures you recently generated comparing GDC pipelines with our pipelines? We did a pilot comparison between TMB from their pipeline and ours and do not see much of a difference in TMB, so in an effort to save money and time on computation, we likely will not be performing this analysis.

[2019-11-22 22:15] jharenza opened #287 "Planned data release: V11"
#### What data file(s) does this issue pertain to?
V10 collapsed files were tables of genes removed, not the collapsed matrices, #248

#### What release are you using?

V10

#### Put a link to the relevant section of the [OpenPBTA-manuscript](https://github.com/AlexsLemonade/OpenPBTA-manuscript/) here.
NA

#### Put your question or report your issue here.
Planned data to release:
- [ ] RNA-Seq col

[2019-11-22 22:22] jashapiro commented on #287
As long as there is an update planned, I will be able to provide updated consensus SNV files. (With MNVs included)

[2019-11-22 22:34] jharenza commented on #231
There is [this paper](https://www.ncbi.nlm.nih.gov/pubmed/25466818) and [correction](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5706417/) describing FLAGS - Table S4 in the supplement may be a good one to use, and MAFTOOLS actually spits out a warning about these when in your dataset to make users aware. The caution to omitting FLAGS is that some of these could be real (Eg: I saw ROS1, proto-onc

[2019-11-22 22:35] jharenza commented on #161
Should we close this one since this was released with #273 ?

[2019-11-22 22:36] jharenza commented on #18
@PichaiRaman should we un-assign you from this?

[2019-11-22 23:08] jaclyn-taroni commented on #161
This is probably better tracked with #275 as well

[2019-11-22 23:08] #161 closed

[2019-11-23 02:22] komalsrathi commented on #248
@jharenza done!

[2019-11-23 11:32] jaclyn-taroni commented on #287
Related: #275

[2019-11-23 14:03] cgreene commented on #257
@jharenza : the processing has changed quite a bit since the initial dataset (adding new callers, etc). It might be wise to process at least some random subset of the TCGA tumors with at least some subset of callers and then compare over regions that have adequate coverage for that caller with our samples.

As a peer reviewer, I'd probably see this as a fatal flaw in a TMB comparison if something

[2019-11-23 16:41] jharenza commented on #257
@cgreene yes, this is what was done on a small subset and what I am asking @yuankunzhu to share. The results are very comparable.

[2019-11-23 16:41] jharenza commented on #248
thanks!

[2019-11-25 19:55] jaclyn-taroni commented on #287
New consensus files from @jashapiro: https://open-pbta.s3.us-east-1.amazonaws.com/data/snv-consensus/snv-consensus-20191125.zip

[2019-11-25 22:53] komalsrathi commented on #248
@jharenza  I have also added the new collapsed tables with correlations in V11 (discussed [here](https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/198#issuecomment-548527180)) @jaclyn-taroni will submit a pull request with updated code tomorrow.

[2019-11-26 00:54] jharenza commented on #248
@jaclyn-taroni @komalsrathi do you want the collapsed tables in the release or just the summarized matrices? Was thinking just the latter...

[2019-11-26 02:28] komalsrathi commented on #248
I think it would make sense to make them available along with the collapsed
matrices as they are not really part of the results but more like processed
data? Let me know what you think.

On Mon, Nov 25, 2019 at 7:54 PM Jo Lynne <notifications@github.com> wrote:

--
*Komal S Rathi* | Bioinformatics Scientist II, DBHi, The Children's
Hospital of Philadelphia | rathik@email.chop.edu

[2019-11-26 12:56] jharenza commented on #287
Re: putative oncogenic fusion (above), I am thinking we release the final prioritized list for the oncoprints, which would also become a supplemental table (I guess we add to the manuscript doc later?). cc: @jaclyn-taroni

[2019-11-26 12:57] jharenza commented on #248
Hmm, I don't know if we want to add **all** processed data to releases, just data people will need for downstream work. If we do release those tables, I would suggest we rename to something like "collapsed matrices-genes removed" or something. Thoughts, @jaclyn-taroni ?

[2019-11-26 13:00] komalsrathi commented on #248
The tables has info on all genes - not just removed genes i.e. which ones
were expressed, which were multi mapped and which were dropped/kept. But
yes, you guys decide if you want to keep it or not.

On Tue, Nov 26, 2019 at 7:57 AM Jo Lynne <notifications@github.com> wrote:

--
*Komal S Rathi* | Bioinformatics Scientist II, DBHi, The Children's
Hospital of Philadelphia | rathik@email.chop.edu

[2019-11-26 13:08] jharenza commented on #248
Ahh, ok. Sounds like a good thing to reference in the paper, just don't want people to use that by accident which would defeat the purpose of the collapsing.

[2019-11-26 13:30] jashapiro commented on #248
I feel like there is some miscommunication happening here. There are two kinds of files we are discussing:

1. Tables of what genes were kept and removed, with no expression data. i.e.
‘pbta-gene-expression-rsem-fpkm-collapsed_table.stranded.rds’

2. Collapsed expression matrixes with only one of each duplicated set of genes. i.e.
‘pbta-gene-expression-rsem-fpkm-collapsed.stranded.rds’

What was i

[2019-11-26 14:04] komalsrathi commented on #248
Yes I meant exactly this but was undecided if (1) should also go under
data. But if you say so then the annotation tables i.e. (1) would remain
under the analyses/collapse-rnaseq folder and (2) would go under data/

On Tue, Nov 26, 2019 at 8:30 AM jashapiro <notifications@github.com> wrote:

--
*Komal S Rathi* | Bioinformatics Scientist II, DBHi, The Children's
Hospital of Philadelphia | rathik@em

[2019-11-26 14:27] jaclyn-taroni commented on #287
To clarify, you are referring to this file: https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/49acc98f5ffd86853fc70f220623311e13e3ca9f/analyses/fusion_filtering/results/PutativeOncogenicFusion.tsv correct @jharenza?

What are you going to name this file? I lean towards something like `pbta-fusion-putative-oncogenic.tsv`.

Regarding the new consensus mutation files, I think since we will prob

[2019-11-26 14:35] jaclyn-taroni commented on #287
Moving the discussion over from #248 -- can we include the collapsed/summarized matrices and call them `pbta-gene-expression-rsem-fpkm-collapsed.stranded.rds` and `pbta-gene-expression-rsem-fpkm-collapsed.polya.rds` please?

This is what I would expect based on reading the comments in code that generated them and we will ideally link the code in new section under `Data Formats` that I proposed in

[2019-11-26 18:24] jharenza commented on #287
@jaclyn-taroni yes to the renaming and the putative oncogenic fusion file. @yuankunzhu is on it!

[2019-11-26 18:34] jaclyn-taroni commented on #287
Great, thank you. If that pull request allows edits from maintainers, we can have someone on our side make the `doc/format` change + consensus mutation README additions.

[2019-11-27 15:02] jaclyn-taroni commented on #275
Closed by #279 or should we keep this open for some reason @jashapiro ?

[2019-11-27 15:05] jashapiro commented on #275
Mostly closed. The only remaining question is whether to reconstitute MNVs. I would probably close this with #293, and we can file a new issue if MNV reconstruction is desired later.

[2019-11-27 15:06] jaclyn-taroni commented on #275
Sounds good!

[2019-11-27 15:08] jaclyn-taroni commented on #201
@jashapiro how about this one, can it get closed?

[2019-11-27 15:12] jashapiro commented on #201
Codewise, I think so, but I would check with @cansavvy. But also, once the Readme is updated?

[2019-11-27 15:14] jaclyn-taroni commented on #201
I'm going to close it because I also got the impression that it has been taken care of codewise and file a ticket focused specifically on documentation. We can reopen if needed.

[2019-11-27 15:14] #201 closed

[2019-11-27 15:20] jaclyn-taroni opened #296 "Updated analysis: `snv-callers` documentation"
#### What analysis module should be updated and why?

The `snv-callers` documentation is out of date.

#### Why should the module be updated?

As far as I can tell, the README doesn't account for the changes as part of the refactor (#201 and related PRs): https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/49acc98f5ffd86853fc70f220623311e13e3ca9f/analyses/snv-callers/README.md

We are also cha

[2019-12-02 15:07] cansavvy opened #303 "Generating CI subset files for v11"
Here's the steps I will take for generating the CI subset files for v11. (Will do this on AWS)

1. Add remote and checkout `yuankunzhu:release/v11` which makes the required changes to the data download step : https://github.com/yuankunzhu/OpenPBTA-analysis/tree/release/v11
2. Run `bash download-data.sh` to obtain the v11 data while on that branch
3. Add origin and checkout this branch `jaclyn-taro

[2019-12-02 20:46] cansavvy opened #305 "Updated analysis: TMB Coding vs TMB with all mutations"
#### What analysis module should be updated and why?

snv-caller analysis

#### Why should the module be updated?

Currently the TMB stats calculated use all mutations, but we should also have a separate TMB stats for coding mutations only.

This would be handy for downstream analyses like tmb-tcga-compare to be more comparable to TCGA data which is coding only.

#### What changes need to be made?

[2019-12-02 20:48] cansavvy commented on #18
I'm going to start looking into this and planning for it this week.

[2019-12-02 20:52] jashapiro commented on #305
It might be worth also having a TMB calculation with the strelka-mutect consensus (no lancet). Lancet calls seem to be biased against non-coding regions (likely due to the way its region file was constructed), as indicated by the fact that it has a smaller fraction of non-coding calls than the other callers.

I would not expect this to affect relative TMB calculations, but the absolute numbers mig

[2019-12-02 20:56] cansavvy commented on #305
So should both `coding_only` and `all_mutations` versions of the TMB file be made *only* with mutect and strelka? Or do we want `coding_only` made from all three, and `all_mutations` with only strelka and mutect? What is the least confusing way to handle this as far as TMB files?

[2019-12-02 21:05] jashapiro commented on #305
I would lean toward the latter:  `coding_only` TMB from the three caller consensus, and `all_mutations` TMB with only strelka and mutect. But I am happy to hear other opinions.

I *think* the `coding_only` TMB would be similar either way, but I might be wrong there.

[2019-12-02 21:53] jharenza commented on #287
closed with #293

[2019-12-02 21:53] #287 closed

[2019-12-02 21:53] jaclyn-taroni commented on #303
We're going to need to take into account `reported_gender` because not taking this into account is causing a failure in the sex prediction from RNA-seq steps: https://circleci.com/gh/AlexsLemonade/OpenPBTA-analysis/1526

[2019-12-02 21:54] jharenza commented on #39
closed with #294 #300 #277 #267

[2019-12-02 21:54] #39 closed

[2019-12-02 22:11] jharenza commented on #248
closed with #293

[2019-12-02 22:11] #248 closed

[2019-12-02 22:14] jharenza commented on #229
Hi @GeoffLyle - hopefully you have been following, but the TPM data you requested became available with release V10 (#273), and we just pushed release V11 (#293) last week. Excited to see your PRs come through!

[2019-12-02 22:18] GeoffLyle commented on #229
@jharenza Thank you!  Saw the V10 release.  I'll let the team know about the V11 release.  Should be a good test to ensure everything still runs correctly.

[2019-12-02 22:19] jharenza commented on #229
@GeoffLyle ahh spoke too soon and corrected it. @jaclyn-taroni is running V11 tests currently, then we will merge once everything works properly :).

[2019-12-03 00:22] #233 closed

[2019-12-03 13:32] cansavvy commented on #305
In order to do this, we are going to need to do a little revamping to `02-merge-callers.R`. Do you have a suggestion on the easiest way to obtain the different consensus files for the downstream TMBs without breaking the whole thing? I think ideally we should include an argument that specifies what callers you would like the consensus to be made from but that will involve a little more work than I

[2019-12-03 14:50] jashapiro commented on #305
Hmm... I don't think we need to go that far; probably just pull from the database file for the two-caller consensus. Just make sure to also include the MNV query to get comparable counts.

[2019-12-03 20:13] jaclyn-taroni commented on #303
Closed via #297 and #308

[2019-12-03 20:13] #303 closed

[2019-12-04 13:50] jharenza commented on #165
@kgaonkar6 will work on this!

[2019-12-04 19:13] cansavvy commented on #18
A few questions for me to get this analysis going:

### 1) What basic analyses and output plots/tables do we need for this issue? Can I get a list of needed plots/tables we need?

It seems we will want some Kaplan-Meier survival probability curves like these [from Pajtler et al, 2015](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4712639/). Is this a good example to follow? I can build it in such a

[2019-12-04 20:00] cgreene commented on #18
Another question, probably for @jharenza at this point: are there any items that one would want to adjust for? For adult tumors this could be something like age at the time of diagnosis. If so, it would be good to write this such that something like this can be specified. If not, there'd be no need to include that functionality.

[2019-12-04 20:02] alexfelmeister commented on #18
I like https://lifelines.readthedocs.io/en/latest/. Good tutorials and good information about censoring for missing data and what to do and when with records where we don't know OS days etc.

[2019-12-05 01:34] jharenza commented on #18
@cgreene - I don't think we need to adjust for that per se, as usually that is embedded within subtype info (eg DIPGs segregate by age based on the two different histone variants so we would probably do separate survival analyses due to that). I do think maybe we should try to list out certain variables in which we want to test whether survival is higher/lower, as @PichaiRaman mentioned in the des

[2019-12-05 01:37] jharenza commented on #10
@kgaonkar6 - in writing up some comments for @cansavvy for #18, I realize we could use the recurrent fusion list here. Can you possibly create a quick PR to create a **table** of recurrently-fused genes and recurrent fusions by broad cancer type? I think @cansavvy can perhaps start with that for survival analysis.

[2019-12-05 13:09] jaclyn-taroni commented on #18
@cansavvy echoing @jharenza’s sentiment here a bit — I would conceptualize survival analysis as the downstream analysis. That is to say you want to design this such that it can consume both continuous and categorical information from other analyses — so I believe you’ll want to plan to support Cox regression and  Kaplan-Maier estimates and log-rank tests and whatever plots are appropriate for each

[2019-12-05 13:43] cansavvy commented on #18
Okay. This all gives me something I can start with. 👍

[2019-12-05 14:28] jaclyn-taroni commented on #250
Okay, I apologize for the delay @mkoptyra. We got v11 out this week so this is ready to be revisited. There's a greater level of wrangling required than I fully appreciated!

In addition to the fields outlined here https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/250#issuecomment-552240666we, we need to include the `sample_id` field from `pbta-histologies.tsv` in the final table. This is

[2019-12-07 15:57] jaclyn-taroni opened #319 "Documentation: focal-cn-file-preparation README"
[`analyses/focal-cn-file-preparation`](https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/master/analyses/focal-cn-file-preparation) does not have a README.  This README should contain a note about the issues with the two methods (e.g., adding ploidy and status to CNVkit) and that we are generating consensus calls #128. When this README gets written, we should also revisit the numbering of th

[2019-12-07 16:00] jaclyn-taroni opened #320 "Documentation: fusion_filtering README"
[`analyses/fusion_filtering`](https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/master/analyses/fusion_filtering) does not currently have a README. This should get added after #315 is merged.

[2019-12-07 16:08] jaclyn-taroni opened #321 "Documentation: independent-samples README"
[`independent-samples`](https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/master/analyses/independent-samples) doesn't have a README. I don't know that this has to repeat what is captured in [**Data Formats**](https://github.com/AlexsLemonade/OpenPBTA-analysis#data-formats), but could instead link to that section and the methods section of the manuscript. I would note in the README that the

[2019-12-10 17:24] cbethell commented on #249
I am planning to work on this ticket.
I have made a general workout plan as follows to produce the following information in tabular format:

| Kids_First_Participant_ID | Kids_First_Biospecimen_ID | age at diagnosis (days) | reported gender | glioma brain region | _FOXG1_ expression z-score | ... | ... | Co-occurring lesions | Focal CN status | Chromosomal gain/loss |
|---|---|---|---|---|---|---|

[2019-12-10 18:10] jharenza commented on #244
@jaclyn-taroni do you and @cbethell want to see if the results from [cnvkit gistic](s3://kf-openaccess-us-east-1-prd-pbta/data/2019-12-10-gistic-results-cnvkit.zip) `broad_values_by_arm.txt` results make sense with the current _SMARCB1_ deletions found/be good enough for this analysis? If so, we can release these results in the next data release.

[2019-12-10 22:04] cbethell commented on #244
@jharenza yes, I believe the gistic results would be good/useful for this analysis so I would like to see them in the next data release, if possible.

[2019-12-10 22:21] jharenza opened #326 "Planned data release: V12"
#### What data file(s) does this issue pertain to?
data release v12

#### What release are you using?

NA

#### Put a link to the relevant section of the [OpenPBTA-manuscript](https://github.com/AlexsLemonade/OpenPBTA-manuscript/) here.
NA

#### Put your question or report your issue here.
Will add:
- [x] newly sequenced and processed stranded RNA-Seq for 23 PNOC samples and 21 CBTTC samples - wil

[2019-12-12 00:28] GeoffLyle opened #329 "Therapy Response and Outcome Data"
Is there data on therapies used and patient outcomes for any of the samples?

I saw the `OS_days` and `OS_status` columns in the `pbta-histologies.tsv`, but I couldn't discover anything related to treatment information in the v11 data release.  Any therapies tried on the derived cell lines and their IC50 values would also be of interest.

[2019-12-12 00:38] jharenza commented on #329
Hi @GeoffLyle! Looked at the data we have available - I can add some columns for chemotherapy yes/no, radiation yes/no, chemotherapy drug (many may be "not reported" even if chemo == yes). We don't currently have organized IC50 data for the cell lines, though I will loop in @mkoptyra re: cell line IC50 data. We are planning V12 data release (#326) very soon (late this week/early next week) and can

[2019-12-12 00:52] GeoffLyle commented on #329
@jharenza That's great!  Thanks for the quick turnaround!  Is there data for columns "targeted_therapy" yes/no, "targeted_therapy_drug" <TEXT>?

[2019-12-12 01:15] jharenza commented on #329
I see a protocol column, and for most, the drugs are not immediately available - one would have to go back to all of the protocols to determine this. I will check whether this can be publicly shared!