[2020-03-26 14:32] kgaonkar6 opened #648 "Proposed Analysis: Survival plots HGG subtypes"
#### What are the scientific goals of the analysis?
As per @jharenza suggestions:
Identify the difference in survival
- between molecular subtypes.
- between samples with fusions (recurrent/known fusion which might be included in molecular subtypes like in EPN with RELA and YAP fusions but in high grade glioma we find REV3L-FYN and recurrent MET fusions these can be explored as well) .
- between p

[2020-03-26 14:52] jaclyn-taroni commented on #620
I consider this closed via #621

[2020-03-26 14:52] #620 closed

[2020-03-26 19:30] kgaonkar6 commented on #165
Hi @jaclyn-taroni Do we need an updated analysis ticket for this analysis which includes CNV data ?

[2020-03-26 19:45] jaclyn-taroni commented on #165
Good idea @kgaonkar6

[2020-03-26 20:59] kgaonkar6 opened #653 "Updated analysis: add CNV alterations to evaluate tp53, nf1 classifier"
#### What analysis module should be updated and why?
Tp53 and nf1 classifier by Greg Way was used to get TP53 and NF1 inactivation scores
https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/165
As you might know we only used SNVs to get tp53/nf1 altered status for evaluating the classifier results, should we add CNV calls as well to identify tp53/nf1 deletion inactivation status of samples a

[2020-03-27 12:37] jaclyn-taroni commented on #646
Hi @letitiaismyname 👋  welcome – there is some discussion over on #636 about limitations of our current approach to mutational signatures that I wanted to bring to your attention. I'm going to tag @arpoe to weigh in here because of relevant expertise!

[2020-03-27 12:40] arpoe commented on #636
I am still planning to work on it this week, either starting today or on the weekend. Have been busy with mutagenesis in Corona...

[2020-03-27 12:43] jaclyn-taroni commented on #636
Yes, sounds good @arpoe! I tagged you over on #646 about testing mutational signatures for significance because I thought you may have some ideas about approaching that problem.

[2020-03-27 18:57] yuankunzhu opened #656 "Planned Data Release: V17"
#### What data file(s) does this issue pertain to?
pbta-histologies.tsv

#### What release are you using?
V15/V16

#### Put your question or report your issue here.
Update histologies file to include additional information per tickets:
- #607
- #610
- #637
- #509
- #608
- #245
- (EWS and LGG subtyping)

#### Who is going to work on this:
@baileyckelly @chris-s-friedman @yuankunzhu @allisonheath

[2020-03-27 19:04] yuankunzhu commented on #601
D3b data team is still working on clinical data updating, we are suggesting move all changes related `pbta-histologies.tsv` to v17(#656), so for this release, it will have changes for:
Updated TCGA MAFs per #568
Update TCGA manifest file to include BED file used per sample
Add new TCGA BED files, padded and unpadded
Remove old TCGA BED file gencode.v19.basic.exome.hg38liftover.100bp_padded.bed
- U

[2020-03-29 12:53] jaclyn-taroni opened #664 "CI testing files for v16 release // fix breaking changes"
Context is #657 - we need to add a set of subset/testing files corresponding to v16 to S3 for CI. I don't believe this will require any underlying code changes to `analyses/create-subset-files`. Given the changes between v15 and v16, the only module that immediately comes to mind re: breaking changes is `snv-callers`. The reason being

Though looking for `gencode.v19.basic.exome.hg38liftover.100bp

[2020-03-29 13:17] jaclyn-taroni commented on #568
I'm going to close this - I think anything left is covered by #657.

[2020-03-29 13:17] #568 closed

[2020-03-29 15:25] jaclyn-taroni commented on #610
Marking this as blocking #509 for now.

[2020-03-29 15:27] jaclyn-taroni commented on #629
Closed via #633 - if any changes should be made, I think a new ticket is appropriate (notes to self: update a figure issue template could be helpful).

[2020-03-29 15:27] #629 closed

[2020-03-30 00:36] mkoptyra commented on #610
@jaclyn-taroni anything else we need to help solving with this (other the including in the new release I guess)?

[2020-03-30 11:45] jaclyn-taroni commented on #610
@mkoptyra in regards to this https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/610#issuecomment-603210320 - can I assume that the adherent cell line biospecimens that have different `experimental_strategy` but share a `Kids_First_Participant_ID` and `sample_id` are paired?

Here's an example (same sample as above) - `BS_P9JP6JFA` is RNA-seq, `BS_XMP9XNR9` is DNA-seq

Would it be appropriat

[2020-03-30 12:14] arpoe commented on #636
I am currently running de novo calling on signatures. It takes a while (about a day I hope), because I am a bit limited with the infrastructure. I have implemented that it does not have to be redone, when the output file is provided.
I will then assign the resulting signatures to the known signatures using cosine similarity. For this I will take the signature lists that are already implemented and

[2020-03-30 17:17] jaclyn-taroni commented on #636
Thanks for the update @arpoe! Let us know if you need anything!

[2020-03-31 14:16] kgaonkar6 opened #665 "Updated analysis: Cleaning BRAF fusions for LGAT subtyping"
#### What analysis module should be updated and why?
**molecular-subtyping-LGAT**
In the LGAT subset we see known KIAA1549--BRAF fusion and some other BRAF fusions as you can see in FusionName column here:
https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/analyses/molecular-subtyping-LGAT/results/lgat_cleaned_all_table.tsv

So @jaclyn-taroni  and I want to discuss here if **any** BRAF

[2020-03-31 17:30] letitiaismyname commented on #646
Thank you all! I'm assuming that the zero values are non-significant :) But for the smaller ones, I'm not sure...

[2020-04-01 18:19] #645 closed

[2020-04-01 18:27] kgaonkar6 commented on #517
I was reading through this PCAWG paper https://www.nature.com/articles/s41586-020-1965-x.pdf  and found their methods to look for driver mutations:

### Candidate-driver-mutation identification methods and combination of results
We obtained results (P values) from 13 methods of driver discovery, including ActiveDriverWGS54, CompositeDriver, DriverPower55, dndscv46, ExInAtor56, LARVA57, MutSig tool

[2020-04-01 18:36] jaclyn-taroni opened #667 "Updated analysis: Include EPN subtyping in `molecular-subtyping-pathology`"
#### What analysis module should be updated and why?

`molecular-subtyping-pathology` was established before the completion of #245 (Related PR: #555), but ultimately it will need to be included.

#### What changes need to be made? Please provide enough detail for another participant to make the update.

1. Add EPN table to the compilation of all the molecular subtyping/classification results http

[2020-04-01 19:55] jaclyn-taroni commented on #643
I'm going to start with `stranded` only for now.

[2020-04-01 22:34] cbethell commented on #510
The oncoprint landscape plots in the `oncoprint-landscape` module of this repository currently implement a color palette sourced from https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/analyses/oncoprint-landscape/util/oncoplot-palette.R.

This color palette contains hex codes for unique categories of SNVs, CNVs, and fusion data.

It is being implemented in the PR getting the oncoprint

[2020-04-02 13:07] cansavvy opened #668 "Updated analysis: TCGA TMB BED files update v16"
### What analysis module should be updated and why?
`snv-callers`
TCGA TMB calculations need to be updated now that we have a new set of BED files that more accurately show the target regions.

#### What changes need to be made? Please provide enough detail for another participant to make the update.

Now that BED files are not just assigned by WGS or WXS sample designations, we need to make a way

[2020-04-03 12:52] cansavvy commented on #668
I'll be working on setting this up today. I think my plan for this issue is to add an option to the [`03-calculate_tmb.R` script](https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/65180c183c0828dd093dd99a47b689ff3a76999f/analyses/snv-callers/scripts/03-calculate_tmb.R#L69) and [`calculate_tmb` function](https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/65180c183c0828dd093dd99a47b689ff3

[2020-04-03 12:55] jashapiro commented on #668
I would switch to providing a table of sample/bed pairs. I don't think maintaining four different options is worthwhile.

[2020-04-04 14:13] jaclyn-taroni commented on #668
Just wanted to note that some of the changes in https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/670/commits/c9675fda5b9e638b117dbd308383cf8e163fc761 and https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/670/commits/94e6e255c0a33715c8583d85f036b7db87bff8ac need to be undone when this gets addressed.

[2020-04-06 00:44] jaclyn-taroni commented on #664
Closed via #670

[2020-04-06 00:44] #664 closed

[2020-04-06 17:12] kgaonkar6 commented on #653
Hi @jaclyn-taroni ! To gather the copy number alterations I’m using consensus_seg_annotated_cn_autosomes.tsv.gz  since it looks like is being used for certain subtyping analysis and is also annotated with gene_symbol. When I look at the status column there's loss, gain and amp
`cnvConsesus$status %>% unique()`
`[1] “loss”          “gain”          “amplification”`
I used the all "loss" data in the

[2020-04-06 17:23] jaclyn-taroni commented on #653
@kgaonkar6 I can think about this a bit more but my knee-jerk reaction is to look at instances where copy number = 0

[2020-04-06 18:01] kgaonkar6 commented on #653
I did look at that, there was only 1 entry for copy number==0
`cnvConsesus[which(cnvConsesus$copy_number == 0 & cnvConsesus$gene_symbol  %in% c("TP53","NF1")),]`
`1:    BS_ZV21J6YW   loss           0      2 ENSG00000141510        TP53  17p13.1`

[2020-04-07 16:39] letitiaismyname commented on #646
Hi @arpoe! Please let me know if I would be able to pick your brain for a couple of questions about figuring out a statistical threshold!

[2020-04-07 17:27] jaclyn-taroni commented on #653
@kgaonkar6 my understanding of what's happening to get the gene symbols in that file is that we're just looking at _any overlap_ between a segment and exons from a particular gene (you can take a look at the function that does the work [here](https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/203319b32a8893345c071f6275ee90e4909f168c/analyses/focal-cn-file-preparation/04-prepare-cn-file.R#L61)

[2020-04-07 18:31] jaclyn-taroni commented on #648
@kgaonkar6 I think we should pick one of these areas that is the most straightforward to implement so we can kick the tires of `survival-analysis`. HGG subtypes might be a good starting point because, based on your comment, it seems like we can compare our results to previous literature. What do you think?

[2020-04-07 18:47] kgaonkar6 commented on #653
Should I look into maybe bs_ids which overlap between cnvConcensus and manta then?

I got 8 BS_Ids when I checked manta  for TP53 deletion
`manta_bs_ids_tp53<-manta %>% filter(grepl("[/]TP53[$|/]",manta$Gene.name) & SV.type=="DEL" & FILTER=="PASS") %>% select(Kids.First.Biospecimen.ID.Tumor) %>% unique()`

overlapping with cnvConcensus I get:
cnvConsesus %>% filter(biospecimen_id %in% manta_bs_ids

[2020-04-07 18:58] jaclyn-taroni commented on #653
The consensus SEG file (`pbta-cnv-consensus.seg.gz`) that is used to generate `consensus_seg_annotated_cn_autosomes.tsv.gz` takes Manta calls into account but doesn't take ploidy into account in the same way as `focal-cn-file-preparation` (where `consensus_seg_annotated_cn_autosomes.tsv.gz` is generated). A bit more background:

* https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/203319b32a8

[2020-04-07 19:23] kgaonkar6 commented on #653
Thanks for the background, I'll read up.. that's helpful!

Good point to discuss I think I'll just put in a PR with what I have for now .
Right now if I don't find a TP53 loss I have added it to the "No_TP53_NF1_alt" condition like in https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/203319b32a8893345c071f6275ee90e4909f168c/analyses/tp53_nf1_score/00-tp53-nf1-alterations.R#L94

[2020-04-07 19:52] jaclyn-taroni commented on #653
Filing a PR so we can take a look sounds good, thanks!

[2020-04-07 23:02] arpoe commented on #646
Hi @letitiaismyname, sure, no problem. I am halfway through with implementing de novo calling. I think just fitting signatures is problematic with these data. Could you please let me know exactly what you mean with statistical threshold?
I am sorry that all this may take a bit longer than it usually would, but I am also working on mutagenesis of SARS-CoV2 and with this I am very busy both with pro

[2020-04-07 23:14] letitiaismyname commented on #646
Wow!! Sounds awesome, thank you for your service!

Sure! Here's a histogram of the data I got from the github, where x is the mutational signature score value ('num_mutations'), and y is the number of samples that fell into a certain category.
[https://ibb.co/L0X6gk1](url)
Often I see a lot of data in the first bucket, because many numbers are zero, or single digits. I'm wondering how I could come

[2020-04-07 23:29] arpoe commented on #646
sorry, the link is dead.... could you please repost?

[2020-04-07 23:32] jaclyn-taroni commented on #646
The link works for me when I copy and paste the URL - sticking that image here for convenience:

<img width="910" alt="Screen-Shot-2020-04-07-at-4-09-22-PM" src="https://user-images.githubusercontent.com/19534205/78728839-74872500-7906-11ea-9786-569a7680c60b.png">

[2020-04-07 23:34] arpoe commented on #646
could you increase the resolution of the x-axis? I think here it would be difficult to assess the distribution, because most samples fall into 0-40, which are binned together.

[2020-04-08 17:13] kgaonkar6 commented on #648
Sounds good to me!
Yeah I think KM plots for HGG/DIPG subtypes could be compared to plots from https://www.cell.com/cancer-cell/fulltext/S1535-6108(17)30362-8

[2020-04-08 20:22] letitiaismyname commented on #646
Sure! Let me re-run the analysis and make the buckets a bit smaller, and I will find a similar example (and I will also specify the mutational signature number, and cancer type, which I forgot to do this time :) )

[2020-04-08 21:14] letitiaismyname commented on #646
Ok here's an example of just Signature 3-LGAT tumor type. Bucket size is now 50, so in this case, each incremental bucket is an increase of 3.5
I realize that nearly all of those in the first bucket are 0, so I should probably disregard those, or perhaps take them out altogether...
But the values just above (in the 3.5-7 or 10.5-14 bucket, for example), are those signature scores large enough to b

[2020-04-08 21:22] arpoe commented on #646
Sorry, again I cannot open your picture. I dont know why.

[2020-04-08 21:27] jaclyn-taroni commented on #646
@letitiaismyname if that picture is a PNG, you can drag and drop it into the text box and GitHub should automagically format the Markdown.

[2020-04-08 21:30] letitiaismyname commented on #646
Ah sorry about that, thanks for the tip!
![Signature 3-LGAT](https://user-images.githubusercontent.com/35503503/78835731-8bc91f80-79a5-11ea-8c52-ee4e27369039.png)

[2020-04-08 21:48] arpoe commented on #646
Sorry, but I am affraid there is no easy answer to this.
I think one of the important things to keep in mind is that even the assignment of each signature has a certain insecurity due to the fitting. This insecurity is very different per signature and fitting works better or worse dependent on the total number of mutations there are. In pediatric brain cancers, these are frequently low, which make

[2020-04-09 15:25] natemella commented on #448
Hi @jaclyn-taroni, thank you for the feedback on the pull request. We ran some PCA plots where you can visually see batches as shapes and histology as color.

Our conclusion is that using **method (ribodepleted vs. polyA) as the batch is indeed confounded with histology.** But the other batches (seq_center and cohort) don't visually infer that they are confounded.

We can quantitatively show wheth

[2020-04-09 23:23] kgaonkar6 commented on #665
I looked into the zscores  using this function `source(file.path("..","focal-cn-file-preparation","util", "rna-expression-functions.R"))` for expression scores for all BRAF fusion in lgat samples:
![image](https://user-images.githubusercontent.com/34580719/78948697-3705d180-7a97-11ea-8ac9-6853756ff7bf.png)

Doesn't look like the overexpression of BRAF is consistent across the BRAF fusions.

[2020-04-12 19:26] jaclyn-taroni commented on #601
Closed via #657

[2020-04-12 19:26] #601 closed

[2020-04-13 15:14] jaclyn-taroni commented on #497
Closed via #617

[2020-04-13 15:14] #497 closed

[2020-04-13 15:59] cansavvy commented on #668
The BED files for TCGA have been updated and the analysis re-run completely. The TMB values for TCGA are slightly higher, and now we have some outliers show up, but it's still not able to overcome the inherent WGS vs WXS difference we have confounding our PBTA vs TCGA comparison.
Updated:
![tmb-cdf-pbta-tcga](https://user-images.githubusercontent.com/23458084/79135953-2a76c700-7d7e-11ea-8a31-79651

[2020-04-13 17:21] jaclyn-taroni commented on #448
Hi @natemella,

Thanks for following up and adding these plots! If I were to revisit the project or someone were to come to the project for the first time, I expect it would be helpful for an analysis looking at confounding by histology to come _first_ in a `batch-effects` analysis module.

Before I make specific recommendations about moving forward, a couple questions:

* There were a few instanc

[2020-04-15 17:39] jainpayal022 commented on #665
Can help address by Friday

[2020-04-17 19:19] letitiaismyname commented on #646
Ah ok! Thank you so much Anna, I appreciate your explanation and help! I will check out sigfit and look into overfitting issues in the Alexandrov paper 👍 💯

[2020-04-21 19:23] natemella commented on #448
April 21, 2020 Meeting with Jaclyn Taroni and Nathan Mella

Next steps for me will be to do the following:
1. Put anything that will be needed into the Docker File
2. Make an R markdown file for my graphs with the information needed prior to batch correction
3. Make a .util directory with all of my reused functions

On further pull requests, I will include any batch correction that we deem necessa

[2020-04-23 21:13] arpoe commented on #636
I am sorry for the delay.
I have now looked more closely at the current analysis and indeed the fitting is causing some issues. The newest Cosmic set (Cosmic 3) was not yet included. However, it is likely to make things even worse, because the algorithm will have more signatures to choose from.
To provide an alternative I have implemented de novo calling of signatures, which reveals 10 known signa

[2020-05-01 13:49] cansavvy opened #679 "Documentation: Make snv-callers and tmb-compare-tcga documentation more clear on where to fine results"
#### What analysis module should be updated and why?
@tkoganti messaged me because it was unclear where to find the most recent TMB files that result from `snv-callers`.

For the most part the `snv-callers` results files are not uploaded directly to github because they are too big. The TMB files *could* be uploaded, but I am unsure we want to separate them from their respective conensus MAF files.

[2020-05-12 16:27] sjspielman opened #682 "histology file changes from v12 -> v13"
#### What data file(s) does this issue pertain to?
The `pbta-histologies.tsv` file used by most analyses apparently was changed via *line-reordering* from v12 -> v13 data release such that the `molecular_subtyping` column now is by default read as `NA`. This has to do with the `guess_max` functionality of `readr::read_tsv` which default only reads first 1000 rows to guess type.

In data v12, the f

[2020-05-12 16:28] sjspielman commented on #682
@jaclyn-taroni now tells me this is already known. ¯\_(ツ)_/¯

[2020-05-12 17:23] sjspielman opened #684 "`d3r` causing CI failures"
#### What analysis module should be updated and why?

The analysis module `sample-distribution-analysis` uses CRAN package `d3r` to create sunburst plots. Recently CI builds are failing related to `d3r` deprecated usage of `tidyselect::one_of`. This issue will require more sleuthing, but for now PR #683 does a temporary fix of commenting out the package.

[2020-05-14 18:25] jaclyn-taroni opened #690 "Remove any R package installation from notebooks or scripts, especially with BiocManager"
Context: #689 - which is adding a script to specifically install Bioconductor packages on the project Docker container.

Having logic that checks whether or not a package is installed and if not installs it is reasonable if someone were to run an analysis outside the Docker container. But if we were to miss something in the Docker image and then run an analysis it could end up unpinning versions (

[2020-05-14 19:15] cansavvy commented on #690
`mutect2-vs-strelka2` is long retired and isn't run in CircleCI tests, do we still want to update it?

[2020-05-15 13:18] jashapiro commented on #684
Fixed by #689. Closing.

[2020-05-15 13:18] #684 closed

[2020-05-15 13:49] jashapiro opened #691 "Updated documentation: Bioconductor package installation instructions"
#### What analysis module should be updated and why?

The changes in #689 introduce a new script `install_bioc.r` that should be used to install packages from Bioconductor. This needs documentation somewhere.

#### What changes need to be made? Please provide enough detail for another participant to make the update.

The `install_bioc.r` script itself is quite short, but could probably do with som

[2020-05-15 17:39] #679 closed

[2020-05-17 16:11] #632 closed

[2020-05-18 13:36] cansavvy commented on #690
I started working on this with some of the notebooks I originally created, I can go ahead and remove the R package installations for all of these listed (and if I find any others).

[2020-05-18 14:02] cbethell commented on #690
I have removed the package installation steps from `oncoprint-landscape/01-plot-oncoprint.R` in the open PR #666 (I can revert this change if we would prefer that these steps be removed all in one PR however).

[2020-05-18 14:22] cansavvy commented on #690
@cbethell No need to change it. I will do multiple PRs for these anyway. I'll keep track of which modules are revised here as I open PRs for them.

[2020-05-18 15:07] cansavvy commented on #690
Should I be ignoring deprecated/retired analyses, I assume?

[2020-05-18 15:19] jaclyn-taroni commented on #690
What is the downside to fixing those? Lots of time to rerun I assume?

[2020-05-18 15:31] cansavvy commented on #690
Yes but mainly I’m encountering other errors not related to `install.packages` due to data release changes that haven’t been fixed since they’ve been deprecated. So it will involved me fixing errors that are outside this issue.

[2020-05-18 15:32] jaclyn-taroni commented on #690
Ah, makes sense - skip 'em!

[2020-05-18 15:48] cansavvy commented on #690
Keeping track of the changes I make here as I do them. (TBD means I haven't gotten to it yet.)
| Module | Status | PR ref |
|--------|-------|--------|
| [`chromosomal-instability`](https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/master/analyses/chromosomal-instability) | No changes needed|   |
| [`cnv-chrom-plot`](https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/master/analyses/cnv

[2020-05-20 15:29] kgaonkar6 opened #700 "check pbta-snv-consensus-mutation.maf.tsv.gz for duplicated lines"
#### What data file(s) does this issue pertain to?
pbta-snv-consensus-mutation.maf.tsv.gz

#### What release are you using?

release-v16-20200320

#### Put a link to the relevant section of the [OpenPBTA-manuscript](https://github.com/AlexsLemonade/OpenPBTA-manuscript/) here.
https://github.com/AlexsLemonade/OpenPBTA-manuscript/blob/master/content/03.methods.md#consensus-snv-calling

#### Put your

[2020-05-20 15:45] jaclyn-taroni commented on #700
cc @cansavvy

[2020-05-20 16:10] cansavvy commented on #700
I'll look into this today.

[2020-05-20 17:50] jashapiro commented on #700
That is correct. If no metadata file is included, it simply doesn't make or update that table in the sqlite database.

https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/d5b13f28a82bce0f098a9c3fb808a10a8e1aef48/analyses/snv-callers/scripts/01-setup_db.py#L317

[2020-05-20 17:52] kgaonkar6 commented on #700
Thanks!

[2020-05-20 20:06] kgaonkar6 commented on #700
Also is it possible to have no consensus calls for a sample?  BS_C3KDA5ZC seems to be missing in pbta-snv-consensus-mutation.maf.tsv.gz

Let me know if you want this to be a different issue, thanks!

[2020-05-20 20:23] cansavvy commented on #700
When you say you see "it" do you mean you see the `Tumor_Sample_Barcode` in each of the strelka, mutect, and lancet files? Or you see a particular mutation for that sample that is in each file? In order for a sample to have a consensus call, the same mutation (Same "Chromosome", "Start_Position", "Reference_Allele", "Allele", "Tumor_Sample_Barcode") has to be found by each caller. So its possible

[2020-05-20 20:43] kgaonkar6 commented on #700
yeah I meant I see the Tumor_Sample_Barcode in each of the caller merged files.

Thanks for the confirmation about the bs_id!
I did a random check and seems like there are some overlaps in mutect2 and strelka2 but none overlap with lancet.

[2020-05-20 20:48] jashapiro commented on #700
Looks like at least part of the problem is with the raw data:

`gzcat data/pbta-snv-lancet.vep.maf.gz |sort|uniq -d > lancet_dups.txt`
[lancet_dups.txt](https://github.com/AlexsLemonade/OpenPBTA-analysis/files/4659197/lancet_dups.txt)

I am running the other raw files now.

[2020-05-20 20:53] kgaonkar6 commented on #700
hmm yeah that makes sense, thanks for checking

[2020-05-20 21:39] jashapiro commented on #700
The strelka and mutect files do not have full duplicates, but I can imagine there might be other duplicates that do not encompass the full row, but include the fields we had been using for indexing, namely
[code]

[2020-05-21 00:31] jharenza opened #702 "Update molecular subtyping file"
#### What data file(s) does this issue pertain to?
https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/analyses/molecular-subtyping-pathology/results/compiled_molecular_subtypes_with_pathology_feedback.tsv

#### What release are you using?

NA

#### Put a link to the relevant section of the [OpenPBTA-manuscript](https://github.com/AlexsLemonade/OpenPBTA-manuscript/) here.
NA

#### Put y

[2020-05-21 00:35] jaclyn-taroni commented on #702
Do you have specific examples where the Notes column needs to be changed? Many rows already contain "Updated via OpenPBTA subtyping."

[2020-05-21 00:37] jharenza commented on #702
Looks like LGG, for instance, are NA, but have been subtyped.

[2020-05-21 01:49] jashapiro commented on #700
After a bit further investigation, it does seem that some, but perhaps not all, of the duplicates come from `pbta-snv-lancet.vep.maf.gz`

Some that were missing from my earlier comment (based on `gzcat data/pbta-snv-lancet.vep.maf.gz |sort|uniq -d > lancet_dups.txt`) are those where for some reason there are two lines with *different allele counts* for the same genomic location, sample and alleles

[2020-05-21 12:28] jaclyn-taroni commented on #702
I will defer to @baileyckelly and @allisonheath, as I know there are changes to how the clinical file are being generated (#656). I find "Updated via OpenPBTA subtyping" ambiguous – it could mean that the histology label changed, it could mean the addition of a subtype label. That's why I left it off of LGG.

[2020-05-21 12:32] jaclyn-taroni commented on #656
@yuankunzhu mentioned to me that there will be additional samples (~30) in a new release, probably next week. @yuankunzhu can you elaborate on that here please so we can start to understand the impact (e.g., will they be WGS only, etc.)?

Also will that include the clinical file changes outlined in your original comment (though #245 is not closed yet and there is the question of #665) or is that g

[2020-05-21 13:13] jashapiro commented on #656
In this release, we should also aim to fix the duplicate SNV calls mentioned in #700. Some of those duplicates are present in the supplied lancet data, but others are still of unknown origin.
See:
https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/700#issuecomment-631830112

[2020-05-22 12:50] jashapiro opened #705 "Discussion: Employ ENCODE blacklist to exclude problematic genomic regions"
In our analysis of copy number variation, we currently use a manually curated set of regions for which copy number variant analysis tends to be inaccurate, but this list is not tied to a clear public resource that is easily referenced and downloadable. The current list also seems to miss many false positive-prone regions, as indicated by strong  banding patterns independent of sample type in figur

[2020-05-22 15:37] jashapiro commented on #705
Soem simple statistics comparing the ENCODE blacklist to our current blacklist file:
The ENCODE blacklist consists of 71570285 bp in 910 regions

I compared the encode blacklist to components of our current blacklist using `bedtools jaccard`

| file                       | intersection | union     | jaccard     | n_intersections |
|----------------------------|--------------|-----------|----------

[2020-05-22 17:41] cbethell opened #706 "Updated analysis: Include recurrent genes in oncoprint landscape and update documentation"
#### What analysis module should be updated and why?

The scripts generating the oncoprint plots should be updated to take in the recurrent genes list generated in PR #686 and stored at `analyses/oncoprint-landscape/results/consensus_seg_focal_cn_recurrent_genes.tsv`.

The `README.md` file in the `analyses/oncoprint-landscape` module should also be updated as it is outdated.

#### What changes nee

[2020-05-23 14:51] jaclyn-taroni commented on #245
Closed by #555 / subsumed by #667. Any required updates should go in a new issue.

[2020-05-23 14:51] #245 closed

[2020-05-24 18:02] jaclyn-taroni commented on #646
Hi @letitiaismyname - wanted to bring @arpoe's pull request for de novo mutational signature calling to your attention: #678

[2020-05-25 16:41] jaclyn-taroni commented on #641
I'm going to call this closed by #666 and subsumed by #706.

[2020-05-25 16:41] #641 closed

[2020-05-26 11:54] jaclyn-taroni commented on #668
@cansavvy was this closed by #671?

[2020-05-26 11:55] jaclyn-taroni commented on #594
@cansavvy can we close this? I believe any updates you want to make are tracked elsewhere. If that is the case, can you post where they are tracked and close this issue please.

[2020-05-26 12:26] cansavvy commented on #668
Yes.

[2020-05-26 12:26] #668 closed

[2020-05-26 12:28] cansavvy commented on #594
What's left to be done for the CNV status plot is tracked here: https://github.com/cansavvy/openpbta-notebook-concept/issues/7

[2020-05-26 12:28] #594 closed

[2020-05-26 12:47] sjspielman opened #708 "Proposed Analysis: One Seed to Rule them All"
#### What are the scientific goals of the analysis?

Many analysis use a random seed, which is sometimes defined using an environmental variable and sometimes hardcoded in for a given analysis. A single TRUTH seed will be helpful for reproducibility purposes.

See here for a sense of variability in the project: Some are arguments, but hardcoded seeds include 2019, 2019, 201910, 123.
[code]

#### W

[2020-05-27 21:27] #643 closed

[2020-05-28 16:47] kgaonkar6 opened #713 "Proposed Analysis : Investigate top tp53_nf1_classifier scoring samples without TP53 alterations"
#### What are the scientific goals of the analysis?
Investigate top tp53_nf1_classifier scoring samples without TP53 alterations ("false-positives") to see if they fall into certain tumor types, have certain mutations, or have other evidence of TP53 loss. As per @cgreene's  [comment](https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/673#issuecomment-635058769)

#### What methods do you plan

[2020-05-29 19:25] cbethell commented on #706
This was closed by merged PR #711.

[2020-05-29 19:25] #706 closed

[2020-05-29 20:11] jaclyn-taroni commented on #571
We have completed all figures mentioned above and inserted them into the manuscript. The script to generate all figures, as well as documentation around palettes and a summary of the figures are in [`figures`](https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/master/figures).

[2020-05-29 20:11] #571 closed

[2020-05-31 23:08] jaclyn-taroni commented on #510
We now have unified color palettes and their usage is documented here: https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/master/figures#color-palette-usage

The majority of figures in [`figures/png`](https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/master/figures/pngs) use these palettes. I am going to close this issue in favor of more focused issues for individual figures as it comes

[2020-05-31 23:08] #510 closed

[2020-06-01 00:04] jaclyn-taroni commented on #581
I'm planning on taking care of this this week.

[2020-06-01 18:05] cbethell commented on #488
This has been closed with PR #686 🎉

[2020-06-01 18:05] #488 closed

[2020-06-03 14:28] sjspielman commented on #648
Note for survival analysis: `NA` as upper CI bound is not uncommon in skewed analyses like some of ours, and in fact the `NA` really means `Inf`. Not ideal, but so it is. https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/674#issuecomment-638233796

[2020-06-07 17:25] #691 closed

[2020-06-10 02:49] cbethell opened #716 "Updated analysis: Investigate handling of t-SNE in `transcriptomic-dimension-reduction` module"
#### What analysis module should be updated and why?

As discovered in PR #704, the t-SNE results in `analyses/transcriptomic-dimension-reduction/results` do not appear to be reproducible as they change across operating systems (when ran with a seed set in Docker) but remain the same for each specific individual OS.

#### What changes need to be made? Please provide enough detail for another parti

[2020-06-11 11:56] jaclyn-taroni commented on #581
Closed via #717

[2020-06-11 11:56] #581 closed

[2020-06-11 13:29] sjspielman commented on #716
I don't think the Docker version itself should make a difference, but for what it's worth I'm rebuilding my image now on this docker version -
<img width="300" alt="Screen Shot 2020-06-11 at 9 28 09 AM" src="https://user-images.githubusercontent.com/4701111/84390766-0a208880-abc6-11ea-9912-a65e6d43b19e.png">

[2020-06-11 21:12] sjspielman commented on #716
**Appoach** : two docker using the aforementioned Desktop Docker version, builds as:
[code]
They give the exact same values as one another, but their PCA and tSNE scores differ from master. UMAP is the same as master.

**Conclusion:** Likely unrelated to docker caching. This is expected and good. Next up: related to docker _version_? Will go download a slightly older Desktop docker and rebuild (fr

[2020-06-12 12:12] jharenza opened #719 "pathology inspection update to pbta-histologies file"
#### What data file(s) does this issue pertain to?
pbta-histologies.tsv

#### What release are you using?

V16

#### Put your question or report your issue here.
With the [pathology subtyping analysis](https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/master/analyses/molecular-subtyping-pathology), there were decisions made by CHOP pathologists that changed `integrated_diagnosis` and thus `b

[2020-06-12 15:26] jharenza commented on #551
@yuankunzhu - were you able to process any of this data? In the meantime, I CHOP legal was working on this agreement as of 5/19. Just sent a followup.

[2020-06-12 18:40] jashapiro commented on #700
I did some more investigation and it appears that the majority of the problems are coming from lancet. In many cases, this is because lancet is calling the same SNV with different depths, as described above. I suspect this may be due to lancet being given two overlapping regions to work with when there are nearby exons or padded SNVs that it is being used to "check", as per https://github.com/Alex

[2020-06-14 18:18] #690 closed

[2020-06-15 17:55] cbethell commented on #578
I can start looking into this so I will go ahead and assign myself.

[2020-06-24 21:05] kgaonkar6 opened #721 "Updated analysis: molecular subtyping HGG"
#### What analysis module should be updated and why?
- I believe there is a typo here https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/6c877839435e7bdc3b3a32df79c5f2692429a940/analyses/molecular-subtyping-HGG/07-HGG-molecular-subtyping-combine-table.Rmd#L514-L515 which misses adding the subtyping to associated RNAseq sample

- I also wonder if we missed out Derived Cell Line and Panel sampl

[2020-06-25 12:19] #721 closed

[2020-07-07 22:10] jharenza commented on #551
As an update, CHOP has approved this agreement and it was sent to ICGC on July 3 for final approval. They will respond within 15 business days.

[2020-07-08 14:03] kgaonkar6 commented on #721
@jaclyn-taroni I also noticed that HGAT Derived Cell Lines are not being molecular subtyped does that need to be updated?

[2020-07-08 14:06] jaclyn-taroni commented on #721
That's tracked in #509 and may be blocked by #610. There's no answer to my outstanding question about using the adherent/suspension label to distinguish between "duplicates" https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/610#issuecomment-605951267.

[2020-07-08 14:48] kgaonkar6 commented on #721
thanks for the links , I was under the impression matching Kids_First_Participant_ID and sample_id  was enough for cell-lines as well. I can check and get back to you.

[2020-07-08 16:00] kgaonkar6 commented on #610
I believe that matching with `Kids_First_Participant_ID`, `sample_id` and `parent_aliquot_id` (removing the .WGS and .RNA-Seq suffix) we will be able to fix this issue @jaclyn-taroni . Thoughts @mkoptyra ?

Kids_First_Participant_ID | sample_id | parent_aliquot_id | Kids_First_Biospecimen_ID_DNA | Kids_First_Biospecimen_ID_RNA | molecular_subtype
-- | -- | -- | -- | -- | --
PT_Y5KY6KN9 | 7316-195

[2020-07-13 12:34] yuankunzhu opened #724 "Updated analysis: function `calculate_tmb` returns unfiltered mutation counts"
#### What analysis module should be updated and why?
- `tmb_functions.R` from [snv-callers/scripts](https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/master/analyses/snv-callers).
- it returns all mutation counts from input MAF without filtering which caused high mutation counts for WGS coding region output
- a quick look of the tmb tsv files, it shows `mutation_count` in the coding region t

[2020-07-13 13:41] jaclyn-taroni commented on #724
Excellent find @yuankunzhu - thank you! As discussed via Slack, @yuankunzhu will file the bug fix this afternoon and we can have @cansavvy and @jashapiro take a look. The CCDL team can look at some of the downstream analyses and fix the plotting outlined in that Notion document.

[2020-07-13 14:45] jashapiro opened #726 "Updated analysis: filter to only non-synonymous mutations for TMB"
#### What analysis module should be updated and why?

`snv-callers`, specifically
https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/analyses/snv-callers/scripts/03-calculate_tmb.R
and
https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/analyses/snv-callers/util/tmb_functions.R

#### What changes need to be made? Please provide enough detail for another participant to make t

[2020-07-13 17:17] yuankunzhu commented on #724
sounds good @jaclyn-taroni. just filed a simple PR around this at #727

[2020-07-14 15:46] cansavvy opened #729 "Exploratory Side Analysis: `Variant_Classification` breakdown"
#### What are the scientific goals of the analysis?
There's a few questions we want to explore in regards to the `Variant_Classification` breakdowns.

1) How different are the synonymous vs nonsynonymous mutation counts?

2) How often do these: `Translation_Start_Site`, `Nonstop_Mutation` or `Splice_Site` come up? (These are not included in the FoCR definitions, but are included in `maftools` defi

[2020-07-14 15:52] jashapiro commented on #729
This sounds great. I would also suggest comparing results from these analyses to those that come in as part of #725

[2020-07-14 23:31] GeoffLyle commented on #229
@jaclyn-taroni We want to add our cohort finding script to this analysis.  As it uses the correlation matrix that is already created for finding the gene outlier status of samples, I believe it would fit into this analysis rather than being a separate proposed analysis.

The idea is to calculate the Spearman distance between a focus sample and all other samples.  If the Spearman distance is above

[2020-07-15 00:19] jaclyn-taroni commented on #229
Hi @GeoffLyle, adding what you've described to `analyses/comparative-RNASeq-analysis/` makes sense to me!

To confirm, you believe that it will run with 8GB RAM and in a reasonable amount of time in CI ([10 minutes or less without some kind of output](https://support.circleci.com/hc/en-us/articles/360007188574-Build-has-hit-timeout-limit)), is that correct?

I wanted to point you to how to obtain

[2020-07-16 23:58] jaclyn-taroni opened #730 "Medulloblastoma subtype labels have some disagreement with unsupervised analysis"
#### What data file(s) does this issue pertain to?

I am using a transformed version of `pbta-gene-counts-rsem-expected_count.stranded.rds` and the `molecular_subtype` column from `pbta-histologies.tsv` to develop some material for a CCDL training workshop.

Here's a current version of the code for that training material: https://github.com/AlexsLemonade/training-modules/tree/87ba43bec66b7bd3f8528

[2020-07-17 14:59] cansavvy commented on #724
Is there anything left to address for this issue or can we close it?

[2020-07-17 15:43] yuankunzhu commented on #724
I think @jashapiro wants to make sure everything looks ok for the downstream analysis with the updated function from the commit here: https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/727#pullrequestreview-447455527?

But yea I'm ok to close it as my initial thought was just to arise the counting issue.

in addition to this, we could consider to open another ticket just for the plotting axes

[2020-07-17 16:42] yuankunzhu commented on #656
close this release propose, as we planned for another v17 release which will only include clinical data refresh and keep the previous genomics data as is. @baileyckelly will create that the ticket and file the PR around it.

[2020-07-18 01:53] jharenza commented on #730
cc: @komalsrathi and @PichaiRaman for this. One idea is to potentially perform UMAP on the data used for the classifier, since we have "truth" from clinical testing/pathology and see if you see a similar trend or not. @komalsrathi can provide with a matrix and the subtypes.

[2020-07-18 15:49] jaclyn-taroni commented on #730
Yes, I agree that it could come down to feature selection (and transformation). Getting a better understanding of those steps in the context of this dataset specifically could be helpful. I (naively) would expect the biggest signal in these data to be subtype, so I'm curious why that might not be!

Side note beyond the scope of _this repository_: this is a useful way to talk about feature selectio

[2020-07-18 16:33] jharenza commented on #730
I'll share the manuscript submission with you offline - crossing fingers it will be published soon and then we can post a link here!

[2020-07-18 17:00] cgreene commented on #730
I am thinking through this. There are cases where we don't expect subtypes to necessarily line up with gene expression patterns in the data.

Thinking of something like high-grade serous ovarian cancer, there are gene expression subtypes ( https://clincancerres.aacrjournals.org/content/14/16/5198 ) and there are mutation-based ones described ( https://www.nature.com/articles/nmeth.2651 ) and these

[2020-07-18 17:08] jharenza opened #731 "Proposed Analysis: medulloblastoma subtyping"
#### What are the scientific goals of the analysis?
Subtype medulloblastoma samples into SHH, WNT, Group 3, and Group 4

#### What methods do you plan to use to accomplish the scientific goals?
https://github.com/d3b-center/medullo-classifier-package

#### What input data are required for this analysis?
RNA-Seq FPKM

#### How long do you expect is needed to complete the analysis? Will it be a mult

[2020-07-18 17:53] komalsrathi commented on #731
@jharenza wasn't this done already?

[2020-07-18 20:04] jharenza commented on #731
@komalsrathi - yes, it was done early on, and since it was not within the repository, in discussions with @jaclyn-taroni, we thought we should add it as an official analysis PR to add transparency to the subtyping that ended up in the histologies file. Thank you - not a rush, but something we want to add!

[2020-07-18 20:27] komalsrathi commented on #731
Ok makes sense. I'll finish it this week, thank you.

[2020-07-18 22:34] jaclyn-taroni commented on #730
Based on @cgreene's summary of the 2011 paper

I decided to subset to the 5% of genes with highest variance (~2500 in this case) and included UMAP and PCA in the training material. Linking the most recent rendered version of the notebook (about to go into a PR) for everyone's reference: https://htmlpreview.github.io/?https://github.com/AlexsLemonade/training-modules/blob/3a2160f00beb6690df3d11315a

[2020-07-19 02:07] jharenza commented on #730
From @cgreene's comments:

The MB classifier we are using here was built using both RNA-Seq _**and**_ microarray data and identified GERs that could then be used on data from either platform. One thing to note is that the 2011 paper utilized microarray expression data only, and perhaps we can't simply use unsupervised clustering on the RNA-Seq data without much more filtering. To add more details,

[2020-07-23 11:53] komalsrathi commented on #731
@jharenza @jaclyn-taroni Just want to share the results for review before finalizing the code and creating a PR:

I am using the following filter to get 122 MB samples (1 polyA and 121 rRNA depleted) as input for the classification:

[code]

The classifier was developed to take at least 2 samples as input, so I only have the results for the rRNA depleted 121 samples which I merged with the clinica

[2020-07-23 14:00] baileyckelly opened #732 "Planned Data Release: V17"
What data file(s) does this issue pertain to?
pbta-histologies.tsv

What release are you using?
V15/V16

Put your question or report your issue here.
Update histologies file to include additional information per tickets:

was planned for v16:
~#607~
~#610~
#637
#509
#608
#245
new:
#631 LGAT subtyping
#623 EWS subtyping
Who is going to work on this:
@baileyckelly

[2020-07-23 18:47] jharenza commented on #731
@komalsrathi thanks for this. I think if possible, we would like to add the poly-A sample's subtype. Out of curiosity, why are two samples required if they are analyzed independently?

I know @adamcresnick will prefer to have complete information when we can. A way to get around this could be to duplicate it (so long as each entry is independently analyzed) or perform on the entire poly-A matrix a

[2020-07-23 19:35] komalsrathi commented on #731
Hi,

What I will do is use some additional couple approaches and compare the
output:

1. Batch correct and merge the polyA and stranded Medullo data into a
single dataset to be used as input.

2. Use the entire matrix (non-MB samples as well) as input and do the
classification individually on polyA and stranded datasets.

I’ll also convert the 0s to <2e-16 because that’s what it represents.

If we

[2020-07-23 20:47] baileyckelly commented on #732
Note: This release will ONLY contain histology file changes

[2020-07-24 15:36] komalsrathi commented on #731
@jharenza @jaclyn-taroni  I did the following:

1. Merge the polyA MB (n = 1) and rRNA depleted MB (n = 121) data into a
single dataset (n = 122) -> Batch correct on library -> Classify.

~~2. Use the entire matrix (non-MB samples as well) as input and do the
classification individually on polyA and stranded datasets~~

2. Use the rRNA depleted MB matrix as is (n =  121) -> Classify -> Compare wit

[2020-07-24 16:53] jharenza commented on #731
@komalsrathi - this looks great, and I am glad the results were the same with batch correction. Regarding:

I would not say we mis-classified those samples - I think what this means is we have to go back to the pathologists and have them re-review. I am more inclined to think that the initial clinical information could have been wrong, ambiguous, or pathology shows one thing and expression shows a

[2020-07-24 17:02] jaclyn-taroni commented on #731
Any idea with how those putative misclassifications (based on clinical data) might square (or not) with some of what I saw with unsupervised analysis (#730)? I can provide some output of the training materials if that's helpful.

[2020-07-24 17:09] komalsrathi commented on #731
Ok, I just redid the calculation on just combined (without batch correction) polyA and rRNA depleted MB samples (n = 122) and the results are identical to batch corrected data. So in case there are reservations about batch correction, we don't have to use it.

[2020-07-24 17:24] jharenza commented on #731
@komalsrathi - would you be able to see if those 11 are some of the samples that don't cluster as expected in the unsupervised analysis?

[2020-07-24 17:51] komalsrathi commented on #731
@jharenza would it be easier for the person who performed the unsupervised analysis to check that? the attached file has information on which ones were misclassified (`Matches` = TRUE or FALSE).

[2020-07-24 17:59] baileyckelly opened #733 "Cancer Predisposition data issues"
#### What data file(s) does this issue pertain to?
histologies file -> cancer_predispositions column

#### What release are you using?
v16/v15

#### Put your question or report your issue here.
I am working on automating & refreshing this value in the histologies file. I found that the data has some issues....
Current Rules:

1. "None Documented" is a real selection value available on the input fo

[2020-07-24 18:06] jaclyn-taroni commented on #733
To the best of my knowledge, there is no analysis that utilizes the `cancer_predisposition` information (a quick search of the code base seems to agree with that).

[2020-07-24 18:11] jaclyn-taroni commented on #733
👍  yep, sounds good to me, thanks!

[2020-07-24 18:12] yuankunzhu commented on #733
Thanks, that was my impression too. I think at moment the clinical data team's share understanding is option 1 and 2 is easier and quicker to implement, while option 3 sounds right but will take longer time. So for this new release we will take option 1?

[2020-07-24 18:13] baileyckelly commented on #733
I think we will take option 2 @yuankunzhu

[2020-07-24 18:15] yuankunzhu commented on #733
yes, just saw that. sorry, i guess we were all replying at the same time 😅, my webpage didn't refresh in time.

let's take option 2.

[2020-07-24 18:47] baileyckelly commented on #733
Thanks everyone! Can i close this now? or do I close when I put the PR out with the release?

[2020-07-24 18:50] jaclyn-taroni commented on #733
I would wait until the release PR gets merged, so we have it for reference when we review any documentation - this seems like a limitation we may want to note here: https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/doc/data-formats.md#data-caveats and maybe in the table in this section of the manuscript: https://github.com/AlexsLemonade/OpenPBTA-manuscript/blob/master/content/03.metho

[2020-08-03 15:35] cansavvy commented on #724
I have the axes alignment bit tracked here: https://github.com/cansavvy/openpbta-notebook-concept/issues/9

So we can close this.

I can also copy over the issue I linked above to this current repository, but I didn't want to clutter up the issues here.

[2020-08-03 15:35] #724 closed

[2020-08-06 18:15] kgaonkar6 opened #734 "Consensus CNV calls for gene level"
#### What data file(s) does this issue pertain to?

#### What release are you using?

data/release-v16-20200320/consensus_seg_annotated_cn_autosomes.tsv.gz

#### Put a link to the relevant section of the [OpenPBTA-manuscript](https://github.com/AlexsLemonade/OpenPBTA-manuscript/) here.
https://github.com/AlexsLemonade/OpenPBTA-manuscript/blob/master/content/03.methods.md#somatic-copy-number-varian

[2020-08-06 19:17] jashapiro commented on #734
A gene can certainly have segments  that are duplicated as well as other segments with loss, particularly for large genes.We did not want to make a judgement about whether a small loss was more or less important than a large gain, etc., as that could be quite application specific. (Losing a small exon might be inconsequential, or have a very important effect! A duplication of an exon to a location

[2020-08-06 20:13] kgaonkar6 commented on #734
Makes sense thanks for the clarification. Characterizing the losses and gains at the exon does sound like a good strategy. I guess `consensus_seg_annotated_cn_autosomes.tsv.gz` is also actually doing an overlap of consensus segments with exons region right but the output only has the gene_symbol ? https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/9b44bf1c186b3126b16dbe5b87756b3eae3feec2/anal

[2020-08-06 21:15] kgaonkar6 commented on #734
Thanks @jashapiro  , I'll close this ticket.

[2020-08-06 21:15] #734 closed

[2020-08-12 17:06] jharenza commented on #732
@baileyckelly @allisonheath - can we add an estimated timeframe for this on the ticket? Thanks :)

[2020-08-12 21:41] migbro commented on #700
Hi @jashapiro , I'm looking into this. In the specific example you posted, I went through the steps of re-creating the bed files used to evaluate (GENCODE CDS + mutect and strelka2 calling regions). The regions don't seem to overlap, this is an excerpt of what it would have been processing on:
[code]
also, the edge of the closest region, to the hit, `100383413`, is about 555bp away, (554 given 0-b

[2020-08-13 01:25] jashapiro commented on #700
Thanks for looking into this @migbro!

The full list is here: https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/700#issuecomment-631830112

Is your thought that in this case the reads are extending beyond the calling region, so lancet is calling snps outside the specified regions? That does seem plausible, but I'm still confused as to why it would make two calls, often with different total

[2020-08-13 14:14] migbro commented on #700
Ok, in looking at your comments, I think I can answer most questions. So, the truly duplicated MNPs and indels - in which you see the same ref/alt with same coverage repeated is as you suspect - the end of one region file, combined with the padding, overlapped with the start of the next region file (lancet jobs are split into 50, then merged afterwards) so one lancet job not knowing another lancet

[2020-08-13 19:35] yuankunzhu opened #735 "molecular_subtype is different for the same sample with different experimental_strategy"
#### What data file(s) does this issue pertain to?
- pbta-histologies.tsv
- pbta-snv-consensus-mutation.maf.tsv.gz

#### What release are you using?
v16

#### Put your question or report your issue here.
looks like when comparing the `molecular_subtype` for the same sample with different `experimental_strategy`, some of them have different values. a full list with more details below:

Kids_First_P

[2020-08-14 00:12] jharenza commented on #647
cc-ing @baileyckelly and @allisonheath to weigh in on this!

[2020-08-14 17:20] jharenza commented on #647
@jashapiro based on internal discussion, we will not update this for #732 but will discuss for a future release.

[2020-08-17 20:22] sjspielman opened #737 "Updated analysis: fusion_filtering bash script paths"
#### What analysis module should be updated and why?
The [`fusion_filtering/run_fusion_merged.sh`](https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/analyses/fusion_filtering/run_fusion_merged.sh) bash script to run the full analysis pipeline should run from the path where it lives. Instead, the file assumes that it is being run from the top-level directory of the OpenPBTA project.

#

[2020-08-18 13:33] jharenza commented on #730
@jaclyn-taroni can you link your results for this analysis and I will look into whether the mismatches you see are the same as the mismatches @komalsrathi sees from the classifier compared to pathology reports? Thanks!

[2020-08-19 04:04] jharenza commented on #730
@jaclyn-taroni @cgreene - sorry this isn't totally clean, but I added a notebook [here](https://jharenza.github.io/openPBTA-notebooks/mb-subtypes/explore-medulloblastoma-unsupervised-clustering.nb.html) with some of the datasets on which we ran our MB classifier as well as the MM2S classifier. I can clean it up a bit more tomorrow.

[2020-08-19 15:31] jharenza commented on #730
An [update](https://gist.github.com/PichaiRaman/cd441e31ecdb53160e3c595a73873fba) of MB classifier performance on two other datasets performed by @PichaiRaman - 87% and 88% accuracy with Groups 3 and 4 subtypes being called incorrectly, but samples also low on WNT subtypes.

[2020-08-19 15:56] PichaiRaman commented on #730
To add to this, the second dataset which had 100ish samples was processed using TOPHAT and not sure about the GTF used but it seemed there only 25K genes. It was also in counts so I had to do the transform to FPKM. I **think** if we had processed this data through our pipelines (RSEM or Kallisto with the latest GTF /GFF3) it would have performed better because we would have had more features and t

[2020-08-19 16:26] jharenza commented on #730
Wanted to add the sensitivity and specificity information from the MB classifier, along with pathology subtype labels, to look at the distributions (U = unknown).

| Study    | Sample_Size | Group3_Sensitivity | Group3_Specificity | Group4_Sensitivity | Group4_Specificity | SHH_Sensitivity | SHH_Specificity | WNT_Sensitivity | WNT_Specificity | Accuracy | Group3_path | Group4_path | SHH_path | U_p

[2020-08-21 13:58] jaclyn-taroni opened #742 "Updated analysis: Take consensus of two classifiers for medulloblastoma subtype labels"
Related to #730 and #731

#### What analysis module should be updated and why?

In #738, code and results for two medulloblastoma classifiers ([medulloPackage](https://github.com/d3b-center/medullo-classifier-package) and [MM2S](https://github.com/cran/MM2S)) are being added to the repository.

Some analyses of the classifier performance on the PBTA data, using the pathology labels where available

[2020-08-23 23:17] #682 closed

[2020-08-25 17:54] jaclyn-taroni commented on #735
Another idea would be to deal with the specific issue you bring up in [`molecular-subtyping-pathology`](https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/master/analyses/molecular-subtyping-pathology), which is the module that compiles the results from all the subtyping model and incorporates pathology feedback (functionally these are "different cases that crop up") as I described earlier.

[2020-08-27 19:48] jharenza opened #746 "Medulloblastoma pathology subtypes: file for data release"
#### What data file(s) does this issue pertain to?
A working GDoc of medulloblastoma subtypes being extracted from pathology reports [here](https://docs.google.com/spreadsheets/d/1lfEYhrKA2CJAKVTQVEvFRi2vj-1daUw4FGAehaHb358/edit#gid=0).

#### What release are you using?

v16

#### Put a link to the relevant section of the [OpenPBTA-manuscript](https://github.com/AlexsLemonade/OpenPBTA-manuscript/)

[2020-08-27 19:49] jharenza commented on #746
cc @yuankunzhu just to be aware

[2020-08-27 19:51] jharenza opened #747 "Updated analysis: medulloblastoma consensus subtypes"
#### What analysis module should be updated and why?
#742 via <s>#738</s> #743

#### What changes need to be made? Please provide enough detail for another participant to make the update.
Will need to be updated once #746 goes in

#### What input data should be used? Which data were used in the version being updated?
RNA-Seq collapsed tables
File to be released in #746

#### When do you expect the

[2020-08-27 20:35] komalsrathi commented on #747
@jharenza I think it should be PR https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/743 instead of https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/738. That's where I am using the expected subtypes to compare the classifiers with the pathology report.

[2020-08-28 00:24] jharenza commented on #732
@jaclyn-taroni, since #743 was merged, would you like us to add these results to the `pbta-histologies.tsv` file for V17 release? If yes, should we use corrected or uncorrected results?

[2020-08-28 01:01] jharenza commented on #747
updated, thanks!

[2020-08-28 11:51] jaclyn-taroni commented on #732
I suppose my preference would be to use uncorrected, but that opinion is not strongly held.

Can we get a time frame for this? There are items listed here (#610) that have not been completed. There are outstanding things like #665 that have not been addressed, which could inform the results that were initially included in #631. If we complete #667, we can use whatever is in [`molecular-subtyping-p

[2020-08-28 12:48] jaclyn-taroni commented on #578
Closed via #723

[2020-08-28 12:48] #578 closed

[2020-08-28 12:49] jaclyn-taroni commented on #742
I consider this closed by #743, with any remaining items tracked in #747

[2020-08-28 12:49] #742 closed

[2020-08-28 21:00] kgaonkar6 commented on #721
Reposting here from #610

Matching by Kids_First_Participant_ID, sample_id and parent_aliquot_id (For PNOC003 samples we will have to remove the .WGS and .RNA-Seq suffix) to fix the issue:
Kids_First_Participant_ID | sample_id | parent_aliquot_id | Kids_First_Biospecimen_ID_DNA | Kids_First_Biospecimen_ID_RNA | molecular_subtype
-- | -- | -- | -- | -- | --
PT_Y5KY6KN9 | 7316-195 | 7316-195-T-20263

[2020-08-28 21:17] jharenza opened #748 "Update/Create SQL rules for integrated diagnosis, broad, and short histologies"
#### What data file(s) does this issue pertain to?
pbta-histologies.tsv

#### What release are you using?

will use V17 from #732

#### Put a link to the relevant section of the [OpenPBTA-manuscript](https://github.com/AlexsLemonade/OpenPBTA-manuscript/) here.
https://alexslemonade.github.io/OpenPBTA-manuscript/#clinical-data-harmonization

#### Put your question or report your issue here.
@bailey

[2020-08-28 21:23] jharenza opened #749 "Add total, stranded RNA-Seq for 8 samples"
#### What data file(s) does this issue pertain to?
pbta-star-log-final.tar.gz
pbta-star-log-manifest.tsv
pbta-mend-qc-manifest.tsv
pbta-mend-qc-results.tar.gz
pbta-isoform-counts-rsem-expected_count.polya.rds
pbta-isoform-counts-rsem-expected_count.stranded.rds
pbta-isoform-expression-rsem-tpm.polya.rds
pbta-isoform-expression-rsem-tpm.stranded.rds
pbta-fusion-arriba.tsv.gz
pbta-fusion-putative-on

[2020-08-28 21:29] jharenza opened #750 "Planned Release: V18"
#### What data file(s) does this issue pertain to?
`pbta-histologies.tsv`
all RNA-Seq files

#### What release are you using?

V17

#### Put a link to the relevant section of the [OpenPBTA-manuscript](https://github.com/AlexsLemonade/OpenPBTA-manuscript/) here.
NA

#### Put your question or report your issue here.
Some future updates to include:
Add 8 RNA-Seq samples #749:
- [x] pbta-star-log-fina

[2020-08-28 21:33] jharenza commented on #735
I think if we have this data from the pathology reports, it makes sense to include in the module described above. @jainpayal022 and @aadamk, is this something you would be willing to pull out and double review? If so, we can release that as a file or add it to a ticket (since it is a small number of samples).

cc @yuankunzhu

[2020-08-28 21:38] jharenza opened #751 "Updated analysis: pathology subtyping to include PNOC003 histone mutations from report data"
#### What analysis module should be updated and why?
[pathology subtyping
](https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/master/analyses/molecular-subtyping-pathology)

#### What changes need to be made? Please provide enough detail for another participant to make the update.
We will add histone mutations:  **H3F3A K28M, HIST1H3B K28M, HIST1H3C K28M, HIST2H3C K28M, H3F3A.G35R** from pat

[2020-08-29 00:18] jharenza opened #752 "Updated analysis: embryonal subtyping to use pathology diagnosis"
#### What analysis module should be updated and why?
https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/master/analyses/molecular-subtyping-embryonal

#### What changes need to be made? Please provide enough detail for another participant to make the update.
Currently, this module uses `broad_histology` to search for the subset of samples to be subtyped. However, with the rework of rules to d

[2020-08-29 00:19] jharenza opened #753 "Updated analysis: LGAT subtyping to use pathology diagnosis"
#### What analysis module should be updated and why?
https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/master/analyses/molecular-subtyping-LGAT

#### What changes need to be made? Please provide enough detail for another participant to make the update.
Currently, this module uses `short_histology` to search for the subset of samples to be subtyped. However, with the rework of rules to determ

[2020-08-29 00:20] jharenza opened #754 "Updated analysis: HGG subtyping to use pathology diagnosis"
#### What analysis module should be updated and why?
https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/master/analyses/molecular-subtyping-HGG

#### What changes need to be made? Please provide enough detail for another participant to make the update.
Currently, this module uses `short_histology` to search for the subset of samples to be subtyped. However, with the rework of rules to determi

[2020-08-29 00:22] jharenza opened #755 "Updated analysis: EPN subtyping to use pathology diagnosis"
#### What analysis module should be updated and why?
https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/master/analyses/molecular-subtyping-EPN

#### What changes need to be made? Please provide enough detail for another participant to make the update.
Currently, this module uses `integrated_diagnosis` to search for the subset of samples to be subtyped. However, with the rework of rules to de

[2020-08-29 00:24] jharenza opened #756 "Updated analysis: MB subtyping to use pathology diagnosis"
#### What analysis module should be updated and why?
https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/master/analyses/molecular-subtyping-MB

#### What changes need to be made? Please provide enough detail for another participant to make the update.
Currently, this module uses `integrated_diagnosis` to search for the subset of samples to be subtyped. However, with the rework of rules to det

[2020-08-31 20:39] jharenza commented on #732
#608 is blocked, so that will be added to V17

[2020-08-31 20:46] kgaonkar6 commented on #732
I ran the molecular-subtyping-pathology ( last run on July 2nd  ) module for v17 release which contains subtyping results compiled from the following modules and pathology updates:
molecular-subtyping-EWS
molecular-subtyping-HGG
molecular-subtyping-LGAT
molecular-subtyping-embryonal

[2020-08-31 21:17] baileyckelly commented on #610
Yes. The Sample ID is actually our "Event ID" here. It's all the same surgical event/tumor - but different aliquots to do different things with (Cell Line, DNA, RNA, etc).  They could be different tissue chunks (different parent aliquot IDs). The parent aliquot id means different biobank tubes - but we dont necessarily know the reason the same surgical event got multiple biobank tubes (ie didnt fi

[2020-09-02 13:12] kgaonkar6 commented on #665
https://www-sciencedirect-com.proxy.library.upenn.edu/science/article/pii/S1535610820301513?via%3Dihub
they've looked into KIAA1549--BRAF fusion with different breakpoints ( exon16 -> exon9) ,(exon15 -> exon10) and (exon15 -> exon9) and briefly discussed that non-KIAA1549 BRAF fusions occurred exclusively in adolescents with no progression events

[2020-09-02 18:52] jharenza opened #758 "Medulloblastoma subtype propagation question"
#### What data file(s) does this issue pertain to?
pbta-histologies.tsv
#757

#### What release are you using?
Preparation for #732

#### Put a link to the relevant section of the [OpenPBTA-manuscript](https://github.com/AlexsLemonade/OpenPBTA-manuscript/) here.
NA

#### Put your question or report your issue here.
MB BS_5BMNK8SY DNA has two associated RNA samples: BS_QEYPFYHD (classifiers did not

[2020-09-03 15:53] cansavvy commented on #732
I've realized the TCGA consensus and tmb files have never been added to the data release and it would be ideal to keep these tracked.

These files need to be added (they get created by the `run_caller_consensus_analysis-tcga.sh` script and printed out into snv-callers/results/consensus`.

[code]
Here's a zip file that contains all three of those files:
[tcga-consensus-09-03-2020.zip](https://githu

[2020-09-03 18:26] jharenza commented on #758
Sure - example:

**Situation 1**
| Specimen   | MB-classifier | MM2S classifier |
|------------|---------------|-----------------|
| Specimen A | subtype X     | subtype X       |
| Specimen B | subtype X     | subtype Y       |

vs.

**Situation 2**
| Specimen   | MB-classifier | MM2S classifier |
|------------|---------------|-----------------|
| Specimen A | subtype X     | subtype X       |
|

[2020-09-03 19:07] cansavvy commented on #726
Now that #728 and #739 have been merged, I think this can be closed.

[2020-09-03 19:07] #726 closed

[2020-09-03 19:39] jharenza commented on #732
thanks @cansavvy - I just let @yuankunzhu know!

[2020-09-03 19:56] jaclyn-taroni commented on #758
If the end result is that the DNA specimen in situation 1 gets subtype X and in situation 2 the DNA specimen would be unclassified, what you are proposing seems reasonable.

[2020-09-03 20:02] jharenza commented on #758
Yes, that is my thought. Thanks - I will ask @komalsrathi to update the subtyping module for this one sample.

[2020-09-03 20:12] jharenza opened #759 "Updated analysis: medulloblastoma subtyping"
#### What analysis module should be updated and why?
https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/master/analyses/molecular-subtyping-MB per #758

#### What changes need to be made? Please provide enough detail for another participant to make the update.
Implement logic for when two RNA specimens from the same event do not both have consensus with each other per #758

#### What input da

[2020-09-03 20:43] yuankunzhu commented on #732
thanks. will include those files.

[2020-09-04 15:33] jharenza commented on #732
@jaclyn-taroni we are shooting for a PR for Tuesday, Sep 8 for this!

[2020-09-09 12:46] jaclyn-taroni opened #761 "[Figures] Unified ggplot2 theme"
We have unified color palettes included in [`figures`](https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/b17171a0d3dc0dcf8a09331fb7153687df0a520b/figures), but we do not have a recommendation for a unified plot theme. For example, the [transcriptomic overview figure](https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/b17171a0d3dc0dcf8a09331fb7153687df0a520b/figures/pngs/transcriptomic-o

[2020-09-09 12:55] jaclyn-taroni opened #762 "[Figures] Color palettes for molecular subtypes"
Related to https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/627 in my opinion.

One of the panels in the telomerase activity figure that is being added in https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/736 is a comparison between medulloblastoma subtypes. We do not currently have color palettes for any category that pertains to disease labels outside of short histology. If we are

[2020-09-09 15:11] jaclyn-taroni opened #763 "[Figures] Supplementary figure location and file naming convention"
Context is https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/736#discussion_r485687499

My tentative recommendation was to save a supplementary figure with the following convention `figures/supplementary_*.png`. Is this how we would like to save supplementary figures long term? If so, we should document this in `figures/README.md`.

[2020-09-09 15:14] cansavvy commented on #761
I think any plots I have made, have used `theme_classic()` because I'm generally partial to it, for no particular reason.

But in my opinion we should generally not have grids or a gray background (and that is accomplished with `theme_classic()`).

[2020-09-09 15:34] jaclyn-taroni commented on #758
Closed via #760

[2020-09-09 15:34] #758 closed

[2020-09-10 18:42] cansavvy commented on #729
With #741 being merged, this is wrapped up.

[2020-09-10 18:42] #729 closed

[2020-09-11 14:22] komalsrathi commented on #759
Closing via https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/760

[2020-09-11 17:58] #759 closed

[2020-09-11 20:53] cansavvy commented on #732
[pbta-snv-mutation-tmb-coding.tsv.zip](https://github.com/AlexsLemonade/OpenPBTA-analysis/files/5211455/pbta-snv-mutation-tmb-coding.tsv.zip)

Here is the most up to date version of the tmb for pbta given the changes done with #727 and #728

[2020-09-11 22:22] jharenza commented on #732
@cansavvy to confirm - is this replacing `pbta-snv-consensus-mutation-tmb-coding.tsv` or an addition?

[2020-09-11 22:25] jaclyn-taroni commented on #732
This is a replacement for that file.

[2020-09-11 22:25] jharenza commented on #732
ok thanks! i will rename to match :)

[2020-09-12 18:10] jaclyn-taroni commented on #754
In v17, `glioma_brain_region` is being changed to `CNS_region`. `glioma_brain_region` is used in the `07-HGG-molecular-subtyping-combine-table.Rmd` notebook:

https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/43e13134d3e9a6a5e0a126a63f68797c4ecb9b34/analyses/molecular-subtyping-HGG/07-HGG-molecular-subtyping-combine-table.Rmd#L246

When this is revised as detailed above, this minor change sh

[2020-09-12 18:20] jaclyn-taroni opened #767 "Updated analysis: Independent specimens lists need to be regenerated"
#### What analysis module should be updated and why?

The `tumor_descriptor` values in the `release-v17-20200908` version of `pbta-histologies.tsv` is changing: https://jharenza.github.io/V17-histologies-QC/v17-histologies-qc.nb.html#tumor-descriptor (notebook originally posted here: https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/764#issuecomment-691342289)

[`independent-samples`](https:

[2020-09-12 18:21] jaclyn-taroni commented on #750
We're going to need to update the following files, because the `tumor_descriptor` field is changing in v17:

[code]

Regenerating those files is tracked in #767.

[2020-09-12 18:32] jaclyn-taroni opened #768 "Updated analysis: Sample distribution analysis should reflect v17 changes"
#### What analysis module should be updated and why?

The `tumor_descriptor` values in the `release-v17-20200908` version of `pbta-histologies.tsv` is changing: https://jharenza.github.io/V17-histologies-QC/v17-histologies-qc.nb.html#tumor-descriptor (notebook originally posted here: https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/764#issuecomment-691342289)

`sample-distribution-analysis`

[2020-09-12 18:45] jaclyn-taroni opened #769 "Updated analysis: Recurrent fusions by histology should reflect changes in v17"
#### What analysis module should be updated and why?

The `tumor_descriptor` values in the `release-v17-20200908` version of `pbta-histologies.tsv` is changing: https://jharenza.github.io/V17-histologies-QC/v17-histologies-qc.nb.html#tumor-descriptor (notebook originally posted here: https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/764#issuecomment-691342289)

When generating the `pbta-fusi

[2020-09-12 18:46] jaclyn-taroni commented on #750
`pbta-fusion-recurrent-fusion-byhistology.tsv` will also need to be updated because of the `tumor_descriptor` change - tracked in #769.

[2020-09-12 19:10] jaclyn-taroni opened #770 "Updated analysis: Sort molecular subtyping tables for better diffs"
#### What analysis module should be updated and why?

Any (non-deprecated) molecular subtyping table that doesn't explicitly sort the output table, likely all of these:

[code]

Should be updated such that the output is sorted by identifiers (probably `Kids_First_Participant_ID` and `sample_id`) so it will easier to tell what's changed via the diff when we make post-v17 release changes. First brou

[2020-09-12 19:46] jaclyn-taroni commented on #509
Linking to some information for how we can resolve the ambiguous mapping so it's easier to find when this gets addressed: https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/610#issuecomment-655608824

[2020-09-12 19:58] jaclyn-taroni commented on #648
I believe this was closed via #674

[2020-09-12 19:58] #648 closed

[2020-09-14 13:42] jaclyn-taroni commented on #770
We're going to plan to 1) use the v16 data (so wait to merge #764) and 2) spread these modules out across the CCDL team to make this go faster. @cbethell @cansavvy @jashapiro  if you pick up a module, can you comment about which one you're working on? If you're picking up a module, be sure to hard refresh just in case the most recent comment hasn't shown up!

[2020-09-14 13:44] jashapiro commented on #770
STarting at the top- I will do `molecular-subtyping-ATRT`

[2020-09-14 13:55] jaclyn-taroni commented on #770
I will do `molecular-subtyping-chordoma`!

[2020-09-14 13:57] jashapiro commented on #770
molecular-subtyping-ATRT done (#771)
Doing `molecular-subtyping-embryonal` next

[2020-09-14 14:20] jashapiro commented on #770
`molecular-subtyping-embryonal` done (#772).
Moving on to `molecular-subtyping-EPN`

[2020-09-14 14:49] jashapiro commented on #770
Did `molecular-subtyping-EPN` (#773)

[2020-09-14 16:23] cbethell commented on #770
I can do `molecular-subtyping-EWS`!

[2020-09-14 16:36] jashapiro commented on #770
Starting `molecular-subtyping-HGG`

[2020-09-14 16:57] cbethell commented on #770
`molecular-subtyping-EWS` done (#774)
Will do `molecular-subtyping-HGG` next

[2020-09-14 17:18] jaclyn-taroni commented on #770
`molecular-subtyping-chordoma` is filed (#775)
Will move on to `molecular-subtyping-LGAT` this afternoon!

[2020-09-14 19:32] jashapiro commented on #770
I'm starting on pathology, but will only file a draft, as it depends on other modules.

[2020-09-14 19:43] cbethell commented on #770
`molecular-subtyping-HGG` is filed (#777) 👍

[2020-09-15 00:52] jaclyn-taroni commented on #754
This step got commented out in https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/764/commits/2335db8cc46cafa2c392bede58f4bc93a1ae485f. We'll need to uncomment that step when this gets addressed.

[2020-09-15 12:27] jaclyn-taroni commented on #755
CI [failed](https://app.circleci.com/pipelines/github/AlexsLemonade/OpenPBTA-analysis/4277/workflows/9fa44846-dde8-47ff-9b7e-a9516b487ccd/jobs/4757) on #764 with:

[code]

I am going to comment that out in an upcoming commit in the interest of discovering what else may need to be fixed as a result of the v17 release. When this gets addressed, we will need to revert that change such that this step

[2020-09-15 14:05] #770 closed

[2020-09-15 20:08] #732 closed

[2020-09-17 13:39] cbethell commented on #752
I can work on this issue this sprint!

[2020-09-17 15:30] jaclyn-taroni commented on #769
Closed via #744

[2020-09-17 15:30] #769 closed

[2020-09-17 16:32] cansavvy commented on #753
I can work on this issue.

[2020-09-17 17:22] cansavvy commented on #753
Based on the comment above,

It seems like both `pathology_diagnosis` and `pathology_free_text_diagnosis` should be used for subsetting? But it's unclear to me how to use both or how `pathology_free_text_diagnosis` should be used. I filed an issue on the manuscript repo about this: https://github.com/AlexsLemonade/OpenPBTA-manuscript/issues/123

[2020-09-17 18:04] jharenza commented on #753
@cansavvy let me update this ticket to clarify! Also responded in the manuscript issue :).

[2020-09-17 18:41] jaclyn-taroni commented on #609
I think this is closed by the linked issues and pull requests and the presence of [`molecular-subtyping-pathology`](https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/master/analyses/molecular-subtyping-pathology).

[2020-09-17 18:41] #609 closed

[2020-09-17 18:47] #767 closed

[2020-09-17 19:22] cansavvy commented on #753
More specifically, if biospecimens of particular `pathology_free_text_diagnosis` categories should sometimes be added to the `pathology_diagnosis` definitions, _when_ should this happen? But also _how_ should this happen: which are considered equivalent (As a person who has very little knowledge regarding these diagnoses meanings).

For example, how do I know which values in `pathology_free_text_d

[2020-09-17 20:36] jharenza commented on #753
@cansavvy we would use `pathology_diagnosis` and only search in `pathology_free_text_diagnosis` if any of the `Other` or `Not Reported` have diagnoses resembling LGAT. It doesn't look that way to me right now, but awaiting Cassie Kline's confirmation on this (edited in the original ticket above). We also may have an edit of moving `gangliogliomas` to LGAT. So for now, maybe we should block this un

[2020-09-17 21:19] jharenza opened #783 "molecular subtyping: BS_N6N147BY"
#### What data file(s) does this issue pertain to?
pbta-histologies.tsv

#### What release are you using?

V17

#### Put a link to the relevant section of the [OpenPBTA-manuscript](https://github.com/AlexsLemonade/OpenPBTA-manuscript/) here.
NA

#### Put your question or report your issue here.
Found this sample had conflicting histology information:

| Kids_First_Biospecimen_ID | pathology_diagno

[2020-09-17 22:13] #768 closed

[2020-09-17 23:29] jaclyn-taroni commented on #783
Putting this in the context of my understanding of the information on #748 - If this biospecimen was originally classified as HGG (`pathology_diagnosis`) and through the `molecular-subtyping-embryonal` module, but we classified this as ETMR, C19MC-altered (`molecular_subtype`) because of the presence of a _TTYH1_ fusion _and_ `integrated_diagnosis` and, as a result, `broad_histology` and `short_hi

[2020-09-18 02:04] jaclyn-taroni opened #784 "Updated analysis: Overhaul molecular subtyping results compilation step in molecular-subtyping-pathology"
#### What analysis module should be updated and why?

The [`molecular-subtyping-pathology`](https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/analyses/molecular-subtyping-pathology) module compiles the results from other  molecular subtyping modules in the notebook `analyses/molecular-subtyping-pathology/01-compile-subtyping-results.Rmd`.

With the updates in v17 (#748), the molecular

[2020-09-18 14:17] jashapiro commented on #755
I will be starting on this today. Will need to look at apparent errors as well as the `pathology_free_text_diagnosis` field.

[2020-09-18 15:24] jharenza commented on #783
Actually, yes, once #748 is completed, then we will expect to just do the subtyping here. I think I made this issue based on how the modules are currently set up, but they are being revamped now, so perhaps this is no longer relevant, but I think, also good to note, as this is an inaccuracy in the data as it stands.

Do you think for all of the subtyping modules, we should then leave those 3 field

[2020-09-18 20:39] #755 closed

[2020-09-19 23:06] jaclyn-taroni commented on #754
I'm going to pick this issue up.

[2020-09-20 17:07] jaclyn-taroni commented on #509
When #786 goes in / #754 gets closed, I will follow up with this change.

[2020-09-21 12:09] jaclyn-taroni commented on #756
@cansavvy since #753 is apparently blocked, why don't we have you plan to pick up this issue? I've filed #786 (HGG) which it may be helpful to have a look at for inspiration re: first look at the `pathology_diagnosis` and `pathology_free_text_diagnosis`.

[2020-09-21 12:22] cansavvy commented on #756
Sounds good! I'll take a look at this today!

[2020-09-21 14:34] cansavvy commented on #756
I'll push a small notebook that summarizes this, but I did some poking and MB substyping seems to be a bit more straightforward than some of the other histologies:

- Looks like all samples that have `short_histology` and `integrated_diagnosis` as `Medulloblastoma` also have `pathology_diagnosis` as `Medulloblastoma`.
- Most but not all of these samples have `medulloblastoma` some place in `pathol

[2020-09-22 20:09] kgaonkar6 opened #789 "Updated analysis: fusion filtering"
#### What analysis module should be updated and why?
fusion_filtering needs some filtering value updates.

With the cutoff of 10 we were able to get ~96% sensitivity for PPTC (100 read length ) data.  However, when we tested TCGA data which has (50-75 read length) the cutoff of 10 wasn't sufficient (~70% sensitivity) but at 100 we get about ~96% sensitivity (percentage overlap to what is previousl

[2020-09-22 21:47] jharenza commented on #752
Hi @cbethell and @jaclyn-taroni! After consulting with Cassie Kline, the below list should be used in embryonal subytyping:

**pathology_diagnosis**
Neuroblastoma (see note)
Supratentorial or Spinal Cord PNET

**pathology_free_text_diagnosis**
embryonal tumor with multilayer rosettes, ros (who grade iv)
embryonal tumor, nos, congenital type
ependymoblastoma
medullooepithelioma

NOTE:
- It looks li

[2020-09-22 21:58] jharenza commented on #754
Hi @jaclyn-taroni! After consulting with Cassie Kline, the below list **_can_** be used in HGG subtyping:

**pathology_diagnosis**
Anaplastic Astrocytoma
Brainstem glioma- Diffuse intrinsic pontine glioma
Diffuse midline glioma, H3K27M mutant, WHO grade IV
Glioblastoma
High Grade Glial Neoplasma
High Grade Glioma
High-grade glioma/astrocytoma (WHO grade III/IV)
Infiltrating Dipg

**pathology_free_

[2020-09-22 22:00] jaclyn-taroni commented on #754
Okay thanks, will implement on the open PR (#786)!

[2020-09-22 22:08] jharenza commented on #753
Hi @cansavvy and @jaclyn-taroni! After consulting with Cassie, she thinks it makes sense to add to this module:

**pathology_diagnosis**: ==
Ganglioglioma
Ganglioglioma;Low-grade glioma/astrocytoma (WHO grade I/II)
Low-grade glioma/astrocytoma (WHO grade I/II)
Low-grade glioma/astrocytoma (WHO grade I/II);Other

There were no LGG in the tumors diagnosed as `Other` as of right now.

NOTES:
- Gangli

[2020-09-22 22:12] jaclyn-taroni commented on #753
Thanks for the update! I'm going to remove the `blocked` label.

You 100% could have meant new issue here, but to clarify - I would file a new issue to be addressed after this change has been addressed.

[2020-09-23 00:32] jaclyn-taroni commented on #746
While addressing #756, specifically making the switch to use `pathology_diagnosis` and `pathology_free_text_diagnosis` instead of `short_histology`, we now have a sample that was not originally included in `molecular-subtyping-MB` being subtyped (changed from `Medulloblastoma` -> `ETMR` in `molecular-subtyping-embryonal`) . The code in `analyses/molecular-subtyping-MB/03-compare-classes.Rmd` is ti

[2020-09-23 02:01] jharenza opened #790 "Updated analysis: LGAT - add additional subtypes"
#### What analysis module should be updated and why?
[LGAT subtyping
](https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/master/analyses/molecular-subtyping-LGAT)

#### What changes need to be made? Please provide enough detail for another participant to make the update.
From conversation with Cassie Kline, @adamcresnick, and inspired by this [pediatric LGG review](https://actaneurocomms.bio

[2020-09-23 02:37] jaclyn-taroni commented on #756
Closed via #787

[2020-09-23 02:37] #756 closed

[2020-09-23 14:12] jharenza commented on #746
That sample `BS_QWNBZ9RJ` was mistakenly entered as medulloblastoma into our database, but will add it to this list, and try to see if we can get that updated on the backend. Thanks!

[2020-09-23 23:38] jaclyn-taroni commented on #753
I'm going to pick up this issue!

[2020-09-24 20:25] jharenza commented on #746
@jaclyn-taroni as an update, we got this sample updated in our database, so with V18, its `pathology_diagnosis` will be `Other` with `ETMR` in `pathology_free_text_diagnosis`.

[2020-09-25 18:26] jharenza commented on #733
fixed with #764

[2020-09-25 18:26] #733 closed

[2020-09-27 00:20] jaclyn-taroni commented on #737
Closed via #744

[2020-09-27 00:20] #737 closed

[2020-09-27 19:35] #754 closed

[2020-09-28 13:25] jashapiro opened #794 "Update count workflows to use SCPCR ids"
The workflows to generate count matrixes (alevin and kallisto) will need to be updated for new file locations and ID patterns.

The new inputs will be a set of SCPCR ids and a metadata file (`scpca-library-metadata.tsv`) which contains the file locations to be used.

This update should also add checking  md5 hashes of the raw files.

Output files should designate runs by their SCPCR id.

[2020-09-28 13:25] #794 closed

[2020-09-28 13:26] jashapiro commented on #794
Filed in the wrong repo!

[2020-09-29 11:28] #753 closed

[2020-10-05 17:24] aadamk commented on #636
Just thought to reopen this discussion of optimizing mutsigs analysis with respect to OpenPBTA.

A [benchmarking paper](https://journals.plos.org/plosone/article/file?id=10.1371/journal.pone.0221235&type=printable) last year highlighted more favorable performance when utilizing Bayesian NMF approaches as opposed to the original NMF modeling (though not sure which de novo method was leveraged above

[2020-10-05 17:34] arpoe commented on #636
Hi @aadamk, this is almost precisely what I have done :-)
There were some problems to reintegrate the branch into the pipeline, because I had separated out the signature calling itself from the pipeline, because it generates large files and is quite computing intense.
This caused some issues that we still have to solve.
@jaclyn-taroni, have there been any developments? Is there something I can do?

[2020-10-05 19:06] jharenza opened #795 "Updated analysis: independent samples list for RNA-seq"
#### What analysis module should be updated and why?
[Independent samples](https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/master/analyses/independent-samples)

The current analysis creates files of independent (de-deplicated) samples as follows:
- Primary specimens only with whole genome sequence (WGS)
- Primary and secondary specimens with WGS
- Primary specimens only with either WGS or

[2020-10-05 19:46] aadamk commented on #636
I see, thanks for the clarification @arpoe!

[2020-10-06 00:11] jharenza commented on #509
@kgaonkar6 will pick this up

[2020-10-06 19:50] jaclyn-taroni commented on #636
@aadamk you may find taking a look at the corresponding PR (#678) helpful! @arpoe I had prioritized subtyping issues that are blocking the next data release for this project, but since someone else has now picked up #509 I am hoping to revisit this in the next few days. (I've started a branch: https://github.com/jaclyn-taroni/OpenPBTA-analysis/tree/jaclyn-taroni/de-novo-mut-sig.)

[2020-10-06 19:51] kgaonkar6 commented on #509
I made changes to include cell-lines and tried to implement the matching with parent_aliquot_ids along with sample_id in [here](https://github.com/kgaonkar6/OpenPBTA-analysis/blob/update-subtyping-cell-lines-HGG/analyses/molecular-subtyping-HGG/results/HGG_molecular_subtype.tsv)

It seems to only be able to uniquely match duplicate sample_id issue for the following subset

  | Kids_First_Participa

[2020-10-06 20:27] jharenza commented on #509
@kgaonkar6 let's ask @mkoptyra about this - it may be OK/expected, but not sure.

[2020-10-06 22:05] kgaonkar6 commented on #509
(Discussion with @jharenza has lead to the following plan for this ticket)

Step1 We will add a file with the S/A annotation from https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/610#issue-576545712 and use that to match the cell-line DNA and RNA samples in the molecular-subtype-HGG .

Step2 As part of v18 release we will have S/A information in the pbta-histology file, we will then re-wo

[2020-10-08 14:43] jashapiro commented on #795
I think there are a few different things mentioned here that are important. We will probably want to separate out a few of them into different issues, as I think there is the potential to conflate solutions if we keep them together. I will try to lay out my thoughts below.

1. The issue of multiply counting samples from the same individual is a real one, and we should be careful in analyses where

[2020-10-08 15:48] jaclyn-taroni commented on #795
I agree - I think the modules explicitly mentioned above ([`gene-set-enrichment-analysis`](https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/master/analyses/gene-set-enrichment-analysis), [`immune-deconv`](https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/master/analyses/immune-deconv), [`telomerase-activity-prediction`](https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/master/an

[2020-10-08 15:58] jharenza commented on #795
Thanks for the comments @jashapiro!

Good idea!

This came up because in the fusion filtering module, we do use both polyA and stranded samples, and also had to be sure we were not double counting when looking at recurrent fusions, as @jaclyn-taroni also mentioned. Based on the preference for stranded (I agree), we can create the sample list using that logic for the 8 new samples incoming with #75

[2020-10-08 17:04] #752 closed

[2020-10-10 12:53] jaclyn-taroni commented on #795
Sounds reasonable! Does this impact what's in #797?

[2020-10-10 16:11] jaclyn-taroni commented on #789
Closed via #791

[2020-10-10 16:11] #789 closed

[2020-10-12 13:28] kgaonkar6 commented on #795
#797 right now has options for primary only and primary_plus (primary and others if primary sample is not available) , I tried to make it similar to the dna selection.

[2020-10-13 14:14] kgaonkar6 opened #801 "Updated analysis: molecular-subtyping-HGG ; NA in HGAT samples molecular subtype"
#### What analysis module should be updated and why?
molecular-subtyping-HGG

From discussion with @jharenza  we found that within HGAT short histology samples a subset of samples are `NA` in molecular subtype column
[not-subtyped_list.txt](https://github.com/AlexsLemonade/OpenPBTA-analysis/files/5371693/not-subtyped_list.txt)
These should be have value = "HGG, To be classified" similar to LGAT mo

[2020-10-14 00:57] jharenza opened #803 "Updated analysis: MB subtyping"
#### What analysis module should be updated and why?
Minor update to medulloblastoma subtyping to enable inference of `pathology_diagnosis` from `molecular_subtype` for #748

#### What changes need to be made? Please provide enough detail for another participant to make the update.
Update output from:

Group4
SHH
WNT

to:

MB, Group4
MB, SHH
MB, WNT

#### What input data should be used? Which data

[2020-10-14 02:28] jharenza opened #804 "Updated analysis: EWS molecular subtyping"
#### What analysis module should be updated and why?
[molecular-subtyping-EWS](https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/master/analyses/molecular-subtyping-EWS)

Currently, this module currently recodes `integrated_diagnosis` and `short_histology`, but I think we should update this module in preparation for #748.

#### What changes need to be made? Please provide enough detail for a

[2020-10-14 02:47] jharenza opened #805 "Proposed Analysis: neurocytoma subtyping"
#### What are the scientific goals of the analysis?
To subtype `Neurocytoma` tumors as central or extra-ventricular

#### What methods do you plan to use to accomplish the scientific goals?
Utilize `primary_site` from `pbta-histologies.tsv`:

If `primary_site` == "Ventricles", then `molecular_subtype == CNC` (central neurocytoma) and if `primary_site` != "Ventricles", then `molecular_subtype == EV

[2020-10-14 18:48] jharenza opened #807 "Updated analysis: HGG subtyping to remove BRAF and include TP53"
#### What analysis module should be updated and why?
[molecular-subtyping-HGG](https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/master/analyses/molecular-subtyping-HGG)

1. Per discussion with @adamcresnick, we should remove the _BRAF_ V600E subtyping from HGG and replace with _TP53_ subtypes for HGG, as _TP53_ is the top co-occurring gene with H3 mutations in DMGs. Neither are currently in

[2020-10-14 20:10] jharenza opened #808 "Updated analysis: fusion summary to add fusions for LGG"
#### What analysis module should be updated and why?
[fusion summary](https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/master/analyses/fusion-summary)
Currently, the [LGAT subtyping module](https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/master/analyses/molecular-subtyping-LGAT) only looks for _BRAF_ fusions, so it utilizes the `pbta-fusion-putative-oncogenic.tsv` file directly. Sin

[2020-10-14 20:13] jharenza commented on #665
@kgaonkar6 let's revisit this with #790, in which I am adding additional BRAF fusions as another subtype. I think the point you raise about the kinase domain retention is a great one, and we should consider this.

[2020-10-15 01:25] jharenza opened #810 "Proposed Analysis: molecularly subtype craniopharyngiomas"
#### What are the scientific goals of the analysis?
molecularly subtype craniopharyngiomas into adamantinomatous or papillary

#### What methods do you plan to use to accomplish the scientific goals?
1. Select all samples in which `pathology_diagnosis` == `Craniopharyngioma`
2. Create defining lesions table similar to [the one in the HGG subtyping module](https://github.com/AlexsLemonade/OpenPBTA-

[2020-10-15 01:30] jharenza commented on #803
closed with #809

[2020-10-15 01:30] #803 closed

[2020-10-15 20:42] jharenza commented on #783
closing because we are now leaving those fields in the updated subtyping modules

[2020-10-15 20:42] #783 closed

[2020-10-15 21:10] jharenza opened #812 "Updated analysis: Fusion Filtering - add reciprocal and kinase domain"
#### What analysis module should be updated and why?
[fusion_filtering](https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/master/analyses/fusion_filtering)
With #790, we will be adding subtypes based on presence of fusions other than _KIAA1549--BRAF_, however, we would like to ensure that they retain the kinase domain and if the kinase is the 5' gene, that a reciprocal fusion exists. This fu

[2020-10-16 18:54] jharenza commented on #509
closed with #796

[2020-10-16 18:54] #509 closed

[2020-10-16 19:58] kgaonkar6 commented on #784
I'm commenting out module (molecular-subtyping-pathology) from CI as per [comment](https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/815#issuecomment-710460745) since that code is  expected to change (for example the changes in molecular-subtyping-EWS  output as per #804 , is breaking CI at molecular-subtyping-pathology step becuase the format of the file has changed)

[2020-10-19 18:17] jharenza opened #817 "Improve documentation for analyses/copy_number_consensus_call/results/uncalled_samples.tsv in module README"
#### What data file(s) does this issue pertain to?
pbta-cnv-consensus.seg.gz

#### What release are you using?

v17; consensus cnv looks to be last created using v14 data

#### Put a link to the relevant section of the [OpenPBTA-manuscript](https://github.com/AlexsLemonade/OpenPBTA-manuscript/) here.
NA

#### Put your question or report your issue here.
BS_JC8YV5V9 has CNV changes present in all t

[2020-10-19 18:29] jashapiro commented on #817
`uncalled_samples.tsv` is a table of the samples that fail step 2 of the pipeline described here: https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/analyses/copy_number_consensus_call/README.md#consensus-cnv-creation

This should be added to the readme.

[2020-10-19 18:50] jharenza commented on #817
Thanks @jashapiro! cc @kennethchenlab

[2020-10-19 20:12] jharenza commented on #810
@dmiller15 will work on this issue

[2020-10-19 21:39] jaclyn-taroni opened #818 "De novo mutational signature extraction: next steps"
I am filing this issue to replace #636 with more detailed steps required for completing the de novo mutational signatures analysis and to surface some discussion on #799 (or other, already merged PRs). Note that this issue is _too expansive_ in scope to be completed with a single pull request. It likely should be broken up into smaller issues with more detail, but in an effort to reduce the cognit

[2020-10-20 14:01] jharenza opened #819 "Proposed Analysis: add scavenging of cancer hotspots to consensus SNV calls"
#### What analysis are you proposing and why?
Create a new MAF which contains consensus SNV calls from [consensus snv calling](https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/master/analyses/snv-callers) and cancer hotspot calls missed by consensus, as noted below.

We previously noticed that by taking a 3/3 approach for consensus calls, we are inevitably missing some cancer hotspot mutati

[2020-10-20 14:10] jashapiro commented on #819
I think this is a good idea, but I would keep it as a separate analysis from the general consensus. In other words, I would not "scavenge" back mutations into the consensus, but rather include an entirely separate analysis that evaluates known mutations. This would keep the standards clear and separate *de novo* analysis from analysis with outside influence.

[2020-10-20 14:28] jharenza commented on #819
Ok - yeah I went back and forth on that. I can update the title!

[2020-10-20 21:46] dmiller15 commented on #810
Initial PR has been created.

[2020-10-24 13:56] jaclyn-taroni commented on #817
I am going to assign @jashapiro and update the title (and labels) of the issue to reflect that this is a documentation change.

[2020-10-24 16:59] jaclyn-taroni commented on #810
Reading through #820, I believe that this was closed by this pull request.

[2020-10-24 16:59] #810 closed

[2020-10-24 17:05] jaclyn-taroni commented on #804
Closed via #815

[2020-10-24 17:05] #804 closed

[2020-10-24 17:25] jaclyn-taroni commented on #751
Closed via #800

[2020-10-24 17:25] #751 closed

[2020-10-24 17:28] #637 closed

[2020-10-24 17:28] jaclyn-taroni commented on #637
I believe this was addressed via the v17 release (#764)

[2020-10-24 17:30] jaclyn-taroni commented on #801
Closed via #813

[2020-10-24 17:30] #801 closed

[2020-10-26 00:25] jharenza opened #822 "Updated analysis: craniopharyngioma results table remove duplicates"
#### What analysis module should be updated and why?
[cranio subtyping](https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/analyses/molecular-subtyping-CRANIO)
The [results table](https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/analyses/molecular-subtyping-CRANIO/results/CRANIO_molecular_subtype.tsv) contains duplicates because RNA and DNA samples are both in the [SNV le

[2020-10-28 01:59] jharenza commented on #822
closed with #823

[2020-10-28 01:59] #822 closed

[2020-10-28 02:20] jharenza commented on #808
@kgaonkar6, I will work on this once #821 is merged

[2020-10-30 15:32] kgaonkar6 opened #824 "Updated analysis: Compiling molecular subtyping pathology clinical feedback"
#### What analysis module should be updated and why?
I think updates can go in molecular-subtype-pathology or molecular-subtype-HGG

#### What changes need to be made? Please provide enough detail for another participant to make the update.
Here compiled_df is https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/analyses/molecular-subtyping-pathology/results/compiled_molecular_subtypes_w

[2020-10-30 15:46] kgaonkar6 commented on #824
In addition:

These 2 samples 7316-158 and 7316-1102 are now part of molecular-subtype-embryonal [results](https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/analyses/molecular-subtyping-embryonal/results/embryonal_tumor_molecular_subtypes.tsv) and molecular-subtype-HGG [results](https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/analyses/molecular-subtyping-HGG/results/HGG

[2020-10-30 16:10] jaclyn-taroni commented on #824
@kgaonkar6 Would you say this is sufficiently different from #784 or does that issue need the details you are laying out here added?

[2020-10-30 17:30] jharenza opened #825 "Updated analysis: EWS fusion summary and subtyping: remove EWSR1--PATZ1 and update To be classified status"
#### What analysis module should be updated and why? What changes need to be made? Please provide enough detail for another participant to make the update.
- [Fusion summary](https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/analyses/fusion-summary/results/fusion_summary_ewings_foi.tsv) to remove `EWSR1--PATZ1`
  - [This paper ](https://pubmed.ncbi.nlm.nih.gov/29679497/)suggests that

[2020-11-02 20:27] jharenza commented on #807
@kgaonkar6 - I imagine a table of lesions consisting of the TP53 SNV, TP53 classifier score, TP53 FPKM, TP53 loss, TP53 gain

[2020-11-02 20:33] jharenza commented on #795
closed via #797

[2020-11-02 20:33] #795 closed

[2020-11-02 20:34] jharenza commented on #805
closed with #814

[2020-11-02 20:34] #805 closed

[2020-11-04 21:55] kgaonkar6 opened #827 "Updated analysis: survival_analysis_HGG_DMG"
#### What analysis module should be updated and why?

survival-analysis/survival-analysis_HGG_DMG.Rmd needs to be updated so that we don't need to use broad_composition in any module in OpenPBTA.
`broad_composition` is based on integrated_diagnosis so we do not want to use it in any analysis modules.

#### What changes need to be made? Please provide enough detail for another participant to make t

[2020-11-04 21:58] jharenza commented on #749
For tracking:

**PNOC samples:**
BS_FXJY0MNH
BS_KABQQA0T
BS_D7XRFE0R
**CBTN samples:**
BS_SHJA4MR0
BS_HE0WJRW6
BS_8QB4S4VA
BS_FN07P04C
BS_SB12W1XT

[2020-11-06 06:24] jharenza commented on #827
closed with #828

[2020-11-06 06:24] #827 closed

[2020-11-06 06:24] jharenza commented on #825
closed with #826

[2020-11-06 06:24] #825 closed

[2020-11-06 06:25] jharenza commented on #812
closed with #816 and #821

[2020-11-06 06:25] #812 closed

[2020-11-06 15:08] rgalvin516 opened #831 "Corrupt link for data description"
Hello,

Thank you for the invaluable work compiled here. I am interested in looking at the data description file for more information about the individual gene expression files, but the link to this file on the following page appears corrupt:

https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/doc/data-formats.md

The specific link:
https://github.com/AlexsLemonade/OpenPBTA-analysis/bl

[2020-11-06 15:10] cgreene commented on #831
Quick guess that actual link is here: https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/doc/data-files-description.md

If that's it, we'd welcome a quick PR that fixes things :)

[2020-11-06 17:35] kgaonkar6 opened #832 "Updated File and Documentation : Fusion gene and fusion reference lists"
#### What analysis module should be updated and why?
fusion_filtering : the files currently have rownames which causes issues reading the file as discussed in the [thread](https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/830#discussion_r518758733)

Screenshot from @cansavvy
https://user-images.githubusercontent.com/23458084/98376682-d8dfa380-2011-11eb-8202-8c031c6736d6.png

#### What change

[2020-11-06 23:31] rgalvin516 commented on #831
That is exactly what I was looking for; thanks again and happy to throw you a softball!

[2020-11-07 18:33] cgreene commented on #831
I filed #833 to fix this - thanks for reporting it! :)

[2020-11-08 19:12] jharenza opened #834 "Updated analysis: create subset files - for LGAT fusion summary"
#### What analysis module should be updated and why?
create subset files - to include fusions within LGAT fusion summary #830

#### What changes need to be made? Please provide enough detail for another participant to make the update.
Add `_FGFR1--TACC1, MYB--QKI, BRAF_` to putative-oncogenic.tsv selection criteria for subsetting testing files.
- _FGFR1--TACC1_ is the only fusion in the 5' kinase

[2020-11-09 14:32] #831 closed

[2020-11-09 19:51] jharenza opened #837 "Updated analysis: investigate putative functionality of TP53 SNV and CNV calls"
#### What analysis module should be updated and why?
[tp53_nf1_score](https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/master/analyses/tp53_nf1_score) was never fully completed because of bandwidth.

Since we would like to assess whether or not _TP53_ alterations are likely functional within #807, it seems like a better place to put this would be within the [tp53_nf1_score](https://github.c

[2020-11-09 21:40] jharenza opened #838 "Proposed Analysis: Add CNS_region mapping in histologies file to OpenPBTA analyses"
#### What are the scientific goals of the analysis?
Add CNS_region to pbta-histologies.tsv using logic utilized on CHOP D3b end

#### What methods do you plan to use to accomplish the scientific goals?
Regions: Hemispheric, Midline, Spine, Ventricles, Posterior fossa, Optic pathway, Suprasellar, Other

Utilize this table to perform CNS_region mapping:
| Updated CNS Region | Site              | pri

[2020-11-10 19:00] jharenza opened #840 "Updated analysis: fusion summary"
#### What analysis module should be updated and why?
[fusion summary](https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/master/analyses/fusion-summary), as of #830, will be utilizing the putative oncogenic file within the fusion-filtering analysis module.

#### What changes need to be made? Please provide enough detail for another participant to make the update.
Once #750 goes in, we should

[2020-11-10 19:05] jharenza commented on #832
updated via #836

[2020-11-10 19:05] #832 closed

[2020-11-10 19:06] jharenza commented on #713
going to close this, as step 5 of #837 will cover this

[2020-11-10 19:06] #713 closed

[2020-11-10 19:07] jharenza commented on #665
closing this as #790 will cover this

[2020-11-10 19:07] #665 closed

[2020-11-11 16:01] kgaonkar6 commented on #837
I'm looking into the domains for TP53 for step 2 in biomart+pfam and this is the domains and locations I've found :
P53_TAD (PF08563) ,P53 (PF00870) and P53_tetramer( PF07710) but we don't have genomic location info for TAD2 (PF18521) from pfam.

[code]

pfam location/name info was obtained from:
http://hgdownload.soe.ucsc.edu/goldenPath/hg38/database/pfamDesc.txt.gz
http://hgdownload.soe.ucsc.edu

[2020-11-11 20:06] jharenza commented on #837
@kgaonkar6 since this gene is on the reverse strand, the start and end locations are actually reversed and it looks like the PFAM database is calling the TAD domain as one domain instead of two, which may be a recent (last 5+ years) discovery. The TAD domain ends at `7676390` and the DBD starts 3 bp later at `7676387`, so I think it is safe to use the TAD domain here as one domain.

[2020-11-12 18:53] jharenza commented on #808
closed with #830

[2020-11-12 18:53] #808 closed

[2020-11-12 18:54] jharenza commented on #834
closed with #835

[2020-11-12 18:54] #834 closed

[2020-11-13 18:38] kgaonkar6 commented on #790
I just wanted to confirm if we should be checking for p.V600ins or would it be any range of insertion around p600 and should any variant at p599 be captured?

For BRAF we have the following SNVs in lgat biospecimens:
[code]

[2020-11-13 19:08] jharenza commented on #790
yes, my above note meant to say yes - capture any 599 and 600 variants :)

[2020-11-16 16:42] kgaonkar6 commented on #790
For H3 subtype , should we include HIST1H3B ?  I didn't find any H3F3A but there is a H3.1 mutatant:

[code]

[2020-11-16 18:11] jharenza commented on #790
@kgaonkar6 good catch - yes, if exists in either one of those genes, we would add to H3 subgroup. Thanks!

[2020-11-17 18:52] jharenza opened #844 "BS_XM1AHBDJ RNA < 60% mapping rate"
#### What data file(s) does this issue pertain to?
all polyA RNA-Seq files
pbta-histologies.tsv

#### What release are you using?

v17

#### Put a link to the relevant section of the [OpenPBTA-manuscript](https://github.com/AlexsLemonade/OpenPBTA-manuscript/) here.
https://alexslemonade.github.io/OpenPBTA-manuscript/#quality-control-of-sequencing-data

#### Put your question or report your issue h

[2020-11-17 19:08] jharenza commented on #790
@kgaonkar6 to follow up on the above ^, we were able to have the pathology and radiology reports for `BS_E5H6CFYT` reviewed by Mariarita and Angela and I am pasting their response below for the record.

1)This tumor is LOBAR; left frontal mass
2)The radiology seems to be supportive of a fairly well circumscribed tumor
3)Ganglioglioma with H3.3 or H3.1 have been described
4)The grading of these tum

[2020-11-17 20:36] kgaonkar6 commented on #790
For CDKN2A/B should we only used copy_number <=1 ? Here's the distribution of copy_number

[code]

[2020-11-17 21:05] kgaonkar6 commented on #790
@jharenza  can I get more guidance with respect to this description within **LGG, FGFR** "harbors FGFR1 TKD (tyrosine kinase domain tandem duplication".

Would we look for "tandem duplication" in manta file where it's annotated as "<DUP:TANDEM>" ?

[code]

From consensus_seg we would get the info if it's copy_number but I'm not sure if it will be specifically "tandem duplication"

[2020-11-17 21:12] jharenza commented on #790
yes, I think we can start with that

[2020-11-17 21:37] jharenza commented on #790
From [this](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3951336/) and [this](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5039033/) publication, it looks like the tandem duplication breakpoints in `FGFR1` happen between exons 10-18, so I suggest that we take these tandem dup events and overlap with those exons to make sure these are happening in the kinase domain.

Looking at the copy number is a

[2020-11-18 19:00] jharenza commented on #750
@jaclyn-taroni we are going to aim to release all RNA files listed here, plus the independent specimens files

For `pbta-histologies.tsv`, we will not have the new rules for broad/short histology/integrated dx because several subtyping modules are ongoing. We will add subtypes based on whatever subtyping modules have been merged by Friday/Monday.

cc @kgaonkar6

[2020-11-18 21:49] jharenza commented on #719
closing this, as this is being captured within the pathology subtyping module

[2020-11-18 21:49] #719 closed

[2020-11-18 22:06] jharenza commented on #784
Since we plan to have #748 as a separate module, we will omit addition of `integrated_diagnosis`, `short_histology`, and `broad_histology` columns within this PR.

[2020-11-23 18:47] jharenza commented on #844
I am going to keep this sample and update the methods to state "mapping rate of >=60% or at least 30M aligned read pairs (this sample has >78M) per [ENCODE guidelines](https://www.encodeproject.org/documents/cede0cbe-d324-4ce7-ace4-f0c3eddf5972/@@download/attachment/ENCODE%20Best%20Practices%20for%20RNA_v2.pdf) for bulk RNA-Seq.

[2020-11-23 18:47] #844 closed

[2020-11-23 22:00] #817 closed

[2020-11-23 22:50] jharenza commented on #735
@kgaonkar6 is checking to make sure this is resolved with the #750 histologies file

[2020-11-23 23:46] kgaonkar6 commented on #735
All bs_ids from the above participant_ids now have the same subtyping from the clinical/pathology feedback module.

  | Kids_First_Participant_ID | broad_histology | molecular_subtype | Kids_First_Biospecimen_ID | count
-- | -- | -- | -- | -- | --
1 | PT_G16VK7FR | Diffuse astrocytic and oligodendroglial tumor | DMG, H3 K28 | BS_XGDPK33A, BS_2HDEZFTW | 2
2 | PT_NK8A49X5 | Diffuse astrocytic and ol

[2020-11-23 23:46] #735 closed

[2020-11-24 01:51] jharenza opened #850 "Updated analysis: HGG subtyping: remove LGG reclassified due to K28M"
#### What analysis module should be updated and why?
HGG subtyping

#### What changes need to be made? Please provide enough detail for another participant to make the update.
Step 1b from [this issue](https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/807) (Remove LGG tumor samples which have histone mutations) should be done before #784

#### What input data should be used? Which data wer

[2020-11-24 03:32] jharenza commented on #784
To update, HGG/LGG double subtyping assignments will no longer be an issue with #851

[2020-11-24 05:30] jharenza opened #852 "Updated analysis: MB - add "To be classified" to non-subtyped samples"
#### What analysis module should be updated and why?
[MB subtyping
](https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/master/analyses/molecular-subtyping-MB)

#### What changes need to be made? Please provide enough detail for another participant to make the update.
If the sample is not classified, assign the subtype, "MB, To be classified" to align with other modules.

#### What input data

[2020-11-24 06:16] jharenza commented on #667
It looks like this sample was somehow missed in the selection for the EPN module, so I think this should be added back there first.

[2020-11-24 07:03] jharenza opened #853 "Updated analysis: remove BRAF from HGG subtyping"
#### What analysis module should be updated and why?
HGG subtyping

#### What changes need to be made? Please provide enough detail for another participant to make the update.
Step 1a from [this issue](https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/807) (Remove BRAF from subtyping) should be done before #784

#### What input data should be used? Which data were used in the version being

[2020-11-24 14:18] komalsrathi commented on #852
sure I can take this on.

[2020-11-24 22:22] jharenza opened #858 "Proposed Analysis: overhaul data release process"
#### What are the scientific goals of the analysis?
For data releases, the process of updating the histologies file and generating new summary files is becoming unwieldy and would benefit from a streamlined process.

#### What methods do you plan to use to accomplish the scientific goals?
The steps I am thinking of are:
1. D3b generates `pbta-histologies-base.tsv`, which contains all current histo

[2020-12-01 15:08] kgaonkar6 opened #859 "Updated analysis: Ependymoma add WGS only samples to subtyping"
#### What analysis module should be updated and why?
WGS only epndymoma samples are being missed out from the subtyping.

#### What changes need to be made? Please provide enough detail for another participant to make the update.

Mainly from this section it seems only participant ids which have RNA are chosen  to subset WGS samples as well
https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/0

[2020-12-01 18:56] komalsrathi commented on #852
I don't have permission to close this but this can be closed as it was resolved.

[2020-12-01 19:53] jharenza commented on #852
closed via #855

[2020-12-01 19:53] #852 closed

[2020-12-01 19:53] jharenza commented on #784
closed with #854

[2020-12-01 19:53] #784 closed

[2020-12-01 19:54] jharenza commented on #702
updated in #854

[2020-12-01 19:54] #702 closed

[2020-12-01 19:55] jharenza commented on #667
added with #854

[2020-12-01 19:55] #667 closed

[2020-12-01 21:55] kgaonkar6 opened #861 "Updated analysis: RNA summary files and base histology subtyping update for v18"
#### What analysis module should be updated and why?

**RNA-seq summary files generation modules part of download or used in subtyping**
| Module |  Reason |Brief Description | output
|--------|----------|--------|------
| [`collapse-rnaseq`](https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/master/analyses/collapse-rnaseq) | adding 8 samples #749 and used in subtyping  | Collapses RSEM FPKM

[2020-12-01 22:08] jharenza opened #862 "Data: BS_JXF8A2A6 likely needs removal from dataset"
#### What data file(s) does this issue pertain to?
all RNA-Seq files + histology file

#### What release are you using?

v17

#### Put a link to the relevant section of the [OpenPBTA-manuscript](https://github.com/AlexsLemonade/OpenPBTA-manuscript/) here.
NA

#### Put your question or report your issue here.
`BS_JXF8A2A6` is listed as a craniopharyngioma tumor, but was subtyped as EWS due to the p

[2020-12-02 19:44] jharenza commented on #862
Slide review confirmed this tumor sample was a craniopharyngioma, so this RNA-Seq does not match and should be removed.

[2020-12-07 21:04] jharenza commented on #850
closed via #851

[2020-12-07 21:04] #850 closed

[2020-12-07 21:08] jharenza opened #867 "Planned release: V19"
#### What data file(s) does this issue pertain to?
`pbta-histologies.tsv`
all RNA-Seq files

#### What release are you using?

V18

#### Put a link to the relevant section of the [OpenPBTA-manuscript](https://github.com/AlexsLemonade/OpenPBTA-manuscript/) here.
NA

Remove BS_JXF8A2A6 from dataset per #862
- [x] pbta-star-log-final.tar.gz
- [x] pbta-star-log-manifest.tsv
- [x] pbta-mend-qc-manifest

[2020-12-11 16:13] kgaonkar6 commented on #838
Is this still a to-do ticket or the base histology already takes care of this? Base histology file seems to already have the "Updated CNS Region" terms assigned.

[2020-12-11 16:48] kgaonkar6 commented on #838
The direct matches in the ticket wouldn't satisfy where primary_site values can be assigned to multiple `Updated_CNS_regions`, these are all "Other" in base histology.

Example list of multiple primary_site values:
primary_site<chr>
--
  | Cerebellum/Posterior Fossa;Temporal Lobe;Thalamus
  | Optic Pathway;Temporal Lobe
  | Optic Pathway;Suprasellar/Hypothalamic/Pituitary;Temporal Lobe
  | Cerebel

[2020-12-11 19:12] jharenza commented on #838
Converting all of the extraction of data using DBT will mean that `CNS_region` will no longer be generated in the base histology file from the D3b end. However, we can add this, as you suggest, to our base histology preparation following QC.

[2020-12-13 21:23] jaclyn-taroni opened #871 "v18 CI files"
We need to update the CI files to reflect the v18 release. The v18 release makes the following changes (quoting from #857):

#### _Known_ changes required to `create-subset-files`

- We need copy the `pbta-histologies-base.tsv` file in the shell script like we do for `pbta-histologies.tsv`

https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/83d3e1ca17ba5bfa420d1194a5ee19e96ec93bf8/analyses/cr

[2020-12-14 20:21] jharenza commented on #838
Closing, as this is now a part of the intermediate D3b workflow prior to release of `pbta-histologies-base.tsv` per [this comment.](https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/857#issuecomment-744686547)

[2020-12-21 15:32] kgaonkar6 opened #872 "Updated analysis: transcriptomic dimension reduction plots"
#### What analysis module should be updated and why?
While updating transcriptomic-dimension-reduction module for v18 release @jharenza noticed a `NA` value in the plots. For example https://github.com/kgaonkar6/OpenPBTA-analysis/blob/tsne-base/analyses/transcriptomic-dimension-reduction/plots/rsem_stranded_log_broad_histology.pdf

I believe the NA arises from a manual color palette given in the c

[2020-12-22 13:01] cansavvy opened #875 "v18 pbta-histologies.tsv has too many NAs for `short_histology` and `integrated_diagnosis`"
#### What data file(s) does this issue pertain to?

`pbta-histologies.tsv` from the v18 download.

I've been trying to run things in CircleCI and a lot of things are breaking that we didn't expect (#874).
As I've dug into these this morning I think I've realized that the big issue is that `short_histology` is mostly `NA`s but a lot of the code still uses `short_histology`.

There are 1349 `NA`s ou

[2020-12-22 13:06] cansavvy commented on #875
`broad_histology` has the same number of NAs (1349) in the same places as `short_histology`.

[2020-12-22 13:31] cansavvy commented on #875
@kgaonkar6 , is this something you can look into?

[2020-12-22 15:09] jashapiro commented on #875
Based on discussion in https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/870, and the [(prior) documentation](https://github.com/AlexsLemonade/OpenPBTA-manuscript/blob/master/content/03.methods.md#clinical-data-harmonization) it seems like `short_histology` is sometimes derived from `integrated_diagnosis`, but perhaps should now be derived from `harmonised_diagnosis`?

If we are going to be

[2020-12-22 15:17] kgaonkar6 commented on #875
The issue regarding the NAs was at the last step `molecular-subtype-integrate` module which was added as part of v18 release to add the subtyping to base histology.

I was only adding the subtyped broad_hist and short_hist instead of carrying over the original broad and short histology for samples that are not subtyped example ATRT. I've updated it as part of [018db25](https://github.com/AlexsLemo

[2020-12-22 15:28] jashapiro commented on #875
In that case, is the `short_histology` file now missing information it used to contain? Do we need to add another column with abbreviations for `harmonised_diagnosis` that we then use in its place for most analyses?

[2020-12-22 16:05] kgaonkar6 commented on #875
The missing short_histology values was an error in the code [molecular-subtype-integrate](https://github.com/kgaonkar6/OpenPBTA-analysis/tree/v18_int_dx_histology/analyses/molecular-subtyping-integrate) which I've now fixed with this :

https://github.com/kgaonkar6/OpenPBTA-analysis/blob/227973887d924eaacf94b6f1a65dca6afe3d68d1/analyses/molecular-subtyping-integrate/01-integrate-subtyping.Rmd#L50-

[2020-12-22 16:17] jashapiro commented on #875
@kgaonkar6 Thanks! That figure is helpful. Can you add where `harmonised_diagnosis` comes in? Is that the "molecular subtype integrate" step?

To check my understanding, this means that broad and short histologies are in some sense "harmonised", as they are the "base" values _unless_ they have been updated by molecular subtyping? In a similar way that `harmonised_diagnosis` is the `pathology_diagn

[2020-12-22 16:19] cansavvy commented on #875
@kgaonkar6 I think the `md5sum.txt` file also needs to be updated in S3 -- currently it thinks the `md5sum.txt` fails for `pbta-histologies.tsv` but I suspect that is because the `md5sum.txt` file itself is out of date. We do expect `pbta-histologies.tsv` to be different than the old `md5sum.txt` file would suggest.

[2020-12-22 16:30] kgaonkar6 commented on #875
@cansavvy I did actually update the md5sum.txt as well.
I had to delete the md5sum.txt in my existing local release-v18 folder and then run download_scrript.sh, I think that will help pass all checks.

[2020-12-22 16:34] kgaonkar6 commented on #875
Right the harmonized_diagnosis comes in  "molecular subtype integrate" step.

And also correct that broad and short histology is harmonised similar to the way that harmonised_diagnosis is the pathology_diagnoisis unless integrated_diagnosis.

But I think you are also right to be concerned that for samples with "Other" as harmonized_diagnosis it  doesn't directly abbreviate to "Other" since short a

[2020-12-22 16:52] cansavvy commented on #875
This worked. Thanks.

[2020-12-22 18:16] jharenza commented on #875
Hi @jashapiro - just to clarify. The `harmonized_diagnosis` is a new column. The other columns still exist. You can see [this comment](https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/870#pullrequestreview-550674561) which prompted adding the new column. In short, we add this at the last stage to not confuse the real definition of `integrated_diagnosis`, which means that the diagnosis comes

[2020-12-22 18:25] cansavvy commented on #875
@kgaonkar6 It looks like `integrated_diagnosis has also lost a lot of information and now has `1586` `NA`s. In v17 there were `845` `NA`s for reference.

[2020-12-22 18:44] kgaonkar6 commented on #875
Here's the list of samples that have `new_hist[which(is.na(new_hist$integrated_diagnosis) & new_hist$sample_type=="Tumor"),]`
[NA_v18.txt](https://github.com/AlexsLemonade/OpenPBTA-analysis/files/5731487/NA_v18.txt)

To me it looks right, since these are either samples that we don't subtype OR we do subtype but we didn't find any molecular alteration to add to integrated_diagnosis. @jharenza @jacl

[2020-12-22 18:49] cansavvy commented on #875
[NA_v18.txt](https://github.com/AlexsLemonade/OpenPBTA-analysis/files/5731487/NA_v18.txt)

And this is something new to v18 as compared to v17? So it would explain the increase in `NA`s?

[2020-12-22 18:57] kgaonkar6 commented on #875
I believe so, but will leave it to @jharenza  to clarify.

`integrated_diagnosis` now only contains true molecular/pathology diagnosis values. Earlier we had some standardized values in `integrated_diagnosis` as well but now we have a new column `harmonized_diagnosis` to represent that standardization/harmonization as mentioned [here](https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/875#i

[2020-12-22 18:59] cansavvy commented on #875
So do we suspect that in some places where `integrated_diagnosis` was being used for v17, we think should now be switched to `harmonized_diagnosis` for v18?

[2020-12-22 19:25] jashapiro commented on #875
I would bet that almost all downstream analyses that used `integrated_diagnosis` should be switched to `harmonized_diagnosis`, based on my understanding and the discussion in #870

[2020-12-22 19:40] jashapiro opened #877 "Updated analysis: Use `harmonized_diagnosis` instead of `integrated_diagnosis` in downstream analysis"
#### What analysis module should be updated and why?

Possibly many, but I have not evaluated the extent yet. Certainly `interaction plots`, but other modules are likely involved.

#### What changes need to be made? Please provide enough detail for another participant to make the update.

As discussed in #870, and illustrated in https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/870#issuecomm

[2020-12-22 20:13] jharenza commented on #875
Yes, I think this is what we should do.

[2020-12-22 20:50] jharenza commented on #875
closing as Nas for short histology were fixed per [this comment ](https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/875#issuecomment-749621259) and are expected for integrated diagnosis per [this comment](https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/875#issuecomment-749715406)

[2020-12-22 20:50] #875 closed

[2020-12-23 02:34] kgaonkar6 opened #878 "Updated analysis molecular-subtype-pathology: clinically reviewed PNOC003 samples needs int_dx update ; add Notes to all pathology reviewed samples"
#### What analysis module should be updated and why?

molecular-subtype-pathology is divided into 3 steps:
1) compile subtypes
2) add clinical review
3) update from pathology review

 - update integrated_diagnosis column values for samples where initial molecular_subtype was "HGG, H3 wildtype" which got updated to molecular_subtype== "DMG K28M"  from clinical review in [step 2: add clinical review

[2020-12-23 13:57] cansavvy opened #880 "v18 breaks: Interaction plots failing -- tried using `broad_histology`"
#### What analysis module should be updated and why?

With v18 data, interaction plots is broken.
See the discussion on https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/876#issuecomment-749730138

#### What changes need to be made? Please provide enough detail for another participant to make the update.

It was proposed that changing these scripts to plot `broad_histology` instead of using

[2020-12-23 14:03] cansavvy opened #881 "v18 breaks: Ependymoma subtyping fail -- trouble with changed labels biospecimens"
#### What analysis module should be updated and why?

molecular-subtyping-EPN needs some fixing before v18 can be merged.

See some initial discussion about this error here: https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/876#issuecomment-749723223

I tried running the subsetting on the full v18 dataset by downloading v18 from jharenza:v18-files and then switching branches and running `bas

[2020-12-23 14:16] cansavvy opened #882 "v18 breaks: color palettes need updating for the `short_histology` changes."
#### What analysis module should be updated and why?

I think the changes in `short_histology` for v18 `pbta-histologies.tsv` means the color key is out of date.

There's at least `Melanocytoma` that is not covered by the current `figures/palettes/histology_color_palette.tsv`. But while we are at it, we should check for any other `short_histology` labels that are new and not covered by the color k

[2020-12-23 14:32] cansavvy opened #883 "v18 breaks: Comparative RNA-seq has some errors"
#### What analysis module should be updated and why?

With the v18 data changes `analyses/comparative-RNASeq-analysis/01-correlation-matrix.py` is throwing some errors.

My suspicion is that `pbta-mend-qc-results.tar.gz` is not up to date with the new samples.
[code]

It is unclear to me what is causing this error. I suspect it's related to the 8 added samples or the RNA independent specimen edits

[2020-12-23 14:39] cansavvy opened #884 "v18 breaks: D3B TMB Calculations"
#### What analysis module should be updated and why?

d3b TMB calculations module has some errors with the new v18 data in Circle CI:

[code]

See the full Circle CI test print out here: https://app.circleci.com/pipelines/github/AlexsLemonade/OpenPBTA-analysis/4728/workflows/b02573a3-258a-495b-a796-ec3af1b72f21/jobs/5266

#### What changes need to be made? Please provide enough detail for another

[2020-12-23 17:51] cansavvy commented on #882
Here's the new `short_histology` groups that don't have colors in `histology_color_palette.tsv`. Some of these seem like they are probably more appropriately labeled as groups that already exist. Like is `EPN` the same as `Ependymoma`?

[code]

[2020-12-23 18:01] cansavvy commented on #882
There's more discussion about these new `short_histology` groups here: https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/870#issuecomment-749745542

[2020-12-23 18:35] jharenza opened #885 "Updated documentation: SNV callers"
#### What analysis module should be updated and why?
[snv callers](https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/master/analyses/snv-callers#snv-caller-comparison-analysis)

#### What changes need to be made? Please provide enough detail for another participant to make the update.
The consensus maf file link in paragraph 1 is broken because we do not store this file in GitHub, so there s

[2021-01-04 16:03] kgaonkar6 commented on #807
In #837 the TP53 annotation PR, we are missing annotation corresponding to Step3 from this PR:

is this specific to HGG samples?

If not I can add these conditions to the annotation criteria in #837 since I think we wanted the exact annotation from #837 to be added to the samples in HGG here , right? @jharenza.

[2021-01-04 16:30] kgaonkar6 opened #887 "Updated analysis: CI v18 histology subset file"
#### What analysis module should be updated and why?

~~BLOCKED~~
#879 pbta-histologies.tsv needs to be updated by running #869 and #870

Additionally since I’ve updated histology file with the new broad/short/harm_dx for pathology_dx== “Other” samples in #870 that also needs to be updated before file is updated to s3 bucket .

So now for v18 pbta-histologies.tsv the process is:
<img width="567" a

[2021-01-05 16:48] cansavvy commented on #887
The pbta-histologies.tsv and md5sum.txt files have been updated on S3 for Circle CI testing purposes: https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/888#issuecomment-754746049 I think this issue can be closed.

[2021-01-05 16:49] #887 closed

[2021-01-05 16:53] kgaonkar6 commented on #878
Closing this issues with #879

[2021-01-05 16:53] #878 closed

[2021-01-05 16:57] cansavvy commented on #882
Ahh, actually https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/627 should inform us about this.

[2021-01-05 16:58] cansavvy commented on #881
This was addressed by #876 and passed CI.

[2021-01-05 16:58] #881 closed

[2021-01-05 18:23] jashapiro commented on #627
I'm going to suggest that we create a **high level histology** list that we can then use for figures. This does not need to be recorded in `pbta_histologies.tsv` but can be a separate table that we keep in the repo directly that serves as a dictionary to map `harmonized_diagnosis` and/or `broad_histology` to some subset of plotable categories. For color reasons, we should strive to have this set o

[2021-01-05 18:33] jashapiro opened #889 "pbta-histologies.tsv has inconsistent naming"
#### What data file(s) does this issue pertain to?

pbta-histologies.tsv

#### What release are you using?

v18

#### Put your question or report your issue here.

I was looking at `broad_histologies` related to #627 and noticed that some histologies are listed twice when summarizing. For example, we have both `Embryonal Tumor` and `Embryonal tumor`. We also have both `Ependymal Tumor` and `Ependy

[2021-01-05 18:41] jharenza commented on #889
Ahhhh, thanks for catching this. Yes, we can fix this - I think it is coming from the integrate step.

[2021-01-05 19:17] kgaonkar6 commented on #889
The `EPN` and  `Ependymoma` in short_histology and `Ependymal Tumor` and `Ependymal tumor` discrepancy can be fixed with #860 where I'm adding the WGS only EPN samples in the molecular-subtyping-EPN module that are missed in the master. Should  #860 be merged to master so that we include these samples in subtyping for v18 histologies file?

For I think the only fix is changing the base histologies

[2021-01-05 22:55] #871 closed

[2021-01-05 22:58] jashapiro opened #890 "pbta-mend-qc-results.tar.gz format has changed, and contains extraneous files and attributes"
#### What data file(s) does this issue pertain to?

`pbta-mend-qc-results.tar.gz`

#### What release are you using?

v18

#### Put your question or report your issue here.

The `pbta-mend-qc-results.tar.gz` file appears to have been created on a Mac, resulting in the inclusion of some hidden files and attributes that are not widely supported.

Most notably, it includes the following hidden file, w

[2021-01-06 12:01] jaclyn-taroni opened #891 "Rerun "PBTA histologies" PR code once they are all merged or reexamine results"
In the interest of getting the following pull requests through:

#863
#864
#865
#866
#868
#869
#870

I am fixing merge conflicts by accepting the changes in `master` – which will be the changes in the earlier (but presumably more recently updated wrt to files with conflicts) pull requests – without critically examining the changes in results files. Once all of these have been approved and merged,

[2021-01-06 12:46] cansavvy commented on #880
I think #889 and #627 might help resolve some issues related to this.

[2021-01-06 18:38] #885 closed

[2021-01-06 19:56] jharenza commented on #890
Hi @jashapiro. Both @kgaonkar6 and I un-tarred on our computers, but do not see any hidden files. Do you think this is happening via CI (is there a new CI file for this) or specific to the docker environment?

[2021-01-06 20:00] jashapiro commented on #890
Yes, kind of. The hidden file is something related to extended attributes that get merged back in with the file when it is uncompressed on a Mac. So the errors/warnings will show up on any linux machine, including the docker image. It also shows up when a program uses the tar file while leaving it compressed, as some scripts do.

[2021-01-06 20:08] jharenza commented on #890
Ah, gotcha. Just wanted to be sure we didn't have to update that in the data download.

[2021-01-06 21:32] jashapiro commented on #890
Ideally, we would. But I don't think it blocks v18.

[2021-01-07 14:32] jashapiro commented on #883
I don't think this is really blocked by #890. Fixing #890 would have fixed it, but we also fixed it by looking at the manifest file and only pulling files from there, rather than all of the files.

[2021-01-07 15:13] cansavvy commented on #884
After some discussion, it probably makes the most sense to no longer update this analysis since we don't use the data in our final figures. I will work on doing the "decprecation" steps so this analysis module can be properly phased out.

[2021-01-07 15:31] cansavvy commented on #556
I think this issue was largely addressed by the more specific follow-up issues #668 , #724 and #726 (which are all closed) so I don't think this issue is relevant anymore. I believe this can be closed.

[2021-01-07 15:36] #556 closed

[2021-01-07 15:46] jashapiro commented on #883
I'm wrong. This should be a blocker. Or at least a documented/explained change.

[2021-01-07 15:48] jaclyn-taroni commented on #872
In a sense, this was resolved when #868 got merged because to pass CI we needed to add something to the palette. However, the problem tracked in #889 means we needed to add more colors to the palette because `broad_histology` has more values than broad histologies. That resulted in a 26 color palette, rather than a 22 color palette, being added in #868. I don't think there's much harm in including

[2021-01-07 15:53] jashapiro commented on #890
The problem is more significant than I had first thought. In addition to the extraneous files, the internal format of the file has in fact changed, and this is breaking the script that uses it. In v17, the contents of the tar file are flat: each file is separately stored, with no folder enclosing them. In v18, the files are enclosed in a `pbta-mend-qc-results` folder.

Because of the way these are

[2021-01-07 16:17] kgaonkar6 commented on #872
closing this, #889 will capture the remaining issue.

[2021-01-07 16:17] #872 closed

[2021-01-07 17:00] #884 closed

[2021-01-07 18:00] cbethell commented on #880
The interaction plots script hard codes which categories to look at, so #889 will need to be tackled before this issue can be tackled as we will need the most accurate `broad_histology` categories for hard coding.

[2021-01-07 18:08] jharenza commented on #882
This was an error introduced in the new histologies file (#889) and we will keep only `Ependymoma` once this is updated. cc @kgaonkar6

[2021-01-07 21:28] kgaonkar6 commented on #891
I just wanted to confirm that when we re-run the "PBTA histologies" PRs mentioned above using the new base histology file fixing #899,  the `pbta-histologies.tsv` created will be used for v18 release #857, right?

[2021-01-07 21:40] jharenza commented on #890
Ahh, ok - let me see if @migbro can recreate this for V18, since he made the V17 tarball.

[2021-01-07 21:48] jharenza commented on #891
Yes!

[2021-01-07 22:42] migbro commented on #890
Hmmm, it's been a while. Can you remind me where the source data is? Is it the same as first first mend qc run? Has anything actually changed since v17 for those files? I could just grab the v17 one and replace v18 one with it.

[2021-01-08 00:28] jharenza commented on #890
There were 8 new samples added and the source data to be added to the v17 files are [here](https://github.com/d3b-center/bixu-tracker/issues/767#issuecomment-702283564).

[2021-01-08 16:07] migbro commented on #890
Thanks for that! I've created the new archives in the v18 release. I took the v17 release and added the 3 new PNOC and 5 new CBTN files to the old archive. Please let me know if it looks correct. I also updated the manifest file.

[2021-01-08 16:37] jharenza commented on #890
thanks @migbro! @jashapiro these are updated in the v18 release - will you test please?

[2021-01-08 16:52] jashapiro commented on #890
Thank you @migbro and @jharenza. I am testing the files locally, and all seems well!

@cansavvy Can you update these two files (and the md5 checksum) in CI?

[2021-01-08 17:01] cansavvy commented on #890
Will do. Thanks.

[2021-01-08 17:23] cansavvy commented on #890
These files and the CI md5sum.txt are updated in the S3 testing CI bucket.

[2021-01-08 18:27] jashapiro opened #895 "Rerun analysis: comparative-RNASeq-analysis"
#### What analysis module should be updated and why?

The addition of samples in v18 will require a rerun of the scripts in `comparative-RNASeq-analysis` to generate new data.

#### What changes need to be made? Please provide enough detail for another participant to make the update.

No changes in code should be required (beyond changes already made in #892), but `results/rsem-tpm-stranded-gene_e

[2021-01-08 19:26] jashapiro commented on #890
This is fixed both in v18 and in CI. Closing.

[2021-01-08 19:26] #890 closed

[2021-01-11 20:21] cansavvy opened #897 "Make mapping histology groups for plotting -- Part 1 creating the table"
#### Background:

From https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/627#issuecomment-754813774:

To start working on a method to address #627, we need to first create a mapping from harmonized_diagnosis and/or broad_histology to larger groups -- as mentioned in the quote, we ideally want this to narrow down to 10-15 labels that can be used for large summary figures like those of Chrom

[2021-01-11 20:31] cansavvy opened #898 "Make mapping histology groups for plotting -- Part 2 implementing the use of the mapping table"
#### Background:

https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/627#issuecomment-754813774:

- This mapping TSV file (created in #897) needs to be used in all relevant plotting modules (or wherever else smaller "high-level" labels are needed.

- `histology_color_palette.tsv` will need to be retired after all modules are updated.

#### Known relevant modules that need this update

- [x]

[2021-01-11 21:54] jharenza commented on #897
Thanks for taking this on @cansavvy ! I can review.

[2021-01-12 17:24] jaclyn-taroni commented on #867
I am not sure that this issue is totally up to date, but I did want to make note of something that will need to be included in the v19 release.

We anticipate that there will be new LGAT subtyping information that can be included in v19. One of the multiple LGAT subtyping pull requests (#842) was merged before v18 went out, but we did not want to hold up v18 for all of the LGAT pull request (see:

[2021-01-12 17:53] jharenza commented on #838
@kgaonkar6 I am going to re-open this, as I think the logic was not captured entirely as anticipated for #849. For instance, some samples which should be mixed are annotated as midline or hemispheric. We can update this in #v19.

[2021-01-12 18:07] jharenza commented on #838
One other thing to note is that for our "Mixed" samples, @jainpayal022 and Cassie Kline will be manually reviewing pathology and imaging reports of about 70 or so HGAT samples to assess the primary site of origin. We will then add these manually curated values for those CNS_regions. See [this ticket](https://github.com/d3b-center/d3b-pnoc003-HGG-DMG-omics/issues/196).

[2021-01-12 20:50] jaclyn-taroni commented on #889
I checked out the branch for the v18 release (#857), ran the data download script to obtain the v18 data. Looking at the `broad_histology` column of `pbta-histologies.tsv`:

[code]

Where the NA are for normal samples:

[code]

And for `short_histology`:

[code]

Closing this issue.

[2021-01-12 20:50] #889 closed

[2021-01-12 20:52] jaclyn-taroni commented on #891
Closed via #896 - is that correct @kgaonkar6 ?

[2021-01-12 21:12] kgaonkar6 commented on #891
Yes!! 🎉

[2021-01-12 21:14] #891 closed

[2021-01-12 22:34] jaclyn-taroni commented on #859
Closed via #860

[2021-01-12 22:34] #859 closed

[2021-01-12 22:34] jaclyn-taroni commented on #861
v18 is out, closing this!

[2021-01-12 22:34] #861 closed

[2021-01-12 22:35] #750 closed

[2021-01-12 22:36] jaclyn-taroni commented on #749
Included in v18 release (#857)

[2021-01-12 22:36] #749 closed

[2021-01-13 13:50] jaclyn-taroni commented on #883
This is now closed.

[2021-01-13 13:50] #883 closed

[2021-01-13 18:43] cbethell opened #900 "Revert HGG subtyping module 00 notebook to use v17"
#### Background:

Upon digging into #877, it was found that the [`molecular-subtyping-HGG/00-HGG-select-pathology-dx.Rmd`](https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/analyses/molecular-subtyping-HGG/00-HGG-select-pathology-dx.Rmd) file was updated to use v18 files ([line 37](https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/53c1f7c8534d32da98c20f8e9136899e7dfcce92/analyse

[2021-01-13 22:02] jharenza commented on #900
I believe we will want

from now on

[2021-01-13 22:07] jaclyn-taroni commented on #900
My understanding of the purpose of that notebook was to illustrate why we made the choices we did at the time, as that was before whatever was used for subsetting (usually `broad_histology` or `short_histology`) was downstream of molecular subtyping. So by tying it to that release, we could make note of what text in `pathology_diagnosis` and the free text field captured the same samples as what we

[2021-01-13 22:18] jharenza commented on #900
Ah, I see, so we probably want to update the readme to reflect that then.

[2021-01-13 22:52] cbethell commented on #877
It appears that the following files currently use `integrated_diagnosis`:

| Script                                           | Location                                |
|-----------------------|---------------------------------------------------------|
| `molecular-subtyping-HGG/00-HGG-select-pathology-dx.Rmd`       | https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/53c1f7c8534d32da98c20f8

[2021-01-14 14:53] cbethell opened #901 "Updated analysis: Use `harmonized_diagnosis` in HGG subtyping"
#### What analysis module should be updated and why?

`molecular-subtyping-HGG` should be updated as part of #877.

#### What changes need to be made? Please provide enough detail for another participant to make the update.

As noted in the [comment on 877](https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/877#issuecomment-759796037):

We may want to add `harmonized_diagnosis` rather than

[2021-01-14 15:20] cbethell opened #902 "Revert LGAT subtyping module 00 notebook to use v17"
#### Background:

Upon digging into #877, it was found that the [`molecular-subtyping-LGAT/00-LGAT-select-pathology-dx.Rmd`](https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/analyses/molecular-subtyping-LGAT/00-LGAT-select-pathology-dx.Rmd) file was updated to use v18 files ([line 33](https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/7792a969784e5da6df52b02e23b05b9617c65bb8/ana

[2021-01-14 15:57] cbethell opened #903 "Updated analysis: Use `harmonized_diagnosis` in LGAT subtyping"
#### What analysis module should be updated and why?

`molecular-subtyping-LGAT` should be updated as part of #877.

#### What changes need to be made? Please provide enough detail for another participant to make the update.

As noted in the [comment on 877](https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/877#issuecomment-759796037):

We may want to add `harmonized_diagnosis` rather than

[2021-01-14 16:13] kgaonkar6 opened #905 "Updated analysis: molecular-subtype-pathology: update 7316-2557 subtyping to DMG, H3 K28M"
#### What analysis module should be updated and why?
BS_YB99Q6TN (WGS) and BS_5965SFPZ (which is the matched RNAseq sample) belonging to `sample_id== "7316-2557"` are K28M as per pathology feedback and is also found K28M in mutect2 calls.

#### What changes need to be made? Please provide enough detail for another participant to make the update.
Add :

[code]

#### What input data should be used?

[2021-01-14 16:52] cbethell opened #906 "Revert MB subtyping module 00 notebook to use v17"
#### Background:

It was found that the [`molecular-subtyping-MB/00-MB-select-pathology-dx.Rmd`](https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/analyses/molecular-subtyping-MB/00-mb-select-pathology-dx.Rmd) file was updated to use v18 files ([line 34](https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/7792a969784e5da6df52b02e23b05b9617c65bb8/analyses/molecular-subtyping-MB/00-

[2021-01-14 17:01] cbethell opened #907 "Updated analysis: Use `harmonized_diagnosis` in MB subtyping"
#### What analysis module should be updated and why?

`molecular-subtyping-MB` should be updated as part of #877.

#### What changes need to be made? Please provide enough detail for another participant to make the update.

As noted in the [comment on 877](https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/877#issuecomment-759796037):

`integrated_diagnosis` in the line below is being used

[2021-01-14 17:35] cbethell opened #908 "Updated analysis: Use `harmonized_diagnosis` in GSEA"
#### What analysis module should be updated and why?

`analyses/gene-set-enrichment-analysis` should be updated as part of #877.

#### What changes need to be made? Please provide enough detail for another participant to make the update.

As noted in the [comment on 877](https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/877#issuecomment-759796037):

The main instances of `integrated_diagno

[2021-01-14 18:31] cbethell opened #909 "Updated analysis: Use `harmonized_diagnosis` in sample distribution analysis"
#### What analysis module should be updated and why?

`sample-distribution-analysis` should be updated as part of #877.

#### What changes need to be made? Please provide enough detail for another participant to make the update.

As noted in the [comment on 877](https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/877#issuecomment-759796037):

The main instances of `integrated_diagnosis` that

[2021-01-14 19:01] cbethell opened #910 "Updated analysis: Use `harmonized_diagnosis` in interaction plots module"
#### What analysis module should be updated and why?

`interaction-plots` should be updated as part of #877.

#### What changes need to be made? Please provide enough detail for another participant to make the update.

As noted in the [comment on 877](https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/877#issuecomment-759796037):

The main instances of `integrated_diagnosis` that need to be

[2021-01-16 14:53] jaclyn-taroni opened #913 "Question: Do we expect many participant IDs to be associated with more than one `harmonized_dx`?"
#### What data file(s) does this issue pertain to?

`pbta-histologies.tsv`

#### What release are you using?

`release-v18-20201123`

#### Put your question or report your issue here.

For context, I was reviewing #912 and there was a question about an increase in the number of  unique `Kids_First_Participant_ID`, `harmonized_diagnosis` pairs.

I looked into how often `Kid_First_Participant_ID` ar

[2021-01-16 22:04] jaclyn-taroni commented on #910
This module is currently commented out in CI because v18 introduced a breaking change. When this is addressed, we need to make sure it gets run in CI again!

[2021-01-16 22:08] jaclyn-taroni commented on #900
In addition to the quote that was added above https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/900#issue-785346719, the README for this module also says the following when describing this notebook:

In future releases, the `short_histology` values will be derived from the `pathology_diagnosis` and `molecular_subtype` values (see [#748](https://github.com/AlexsLemonade/OpenPBTA-analysis/is

[2021-01-16 22:09] jaclyn-taroni commented on #880
I'm going to close this in favor of #910 because I think that's the strategy we should pursue. I will note on that issue that the module also needs to be added back to CI (uncommented out).

[2021-01-16 23:00] jaclyn-taroni commented on #901
Good call filing this because #900 wasn't decided yet and we wouldn't want it to get lost! Because I feel fairly sure about the direction noted in https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/900#issuecomment-761687503, I don't think this will be necessary and I am going to close this issue.

[2021-01-16 23:00] #901 closed

[2021-01-16 23:01] jaclyn-taroni commented on #900
I've changed the title to reflect option 2.

[2021-01-16 23:05] jaclyn-taroni commented on #902
Changed title to reflect option 2 on #900 - see that issue for more context!

[2021-01-16 23:06] jaclyn-taroni commented on #906
Changed title to reflect option 2 on #900 - see that issue for more context!

[2021-01-16 23:08] jaclyn-taroni commented on #903
The implementation of #902 means we will be using an earlier file that does not contain `harmonized_diagnosis`. Closing this issue.

[2021-01-16 23:08] #903 closed

[2021-01-16 23:10] jaclyn-taroni commented on #907
The implementation of #906 means we will be using an earlier file that does not contain `harmonized_diagnosis`. Closing this issue.

[2021-01-16 23:10] #907 closed

[2021-01-16 23:19] #880 closed

[2021-01-16 23:24] jaclyn-taroni commented on #898
As we're going through these, let's be careful to make sure that things don't stay commented out in CI. I believe everything covered in #882, where the CI errors are documented, is covered here now and we are going to retire `histology_color_palette.tsv`.

[2021-01-16 23:24] jaclyn-taroni commented on #882
Subsumed by #898 in my opinion (See: https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/898#issuecomment-761696785)

[2021-01-16 23:24] #882 closed

[2021-01-16 23:54] #909 closed

[2021-01-18 19:09] jharenza commented on #819
@kgaonkar6, after our internal discussion, I think we need to first determine our hotspot list:
1) Look into using both versions of the hotspot table linked above. There are 470 hotspots in V1, 1110 in V2, and 221 of them from V1 are not in V2. I initially was thinking we would want a union, but I don't really recognize the list of V1 only, so maybe they were removed because they were FP. So, we m

[2021-01-19 20:57] #900 closed

[2021-01-19 20:57] #902 closed

[2021-01-19 20:57] #906 closed

[2021-01-19 21:04] jaclyn-taroni commented on #895
Hey @hbeale, we are happy to rerun this but we wanted to ask you if you had an idea of what computational resources (e.g., RAM, cores) were required to do so. Thank you!

[2021-01-20 17:42] #897 closed

[2021-01-20 18:52] #908 closed

[2021-01-20 20:02] jaclyn-taroni opened #917 "Updated analysis: What is the right disease label/grouping to use for interaction plots?"
#### What analysis module should be updated and why?

In #915, the interaction plots module is being updated to use `broad_histology` because `integrated_diagnosis` is less complete in v18 and `harmonized_diagnosis` has many different values. I don't think this is _quite right_.

The question is: What is the right disease label/grouping to use for the interaction plots module for the co-occurrence

[2021-01-20 21:00] #910 closed

[2021-01-20 23:11] cbethell commented on #877
Looks like this can be closed now that the last two PRs linked to/addressing this issue, #915 and #916, have been merged!

[2021-01-20 23:11] #877 closed

[2021-01-21 03:54] natemella opened #919 "Proposed Analysis:"
We would like to propose a continuation of the issue [448](https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/448).

#### What are the scientific goals of the analysis?

Batch effects are commonly observed in RNA expression data. Such effects are likely less pronounced in RNA-Seq data than microarray data. However, batch effects may bias conclusions of studies that do not account for these

[2021-01-21 13:37] jaclyn-taroni commented on #919
Linking the closed pull request relevant to this analysis as well: https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/628

[2021-01-21 13:39] jaclyn-taroni commented on #448
Given the length of the discussion here, we thought it might be helpful to file a new issue with the next steps front and center. That new issue is #919. I am going to close this.

[2021-01-21 13:39] #448 closed

[2021-01-21 22:55] kgaonkar6 commented on #853
closed with #856

[2021-01-21 22:55] #853 closed

[2021-01-22 13:50] cansavvy commented on #895
I'm going to try to get this running on AWS today. I'll try out 128 GB and see how that goes.

[2021-01-22 14:02] jaclyn-taroni commented on #895
We're going to wait until after v19 (#867) because of #862 - removing a sample from the dataset might (slightly) change the results!

[2021-01-22 17:38] hbeale commented on #895
Thanks @cansavvy! If you need to ping us about the performance again, Ellen Kephardt is the most knowledgable about what resources are needed. I meant to ask her, and then forgot :)

[2021-01-22 17:40] jaclyn-taroni commented on #895
Sounds good, thanks!

[2021-01-22 18:21] cansavvy opened #920 "Updated analysis: histology-treemap.html is broken -- probably delete it?"
#### What analysis module should be updated and why?

sample-distribution-analyses, specifically the histology-treemap.html plot.

#### What changes need to be made? Please provide enough detail for another participant to make the update.

`plots/histology-treemap.html` shows up as a black rectangle. I'm not sure if this plot is being used other places. We may just want to get rid of it.

You can

[2021-01-22 22:46] jharenza commented on #913
Hi @jaclyn-taroni - this list looks to be expected to me. Some of these discrepancies are through subtyping: BS_EE73VE7V missing the K28 mutation, BS_1J2WQ08M ependymoma perhaps missing the YAP1 fusion, BS_HZNKSQ17 not having a matched RNA-Seq for medulloblastoma subtyping, BS_8T7DZV2F medulloblastoma may be discrepant with consensus subtypes, and the rest seem to be typical - many LGG initial tum

[2021-01-22 22:52] jaclyn-taroni commented on #913
Great, glad I asked 😄 thanks for digging in

[2021-01-23 21:23] jharenza commented on #919
Hi @natemella! @komalsrathi is familiar with some of these analyses through our work at CHOP, so I would love for her to weigh in here with her experience!

[2021-01-23 21:25] jharenza commented on #748
I am going to close this, since we are utilizing an input file via [molecular-subtyping-integrate](https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/master/analyses/molecular-subtyping-integrate) instead.

[2021-01-23 21:25] #748 closed

[2021-01-23 21:26] jharenza commented on #905
@kgaonkar6 I can take care of this issue this weekend.

[2021-01-23 21:55] jharenza opened #923 "Updated analysis: Update LGAT subtyping script 02"
#### What analysis module should be updated and why?
[LGAT subtyping](https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/master/analyses/molecular-subtyping-LGAT)

#### What changes need to be made? Please provide enough detail for another participant to make the update.
I realized when attempting to add #905 that the old LGAT subtyping results file (`../molecular-subtyping-LGAT/results/lgat_

[2021-01-23 22:12] jharenza commented on #905
@kgaonkar6 see #923 - haha, I thought this would be quick and easy 😄

[2021-01-23 22:50] natemella commented on #919
Thanks, @jharenza for making the introduction. @komalsrathi, I'm excited to collaborate with you.

[2021-01-24 18:50] jharenza commented on #819
We are having a call on Thursday Jan 28 with David Wheeler (St Jude, formerly BCM) who has done this sort of thing while leading the BCM Genomics Lab. We might also want to add pediatric0-specific genes such as those from [Ma, 2018](https://pubmed.ncbi.nlm.nih.gov/29489755/) and [Grobner, 2018](https://www.nature.com/articles/nature25480)

[2021-01-25 13:45] komalsrathi commented on #919
Hi @natemella good to meet you virtually.

So here's what we have done. Our goal was to combine 3 different RNA-seq datasets for the purpose of differential gene expression analysis:

1. Tumor samples from various studies like CBTN, CBTTC, PNOC003, PNOC008 (mix of stranded, poly-A and RNA exome)
2. GTEx Brain normals (poly-A)
3. Brain normals from TGEN (poly-A)

GTEx and TGEN consist only of poly-

[2021-01-25 14:19] kgaonkar6 commented on #923
We are using the file directly from fusion-summary , just formatting to the subtype specific columns:

https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/0ed49b68a62462d2c96495ffea1bdadd5b4ff835/analyses/molecular-subtyping-LGAT/02-subset-fusion-files-LGAT.Rmd#L48-L81

columnname | description | values
-- | -- | --
KIAA_BRAF_fus | contains KIAA1549-BRAF fusion | "Yes" fusion exists, "No" fusi

[2021-01-25 14:21] jaclyn-taroni commented on #919
@komalsrathi I keep getting 404s for those links - is the repository you are linking to private?

[2021-01-25 15:28] komalsrathi commented on #919
Hi @jaclyn-taroni I am fixing it, didn't realize it is a fork of a private repo so not accessible.

[2021-01-25 15:29] jharenza commented on #923
Ah, false alarm. I missed that part when I went back through to check! I think we are good!

[2021-01-25 15:29] #923 closed

[2021-01-25 15:36] komalsrathi commented on #919
@jaclyn-taroni @jharenza I have just created a new public repo (updated my comment above). Please let me know if you have any issues.

[2021-01-25 15:57] jharenza commented on #919
thanks @komalsrathi !

[2021-01-25 17:43] cansavvy opened #926 "Updated analysis: GSEA throws error with stranded collapse-rnaseq v18 data"
#### What analysis module should be updated and why?

I was working on updating the histology color palette for the final versions of the figures (#898) and was having trouble getting the gsea part of transcriptomic-overview figure to run after I had re-ran `collapse-rnaseq` that makes the input files for GSEA.

How to duplicate this error: 1) be on the master branch with v18 data, run `bash colla

[2021-01-25 19:23] kgaonkar6 commented on #790
Seems like in the 01 script I only looked for 599, 600 **OR** SNV/indels overlapping tyrosine kinase domain in BRAF but isn't documented in this ticket so adding it here:

 https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/f85831fe7e405b1c6b6c43274cabcc796b7bd3b1/analyses/molecular-subtyping-LGAT/01-subset-files-for-LGAT.Rmd#L146-L156

[code]

[2021-01-25 20:04] srp33 commented on #919
Thanks to all of you for you comments! As you may know, Nathan (a student in my lab) worked on an analysis of batch adjustment early last year. It looks like @komalsrathi  has also done some work on adjusting for batch.

@jaclyn-taroni or @jharenza  I'm unsure of the current state of the paper and whether our previous analyses were useful or whether there's anything we could add to make it useful?

[2021-01-26 16:01] kgaonkar6 commented on #838
Adding the code here for CNS_region matching here https://github.com/d3b-center/D3b-codes/blob/master/OpenPBTA_v19_release_QC/QC_histology_v19.Rmd to record

[2021-01-27 13:25] cansavvy commented on #926
I've determined it actually doesn't matter if you use the `pbta-gene-expression-rsem-fpkm-collapsed.stranded.rds` from the v18 data release or from re-running collapse-rnaseq -- both fail.

[2021-01-27 14:43] cansavvy commented on #926
solved it! It was a memory issue: https://support.bioconductor.org/p/134556/ So I added a `parallel.sz` argument that allowed it to complete.

This solution will be added in #921.

[2021-01-27 18:08] jaclyn-taroni commented on #919
Hi @srp33, thanks for your comment!

I will summarize the state of the analyses within this project. I am less familiar with @komalsrathi's analysis, as https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/919#issuecomment-766826554 is the first time it has been introduced to me.

**The short(ish) version:** The results of batch correction we've seen so far from your group have not been inclu

[2021-01-28 19:33] kgaonkar6 commented on #838
Just wanted to add the primary site changes from the latest pulls, so guide updates to the above primary_site ~ CNS_region matches

Kids_First_Biospecimen_ID  | primary_site_latest  | primary_site_previous
-- | -- | --
BS_1Q524P3B | L. Pons Anterior  |  Pons/Brainstem
BS_22VCR7DF | L. Lateral Pons | Pons/Brainstem
BS_5968GBGT | R. Posterior Pons; Adjacent #6  | Pons/Brainstem
BS_AF5D41PD | L. Fron

[2021-01-31 19:52] #926 closed

[2021-02-01 16:23] kgaonkar6 commented on #837
QC: Perform a correlation between RNA-Seq expression values and TP53 classifier scores. Are these inversely correlated as we would expect?

Since this ticket is open, I 'm adding a comment here about QCing stranded vs polya samples as part of ⤴️ according to [comment](https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/886#issuecomment-769489607)

[2021-02-01 17:25] cansavvy opened #931 "Updated analysis: Make default method for immune-deconv NOT CIBERSORT"
#### What analysis module should be updated and why?

CIBERSORT method is the default for immune-deconv but it doesn't actually run because we don't have the script for it. We haven't updated the results on Github in almost a year. See the immune-deconv README for more details on why the default method CIBERSORT can't be run.

I think if we want to encourage this to be ran more often and to be ran

[2021-02-03 04:09] srp33 commented on #919
Just wanted to let you know that @natemella is actively working on this, and we'll have something for you as soon as we can.

[2021-02-03 15:15] jashapiro commented on #630
Since I did do a bit of proof of concept work on this, I should link it here for anybody who might work on this in the future.

https://github.com/jashapiro/OpenPBTA-analysis/blob/jashapiro/snakemake-results/Snakefile

One thing to note in that implementation is that it uses scripts as inputs in an attempt to capture both changes in data files AND analysis/figure generation code. But it might not

[2021-02-03 20:20] jharenza opened #932 "Proposed Analysis: Generate hotspot and hot region lists"
#### What are the scientific goals of the analysis?
Generate hotspot and hot region file for #819

#### What methods do you plan to use to accomplish the scientific goals?
After some discussion with David Wheeler (formerly, BCM, now St. Jude), we have decided to derive a cancer hotspots (oncogenes) and hot regions file with which to perform recovery of potentially missed oncogenic DNA alterations.

[2021-02-03 21:28] jharenza commented on #790
closed via #925

[2021-02-03 21:28] #790 closed

[2021-02-03 21:53] jharenza opened #933 "Updated analysis: remove `integrated_diagnosis` from molecular-subtyping-pathology"
#### What analysis module should be updated and why?
Instances of `integrated_diagnosis` should be removed from molecular-subtyping-pathology, now that molecular-subtyping-integrate adds the `integrated_diagnosis`. Additionally, this field is now incomplete and sometimes inaccurate in this module.

#### What changes need to be made? Please provide enough detail for another participant to make the

[2021-02-04 21:06] jharenza commented on #933
This is actually not being mapped via input file as I thought, but we plan for it to be, so I will keep this open, but will not be done immediately.

[2021-02-08 21:14] jharenza opened #937 "Updated analysis: Ependymoma subtype standardization"
#### What analysis module should be updated and why?
ependymoma subtyping

#### What changes need to be made? Please provide enough detail for another participant to make the update.
Reformat subtypes to be consistent with the other modules' subtypes (eg: EPN, ST RELA; EPN, ST YAP1; EPN, PF A; EPN, PF B

in this file: https://github.com/jharenza/OpenPBTA-analysis/blob/master/analyses/molecular-sub

[2021-02-09 15:23] jharenza commented on #608
I will coordinate with pathology to get these reviewed.

[2021-02-09 16:50] kgaonkar6 commented on #932
In addition to Oncogene and TSGs from the genereferencelist.tsv we will also add brain gene list https://chopri.box.com/s/tqfq8whojsgg6htoz4begrgmpqyy3adt.

[2021-02-12 18:54] jharenza commented on #937
closed ith #939

[2021-02-12 18:54] #937 closed

[2021-02-12 18:54] jharenza commented on #905
closed with #935

[2021-02-12 18:54] #905 closed

[2021-02-12 18:55] jharenza commented on #858
closed with #870

[2021-02-12 18:55] #858 closed

[2021-02-12 19:10] jharenza opened #941 "Updated analysis: chordoma subtyping to use pathology diagnosis"
#### What analysis module should be updated and why?
chordoma subtyping

#### What changes need to be made? Please provide enough detail for another participant to make the update.
Along with #608, we also need to switch from using `short_histology` to using `pathology_diagnosis`. Thanks to @baileyckelly's eagle 👀 , it was brought to my attention that some of the samples in this module are not act

[2021-02-12 21:31] jharenza commented on #941
When going to inspect one of the samples, I just realized that the `Kids_First_Biospecimen_ID_DNA` and `Kids_First_Biospecimen_ID_RNA` column labels are swapped, so we also have to update this.

https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/ce57f8c58e09724a72df99dea9ca75c31975f178/analyses/molecular-subtyping-chordoma/01-Subtype-chordoma.Rmd#L176-L182

[2021-02-12 21:46] jharenza commented on #608
After my some pathology report translations by Laura Scolaro, my pathology report review, CN inspection, and discussion with pathologist, Mariarita Santi, I have the following to report:

| Kids_First_Participant_ID | Kids_First_Biospecimen_ID_RNA | Kids_First_Biospecimen_ID_DNA | pathology_diagnosis      | sample_id | tumor_descriptor  | focal_SMARCB1_status | SMARCB1_expression | Path report ins

[2021-02-12 21:57] jharenza commented on #608
Forgot to add this CN image:
![BS_JTBM5TSE_CNV](https://user-images.githubusercontent.com/207034/107826701-54f53000-6d53-11eb-846f-d6a9b4d133bd.png)

[2021-02-15 21:19] jharenza commented on #837
Wanted to make a note of this observation (potentially for discussion in the paper).

Within the tp53_nf1_score module, we tested whether patients with Li Fraumeni Syndrome (LFS) have high _TP53_ classifier scores and with the exception of two patients, all had ver high scores >= 0.70. I wanted to investigate whether these samples had a germline _TP53_ alteration and whether they truly have been d

[2021-02-16 16:11] kgaonkar6 commented on #941
I've updated the code to address the above 2 issues. While reviewing changes I also looked at SMARCB1 loss do we want to keep samples with 2 copies as `loss` as well?
<img width="1189" alt="Screen Shot 2021-02-16 at 11 08 29 AM" src="https://user-images.githubusercontent.com/34580719/108089390-89b10200-7047-11eb-8317-740496ac553f.png">

[2021-02-16 17:09] kgaonkar6 commented on #838
I'm not sure where exactly we will be using CNS_regions so just wondering if we have an updated dictionary matching primary_site to CNS_region to incorporate the new primary_sites assigned to PNOC autopsy samples? Currently the CNS_region is being assigned as NA since it doesn't match any terms in the issue description.

[2021-02-16 18:23] jharenza commented on #941
Thanks @kgaonkar6 - hmm, yes, keep since the N was small and we reviewed them all. Will you add copy number as well as tumor ploidy to the final output file here and in #608 , we will add the molecular subtype based on the path review.

[2021-02-16 18:34] jharenza commented on #838
Thank you for checking on this @kgaonkar6 - I had the answers from Cassie, but never posted here. See below with the only one in question being `Cerebellar White Matter Adjacent Necrosis + Medulla`, so for now, we can designate as `Mixed`, unless there is other data available to confirm Midline:

| Kids_First_Biospecimen_ID | primary_site_latest

[2021-02-16 18:54] jharenza commented on #837
An additional note on the LFS patients above. The tumor purity is very low in both of these samples, and this may be why we are both missing a second somatic hit in _TP53_ and seeing poor classification / low scores.

[code]

[2021-02-17 17:32] kgaonkar6 commented on #838
Thank you for the update!

[2021-02-17 18:03] jharenza commented on #838
Confirmed this will remain Mixed

[2021-02-17 21:09] kgaonkar6 commented on #653
subsumed by #837 where we discussed CNV filter and TP53 domain region of overlap

[2021-02-17 21:09] #653 closed

[2021-02-17 21:30] jharenza commented on #931
@komalsrathi - thoughts? Would you be able to update this?

[2021-02-17 21:49] komalsrathi commented on #931
@jharenza yes I'll address this as soon as I can.

[2021-02-17 22:18] komalsrathi commented on #931
@cansavvy

We actually do have the `CIBERSORT.R` and `LM22.txt` files required to run Cibersort - I registered and downloaded those and that's how I generated the outputs corresponding to [CIBERSORT](https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/analyses/immune-deconv/plots/heatmap_CIBERSORT(abs.).pdf). Those files are added to the .gitignore because we cannot share them with anyb

[2021-02-18 14:01] jaclyn-taroni commented on #931
@komalsrathi my read of this issue is changing the _default_ method to be a method that everyone, regardless of whether or not they have registered and downloaded those files (and put them in the right place!), can run this module. I believe what gave rise to this issue was difficulty rerunning this using the v18 data. It seems reasonable to have a default that doesn't cause failure.

Agree that w

[2021-02-18 14:55] komalsrathi commented on #931
How does this sound:

* For the bash script `run-immune-deconv.sh`,
1. remove [Lines 26-37](https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/analyses/immune-deconv/run-immune-deconv.sh#L26-L37),
2. assign `xCell, MCP-Counter` to [method parameter](https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/analyses/immune-deconv/run-immune-deconv.sh#L43) and
3. remove [Lines 44-45

[2021-02-18 15:04] kgaonkar6 commented on #838
Previously the first step of CNS_region assignment is "Mixed" is there are multiple values separated by ";" and then check if all individual values are part of on CNS_region. So the primary_site like `R. Posterior Pons; Adjacent #6`,`R. Anterior Pons; Adjacent #7` and `Brain Stem-Medulla;Brain Stem- Midbrain/Tectum;Brain Stem- Pons;Cerebellum/Posterior Fossa;Thalamus` will be assigned Mixed.

http

[2021-02-18 15:26] cansavvy commented on #931
@komalsrathi, It seems like the code changes suggested above, would make it that CIBERSORT.R is no longer to be able to run at all. Is that what we want?

As @jaclyn-taroni mentioned above, my original issue was just about moving the default to not CIBERSORT, but I do not know enough about CIBERSORT.R whether we like to drop it as a method completely.

So, this plan suggested is fine if we really

[2021-02-18 17:34] jharenza commented on #838
To be honest, I was thinking about this and think that whoever ingests this into the BRP should match these regions with CBTN terms so we don't always have to update the terms. Let me check in with Jenn Mason and Shannon Robbins.

In the meantime. I was envisioning these going into the JSON file for Midline.

[2021-02-18 19:14] komalsrathi commented on #931
@cansavvy sorry my bad - I misunderstood.

I guess I can just remove these [lines](https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/analyses/immune-deconv/run-immune-deconv.sh#L26-L37) and explicitly use any methods (mcp_counter, cibersort or xcell) to be used in the [parameter here](https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/analyses/immune-deconv/run-immune-deco

[2021-02-19 21:48] kgaonkar6 commented on #932
Adding filter for independent samples while checking for recurrence from today's meeting:
Use independent-specimens.wgswxs.primary-plus.tsv to include primary tumors when available, if not select other tumor_descriptor types

[2021-02-20 14:38] sjspielman commented on #818
For reference, this paper is really helpful on common pitfalls in de novo mutational signature identification: https://www.nature.com/articles/s41467-019-11037-8

[2021-02-20 15:15] jaclyn-taroni commented on #818
We used `deconstructSigs` in our initial approach, which is now `analyses/mutational-signatures/01-known_signatures.Rmd` (and is also what we described in the README because I neglected to update it 😬 ). The published signatures we used are the [COSMIC signatures](https://cancer.sanger.ac.uk/cosmic) and [Alexandrov et al, 2013](https://www.ncbi.nlm.nih.gov/pubmed/23945592) signatures.

[2021-02-20 15:18] sjspielman commented on #818
@jaclyn-taroni It seems to me after some lit review that we really need to compare this approach with some of the newer probabilistic methods that are more suitable for small sample sizes, aka anything less than 1000 specimen. This approach is the gold standard, but it may not be right for *us,* so I will explore!

[2021-02-20 15:26] jaclyn-taroni commented on #818
When you say this approach, which approach are you referencing? `deconstructSigs` or the method we use for de novo mutational signature currently (`sigfit`)?

Here's where `sigfit` gets applied currently: [`analyses/mutational-signatures/scripts/de_novo_signature_extraction.R`](https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/060fda2cef4d38be71c340ea7bc98c37f1a52173/analyses/mutational-sign

[2021-02-20 16:26] sjspielman commented on #818
"This approach" = a probabilistic approach. I haven't yet dug through the code associated with this analysis, so it sounds like `sigfit  is one of those! Sounds like we're already doing it; very nice to see when my thoughts match up with what we're doing. May end up comparing to `signeR` once I start really digging into analyzing.

[2021-02-22 14:49] kgaonkar6 commented on #608
Just wanted to add a note from slack discussion, we will add the above subtypes to molecular-subtyoing-pathology once we have a 3rd type called dedifferentiated also identified and annotated for chordoma samples.

[2021-02-22 17:25] kgaonkar6 commented on #932
Just wanted to clarify for the kinase domain (it seems the same  also applies to TSG gene body region mutations ) do we want to only retain sites that are either not in Cosmic Census and MSKCC hotspot as outputs so that these novel sites can be added to the hotspot list?

[2021-02-22 18:31] jharenza commented on #932
For these "regions", I do not envision them being added to the hotspot list because I think there will be a lot of uniqueness here, but rather we capture those for any sample. For instance, if we see a non-canonical kinase domain mutation in sample X, but it is only in 2/3 callers, we should scavenge that back. Does that make sense?

[2021-02-22 18:32] jharenza commented on #932
Also adding here that @adamcresnick suggests we add to the `brain-goi` list a list of developmental genes. I do not have this collated, so marking this as a future to-do.

[2021-02-22 18:36] kgaonkar6 commented on #932
but do we want to keep *any* mutation in domain region to scavenge back or only scavenge back novel (sites not overlapping MSKCC and gene not in Cosmic Census gene)?  Because it seems to me, we would already use the MSKCC and Cosmic Census gene list as hotspot to scavenge back any mutations.

[2021-02-22 18:40] jharenza commented on #932
Correct, you can make it a novel set, but my point was that I don't think we need to make a list, but rather a region in which we find deleterious mutations that, if not captured in previous steps (ie MSKCC/Cosmic), we would scavenge.

[2021-03-01 18:57] jharenza commented on #932
I am going to close this issue in favor of simplifying to the original issue here #819 - determining novel recurrent hotspots may be beyond the scope of this manuscript and require some bench validation since most of the VAFs are very low.

[2021-03-01 18:57] #932 closed

[2021-03-01 19:59] jharenza commented on #608
Pasting here email correspondence from Mariarita Santi

[2021-03-01 20:01] jharenza commented on #608
@kgaonkar6 I realized that the two samples in question were from one patient for which we have 4 samples, so going back through the timeline of the tumor, I added the most likely subtypes and this is ready for a PR:

| Kids_First_Biospecimen_ID_RNA | Kids_First_Biospecimen_ID_DNA | pathology_diagnosis      | sample_id | tumor_descriptor  | focal_SMARCB1_status | SMARCB1_expression | Path report in

[2021-03-01 20:19] kgaonkar6 commented on #819
Don't think there are annotations in maf format to filter using the information in the paper describing the TERT promoter variant, should I use other filtering such as existing rs/ cosmic variant ID ?

I believe chr5 | 1295113 | 1295113  which is also annotated as existing_variant rs1242535815,COSM1716563,COSM1716558 which is 66bp away from TSS is what we are looking for.

and chr5 | 1295135 | 129

[2021-03-02 17:20] kgaonkar6 commented on #819
We still want to filter by IMPACT == 'HIGH|MODERATE|MODIFIER' to remove any LOW impact mutations ( like silent mutations) in the given amino acid position in hotspot database, right?

[2021-03-02 18:39] jharenza commented on #819
Are you saying there are low impact mutations on the MSK list? I would assume they would not be low.

[2021-03-02 18:43] jharenza commented on #819
This looks right to me, and nucleotides are reversed because TERT is on the reverse strand. So, I think we should use the genomic coordinates here + nucleotides.

[2021-03-02 19:34] kgaonkar6 commented on #819
There were a few instances that the hotspot amino acid site had `silent mutation` for example we have  644 in SDHA is a hotspot in MSKCC but if we have `p.V644=` in our dataset we should remove it right?  Only if it is a high if the hotspot is actually high impact mutations like p.V644M we will keep them.

[2021-03-02 21:43] kgaonkar6 commented on #807
This seems to be completed now, ok from @jharenza to close?

[2021-03-02 21:45] kgaonkar6 commented on #608
cool, adding a PR for this

[2021-03-02 22:09] jharenza commented on #807
yes!

[2021-03-02 22:09] #807 closed

[2021-03-03 15:15] kgaonkar6 commented on #608
Are there integrated_diagnosis terms attached with each of the subtypes below?
 sample_id | molecular_subtype
-- | --
7316-1101 |	CHDM, poorly differentiated
7316-2935 |	CHDM, poorly differentiated
7316-3295 |	CHDM, poorly differentiated
7316-4062 |	CHDM, poorly differentiated
7316-921 |	CHDM, conventional
7316-3632	| CHDM, conventional

[2021-03-03 16:22] kgaonkar6 commented on #837
@jharenza  we did discuss looking into SV for samples with high TP53 classifier scores and no SNV/CNV should that be another ticket or should we update this one?

[2021-03-03 18:18] #624 closed

[2021-03-04 14:36] jharenza commented on #837
Let's make two new tickets to 1) annotate SVs as another alteration and 2) look at the samples with high scores that don't have TP53 alterations -for this, we'd look at genes upstream of TP53 and determine if they have alterations, for eg- MDM2 amplification. For 2), I think we may hold off on this for the first submission, but want to capture in ticket.

[2021-03-04 18:47] jharenza commented on #941
completed with #944

[2021-03-04 18:47] #941 closed

[2021-03-08 17:33] kgaonkar6 commented on #838
Just need a confirmation

BS_J8EK6RNF seems to have primary_site "Pons" in the latest histology file pulls ( since 20210126-data release ) instead of the "Brain Stem-Medulla;Brain Stem- Midbrain/Tectum;Brain Stem- Pons;Cerebellum/Posterior Fossa;Thalamus"  in the table above do we need to confirm this @jharenza ?

[2021-03-08 18:19] jharenza commented on #838
Let me check on this. Are the other samples matching `primary_site_latest`?

[2021-03-08 19:04] kgaonkar6 commented on #838
yes

[2021-03-08 19:16] jharenza commented on #838
Ok, it looks like `Brain Stem-Medulla;Brain Stem- Midbrain/Tectum;Brain Stem- Pons;Cerebellum/Posterior Fossa;Thalamus` was never a value in @jainpayal022's excel sheet for kids first import, but rather, `Pons`, so waiting for her to confirm this longer string was a mistake along the way somehow.

[2021-03-08 20:27] jharenza commented on #838
confirmed that this value should be `Pons`

[2021-03-09 14:27] cansavvy opened #952 "Docker installing `units` failures"
### Summary

When Docker builds in the data download step, sometimes a package called `units` fails to install:

https://app.circleci.com/pipelines/github/AlexsLemonade/OpenPBTA-analysis/5116/workflows/ece6709e-1c0d-4cb8-be7b-9051f956d722/jobs/5714
[code]

I haven't looked into this much yet, but it might be solved by installing `libudunits2-dev` before getting to the R installations.

[2021-03-09 16:28] kgaonkar6 opened #953 "Proposed Analysis: investigate putative functionality of TP53 SV"
#### What are the scientific goals of the analysis?
We have investigated SNV  and CNV TP53 alterations in detail in `tp53-nf1-score` but there are other samples with high tp53 classifier scores but were not annotated via the 2 hit TP53 loss or activating mutation.
![image](https://user-images.githubusercontent.com/34580719/110499453-40902300-80c6-11eb-84f2-753830b26046.png)

Thus in this [comment]

[2021-03-09 21:27] jharenza commented on #953
@kgaonkar6 thanks for adding this ticket! I think maybe we should keep it simple and just ask whether:

1. there is a breakpoint within the gene or covering the gene locus such that it is deleted and concurrently, there are either one or both of:
a - 0 copies of TP53 (we would already have captured them as loss)
b - expression less than 1 FPKM

[2021-03-10 13:26] sjspielman commented on #818
Update on analysis, very much before filing any PRs:
+ **Memory requirements** for `sigfit`
  + Goodness-of-fit analyses to determine the optimal `k` require significant memory, depending on how many k's you test and how many iterations are performed. Allocating 50 GB RAM to evaluate goodness of fit for `k=3:15` with 2500 iterations each, the script crashes every time, and I don't have much more R

[2021-03-11 20:35] ajlee21 opened #955 "Help setting up docker and running collapse-rnaseq analysis"
#### What data file(s) does this issue pertain to?

https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/analyses/collapse-rnaseq/run-collapse-rnaseq.sh
pbta-gene-expression-rsem-tpm.polya.rds
pbta-gene-expression-rsem-tpm.stranded.rds

#### What release are you using?

#### Put a link to the relevant section of the [OpenPBTA-manuscript](https://github.com/AlexsLemonade/OpenPBTA-manuscri

[2021-03-11 20:55] jaclyn-taroni commented on #955
Hi @ajlee21!

One thing you will want to do is attach the volume at the root of the repository so that you'll have access to the `data` directory on your local volume:

[code]

If you're able to log into RStudio, you can use the [RStudio Terminal](https://support.rstudio.com/hc/en-us/articles/115010737148-Using-the-RStudio-Terminal) (if you see the `Console` where you'd execute your R code, it's t

[2021-03-11 21:16] jharenza commented on #955
Welcome, @ajlee21! The files are also available in the release downloads using the bash script in the main folder of the repo (instructions [here](https://github.com/AlexsLemonade/OpenPBTA-analysis#data-access-via-download-script)). Note: this will download _all_ data in the project.

We have also cloned these files in CAVATICA with the same structure of the release folders (see [here](https://git

[2021-03-11 21:56] ajlee21 commented on #955
Thank you both @jaclyn-taroni and @jharenza

So I was playing around earlier using the RStudio terminal to try to navigate to `analyses/collapse-rnaseq/run-collapse-rnaseq.sh` but I got an error that it couldn't find the location.

I didn't think to look inside, `kitematic` but this directory appears empty for some reason. Perhaps I made a mistake on an earlier step...

[2021-03-11 22:05] jaclyn-taroni commented on #955
Okay, this is helpful info! It suggests to me that the volume step is causing trouble. I didn't notice earlier, but it doesn't look like you specify where the directory on your machine should "map to" in the container.

Try navigating to the repo locally and running (this uses `--mount` instead of `--volume`):

[code]

[2021-03-12 00:11] ajlee21 commented on #955
@jharenza I definitely read this response too quickly and misread this. Thank you for pointing me to this! Got the files!

Also @jaclyn-taroni Your suggestion is perfect and works! I'm glad I got to learn a bit about docker through this experience

[2021-03-12 00:11] #955 closed

[2021-03-15 11:57] cansavvy commented on #952
`libudunits2-dev` is supposedly already installed: https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/2c1f5faf1f5687fa40b9b30fa6442798bd38557d/Dockerfile#L23 and there was no error or warning about that install failing. Hmm...

[2021-03-15 20:40] ajlee21 opened #958 "Confirm values of gene count data provided"
#### What data file(s) does this issue pertain to?

pbta-gene-counts-rsem-expected_count.polya.rds
pbta-gene-counts-rsem-expected_count.stranded.rds

#### What release are you using?

release-v18-20201123

#### Put a link to the relevant section of the [OpenPBTA-manuscript](https://github.com/AlexsLemonade/OpenPBTA-manuscript/) here.

#### Put your question or report your issue here.

I would like

[2021-03-16 18:32] jharenza commented on #958
Hi @ajlee21 - these are merges of the raw files with the `gene_id` being a combination of `ensembl_id` and `gene_symbol` and the script you refer to does the merge, so you can use these files. Another good resource is the [data-files-description.md](https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/doc/data-files-description.md) file, which describes each data file in our releases. Th

[2021-03-16 18:35] #958 closed

[2021-03-16 18:37] jharenza commented on #838
we added this upstream during QC

[2021-03-16 18:37] #838 closed

[2021-03-16 19:02] ajlee21 commented on #958
This is amazing documentation! Thank you for clarifying this!

[2021-03-16 19:08] jaclyn-taroni commented on #958
Just to add that you might look into [`DESeqDataSetFromMatrix()`](https://www.rdocumentation.org/packages/DESeq2/versions/1.12.3/topics/DESeqDataSet-class) for your use case.

[2021-03-16 19:26] ajlee21 commented on #958
Thanks! I'm still fairly new to RNA-seq world. This question came but because I noticed that the estimated counts obtained from RSEM aren't integers, which makes sense, but the documentation I've been reading has been suggesting to use tximport to summarize the RSEM data and then using `DESeqDataSetFromTximport`. I wasn't sure if I could round the estimated counts from RSEM and use `DESeqDataSetFr

[2021-03-16 19:33] jashapiro commented on #958
Im pretty sure that all the `DESeqDataSet` functions end up rounding (see below for the start of `DESeqDataSetFromTximport`). Not quite sure why they complain when the import is from a matrix specifically. Maybe just to make the user a bit more careful.

[code]

[2021-03-16 19:42] ajlee21 commented on #958
Interesting... Good to know. Thank you

Thank you all for being so helpful and responsive! <3

[2021-03-16 20:37] jharenza opened #959 "Updated analysis: Rerun all molecular subtyping modules with consensus+hotspot SNV MAF"
#### What analysis module should be updated and why?
Once #819 is complete, rerun molecular subtyping modules, as some subtypes previously missed will now be detected.

#### What changes need to be made? Please provide enough detail for another participant to make the update.
- rerun all molecular subtyping modules
- some samples (PNOC) otherwise missed might now be subtyped with the consensus + h

[2021-03-22 21:46] rgalvin516 opened #963 "Time to progression in addition to time to death?"
#### What data file(s) does this issue pertain to?
pbta-histologies
#### What release are you using?
<v18>
#### Put a link to the relevant section of the [OpenPBTA-manuscript] here.
N/A

#### Put your question or report your issue here.
I am curious if it would be possible to obtain time to progression for each patient ID? I ask because time to death is not a useful metric for pediatric low-grade

[2021-03-22 22:56] jharenza commented on #963
Hi @rgalvin516! Thanks so much for your interest in the data and for your suggestion. I have a few questions which will help us determine how we can calculate this and add it to the V19 release for you. As long as we define the rules for the calculation, I think we can do this.

1) Is time to progression defined as time to any adverse event (progression, relapse, other?)?

2) In the case of multip

[2021-03-23 00:01] rgalvin516 commented on #963
Hello,

Thanks for the quick response and willingness to look into this!

1) In considering various adverse events (besides death), I think progression/recurrence of the primary diagnosis would be most useful. Potential con-founders include pseudo-progression and radiation necrosis, but it may not be possible to know this knowledge with precision. Second malignancy is another adverse event but cou

[2021-03-23 21:13] jharenza opened #964 "Updated analysis: Update CN consensus calls to use ControlFREEC CN as default?"
#### What analysis module should be updated and why?
[copy_number_consensus_call](https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/master/analyses/copy_number_consensus_call)

Early on, we had noticed many gains/losses in our oncoprint, but had since created a focal CN file module. Still, while the oncoprints look better, there are still a lot of gains/losses within the TMB plots listed abo

[2021-03-25 00:39] jharenza opened #965 "Updated analysis: Add additional subtype figures to immune deconv"
#### What analysis module should be updated and why?
immune deconv

The overall figures are nice, but by lumping histologies, we are not able to detect subtype differences within histology. We know this because of a recent analysis on medulloblastoma subtypes enabling us to see large differences between subtypes. I suggest we keep the figures we have, but add one heatmap figure per broad histology

[2021-03-25 14:37] jaclyn-taroni commented on #964
I am not opposed to this change in principle and would welcome a pull request. The evaluation would need to be more systematic (e.g., examine more if not all samples) and should be captured in this repository in a notebook.

[2021-03-25 15:54] jharenza commented on #964
Agreed- we need to examine.

[2021-03-25 17:54] jharenza commented on #963
Hi @rgalvin516 - it turns out we do have this calculated and can add it with our V19 release #867, which I expect should come out within the next month. It will be our last before manuscript submission, so just wrapping up a few PRs from which files will be derived and added to that release.

[2021-03-26 13:41] jharenza opened #966 "Updated analysis: oncoprint module files not writing/filenames inverted/change bgCol"
#### What analysis module should be updated and why?
oncoprint-landscape

#### What changes need to be made? Please provide enough detail for another participant to make the update.
I tried to rerun the oncoprint code because I noticed that the oncoprint plot labels for `goi` and not using `goi` are reversed (even though the code seems to look fine, so maybe the files are out of date), but when I

[2021-03-26 13:55] komalsrathi commented on #931
@jaclyn-taroni @jharenza @cansavvy I am going to tackle this now.

I was going through the module code/figures and was wondering if we should question the approach of using multiple methods unless the [correlation plots](https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/analyses/immune-deconv/plots) and cell types obtained from methods other than xCell add value to the manuscript.

At

[2021-03-26 17:40] jharenza commented on #966
User mistake of course.. I had updated the script in my local master OpenPBTA-analysis repo clone instead of my forked clone, so the printing now works as anticipated. I will look into the labeling and also assess whether we should update the GOI list at all for the manuscript.

[2021-03-26 17:53] jharenza commented on #931
I think this sounds like a justifiable reason that we can add to the methods. Since you had done the analyses with the others and computed correlations, perhaps we just perform any further plotting with `xCell` data?

[2021-03-26 19:46] jharenza commented on #933
closing this to make a new issue re: `harmonized_diagnosis` mapping