[2019-12-12 02:57] jharenza commented on #148
Hi @syzheng! Wanted to update you that with V12 of the data release, we will provide stranded seq for 45 samples on which we also have polyA rna-seq, so would be interesting to determine whether there are telomerase prediction differences in these two sets of data. Stay tuned end of this week/early next week. Also looking forward to your PR!

[2019-12-12 03:03] jharenza commented on #222
@jashapiro I can try to work on this for V12 #326 per your and @allisonheath's suggestions

[2019-12-12 03:04] jharenza commented on #260
@allisonheath - do you have a rank order for specimens?

[2019-12-12 03:19] jharenza opened #330 "Proposed Analysis: genomic differences between primary and relapse samples"
#### What are the scientific goals of the analysis?
Compare primary samples to relapse samples to determine genomic and transcriptomic differences.

#### What methods do you plan to use to accomplish the scientific goals?
Ideas could be:
- assessing number of mutations/TMB between diagnosis/relapse (literature has shown an increase in TMB/somatic mutations upon relapse for a variety of tumor types

[2019-12-12 03:20] jharenza commented on #16
closing this; made with a template in #330

[2019-12-12 03:20] #16 closed

[2019-12-12 03:25] jharenza commented on #305
@jaclyn-taroni - would this be something to add/update with V12 #326 ?

[2019-12-12 03:32] jharenza commented on #249
@cbethell - thanks for working on this! I don't think we need translocations, however there are deletions and duplications in that manta file that may be useful. This file should be annotated for SV type and has a field for gene annotation, so it should be a bit more straightforward to use than the CNV files. Regarding `reported_gender`, I would suggest using `germline_sex_estimate`. While these a

[2019-12-12 11:23] jaclyn-taroni commented on #305
@cansavvy are the files ready? I know all of the related pull requests have not gone through, but wasn’t sure if part 3 will be downstream of these files.

[2019-12-12 12:21] cansavvy commented on #305
Part 3 is updating the docs for this. I’d just need to run the full file instead of the subsetted files like I was doing to test it. So I can get the updated TMB files today if want them.

[2019-12-12 12:48] jaclyn-taroni commented on #305
Sounds good, let’s get them run today.

[2019-12-12 14:03] jaclyn-taroni commented on #326
Summarizing a conversation from Slack: The consensus fusion and collapsed RNA-seq files will be included in the v12 release as someone will run the `collapse-rnaseq` module (instructions [here](https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/master/analyses/collapse-rnaseq)) and [`fusion_filtering` module](https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/master/analyses/fusion_filte

[2019-12-12 15:27] syzheng commented on #148
Thanks for the heads up! I will update the group by next week.
best,

On Wed, Dec 11, 2019 at 8:57 PM Jo Lynne <notifications@github.com> wrote:

[2019-12-12 18:31] quaidmorris opened #332 "Missing project details from readme"
If you are trying to attract new folks, you need to say front and center more about this project.

Things that people thinking about analyzing these data will be interested in include:

-Number of samples
-What kind of cancer, also primary vs met, treatment status
-Type of sequencing (looks like WGS + Panel, RNAseq)
-Depth, sequencing type: eg 150nt paired end, details on the panel and how it was

[2019-12-12 18:52] jharenza commented on #332
Hi @quaidmorris - great idea! We will add this information in tabular format in the README and clearly label the link to the [manuscript](https://alexslemonade.github.io/OpenPBTA-manuscript/) being created in the [manuscript repository](https://github.com/AlexsLemonade/OpenPBTA-analysis) for the finer method details. I will update this ticket once completed.

[2019-12-12 20:12] quaidmorris commented on #332
@jharenza Awesome!

Can I also recommend writing 1-2 paragraphs of the intro to the manuscript, and possibly including that in the README as an introduction to potential new people to the project? Casey told me about your project last night but didn't give many details and it's a bit hard right now to figure out what y'all are up to.

Something like:

"The Open Pediatric Brain Tumor Atlas is a com

[2019-12-12 20:49] cansavvy commented on #305
The updated TMB and consensus files have been uploaded (using v11 data) and now we have `coding only` and `all` versions of the TMB stats. Once #333 is merged, I will close this issue.

[2019-12-12 20:51] cansavvy commented on #275
Are we able to close this issue since the MNV part of the snv caller analysis has been implemented?  Are there any un-addressed aspects of this issue?

[2019-12-12 20:52] cansavvy commented on #326
Updated TMB and consensus files are added to S3 (date: 2019-12-12).

[2019-12-12 20:52] jaclyn-taroni commented on #275
Looks like closed with #293

[2019-12-12 20:52] #275 closed

[2019-12-13 13:26] sjspielman opened #334 "Documentation: Descriptions of all files in data/"
The data release itself should contain a detailed README describing each file (where was it obtained and/or which script created it, which analyses is it used for, etc).

[2019-12-13 13:31] jharenza commented on #334
Hi @sjspielman! First, welcome to the project!

We currently have a `CHANGELOG.md` file accompanying all of the data releases, which points the user to the tickets explaining what the new files are/why they were updated. Did you want to see more information than this?

[2019-12-13 13:49] #305 closed

[2019-12-13 13:51] cansavvy commented on #296
I believe this has been addressed with the merging of #333. Is there anything left that needs more documentation?

[2019-12-13 14:14] jaclyn-taroni commented on #296
👍

[2019-12-13 14:14] #296 closed

[2019-12-13 14:39] jaclyn-taroni commented on #334
@sjspielman is the [Data Formats section](https://github.com/AlexsLemonade/OpenPBTA-analysis#data-formats) of the repository README closer to what you are looking for? I am considering reformatting that such that there are sections for the files that are the output of various callers vs. _derived_ files (e.g., consensus files) that can be directly tied to a specific analysis module. It would be gr

[2019-12-13 14:52] sjspielman commented on #334
The section of the README pointed out by @jaclyn-taroni is more what I was thinking of - it's currently really nice for a general description of what types of files one might find, so I'm thinking a sort of "merged version" of this info plus what is recorded in the `CHANGELOG.md`. This will reduce the amount of time new contributors (and current contributors who are coming back to analyses later..

[2019-12-13 15:02] jaclyn-taroni commented on #334
Thank you @sjspielman !

[2019-12-13 15:37] cansavvy opened #335 "Updated analysis: TMB by Molecular Subtype"
#### What analysis module should be updated and why?

When all the molecular sub-typing issues have been addressed, will we want to update TMB plots to break things down by subtype? If so, what would this look like and what output would we be looking for?

Should each short_histology group be broken out into its own graph and color coded by molecular subtype?

[2019-12-13 15:39] cansavvy commented on #3
The core of this analysis has been done. The next question for this analysis is whether to use/apply the molecular subtyping labels to these data. This issue has been tracked here on #335 so we can revisit that when molecular subtyping tickets have all been addressed.

[2019-12-13 15:41] cansavvy commented on #11
This analysis has mainly been addressed, but will any of it need to be updated when we have all the molecular subtyping labels? If so I will create a new issue for that.

[2019-12-13 16:12] cansavvy commented on #18
We have a basic survival analysis notebook that lays out the various questions and models for survival analysis depending on what independent variables we have questions about.

For the next steps, what would we like to see? Are there specific list of variables we know that we want modeled with survival? Or, should I create a sort of function that can be applied to other data and give back a plot

[2019-12-13 16:34] jharenza commented on #326
@cansavvy can you send me the direct S3 link? I know it was in an old PR but can't readily find it.

[2019-12-13 16:56] cansavvy commented on #8
Did we want this plot to be exactly like [the example above](https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/8#issuecomment-546625114)? Here is what I have so far:
![Screen Shot 2019-12-13 at 11 55 48 AM](https://user-images.githubusercontent.com/23458084/70817413-86651b00-1d9f-11ea-9644-ecbce6561b84.png)

[2019-12-13 17:09] cansavvy commented on #326
https://open-pbta.s3.amazonaws.com/data/snv-consensus/snv-consensus-20191212.zip

[2019-12-13 17:25] cansavvy commented on #326
I see a bit of conversation occurred about the consensus file names while I was gone: https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/293 Would you like me to change the file names on S3 to fit the new convention?

[2019-12-13 17:27] jharenza commented on #326
@cansavvy, nah, we can rename since that file is also being hosted on the same bucket as the other v12 data

[2019-12-13 20:02] cansavvy commented on #11
I think we can close this issue then. I don't *think* it needs further analyses after molecular sub-typing comes in but I don't know.

[2019-12-15 15:17] jaclyn-taroni commented on #3
The analyses described in this issue can be found in: [`analyses/snv-callers`](https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/09477cafa880856de001f4844aec39fb61c73f5e/analyses/snv-callers) for TMB calculation and [`analyses/tmb-compare-tcga`](https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/09477cafa880856de001f4844aec39fb61c73f5e/analyses/tmb-compare-tcga) for the comparison to TC

[2019-12-15 15:38] jaclyn-taroni commented on #11
This analysis can be found in [`analyses/mutational-signature`](https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/09477cafa880856de001f4844aec39fb61c73f5e/analyses/mutational-signatures).

[2019-12-15 15:38] #11 closed

[2019-12-15 16:35] jaclyn-taroni opened #337 "Generate CI subset files for v12"
Depends on #326 - we'll need to generate new subset files for continuous integration. Because of the changes planned for v12 or _discussed_ for v12 (#334), there are a few considerations:

* The GISTIC files are brand new. We will likely need to write new code:
  - [ ] To extract biospecimen identifiers ([this function](https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/09477cafa880856de001f4

[2019-12-15 17:09] jaclyn-taroni opened #338 "Documentation: tmb-compare-tcga README"
[`analyses/tmb-compare-tcga`](https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/09477cafa880856de001f4844aec39fb61c73f5e/analyses/tmb-compare-tcga) does not currently have a README. The README should: 1) probably link back to the appropriate sections of the [`analyses/snv-callers` README](https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/09477cafa880856de001f4844aec39fb61c73f5e/analyse

[2019-12-16 13:15] cgreene commented on #17
Closing for V1 of the manuscript since our time is drawing to a close and this has no activity.

[2019-12-16 13:15] #17 closed

[2019-12-16 13:16] jaclyn-taroni commented on #14
Closing this for V1 of the manuscript.

[2019-12-16 13:16] #14 closed

[2019-12-16 13:21] cgreene commented on #330
The sample count here is very limited. That table that you linked (https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/16#issuecomment-549360497) shows that even for the most common histology the samples with matched primary/relapse is 5. I propose that we put the table and the process by which it was derived into the manuscript. As the collection grows (maybe for analysis V2), perhaps the n

[2019-12-16 14:54] #269 closed

[2019-12-16 18:46] cansavvy commented on #18
@sjspielman Do you have any thoughts/recommendations about [these questions above](https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/18#issuecomment-565501556) as far as future structure?

[2019-12-16 18:52] cansavvy commented on #8
@jharenza , do you have thoughts about this rough draft GISTIC plot? What changes would you like to see?

[2019-12-16 19:06] jaclyn-taroni commented on #338
Closed by #339

[2019-12-16 19:06] #338 closed

[2019-12-16 19:29] sjspielman commented on #18
Thanks for the ping - frankly, this is not my knowledge domain in terms what variables would be appropriate for survival analysis, but I think a function would be ideal if possible so that *all* survival analyses as consistent as possible. Using a tidyeval setup to have users pass in the specific variables, ensure inputted types are acceptable, returns a plot and two tables as you've done in the t

[2019-12-16 19:40] #321 closed

[2019-12-16 23:18] hbeale opened #341 "Possible to run docker in cavatica on openPBTA read data?"
@jharenza (Jackie Taroni suggested I ping you as the person most likely to have expertise in this area.)

We have a docker that we would like to be applied to the aligned read data to produce data that our analysis in OpenPBTA would consume. Do you have a process for making this request? I've summarized our proposed analysis below.

We would like to perform QC analysis on the aligned read data. We

[2019-12-17 00:27] jharenza commented on #341
@hbeale - thanks for reaching out! We can do one of two things:
1. we can either create a CAVATICA project with all aligned reads for you, add some CAVATICA compute credits, and your team can run the docker/workflow in CAVATICA
2. we can put it in our queue to run (may be later this week, and many people are leaving next week for the holiday)

With either of these solutions, we would release the o

[2019-12-17 05:33] jharenza commented on #329
Hi @GeoffLyle! As I was preparing the new clinical file, I ran into quite a few things that are going to preclude me from adding therapy status. The major issue is that the way things were recorded was by specimen level and not patient level, such that if a patient had radiation, there may be one sample that is linked to `yes` radiation and another `no` radiation. Same situation with chemotherapy

[2019-12-17 16:43] hbeale commented on #341
Thanks, @jharenza! Option two sounds more reproducible; let's go with that if possible. What else do you need from me?

[2019-12-17 16:43] hbeale commented on #341
(And your time line sounds fine with me).

[2019-12-17 16:47] jaclyn-taroni opened #343 "Data release documentation checklist"
We now have (#336) or are proposing (#342) multiple files that contain information about data files in addition to the release notes that are typically associated with a data release. I am proposing the following check list that should accompany data release pull requests to make it easier to get all of our ducks in a row for each data release

- [ ] Is the table in `doc/data-description.md` up to

[2019-12-17 17:18] GeoffLyle commented on #329
@jharenza Thanks for the update!  No worries on updating the clinical data.  I talked with my team and if there is no response data (ex. SD = Stable Disease) to go with the treatment then knowing the drug given is less useful as machine learning information.  However, knowing if a sample is pre or post-treatment would be of interest.  Thanks for your work on this issue!

[2019-12-17 19:11] jaclyn-taroni commented on #332
Suggestion from @jashapiro about where some of this content should go https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/342/files#r358922674

[2019-12-17 20:16] jaclyn-taroni commented on #334
Closed via #336. If we find that it's insufficient as we release v12, we can reopen.

[2019-12-17 20:16] #334 closed

[2019-12-17 23:09] jharenza commented on #343
submitted PR #348 for this

[2019-12-17 23:15] jharenza commented on #341
Ok, @hbeale - we have a group meeting tomorrow and will discuss and get back to you with some plans.

[2019-12-17 23:38] hbeale commented on #341
Thanks! The value of the analysis is maximized if we also have access to the STAR output log titled "Log.final.out" and fastqc output (e.g. R1_fastqc.zip and R2_fastqc.zip). I've amended the first comment to reflect this. Can you discuss including these in your data release as well? Thank you.

[2019-12-18 02:26] jashapiro commented on #222
Looking at #347 to check on this, I noticed one sample where there is a change that is presumably the result of these adjustments, and I want to check that the fields are correct:

BS_K049HVGR and BS_ME3HKN2C are listed in `disease_type_old` as `Ganglioglioma;Low-grade glioma/astrocytoma (WHO grade I/II)` and now in `disease_type_new` as `Low-grade glioma`, but the `broad_histology` column is `Gan

[2019-12-18 14:54] cansavvy opened #351 "Updated Data Files: Add intersection genome BED files used for TMB to v13 data release"
#### What data file(s) does this issue pertain to?

The effective genome BED ranges should be added to v13 data release.
These [files are created in snv-callers for TMB calculations](https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/master/analyses/snv-callers#tumor-mutation-burden-calculation) and [should also be used in `mutational-signatures` calculations](https://github.com/cansavvy/open

[2019-12-18 16:02] jharenza commented on #222
@jashapiro thanks so much for catching these! I checked back to what was previously used for pedcbio characterization in the cases of >1 diagnosis and found the following, so changed these accordingly:

[code]

I also harmonized the `HGAT` - this must have been me using two different nomenclatures to distinguish diffusely infiltrating tumors, such as DIPGs, but looks like I missed that after some

[2019-12-18 20:18] jharenza commented on #341
@hbeale - @zhangb1 was able to create a workflow for this today, so I think we can queue that up later this week. Re: the STAR output, that should be no problem - we can zip and release those. Re: the fastqc output, we actually run [RNASeqQC](https://github.com/broadinstitute/rnaseqc). I am attaching a sample output file here so you can check whether what you need is in these files or whether you

[2019-12-18 22:31] daveagbo733kweku commented on #10
Hi

[2019-12-19 18:05] hbeale commented on #341
thanks @zhangb1!
Regarding FastQC and RNASeqQC, I can do without either. I usually get total reads from the FastQC output, but I can also get it from the STAR "Log.final.out". Thank you!

[2019-12-19 18:10] jharenza commented on #341
ok great!

[2019-12-19 19:14] jaclyn-taroni commented on #343
Closed via #350

[2019-12-19 19:14] #343 closed

[2019-12-19 19:15] jaclyn-taroni commented on #326
Closed via #347

[2019-12-19 19:15] #326 closed

[2019-12-19 19:16] jaclyn-taroni commented on #222
Closed via v12 release (#347)

[2019-12-19 19:16] #222 closed

[2019-12-19 19:19] cansavvy commented on #8
Per @jharenza , I will update this graph to be split up by specific histologies and annotate the chromosomes more clearly, perhaps like this example:
<img width="466" alt="Screen Shot 2019-12-19 at 2 17 15 PM" src="https://user-images.githubusercontent.com/23458084/71202588-8c10a400-226a-11ea-9c15-b9dd025c581c.png">

[2019-12-19 19:33] jaclyn-taroni opened #360 "Updated analysis: transcriptome dimension + selection strategy for v12"
#### What analysis module should be updated and why?

The following two modules should be updated for the same reason:

* [`transcriptomic-dimension-reduction`](https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/master/analyses/transcriptomic-dimension-reduction)
* [`selection-strategy-comparison`](https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/master/analyses/selection-strategy-comp

[2019-12-19 19:45] #337 closed

[2019-12-19 19:48] jharenza commented on #332
Added some of these details in #361

[2019-12-19 19:49] jaclyn-taroni commented on #247
@mkoptyra - @cansavvy is going to pick up this ticket so you can focus on chordoma subtyping (#250)

[2019-12-19 23:55] JemanDaNderZ commented on #319
We can copy from Twitter

[2019-12-20 17:49] cansavvy commented on #8
@jharenza It doesn't look like the GISTIC results are split up by histology or have scores by samples, so I won't be able to do the individually plots by histology unless you run it separately. That being said, here's a re-done version of the GISTIC plot with the other fixes. I can functionalize this and apply it to histology groups if we get that data.
![gistic_plot](https://user-images.githubuse

[2019-12-20 18:09] jharenza commented on #8
@cansavvy yeah, that's right - I can't really do it by histology because there will be too low of an N for many histologies. For that reason, what I had done in the past is just subset the samples from the seg file per each histology and plot LRR as in the NBL figure above, pointing out key regions of amp/del, so there was no statistical test for those plots. I wonder if there is a way to use GIST

[2019-12-20 18:12] cansavvy commented on #8
Ah good point, I’ll try to make the chromosomes scaled and change 23 and 24 to X and Y. I’ll look into making LRR plots by histology.

[2019-12-20 20:32] sjspielman commented on #251
Will start this in the next couple of days after familiarizing myself with existing molecular subtyping analyses. Stay tuned, team.

[2019-12-21 15:55] sjspielman opened #365 "Updated analysis: Add README files to any analysis without a README"
#### What analysis module should be updated and why?

The following analysis modules are missing `README.md` documentation files:

+ `copy_number_consensus_call/`
+ `sex-prediction-from-RNASeq/`
+ `comparative-RNASeq-analysis/`
+ `focal-cn-file-preparation/`
+ `sv-analysis/`
+ `ssgsea-hallmark/`
+ `survival-analysis/`
+ `fusion_filtering/`
+ `selection-strategy-comparison/`

#### Why should the mo

[2019-12-21 16:00] jaclyn-taroni commented on #365
A few notes on a few of the more mature modules:
* Some of these are tracked individually: #319 #320
* `ssgsea-hallmark` should get addressed at the same time as #235 in my opinion
* I'm on `selection-strategy-comparison` this morning as part of #360

[2019-12-21 16:08] jaclyn-taroni commented on #365
Oh, also consistent the change in #346 making these a requirement!

[2019-12-21 20:43] sjspielman commented on #251
Hi @jharenza , I wonder if you could clarify the scope of this analysis further - based on my reading of the PR, you would like to include *any sample* not previously identified as having MB or ATRT histology, but I wonder if I am reading this correctly or if I need some more context. For example, there is no PNET annotation within the histology file, so understanding which non-MB/ATRT samples to

[2019-12-21 23:56] jharenza commented on #251
Hi @sjspielman! First, thanks for working on this. Second, looks like I was inconsistent with the `broad_histology` so if you subset for just `Embryonal tumor` you will not see PNETs, but if you do something like `emb <- subset(clin, grepl("Embryonal tumor", clin$broad_histology))`, then you will see those PNETs in `disease_type_old`, and a few more.

`as.data.frame(table(emb$disease_type_old))`:

[2019-12-22 00:41] sjspielman commented on #251
Thanks for the clarification, @jharenza! I see this - so initial analysis will consist of 47 (6+7+34) known samples, yes?

[2019-12-22 01:15] jharenza commented on #251
Correct!

[2019-12-22 10:03] cgreene commented on #332
Hi @quaidmorris : is this new section of the readme that @jharenza added helpful?
https://github.com/AlexsLemonade/OpenPBTA-analysis#data-description

[2019-12-22 16:03] sjspielman commented on #235
I'm in the process of updating this module with the correct data and without an unnecessary collapse step, as well as some more general code reformatting to match style etc. (PS @jaclyn-taroni if there's another issue associated with updating this analysis module more generally please tag it in, thanks).

**Very notably**, it appears the specific method employed for scoring was NOT ssGSEA, but was

[2019-12-22 17:46] jharenza commented on #235
@sjspielman looping in @komalsrathi because she routinely runs GSVA. In the initial [issue for ssGSEA](https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/7), I briefly noted that when we tried ssGSEA for our recent [PDX manuscript](http://bit.ly/pdx-genomics), we didn't get much signal and instead had to group the PDX models by histology/prior before running the analysis. However, @komalsra

[2019-12-22 17:49] sjspielman commented on #235
Thanks, @jharenza and @komalsrathi  - I'm about to submit a PR that begins updating data AND more generally re-factoring this analysis, will tag you all there. Seems important to clean this analysis up being excessively using it for any downstream analysis e.g. molecular subtyping.

[2019-12-22 20:06] komalsrathi commented on #235
@sjspielman I use the following command line which is not different than what you have noted:

[code]

In few of my datasets, I've obtained similar results using both ssgsea and gsva but gsva mostly gave better (or rather expected) results. In those few cases, ssgsea results were pretty noisy. There are a couple benchmarking papers on these methods and gsva seems to be performing better so I stick

[2019-12-23 13:47] jashapiro opened #369 "Inconsistant table in `pbta-gene-counts-rsem-expected_count.stranded.rds`"
#### What data file(s) does this issue pertain to?

`pbta-gene-counts-rsem-expected_count.stranded.rds`
less so:
`pbta-gene-expression-rsem-tpm.stranded.rds`

#### What release are you using?

v12

#### Put your question or report your issue here.

The count table in `pbta-gene-counts-rsem-expected_count.stranded.rds` has an extra column at the start of the data table, labeled `X` which contains o

[2019-12-23 14:20] jashapiro opened #370 "Inconsistent gene ordering in `pbta-gene-expression-rsem-fpkm.stranded.rds`"
#### What data file(s) does this issue pertain to?

`pbta-gene-expression-rsem-fpkm.stranded.rds`

#### What release are you using?

v12

#### Put a link to the relevant section of the [OpenPBTA-manuscript]
#### Put your question or report your issue here.

The gene order in file `pbta-gene-expression-rsem-fpkm.stranded.rds` does not match the other rsem data files. In particular the following gen

[2019-12-23 14:28] bill-amadio commented on #365
I am working to complete the README and fourth (final) script of the sex-prediction-from-RNASeq pipeline by January 7.

[2019-12-23 15:07] jashapiro opened #371 "Unknown sample BS_4X8PQ5G6"
#### What data file(s) does this issue pertain to?

`pbta-gene-counts-rsem-expected_count.stranded.rds`

#### What release are you using?

v12

#### Put your question or report your issue here.

The file `pbta-gene-counts-rsem-expected_count.stranded.rds` contains a column with data for the sample `BS_4X8PQ5G6` which does not appear in other files, and is not described in `pbta-histologies.tsv`

[2019-12-23 15:30] kgaonkar6 commented on #370
Sorry I just checked ,the inconsistency arise because of the way I merged the gene fpkm files.

I used tximport https://bioconductor.org/packages/release/bioc/vignettes/tximport/inst/doc/tximport.html (rsem mode) to merge the all (new and existing) stranded rsem gene FPKM files while rsem polya FPKM files were merged by @tkoganti using this script https://github.com/kgaonkar6/OpenPBTA-analysis/blo

[2019-12-23 16:54] jharenza commented on #371
Hi @jashapiro - sorry for all of these mistakes in the v12 files. I think we need to implement a QC process around the files prior to release - we will work on this on our end.

`BS_4X8PQ5G6` should not have made it into any of the files, as it was a newly stranded sequenced RNA, but it was deemed mismatched to its previous polyA RNA sample, hence why it is not in the histologies file. cc-ing @kga

[2019-12-23 16:55] jharenza commented on #369
cc-ing @tkoganti, who can fix this in V13

[2019-12-23 16:59] jharenza opened #373 "Planned data release: V13"
#### What data file(s) does this issue pertain to?
For V13, on deck:
- [x] Update RNA-Seq stranded files, per #369, #371, #370
- [x] Add bed files per #351
- [x] Add MendQC data files per #341
- [x] Add Consensus CNVs per #128
- [x] remove BGI-China data per #374 (comment below)
- [x] potentially include fusion files from #398
- [x] address #379

#### What release are you using?
V12

#### Put your

[2019-12-23 23:21] quaidmorris commented on #332
Super helpful! This is exactly what I was looking for! Awesome job!

[2019-12-23 23:21] #332 closed

[2019-12-27 16:10] cansavvy commented on #8
@jharenza , do you have code associated with [the graph above](https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/8#issuecomment-567625912) That you would be able to send me so I can see how the y axis data was calculated?

[2019-12-27 18:36] jharenza commented on #8
Hi @cansavvy - I added it [here](https://github.com/marislab/pptc-pdx-copy-number-and-SVs/blob/master/R/CN-plot-by-histology-revision.R) but could not get the `hg19.mat` added and able to read into R - I tried to add and change permissions - even if I moved it on my computer to be outside of the GISTIC program, I was unable to the read it into R. Strange... so, unfortunately, it seems the user wil

[2019-12-27 21:07] cansavvy commented on #8
@jharenza , Per our discussion in Slack, it appears the difference between the code you linked above (which used ControlFreeC) and our data we are using here (CNVKit derived) is that we do not have `Log R Ratios` calculated. This being said, what stat would we like to use instead to report a CNV summary for each histology group? Median copy number (using `copy.num` from the `CNVKit` seg file) seem

[2019-12-27 21:17] cansavvy commented on #8
It appears that `Log R Ratio`/`LRR` that ControlFreeC gives is conceptually similar/equivalent to CNVKit's `seg.mean` column (See [CNVKit's docs](https://cnvkit.readthedocs.io/en/stable/fileformats.html)). We should probably add this revelation to the documentation and I will make an issue for that and for other CNV related data descriptions we may need to elaborate on.

That being said I'm going

[2019-12-27 21:55] kgaonkar6 commented on #365
added README for fusion_filtering

[2019-12-30 14:03] #319 closed

[2019-12-30 19:52] cansavvy opened #379 "Propagate medulloblastoma `molecular_subtypes` labels to all biospecimens of the same sample"
#### What data file(s) does this issue pertain to?

`pbta-histologies.tsv`

#### What release are you using?

release-v12-20191217

#### Put your question or report your issue here.

Related to PR #378

Molecular subtyping labels have been added for medulloblastoma RNA-seq samples in the `molecular_subtype` column since for medulloblastoma, these `molecular_subtypes` are based on RNA-seq data.

Ho

[2019-12-31 03:09] JemanDaNderZ commented on #319
thankz to none but one

Jaclyn Taroni

wanna kno how...

[2019-12-31 21:52] jaclyn-taroni opened #387 "Updated analysis: RNA expression of copy number losses"
#### What analysis module should be updated and why?

[`focal-cn-file-preparation`](https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/master/analyses/focal-cn-file-preparation), specifically the `02-rna-expression-validation.R`.

#### Why should the module be updated?

As noted in https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/367#issue-356029454, this step gets OOM-killed for me lo

[2020-01-01 18:19] sjspielman opened #389 "Organizational Issue: Distinguish active vs. deprecated analyses"
There are currently three analyses marked as [Deprecated](https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/master/analyses/README.md), and it is very likely this list will continue to grow.

1. [`ssgsea_hallmark`](https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/master/analyses/ssgsea-hallmark)
2. [`cnv-comparison`](https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/master/analy

[2020-01-01 20:20] jaclyn-taroni commented on #320
Closed via #376

[2020-01-01 20:20] #320 closed

[2020-01-02 14:27] jaclyn-taroni commented on #389
I like the idea of a status column in the `analyses/README` table with those values. I also like the separate folder idea, but I think it's more appropriate to tackle that when we're getting ready for a release on GitHub (which is likely the same time that we have a completed draft of the manuscript).

[2020-01-02 14:43] jaclyn-taroni commented on #84
At the moment, this module fails in CI intermittently. See https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/391. This may indicate an underlying issue with the reproducibility of the analysis but I'm not sure if it's because of how it is run in CI or a more general issue. It warrants further investigation

[2020-01-02 15:31] jharenza commented on #379
Hi @cansavvy! I think that I didn't do this only because I recall seeing one MB patient with two biospecimens and each had a different subtype. Did you run into this at all?

[2020-01-02 15:55] cansavvy commented on #379
@jharenza here are the numbers breakdowns before and after propagating the medulloblastoma label. There are 98 samples (105 - 7) that do not have `molecular_subtype` labels originally but are associated with sample_id 's that have `molecular_subtype` labels.

Before propagating labels:
[code]
After
[code]

Here's the code where I got these numbers, this is also included in the SHH-TP53 notebook.
[

[2020-01-02 15:56] cansavvy commented on #379
I don't believe I ran into biospecimen's with different subtype labels, but I will double check that now.

[2020-01-02 16:13] cansavvy commented on #379
We shouldn't need the same all a participants' biospecimens to have the same `molecular_subtype` right? What I'm talking about in this issue is propagating labels from the same `sample_id`s not the same `Kids_First_Participant_ID`.

[2020-01-02 16:31] sjspielman commented on #84
Probably not the cause of CI failure, but I do have difficulty running the analysis locally. For example, the required library `e1071` is never actually loaded for `03-evaluate_model.R`  Running w/in CI or Docker environment has likely been circumventing this bug, but the code needs to be explicit about what libraries are loaded and used.

[2020-01-02 16:35] jaclyn-taroni commented on #84
The `e1071` problem likely stems from the way `caret` is installed ([ref](https://cran.r-project.org/web/packages/caret/vignettes/caret.html))

and loaded, as you point out @sjspielman. I've run into this issue before.

[2020-01-02 17:11] jharenza commented on #379
yes, you're right, @cansavvy - in that case, the use of sample_id is perfect

[2020-01-02 18:42] jaclyn-taroni opened #392 "Discussion: consensus CN files for downstream analyses"
**Related to the generation of copy number consensus calls: #128**

Downstream analysis of copy number data, including analysis with GISTIC (#8), often relies on information contained in a SEG file outside of the region, e.g., `seg.mean` from CNVkit. @fingerfen is generating consensus calls from CNVkit, ControlFreeC, and Manta.

From @hongboxie https://github.com/AlexsLemonade/OpenPBTA-analysis/is

[2020-01-02 19:13] jaclyn-taroni opened #393 "Proposed Analysis: Chromothripsis analysis with ShatterSeek, SV signatures"
I am splitting up #27 into more focused tickets. I am copying some of the information below from the closed pull request #271.

#### What are the scientific goals of the analysis?

From https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/27#issuecomment-516471524, I expect

will be produced as part of this analysis. We also want to make sure the following downstream analyses are supported wi

[2020-01-02 19:19] jharenza commented on #392
Hi @jaclyn-taroni - I think this sounds like a reasonable approach for CNVkit results/analyses requiring SEG files. Would be happy to rerun GISTIC once we have these consensus calls.

[2020-01-02 19:22] #360 closed

[2020-01-02 19:45] jaclyn-taroni opened #394 "Proposed Analysis: chromosomal instability burden, recurrently altered genes"
I am breaking up #27 into more focused issues.

#### What are the scientific goals of the analysis?

Integrated analysis of CNV and structural variant data. This issue covers readouts/output described in https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/27#issuecomment-516471524 that are not captured by #393, specifically (paraphrasing):

* Generating a measure of chromosomal instability (

[2020-01-02 19:47] jaclyn-taroni commented on #27
I filed two more focused issues based on what analyses are in progress vs. those that are not currently accounted for: #393 and #394

Closing this.

[2020-01-02 19:47] #27 closed

[2020-01-02 20:11] jaclyn-taroni commented on #393
Hi @yangyangclover, we are looking to wrap up the analyses for this within the next couple of weeks. Do you have an idea of when you will be able submit the next pull request for this analysis?

[2020-01-02 20:12] hongboxie commented on #392
@jaclyn-taroni I think it sounds reasonable. Do you have overall plan for downstream analysis of CNV data?

[2020-01-02 20:23] jaclyn-taroni commented on #392
@hongboxie broadly speaking, we'll want to run GISTIC (#8) and plot recurrent alterations in an OncoPrint (#6; though this does not require the segment mean values; also somewhat related to #394). I am assuming we probably want to integrate the CNV data with the SV data for visualization purposes. I've found this [UMCCR pipeline code](https://github.com/umccr/rock) that uses Manta and CNVkit outpu

[2020-01-02 20:33] hongboxie commented on #392
@jaclyn-taroni Sure! Typically circular plot will benefit visualizing genomic translocation. If there is a team working on providing translocation, that will be perfect. Long time ago, we clustered CNVs into groups, to see whether certain tumor or tumor+stages. Not sure if those are something in our plan.

[2020-01-02 21:18] bill-amadio commented on #84
No chance the source of the error is in CI.

I had this error occur for the first time this week while looking at how
predictive accuracy depends on the number of training transcripts.  At low
levels of training transcripts, all predictions are Male (the positive
class for this dataset is Female), and the call to caret::twoClassSummary()
fails.  Calls to caret::confusionMatrix() work fine.

I've p

[2020-01-02 21:25] bill-amadio commented on #84
I got the e1071 message from caret on my local machine.  I may have been
doing something that did not make it into the current release.  Current
scripts contain library(caret), but not library(e1071).

On Thu, Jan 2, 2020 at 11:35 AM Jaclyn Taroni <notifications@github.com>
wrote:

[2020-01-02 21:29] jharenza commented on #341
@hbeale we have completed the MEND QC run, and will plan to release this data + STAR Log.final.out files with #v13. Can give you an updated timeline for release in the next week.

[2020-01-03 13:41] cansavvy commented on #394
Does anyone know anything about [CINdex](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5761903/)?  I don't see any indication of it using SV data though, only CNV data.

[2020-01-03 14:32] jaclyn-taroni commented on #394
From @jharenza (paraphrasing) - the first point (CIN burden) could be measured by "breakpoint density" which was used in the PPTC PDX paper. Here is the relevant code: https://github.com/marislab/pptc-pdx-copy-number-and-SVs/blob/1bc5bbbc6e88daee0b0b5654203a5d5c31caf96b/R/sv_figure.R The number of breakpoints was calculated by using 10% copy number change between breaks from SNP _arrays_.

High Br

[2020-01-03 14:35] jaclyn-taroni commented on #394
Package from @gonzolgarcia: https://github.com/gonzolgarcia/svcnvplus

[2020-01-03 14:47] sjspielman commented on #235
I think we should be able to close this issue after PR #386, @jaclyn-taroni?

[2020-01-03 14:49] jaclyn-taroni commented on #235
Agreed!

[2020-01-03 14:49] #235 closed

[2020-01-03 15:37] jaclyn-taroni opened #397 "Proposed Analysis: visualization of CNV and SV data with Circos plot"
Related to the following: #393, #394, https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/392#issuecomment-570332277, and https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/27#issuecomment-516471524

#### What are the scientific goals of the analysis?

To generate circular plots that integrate CNV and SV data. Specifically, it might be useful for the following cases:

* Display exampl

[2020-01-03 16:22] sjspielman commented on #251
Getting back to this analysis after cleaning up the GSVA scores - I'm wondering if there's an issue with some of the data or not. Of the 47 samples to be subtyped, only 24 samples appear to have corresponding expression data, as in:
[code]

Without having all expression data, it's not clear to me how one can subtype using expression data. @jharenza, do you have any particular insights here? I've c

[2020-01-03 16:27] jaclyn-taroni commented on #251
@sjspielman it doesn't look like you've filtered the `metadata` based on the `experimental_strategy` -- so there will be WGS or WXS samples in `embryonal_unclassified` which will be missing from the expression data.

You can find DNA-seq, RNA-seq _pairs_ using the `sample_id` column. Each _library_ has its own biospecimen ID. The `sample_id` is what captures the same event or sample. This might pr

[2020-01-03 16:28] jaclyn-taroni commented on #251
Side note: This issue has tripped up multiple people including me, so we should probably document this!

[2020-01-03 16:30] jaclyn-taroni opened #398 "Proposed Analysis: Fusion files specifically for consumption by molecular subtyping analyses"
Related to this thread: https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/315#issuecomment-563425021

#### What are the goals of the analysis?

To generate files that contain information about the _presence or absence_ of specific fusions or genes participating in fusions to be used in generating subtype labels for:

* Ependymoma tumors #245
* Non-MB/ATRT embryonal tumors #251

#### What inp

[2020-01-03 16:33] sjspielman commented on #251
Aha, of course thank you!! This brings the sample size down to 29 (not 47), with 4 of those having polyA expression and 25 stranded. I would not imagine it's ok to "merge" different RNAseq selection strategies so for now I'll work with 25 stranded selection ones only.

[2020-01-03 16:41] jaclyn-taroni opened #399 "Documentation: mapping between WGS/WXS RNA-seq pairs is confusing without documentation!"
Context: https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/251#issuecomment-570622668

Multiple analyses including many (all?) of the molecular subtyping tickets and the OncoPrint plotting require analysts to identify WGS/WXS and RNA-seq biospecimen IDs that map to the same sample. One can use the `sample_id` field in `pbta-histologies.tsv` to do so. Using `sample_id` is not documented any

[2020-01-03 16:49] sjspielman commented on #399
One idea is to have an Rmd document in `docs/` entitled something like (but definitely not this-) "Introduction to working with our data" and have a brief demo of a general approach to obtaining the metadata one needs for maybe 1-3 types of analyses. In other words, some document would read "So, you want to work with samples? Here's a brief tutorial for how you can get what you need" and then show

[2020-01-03 16:53] dmiller15 commented on #398
I can take this.

[2020-01-03 17:08] sjspielman opened #400 "Proposal to update docker container"
I am proposing we modify the project to use `rocker/tidyverse-3.6.1` rather than `3.6.0`. The primary benefit to this is access to features under [`tidyverse 1.0.0`](https://blog.rstudio.com/2016/09/15/tidyverse-1-0-0/). This version is almost entirely backwards compatible, while allowing new and very useful features (such as [tidyr 1.0.0](https://www.tidyverse.org/blog/2019/09/tidyr-1-0-0/) funct

[2020-01-03 17:14] sjspielman commented on #399
Related and potentially a new issue, there is a _lot_ of reinventing-the-wheel with regards to parsing many of the data files, i.e. it's trivial to find multiple analyses with entirely different code for parsing expression data into the same final result. This is in part due to some non-tidy data structures that have been saved, but it would be helpful to re-factor code with common parsing strateg

[2020-01-03 17:52] jaclyn-taroni commented on #398
Hi @dmiller15, thank you and welcome to the project! Please see [our contributing guidelines](https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/CONTRIBUTING.md) and the [Implementing an Analysis](https://github.com/AlexsLemonade/OpenPBTA-analysis#implementing-an-analysis) and [How to Add an Analysis ](https://github.com/AlexsLemonade/OpenPBTA-analysis#how-to-add-an-analysis) sections

[2020-01-04 00:36] jharenza commented on #148
Hi @syzheng ! Happy New Year! Do you think your team will be able to submit a PR on this analysis sometime soon? We are starting to wrap up/finalize analyses and determine manuscript figures. Thanks!

[2020-01-04 00:37] syzheng commented on #148
sorry. yes, I will make sure to complete it next few days.

On Fri, Jan 3, 2020 at 6:36 PM Jo Lynne <notifications@github.com> wrote:

[2020-01-04 00:39] jharenza commented on #148
No worries, glad to hear!

[2020-01-04 01:25] jharenza commented on #329
@GeoffLyle going to close this for the reasons mentioned above. Sorry we couldn't add more information at this time.

[2020-01-04 01:25] #329 closed

[2020-01-06 14:53] tkoganti commented on #369
Fixed pbta-gene-counts-rsem-expected_count.stranded.rds file and uploaded file to V13-data

[2020-01-06 17:43] jaclyn-taroni commented on #244
My understand of what is left on this ticket:
* Use the `broad_values_by_arm.txt` GISTIC file to obtain the chr22q loss information and add that to the final table.
* Have someone with domain expertise look at the table we have and make tweaks or follow up as needed.

[2020-01-06 18:41] sjspielman commented on #7
My plan is to make eight heatmaps, combinatorial of:
1. Either mean GSVA across `short_histology` or  `disease_type_new`
2. GSVA calculated from either polyA or stranded libraries. The polyA plots are sure to be very boring.
3. All GSVA score comparisons or just those that are significant across pathways

This will all be wrapped into a function for users to customize should more heatmaps be desir

[2020-01-06 20:05] jaclyn-taroni commented on #373
@jharenza can we plan to remove the poly-A stranded samples that were added as part of v12? Related to @jashapiro's results here: #374 I think including them is likely to confuse folks working with the data.

[2020-01-06 20:05] jharenza commented on #373
yes, was going to ask if we should do so

[2020-01-06 20:05] jaclyn-taroni commented on #351
@cansavvy - do you have these files available on S3?

[2020-01-06 20:07] cansavvy commented on #351
I do not. Where should I put them on S3?

[2020-01-06 20:08] cansavvy commented on #351
Should I add them to the `snv-consensus` folder or also zip them up on in the `snv-consensus` zip file?

[2020-01-06 20:11] jaclyn-taroni commented on #351
From discussion in person: Do not include them in the `snv-consensus` zip file

[2020-01-06 20:13] cansavvy commented on #351
I've made them their own folder in the `open-pbta` S3 bucket. https://open-pbta.s3.amazonaws.com/data/snv-consensus-bed/

[2020-01-06 20:28] jharenza commented on #244
@jaclyn-taroni was just looking at this today as well. Once the table is done, we have a clinician (probably via email) who can check out the data. It may be nice to point him to a notebook of the table with the final subtypes and columns of criteria used.

[2020-01-06 21:14] jharenza commented on #341
Hi @hbeale - below are the outputs from Mend QC - which did you want in the release?

cc: @migbro

Thanks!

[2020-01-06 21:16] hbeale commented on #341
Great! Please release
readDist.txt: The output of RSeqQC read_distribution.py (~1kb)
and
bam_umend_qc.tsv: uniqMappedNonDupeReadCount,
estExonicUniqMappedNonDupeReadCount and PASS/FAIL

On Mon, Jan 6, 2020 at 1:14 PM Jo Lynne <notifications@github.com> wrote:

[2020-01-06 21:58] yangyangclover commented on #393
Hi @jaclyn-taroni, sorry about the late reply, I just came back from my vacation. I will upload the result soon. Happy new year to you!

[2020-01-06 21:58] jaclyn-taroni commented on #393
@yangyangclover happy new year to you as well! Sounds good -- looking forward to it!

[2020-01-07 22:32] gonzolgarcia commented on #394
Hi,
I would like to share my brand new R package that implements analytical and visualization tools proposed in this issue:
[https://github.com/gonzolgarcia/svcnvplus](https://github.com/gonzolgarcia/svcnvplus)

The package include many tools for the analyses of CNV and SV data:

1. Integrated CNV and SV analyses

- **percent.genome.changed** per sample measure of genome instability; calculates wh

[2020-01-07 22:43] jharenza commented on #251
@sjspielman - I had reached out to an ETMR domain expert, Derek Hanson, via email and am posting the exchange below for tracking purposes:

and his response:

[2020-01-07 22:43] cansavvy commented on #394
Thanks, @gonzolgarcia , for this nice summary of the package. I've been looking through your code a bit after @jaclyn-taroni pointed me to it. Thanks for sending the link.

[2020-01-08 18:48] gonzolgarcia commented on #394
@cansavvy I have just updated the latest commit at [svcnvplus](https://github.com/gonzolgarcia/svcnvplus). I would really appreciate any feedback.

[2020-01-08 20:44] jharenza commented on #257
Hi @cansavvy and @cgreene! For the TCGA MAFs used in #3, which variant caller was used when calculating TMB? @tkoganti and I had an idea since this came up for another project, and our results look as expected. We calculated TMB using Mutect2 MAFs from TCGA and Mutect2 MAFs from PBTA and found that the TMBs for pediatric tumors are definitely lower than the adult tumors, as expected. However, we w

[2020-01-08 20:52] tkoganti commented on #257
Hello, please see the plots we have from our analysis -

This is from TCGA mutect2 MAF files -
![image](https://user-images.githubusercontent.com/56036338/72014819-a537bf80-322e-11ea-80b4-cd58ec4c4104.png)

This is from PBTA mutect2 MAF files -
![image](https://user-images.githubusercontent.com/56036338/72014863-b54f9f00-322e-11ea-9461-d6c8af2354f5.png)

[2020-01-08 21:08] cansavvy commented on #257
For the TCGA TMB calculations, I used the MAF data from [MC3](https://www.cell.com/cell-systems/fulltext/S2405-4712(18)30096-6?_returnURL=https%3A%2F%2Flinkinghub.elsevier.com%2Fretrieve%2Fpii%2FS2405471218300966%3Fshowall%3Dtrue).

Which includes Mutect*1* and some other callers to make their variant calls. It definitely would be better to have the same variant caller data for comparing TMB.

To

[2020-01-08 21:37] tkoganti commented on #257
Hi @cansavvy

1) Not using vardict helps if we go with method two
2) I don't think @jharenza  was suggesting using non-CNS tissues. We did this for a different project and just used what we had available there. This is an example
3)  Please see @kgaonkar6 comment here (https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/3#issuecomment-530545365) about BED file. We took a similar approach but

[2020-01-08 21:58] cansavvy commented on #257
I'm a bit confused on what these TCGA samples are then since she mentioned you were not able to find `Mutect2 MAFs for the brain tumors as listed above` but I see your plot includes something called GBM, and that was included in the list I put above.

 3. Please see @kgaonkar6 comment here ([#3 (comment)](https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/3#issuecomment-530545365)) about BE

[2020-01-08 22:28] jharenza commented on #257
@cansavvy - the MAFs may very well be mutect1 - @tkoganti, do you know? They may have only been labeled `Mutect` and made an assumption, but we will definitely seek access and reprocess!

[2020-01-09 00:50] jharenza opened #417 "Update GISTIC data format information"
#### What data file(s) does this issue pertain to?
GISTIC zip file

#### What release are you using?

v12

#### Put a link to relevant section of repo here:
https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/doc/data-formats.md#copy-number-files

#### Put your question or report your issue here.
Update GISTIC output file information.

[2020-01-09 13:19] gwaygenomics commented on #165
perhaps important to note distinction here:

This demonstrated proof of concept for NF1 loss classification in Glioblastoma specifically.

This trained an NF1 loss classifier using pancancer data (so many more cancer types than just glioblastoma)

This used the Knijnenburg et al classifier. The current PBTA analysis classifier also uses the Knijnenburg coefficients.

[2020-01-09 15:10] tkoganti commented on #257
All the TCGA are mutect. I had them labelled wrong yesterday. I corrected in the comment above with the figure.

@cansavvy and @cgreene We were wondering if it was possible to get a manifest file for the TCGA BAM files with the disease types you would like to use so we can run consensus callers on those? I see three disease types that we would like to use(GBM, PCPG and LGG) but are there sub-types

[2020-01-09 15:39] cbethell commented on #417
In support of this ticket, here is a [notebook](https://cbethell.github.io/open-pbta-output/GISTIC-missing-samples.nb.html) cross-checking that the samples 'missing' from the GISTIC `broad_values_by_arm.txt` file (implemented in PR #414) are the samples denoted to not be included based on the information recorded in the GISTIC `sample_seg_counts.txt` file.

[2020-01-09 15:52] cgreene commented on #257
My understanding is that the goal of this analysis is to compare TCGA mutation burden with PBTA mutation burden. The ideal world would be to:
1. Identify the intersection of regions that were measured by the various kits between TCGA/PBTA.
2. Apply the same callers to identify variants in the intersecting regions for as many cancers as possible for brain tumors (could do other tumor types too, but

[2020-01-09 17:25] jharenza commented on #257
Hi @cgreene - that is the plan, but there are 3 broad histologies listed: TCGA-LGG, TCGA-GBM, TCGA-PCPG, but looks like files @cansavvy was able to use in her first comparison had subtypes within those - the BAMs are labeled broadly. @cansavvy can you send the link to a manifest in which you obtained these narrower histologies, so we can try to select N BAMS per histology? Could not find it readil

[2020-01-09 17:26] cgreene commented on #257
Since I don't know what effect size we'd be looking for, I don't have a way to say how many would be sufficient.

[2020-01-09 17:51] jharenza commented on #257
@cansavvy just found where you got the clinical data [here](https://cansavvy.github.io/openpbta-notebook-concept/tmb-compare-tcga/compare-tmb.nb.html).

Will keep you posted about this.

[2020-01-09 20:23] tkoganti commented on #369
Both the files are uploaded under V13-data here - https://cavatica.sbgenomics.com/u/cavatica/pbta/files/#q?path=processed-data-merge%2FV13-data

[2020-01-10 00:46] jaclyn-taroni commented on #165
Once #128 has been completed, we will want to include CNV data when evaluating the results of these classifiers. I will also note that currently there is a very low number of NF1 alterations in the poly-A data so the AUROC results may be a bit misleading (see discussion on #385) and we may want to add confidence intervals to the plot (@cgreene found this package - https://rdrr.io/cran/pROC/man/ci.

[2020-01-10 03:04] jaclyn-taroni opened #421 "PR template checklist: more general documentation bulletpoint"
Instead of just making reference to the analyses README - make the bulletpoint more general and include the module-specific README and analyses/README.md as subitems.

[2020-01-10 12:36] #421 closed

[2020-01-10 14:20] jaclyn-taroni commented on #398
Closed via #410

[2020-01-10 14:20] #398 closed

[2020-01-10 16:00] jharenza commented on #257
@cgreene we are starting with primary tumors only, and running 20 random per group from the 8 brain tumor histologies with >20 samples.

[2020-01-12 17:31] jaclyn-taroni commented on #249
**Summarizing ongoing efforts and what tasks remain** - initially mentioned in https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/420#issuecomment-573257980. Essentially, each data type requires a number of decisions that are best discussed and documented one data type at a time. Therefore, we've split up the work of cleaning and presenting relevant data in the following way:

1. Subsetting f

[2020-01-13 12:53] jaclyn-taroni commented on #247
Working on #249 this weekend brought this question up for me - is it _any_ _TP53_ mutation (how the code is currently written) or does this mean “_TP53_ mutations that are likely to be functional?” How do folks usually approach this?

[2020-01-13 13:00] jaclyn-taroni commented on #247
Taking a look at the chapter - looks like the _TP53_ are often in exons 4 through 8 and are germline mutations about half the time, which we would not capture here.

[2020-01-13 13:55] jharenza commented on #128
closed via #357 #349 #328 #313 #403 #288 #416

[2020-01-13 13:55] #128 closed

[2020-01-13 18:26] jharenza commented on #247
@jaclyn-taroni nice catch on this - I think that perhaps we should just leave MB as the 4 subtypes, given we do not have germline data in this cohort and I think we would miss some if we attempted it. @mkoptyra, do you agree?

[2020-01-13 18:28] cgreene commented on #247
@jharenza : would the folks writing the germline paper be willing to share the presence/absence of mutations in key genes for subtyping, or would they view that as something that could not be shared?

[2020-01-13 19:15] jharenza commented on #247
@cgreene I think the fastest way to get this would be for us to release a limited MAF of variants within the desired genes, filtered by @yiran-guo. Will add a ticket for this and plan to release for v14.

[2020-01-13 19:20] jharenza opened #431 "Proposed Analysis: Filter germline variants for MB subtyping"
#### What are the scientific goals of the analysis?
Filter germline variants for deleterious variants within _TP53_, _SUFU_, and _PTCH1_ to enable #247

#### What methods do you plan to use to accomplish the scientific goals?
Using Annovar annotations,
- keep those with sequencing depth DP > 10
- keep those with alternative allele depth AD > 0.25 * sum of all AD's. E.g. assuming the vcf FORMAT fie

[2020-01-13 19:20] jharenza commented on #431
@jaclyn-taroni I only looked through this briefly, but looks like the above are the 3 major genes we want?

[2020-01-13 19:22] jharenza opened #432 "Planned data release: V14"
#### What data file(s) does this issue pertain to?
additional files to be generated

#### What release are you using?

v13

#### Put a link to the relevant analysis here.
#431

#### Put your question or report your issue here.
- [ ] Add matrix of yes/no presence of _TP53_, _SUFU_, and _PTCH1_ germline variants for #378 medulloblastoma subtyping
- [x] Update GISTIC file using consensus CNV file #45

[2020-01-14 01:20] tkoganti commented on #369
I checked that both the files have samples with the pbta-histologies file.
`pbta-gene-expression-rsem-tpm.stranded.rds` was okay
`pbta-gene-counts-rsem-expected_count.stranded.rds` file had one extra sample `BS_4X8PQ5G6` that I deleted and uploaded the updated file here - https://cavatica.sbgenomics.com/u/cavatica/pbta/files/5e1d165fe4b09d9aaf49571b/

[2020-01-14 14:02] jharenza commented on #431
@yiran-guo, below are the normal IDs for the samples included in OpenPBTA:
[OpenPBTA-allnormal-BSids.txt](https://github.com/AlexsLemonade/OpenPBTA-analysis/files/4059462/OpenPBTA-allnormal-BSids.txt)

[2020-01-14 14:13] cansavvy commented on #431
@jharenza , according to the book chapter you attached, those seem to be the three genes we should look for.

[2020-01-14 14:59] jaclyn-taroni commented on #186
Discussed in person - now that we have GISTIC broad arm calls, we should come up with a strategy for reconciling the broad arm calls with the annotated results from CNVkit. That is to say that we don't want to report individual genes as gained or lost if it would be more accurate to report a broader event. @cbethell and @cansavvy are going to take a look at this together.

[2020-01-14 16:39] naqvia commented on #245
I will work on this. I will do this after the release of v13 (next week).

[2020-01-14 22:52] jaclyn-taroni commented on #229
Hi @GeoffLyle and @e-t-k, I wanted to check in. Do you have an idea of when you expect to file a pull request for the outlier thresholds and outlier gene lists? Also, if you are working with the `release-v12-20191217` data, I wanted to make you aware that there are stranded poly-A samples in the `stranded` dataset files, which are mostly comprised of ribodepleted samples (see #374) though this ver

[2020-01-15 00:26] jaclyn-taroni opened #436 "CNVkit data only includes WGS samples"
Context is #435

#### What data file(s) does this issue pertain to?

`pbta-cnv-cnvkit.seg.gz` and `pbta-cnv-cnvkit-gistic.zip` which is downstream.

#### Put your question or report your issue here.

These files appear to only contain WGS samples. This is not recorded in the data formats documentation (https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/doc/data-formats.md#somatic-copy-

[2020-01-15 00:55] jharenza commented on #436
@jaclyn-taroni CNV and SV calling was only done on WGS samples - we should have specified this in the methods. Actually, until about two weeks ago, we did not create CNV workflows for WXS, and we have not benchmarked it, but I can talk to the team and see if we want to run this for the paper. We definitely would not run for the panel sample, as usually those algorithms are specifically developed b

[2020-01-15 01:18] jaclyn-taroni commented on #436
I don’t think it’s necessary to include the CNV calls for the WXS here. I was just aware that CNVkit could make such calls and it was not documented that this was only run for WGS samples in the three places I thought to look. If we remedy the documentation issue, I am happy to close this.

[2020-01-15 07:29] e-t-k commented on #229
Hi @jaclyn-taroni ,
I've been working on some other priorities recently, so current estimate
for this is early Feb, but I could look into making it sooner if that's
behind why you're asking.

And thank you for the heads up regarding the stranded PolyA samples; your
exclusion of them in the next release works just fine for us. @GeoffLyle
also noticed there are some cell line samples in the data set

[2020-01-15 13:22] jaclyn-taroni commented on #251
I am planning on working on this over the next few days.

[2020-01-15 13:48] jharenza commented on #373
We will also be adding merged MAFs and a clinical file for #257 with this release.

[2020-01-15 14:40] jaclyn-taroni commented on #436
I have filed #437 for the documentation changes in this repository and opened https://github.com/AlexsLemonade/OpenPBTA-manuscript/issues/69 for the manuscript changes. Once #437 goes in, I think we can close this.

[2020-01-15 15:20] cansavvy commented on #186
Does this mean we would prefer to remove the genes from the annotated files if it is more accurate to say the whole arm is gained or lost? OR do we want to add an extra column in the annotated files that says whether the arm for each gene reported is in an arm that is gained or lost (I think this second suggestion is more likely)? Part of this question has to do with gaining a better understanding

[2020-01-15 15:21] jaclyn-taroni commented on #186
I would say that second option makes it easy to achieve the first via filtering downstream.

[2020-01-15 16:02] jashapiro opened #438 "Reproducing copy number excluded regions"
#### What data file(s) does this issue pertain to?

https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/analyses/copy_number_consensus_call/src/scripts/IGLL_telo_centromeric_region.txt

#### Put your question or report your issue here.

I am trying to reproduce the generation of the `IGLL_telo_centromeric_region.txt` file that is used for Copy number consensus generation #128. This file

[2020-01-15 19:06] cansavvy opened #440 "Updated analysis: Re-calculate coding TMB with Lancet WXS BED file update"
#### What analysis module should be updated and why?

`snv-callers` [where coding TMB is calculated](https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/1a8a35954a09c6a64ae38f2b885867420da4b1d0/analyses/snv-callers/run_caller_consensus_analysis.sh#L73)

#### Why should the module be updated?
Because the current WXS BED file is not accurate for the Lancet data and will be updated. It was a 100b

[2020-01-15 19:08] jharenza commented on #440
correct, will release this bed with #373

[2020-01-15 19:42] jaclyn-taroni commented on #440
@jharenza there is a little confusion on our end. The methods section of the manuscript reported that for WXS samples, Lancet was run with a 100 bp padded bed file. It was in fact run with a 300 bp padded file. You are planning on releasing the WXS BED with 300 bp padding now, but there will be no underlying changes to the Lancet data (e.g., you will not be rerunning it with 100 bp). Is that corre

[2020-01-15 20:04] jharenza commented on #440
Correct. I think the intersect for WXS should stay similar anyway, since there is an intersect with CDS regions.

[2020-01-16 16:45] cansavvy commented on #394
@gonzolgarcia , here are the output plots from the code that I have queued up as a pull request on #419. Would you be able to take a look at these plots and let me know if there is anything missing from these plots that would help aid your interpretation of the data? Secondly, is median number of breakpoints an acceptable value to present for grouped tumor-type data or would you suggest a differen

[2020-01-16 18:54] jashapiro commented on #438
From @xiehongbo via email:

Using hg18->hg38 liftover, these correspond to:
[code]
Which are the regions as found in the provided file.

I will update the analysis to include this as a starting point.

[2020-01-16 19:55] cansavvy commented on #394
### Summary of recurrent breakpoint genes tentative plan:
For identifying genes that have recurrent breakpoints, my tentative plan is to report number of exonic breakpoints per gene. I'll subdivide this by breakpoint types (Amplification/Deletion and the categories of `SVtypes`). And I think these data should also be reported in proportion to exonic gene length (per kb exon length or something lik

[2020-01-16 21:49] jaclyn-taroni commented on #440
https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/444#discussion_r367643169

[2020-01-17 13:26] tkoganti commented on #245
I will be working on this ticket starting next week.

[2020-01-17 16:51] gonzolgarcia commented on #394
@cansavvy I have a few comments on the #419.
1.  Regarding the common breaks, I think you are using a different approach compared to what I have implemented in [svcnvplus](https://github.com/gonzolgarcia/svcnvplus/). Specifically, the function [match.breaks](https://github.com/gonzolgarcia/svcnvplus#co-localization-of-breakpoints) looks at the intersection (as opposed to the union) between CNVs an

[2020-01-17 17:23] cansavvy commented on #394
Thanks for this advice. I will definitely switch it to an intersection, that sounds like a good call.

We suspect this too, but the data you see here will be finalized a bit more when we switch to our consensus CNV data. Hopefully this dataset has less of the calls that seem like false positives. After we get that data switched in we'll be able to take a more realistic look.

[2020-01-17 19:18] srp33 opened #448 "Proposed Analysis: Assess batch effects in RNA-Seq data"
#### What are the scientific goals of the analysis?

Batch effects are commonly observed in RNA expression data. Such effects are likely less pronounced in RNA-Seq data than microarray data. However, batch effects may bias conclusions of studies that do not account for these effects. We wish to evaluate the level to which batch effects are present in the RNA-Seq data from this study and create alt

[2020-01-17 20:12] yangyangclover opened #450 "install shatterseek package in Dockerfile"
I tried to submit a new [shatterseek PR](https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/449), but the Dockerfile test failed on the step of shatterseek installation ([https://circleci.com/gh/AlexsLemonade/OpenPBTA-analysis/2621?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link](https://circleci.com/gh/AlexsLemonade/OpenPBTA-analysis/2621?utm_campaign=vcs-i

[2020-01-17 20:26] jaclyn-taroni commented on #450
Hi @yangyangclover I will take a look now

[2020-01-17 20:27] yangyangclover opened #451 "Germline Mutation Data"
#### What data file(s) does this issue pertain to?
germline mutation data/SNP

#### What release are you using?

V12

#### Put your question or report your issue here.
I am trying to perform an association study between SV signature cluster and germline gene mutation. However, it seems the SNP data is controlled. I am wondering if I can access those data or if there are some processed files about

[2020-01-17 20:30] jaclyn-taroni commented on #450
See: https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/449/files#r368123129

If that change fixes it, we can close this issue.

[2020-01-17 21:29] jaclyn-taroni commented on #450
Fixed with https://github.com/AlexsLemonade/OpenPBTA-analysis/commit/d7cc2759c1b27b8d7c306ab2ef190b19b58de149

[2020-01-17 21:29] #450 closed

[2020-01-18 11:50] jaclyn-taroni commented on #436
Closed via #437

[2020-01-18 11:50] #436 closed

[2020-01-18 11:57] jaclyn-taroni commented on #341
@hbeale The MendQC files and STAR logs were included with the v13 release (#444), which is now available via the download script in the master branch. I am going to close this issue. If there are any issues or questions around those files, we can reopen or file a new data issue. Thanks!

[2020-01-18 11:57] #341 closed

[2020-01-18 11:58] jaclyn-taroni commented on #373
Closed via #444

[2020-01-18 11:58] #373 closed

[2020-01-18 11:59] jaclyn-taroni commented on #351
Closed via #444

[2020-01-18 11:59] #351 closed

[2020-01-18 12:01] jaclyn-taroni commented on #440
This was blocked by the v13 release, which went out yesterday in #444 so I am removing the blocked label.

[2020-01-18 12:26] jaclyn-taroni commented on #370
Looking at the v13:
[code]
Closing this issue.

[2020-01-18 12:26] #370 closed

[2020-01-18 12:30] jaclyn-taroni commented on #371
v13 data does not contain this biospecimen:
[code]
Closing this issue.

[2020-01-18 12:30] #371 closed

[2020-01-18 12:36] jaclyn-taroni commented on #369
Looking at `pbta-gene-counts-rsem-expected_count.stranded.rds` in v13:

[code]

and `pbta-gene-expression-rsem-tpm.stranded.rds` in v13:

[code]

Closing this issue.

[2020-01-18 12:36] #369 closed

[2020-01-18 12:45] jaclyn-taroni commented on #379
Looking at v13, this appears to be resolved and correct:
[code]
Closing this issue.

[2020-01-18 12:45] #379 closed

[2020-01-18 12:48] jaclyn-taroni commented on #64
I am going to close this. I think once we've started to wrap up the active analysis phase and the Docker image is relatively mature, it does make sense to use the `good first issue` in the way that it was originally (but not currently) described in the README.

[2020-01-18 12:48] #64 closed

[2020-01-18 12:52] jaclyn-taroni commented on #106
I think we've put a lot of what was captured in the first checklist here into `CONTRIBUTING.md` since this was initially filed. I like the second checklist but I think it would be burdensome in this particular context (not everyone uses R Notebooks, for example). I am going to close this and tag it with `thoughts for v2` if we every think about implementing style guides.

[2020-01-18 12:52] #106 closed

[2020-01-18 12:54] jaclyn-taroni commented on #257
I believe what is now left for the TCGA data included in v13 (#444) is

from @cansavvy

[2020-01-18 12:58] jaclyn-taroni commented on #432
Consensus SEG file generated as part of #441 - [`analyses/copy_number_consensus_call/results/pbta-cnv-consensus.seg`](https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/analyses/copy_number_consensus_call/results/pbta-cnv-consensus.seg).

[2020-01-18 13:07] jaclyn-taroni commented on #392
Closed via #441 and the file release is mentioned on #432.

[2020-01-18 13:07] #392 closed

[2020-01-18 16:06] jaclyn-taroni commented on #448
Hi @srp33 and @nathanmella, welcome and thank you for proposing this analysis!

Before you get started implementing this analysis, we ask that you read the documentation in the [`README`](https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/README.md) and [contributing guidelines](https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/CONTRIBUTING.md) in full. In addition, you ma

[2020-01-18 17:13] jaclyn-taroni commented on #229
Hi @e-t-k,

Thanks for your reply!

We are looking to wind down the analysis phase of the project and prepare the first draft of the [OpenPBTA manuscript](https://github.com/AlexsLemonade/OpenPBTA-manuscript) relatively soon.

If you would like this analysis to be included in the first version of the manuscript, I would recommend filing a pull request as soon as its possible. There is the option o

[2020-01-18 17:52] jaclyn-taroni commented on #387
The `focal-cn-file-preparation` module is being revamped (and sped up!) over on #452. It's worth noting that those revisions may have addressed the _major_ bottleneck for that analysis module. I think profiling and improving the RNA-seq expression levels of losses code is a good step to follow #452. As such, I am going to mark this `in progress` and assign @cbethell. As noted above, we also to loo

[2020-01-18 18:02] jaclyn-taroni commented on #394
I am marking this as blocked by #438 per https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/419#pullrequestreview-344903979

[2020-01-18 18:31] jaclyn-taroni opened #453 "Updated analysis: rerun GISTIC with consensus SEG file"
#### What analysis module should be updated and why?

_Note: Running GISTIC is upstream of this repository._

We now have consensus copy number calls (#128). Furthermore, we have a consensus SEG file that contains the required information to run GISTIC (discussed in #392 and implemented in #441): `analyses/copy_number_consensus_call/results/pbta-cnv-consensus.seg`

#### What changes need to be mad

[2020-01-18 18:32] jaclyn-taroni commented on #186
Once #452 lands, we want to make sure we run `analyses/copy_number_consensus_call/results/pbta-cnv-consensus.seg` through the annotation steps in `focal-cn-file-preparation` now that #441 has been merged. This requires the following changes:

- [ ] Adding `analyses/copy_number_consensus_call/results/pbta-cnv-consensus.seg` to the processing in `analyses/focal-cn-file-preparation/00-add-ploidy-cnvk

[2020-01-18 18:45] jaclyn-taroni commented on #8
We have a consensus SEG file that includes the `seg.mean` as of #441:

[2020-01-18 18:57] jaclyn-taroni commented on #6
The code in [`oncoprint-landscape`](https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/master/analyses/oncoprint-landscape) is largely in good shape. But we will want to update the data displayed in the plots to account for the following:

* We have consensus copy number calls. GISTIC needs to be rerun with the consensus SEG file (#453) and focal vs. broad losses need to be reconciled per htt

[2020-01-18 19:07] jaclyn-taroni commented on #244
[`molecular-subtyping-ATRT`](https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/master/analyses/molecular-subtyping-ATRT) will need to be rerun with annotated focal consensus calls (#186) and new GISTIC calls (#453).

[2020-01-18 19:09] jaclyn-taroni commented on #249
[`molecular-subtyping-HGG`](https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/master/analyses/molecular-subtyping-HGG) will need to be rerun with annotated focal consensus calls (#186) and new GISTIC calls (#453).

[2020-01-18 19:10] jaclyn-taroni commented on #251
[`molecular-subtyping-embryonal`](https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/master/analyses/molecular-subtyping-embryonal) will need to be rerun with annotated focal consensus calls (#186) and new GISTIC calls (#453).

[2020-01-18 19:25] jaclyn-taroni opened #455 "Updated analysis: modules to be rerun with v13 stranded RNA-seq data"
#### What analysis module should be updated and why?

Below, I list what analyses need to be rerun as a checklist below using the [Modules at a glance table](https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/master/analyses#modules-at-a-glance) as my guide:

- [x] `collapse-rnaseq` - New collapsed files were included in the v13 release; the summary tables tracked in the repository have not b

[2020-01-18 19:35] jharenza commented on #453
Hi @jaclyn-taroni! I set this up, but it quickly failed.
`[harenzaj@c-2-02 PBTA]$ bash run_gistic_consensus.sh
--- running GISTIC ---
GISTIC version 2.0.23
required parameters:
      base_dir: /mnt/isilon/maris_lab/target_nbl_ngs/PBTA/gistic/2019-01-18-consensus-cnv/
       segfile: /mnt/isilon/maris_lab/target_nbl_ngs/PBTA/pbta-cnv-consensus.seg
marker spacing: 10000
   refgenefile: /mnt/isilon/m

[2020-01-18 19:57] jharenza commented on #451
Hi @yangyangclover! The germline data is controlled and as such, we cannot release it on a public platform. However, if there are a minimal number of variants you are looking for, and/or specific SNPs you are interested in, we can determine whether we can pre-filter and release just those specific variants. For example, with #431 we will release a binary matrix of whether or not putative deleterio

[2020-01-18 20:47] jashapiro commented on #453
I will look into this next week.

[2020-01-18 21:02] jashapiro commented on #453
Okay, I couldn't resist, and started to look at it now. It appears that this is the result of overzealous merging of nearby CNVs, which results in trouble when there are multiple CNVs in opposite directions nearby. I will look into tweaking the consensus calls to catch and separate these, as well as other causes that might be in the mix.

[2020-01-18 21:06] jashapiro opened #457 "Overlapping CNV calls in consensus"
[code]

_Originally posted by @jharenza in https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/453#issuecomment-575931623_

This seems to occur when there is a sequence of DUP-DEL-DUP (or the reverse) when the distance between the two segments of the same direction are less than the threshold used to collapse adjacent segments.

[2020-01-19 15:33] jaclyn-taroni commented on #448
I think the correct handle is @natemella based on a recent fork of the repository 😄

[2020-01-19 16:48] jaclyn-taroni commented on #251
Seems like [Sturm et al.](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5139621/) is good thing to link here -- the NCI PDQ section on CNS EFT-CIC cites it.

[2020-01-21 11:44] jaclyn-taroni commented on #245
@cansavvy there is the following note above:

Is there any output you can include (e.g., summary statistic) as part of `chromosomal-instability` (#394) that could be helpful for this? Right now it [looks like the only outputs for that module are plots](https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/ed6e2752f4c3de6a75e0d13a6ea2a963a5956ab7/analyses/chromosomal-instability#output).

[2020-01-21 14:38] cansavvy commented on #245
I can file a PR that saves total chromosomal breakpoint numbers per biospecimen to TSV file. But perhaps to make it more interpretable we need it to be divided by the size of the effectively surveyed region of the genome (i.e. WGS vs WXS)?

[2020-01-21 14:56] cansavvy commented on #397
Since I've been working with the CNV and SV data a bit and have made circos plots before, I'm going to work on this ticket.

[2020-01-21 15:09] jaclyn-taroni commented on #394
Moving this over from: https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/245#issuecomment-576710898

Discussed in person with @cansavvy: the chromosomal instability info is typically displayed like TMB but we need to revisit the "effectively surveyed region of the genome" BED files (#440) and because chromosome instability measures will eventually use the _consensus_ and we want to filter

[2020-01-21 15:13] jaclyn-taroni commented on #245
Moving discussion about the _specifics_ over to #394 to keep this focused, but to close the loop - yes, we will want this information, divided by the size of the effectively surveyed genome, saved as a TSV.

[2020-01-21 16:01] cansavvy commented on #440
This issue has been addressed. The results have been uploaded to S3.
*Changes to S3 files:*
- The updated intersection BED files that were used
     - https://open-pbta.s3.amazonaws.com/data/snv-consensus-bed/intersect_cds_lancet_strelka_mutect_WGS.bed
     - https://open-pbta.s3.amazonaws.com/data/snv-consensus-bed/intersect_cds_lancet_WXS.bed
- updated zip file `snv-consensus-20200121.zip` (Note

[2020-01-21 16:03] cansavvy commented on #432
The updated Lancet WXS BED file downstream changes have been propagated and now there are updated files on S3 that should be included in the v14 release:
- The updated/renamed intersection BED files:
     - https://open-pbta.s3.amazonaws.com/data/snv-consensus-bed/intersect_cds_lancet_strelka_mutect_WGS.bed
     - https://open-pbta.s3.amazonaws.com/data/snv-consensus-bed/intersect_cds_lancet_WXS.b

[2020-01-21 16:39] jharenza commented on #244
@cbethell - started going through these results a bit. Can I request that you also add a column for `OS_months`, derived from `OS_days` to the results? Thanks!

[2020-01-21 18:24] jaclyn-taroni commented on #440
Closed via #459.

[2020-01-21 18:24] #440 closed

[2020-01-21 18:51] jharenza commented on #244
@cbethell sorry for the separate comment - would you be able to also include expression of _HES5_, _HES6_, _DLL1_, and _DLL3_ to assess Notch signaling? This is for ATRT SHH group, as noted above.

Looks like the other genes mentioned are all included.

Thanks!

[2020-01-21 19:13] jaclyn-taroni commented on #244
I'm going to pick this up right now @jharenza.

[2020-01-21 19:13] jharenza commented on #244
Thanks @jaclyn-taroni !

[2020-01-21 19:27] jharenza commented on #244
@jaclyn-taroni - I think, if possible, we may want to move `POU3F4, POU3F2, and PBX1` over to the grouping with ATRT SHH genes (from Table S6) and we can also possibly add `MSX2, STAT3, PRRX1, LMX1A, and OTX2` for the TYR subgroup genes (from Figure 6A and Table S6). I think the TYR subtype is pretty easy to delineate with the genes we have, but this will give some extra confidence.

[2020-01-21 19:49] jharenza commented on #244
Here is a minimal gene list for expression/GSEA for each subgroup:

| TYR | SHH | MYC |
|--------|------------|----------|
| TYR | MYCN | MYC |
| MITF | GLI2 | HOTAIR |
| DCT | CDK6 | TEAD3 |
| VEGFA | ASCL1 | MYC GSEA |
| DNAH11 | HES5 |  |
| SPEF1 | HES6 |  |
| MSX2 | DLL1 |  |
| STAT3 | DLL3 |  |
| PRRX1 | LHX2 |  |
| LMX1 | TEAD1 |  |
| OTX2 | Notch GSEA |  |

[2020-01-21 20:19] cansavvy commented on #394
My plan for the next PRs for this issue:

1) Reconfigure the scripts for the BED files: https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/461
2) Add consensus CNV file and BED and re-run (THis can be done whenever #457 is ready. Should not be a big PR.
3) Add a [plot like described in the comment above](https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/394#issuecomment-575706453).
4)

[2020-01-22 18:00] #457 closed

[2020-01-22 18:06] jaclyn-taroni commented on #453
Now that #463 is merged, `analyses/copy_number_consensus_call/results/pbta-cnv-consensus.seg` is ready to be run through GISTIC.

[2020-01-22 18:35] jharenza commented on #453
on it!

[2020-01-22 18:47] jharenza commented on #453
Ahh, @jashapiro - while the overlaps are no longer giving errors, it looks like the data are incomplete, in that GISTIC expects that all regions are the same across all samples, including regions with neutral CN. See [this post](https://www.biostars.org/p/254455/). I think this fix could be as simple as adding all missing regions back as CN 2.

[code]

[2020-01-22 18:51] jashapiro commented on #453
Okay, I could do that. But I kind of don't want to, unless we have some way to capture the fact that there are uncalled regions in there (i.e. regions where we have no confidence in any particular call). Can I set copy number to NA at all, or will gistic choke on that as well? Also, note that some of the regions are already NA for the seg.mean field. Does that cause trouble for gistic?

[2020-01-22 18:59] jharenza commented on #453
Good point - actually when we normally would export these regions from snp array segmentation software, we would have to trick it so all segments without a CN change would be neutral - we did not end up using NAs - let me try adding some NAs on an old seg file we know works - standby.

[2020-01-22 20:00] jaclyn-taroni commented on #245
Hi @tkoganti, as we discussed in person I am filling in a bit of the _how_ behind this ticket.

Now that I have revisited this ticket, I think `analyses/molecular-subtyping-EPN` is a good place to add this analysis.

#### Continuous integration

Continuous integration (CI) has some special considerations when we are working in the context of the molecular subtyping tickets.

For continuous integra

[2020-01-23 13:46] jaclyn-taroni commented on #455
I will work on this this morning.

[2020-01-23 16:10] cansavvy commented on #394
Now that I have the GISTIC gene `amp` and `del` data wrangled, I need more input on what kind of output we are looking for this recurrent genes analysis for Oncoprint. So far, I took the `amp` and `del` genes from the `_genes.conf_90.txt` files from GISTIC and reformatted it in a way that's useable. Are we looking for just gene lists?

The _genes.conf_90 files have these fields:
| gene | wide_peak

[2020-01-23 16:38] jharenza commented on #453
@jashapiro - yes, that will work - tested on the old cnvkit seg file, and run finishes successfully!

[2020-01-23 17:14] tkoganti commented on #245
@jaclyn-taroni Thank you so much for the information!!! This really helps to get me started on this ticket

 I am listing all the files I am going to be using along with the exact filters. Please review this and rectify if any changes need to be made. Also @jharenza if you could answer the questions I wrote here, that would be helpful!

**ST-EPN-RELA subtype criterion -**
1. If any one of these fu

[2020-01-23 17:54] jashapiro opened #472 "Missing cnvkit data"
#### What data file(s) does this issue pertain to?

`pbta-cnv-cnvkit.seg.gz`

#### What release are you using?

v13

#### Put a link to the relevant section of the [OpenPBTA-manuscript](https://github.com/AlexsLemonade/OpenPBTA-manuscript/) here.

#### Put your question or report your issue here.

This file seems to be missing data for specimen `BS_NMJPX8VQ`, which is present in the other cnv and

[2020-01-23 17:55] yangyangclover commented on #451
Thank you @jharenza , if it possible to release BRCA1, BRCA2, TP53 germline mutation data? We found some SV mutation may be related to defective homologous recombination-based DNA damage repair, so we wanna see if BRCA1/BRCA2 is the cause.

[2020-01-23 17:58] cansavvy commented on #397
My general plan I'm starting on is to make a general purpose circos plotting function. What data would like to be able to be processed into a circos plot? Secondly what kinds of features will we want on these circos plots?

**Data  types to map:**
- Chromosomal breakpoint data
- SV seg file
- CNV seg file
- SNV data???

**Features to include**:
- gene annotation for peaks?
- filter by subtype or h

[2020-01-23 18:01] jharenza commented on #472
cc: @yuankunzhu and @migbro for #432 (v14 release)

[2020-01-23 18:26] jaclyn-taroni commented on #245
Hi @tkoganti - I'll clarify a couple things I'm able to comment on below.

**HALLMARK_TNFA_SIGNALING_VIA_NFKB**

There should be a row for each sample (`Kids_First_Biospecimen_ID`) for HALLMARK_TNFA_SIGNALING_VIA_NFKB - you will want to look for EPN samples with high `gsea_score` values to satisfy the "Fusions result in activation of NF-κB target genes" portion of ST-EPN-RELA subtype criteria.

Fo

[2020-01-23 20:26] jharenza commented on #472
Noting that this data is located [here](https://cavatica.sbgenomics.com/u/kfdrc-harmonization/sd-bhjxbdqk-08/tasks/bc099946-1356-4acd-8d4a-e3d983ff8ec3/).

[2020-01-23 21:41] jaclyn-taroni opened #473 "Annotated CNVkit data no longer shows SMARCB1 deletions in ATRT"
Context is rerunning the `molecular-subtyping-ATRT` module as part of #462.

#### What data file(s) does this issue pertain to?

`analyses/focal-cn-file-preparation/cnvkit_annotated_cn_autosomes.tsv.bz2` in the repo, not in the data release.

#### What release are you using?

The file was generated using `release-v13-20200116`

#### Put your question or report your issue here.

There are no longer

[2020-01-24 11:31] jaclyn-taroni opened #474 "kallisto stranded file has extra column"
Context is the loss of feature names here: https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/470/commits/ac8576abb5e8882a35b38ea5d573c58e6c11c6a6#diff-557d92e4b6e60334985b018096e31fab

#### What data file(s) does this issue pertain to?

kallisto stranded RDS file `pbta-gene-expression-kallisto.stranded.rds`

#### What release are you using?

`release-v13-20200116`

Double checking that I'm l

[2020-01-24 11:35] jaclyn-taroni commented on #455
`sex-prediction-from-RNASeq` will have to wait because of https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/474

[2020-01-24 16:05] jharenza commented on #472
Updated and sent @jashapiro the new seg file - will update that, consensus calls, gistic out, and consensus seg for #432.

[2020-01-24 18:41] tkoganti commented on #245
Hi @jaclyn-taroni and @jharenza!

There are 93 ependymoma samples in total(from `pbta-histologies.tsv` file) and the `fusion_summary_ependymoma_foi.tsv` file only has 74 samples. These are 19 samples missing from the fusion_ependymoma file. Should I assume the value for these in sample rows would be zero?

BS_0BXY0F9N',
 'BS_0QYS36NR',
 'BS_4FZS7TX4',
 'BS_4SCWT0FX',
 'BS_C80S5N37',
 'BS_EMYET8F4'

[2020-01-24 18:47] jaclyn-taroni commented on #245
@tkoganti can you check if those samples are in the Arriba and STARFusion files? I believe they would need to be in both of the original files to make it to the summary file. If they are not in both, I would consider that data to be missing, rather than the absence of fusions in those samples.

[2020-01-24 19:32] cansavvy commented on #473
@cbethell and I investigated this a bit this afternoon. We feel confident that the the difference here is the CDS versus the exons, however because of how large all these files are we have been having troubles more definitively pin pointing the loss of SMARC because our computers crash locally when we try to run this with `GenomicRanges` in R.

Here's our plan:

- @cbethell is going to do an exper

[2020-01-24 19:41] tkoganti commented on #245
I checked a few samples and they are present in both `pbta-fusion-starfusion.tsv.gz` and `pbta-fusion-arriba.tsv.gz`. Should I use those files as input then?

[2020-01-24 19:48] jaclyn-taroni commented on #245
Can you file a data issue please @tkoganti and describe what you found? We should dig into if there’s an issue with the fusion summary file. I _suspect_ what happened is that these samples are not represented in the putative oncogenic file — i.e., the have 0 fusions that meet the filtering criteria — so it’s the equivalent of having a zero for EPN-relevant fusions if my suspicions are correct.

[2020-01-24 20:07] tkoganti opened #477 "Missing ependymoma samples in fusion summary file"
#### What data file(s) does this issue pertain to?
fusion summary file for ependymoma

#### What release are you using?

v13

#### Put your question or report your issue here.
There are 93 samples labelled as ependymoma in `pbta-histologies.tsv` file. But only found 74 matching samples in `analyses/fusion_summary/results/fusion_summary_ependymoma_foi.tsv`.
19 missing samples  here, check if these

[2020-01-24 20:10] tkoganti commented on #474
I will be working on this after the subtyping ticket

[2020-01-25 19:17] #438 closed

[2020-01-27 15:02] jaclyn-taroni commented on #394
Because GISTIC is run on the whole cohort and therefore I expect the q-values in that table also reflect the entire cohort, I think you may want to use the output of `focal-cn-file-preparation` to essentially count how often an alteration occurs: 1) within a histology/subtype/<your favorite category here> 2) across the cohort - you can maybe plan to cross reference the results from number 2 with t

[2020-01-27 23:22] #477 closed

[2020-01-27 23:28] jaclyn-taroni commented on #245
Hi @tkoganti, now that #478 is merged, if you update the branch you are working on to be in sync with this master branch (see [the command line instructions here](https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/CONTRIBUTING.md#updating-your-out-of-date-branch)) you can use the `analyses/fusion-summary/results/fusion_summary_ependymoma_foi.tsv` for this instead of the file in `data`.

[2020-01-27 23:32] jaclyn-taroni commented on #432
New fusion summary files as of #478: https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/master/analyses/fusion-summary/results

[2020-01-28 14:49] jharenza commented on #474
@jaclyn-taroni and @tkoganti I just fixed this and will add to #432

[2020-01-28 14:59] jharenza commented on #432
@cansavvy I can download the zip file, but not the first two - getting access denied.

[2020-01-28 15:06] jharenza commented on #432
Note to self for which have been uploaded to CAVATICA:
- [x] `consensus_snv_tmb_coding_only.tsv`
- [ ] `intersect_cds_lancet_WXS.bed`
- [ ] `intersect_cds_lancet_strelka_mutect_WGS.bed`

[2020-01-28 15:14] jharenza commented on #453
Using [this](https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/analyses/copy_number_consensus_call/results/pbta-cnv-consensus.seg) seg file, we still have overlapping segments.

[code]

[2020-01-28 15:21] cansavvy commented on #432
Sorry about that @jharenza, apparently after I updated them I didn't realize they wouldn't be public access unless I set it that way. I've set them both to public. You should be good.

[2020-01-28 15:23] jharenza commented on #432
all good, thanks @cansavvy !

[2020-01-28 15:28] jashapiro commented on #453
I was wrong in thinking the version in master was correct at this point. I had actually not updated the files, as at the time I didn't want a v14 based file in the master branch. The current version is attached here. If it works, I will update the master branch.

[pbta-cnv-consensus.seg.gz](https://github.com/AlexsLemonade/OpenPBTA-analysis/files/4123124/pbta-cnv-consensus.seg.gz)

[2020-01-28 16:38] jashapiro commented on #432
I'm going to suggest that `cnv-consensus.tsv` be removed from the data download. It is present in `copy_number_consensus_call/results` and I don't expect much use of it, now that `pbta-cnv-consensus.seg.gz` is available. (I also suggest using the `.gz` file for the download as it is much smaller!)

[2020-01-28 16:38] jharenza commented on #453
This file ran successfully. GISTIC results below, and will include in #432

[2019-01-28-consensus-cnv.zip](https://github.com/AlexsLemonade/OpenPBTA-analysis/files/4123481/2019-01-28-consensus-cnv.zip)

[2020-01-28 17:03] cansavvy opened #481 "Updated analysis: Use TCGA SNV consensus calls to get mutational signatures"
#### What analysis module should be updated and why?
[`mutational-signatures`](https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/master/analyses/mutational-signatures)

#### Why should the module be updated?
We now have TCGA SNV caller data and will soon have TCGA consensus calls (#257) that were gotten through the same way our PBTA consensus calls were.

#### What changes need to be made? P

[2020-01-28 17:11] jharenza commented on #431
Per our conversation about subjectiveness of germline filtering and potential to miss/over-assign pathogenicity of _TP53_ variants when they are of uncertain significance, @jaclyn-taroni and I decided we should close this ticket, as well as #378 and #451.

[2020-01-28 17:11] #431 closed

[2020-01-28 17:12] jharenza commented on #247
Per our conversation about subjectiveness of germline filtering and potential to miss/over-assign pathogenicity of _TP53_ variants when they are of uncertain significance, @jaclyn-taroni and I decided we should close this ticket (see #431).

[2020-01-28 17:12] #247 closed

[2020-01-28 17:15] jharenza commented on #451
@yangyangclover - Per our conversation about subjectiveness of germline filtering and potential to miss/over-assign pathogenicity of _TP53_ variants when they are of uncertain significance, @jaclyn-taroni and I decided to not filter/release the germline data with our lack of expertise in this area. I think in your analysis, you can instead use the mutational signatures and look for mutational sign

[2020-01-28 17:15] #451 closed

[2020-01-28 17:46] cansavvy opened #483 "TCGA Mutect2 and Strelka2 file appear to be identical?"
#### What data file(s) does this issue pertain to?
`pbta-tcga-snv-mutect2.vep.maf.gz` and `pbta-tcga-snv-strelka2.vep.maf.gz`

#### What release are you using?
release-v13-20200116

#### Put your question or report your issue here.
Both have exactly 38296 number of mutation calls (number of rows) and the following prints out `TRUE`:
[code]
Is there something I'm missing? Or did these file accident

[2020-01-28 17:55] cansavvy commented on #483
I deleted the files and their redirects and re-ran `bash download-data.sh` and retried the above and am still getting `TRUE`? But the `md5sum.txt` file does show they are different.
[code]

[2020-01-28 18:04] cansavvy commented on #483
In Terminal, `diff pbta-tcga-snv-mutect2.vep.maf.gz pbta-tcga-snv-strelka2.vep.maf.gz` doesn't spit back anything, but as a positive control, I tried  `diff pbta-tcga-snv-lancet.vep.maf.gz pbta-tcga-snv-strelka2.vep.maf.gz` and it showed me all the lines that were different.

[2020-01-28 18:08] jharenza commented on #432
Not going to include germline data in this release. See #451 #431 .

[2020-01-28 18:18] yuankunzhu commented on #483
@cansavvy i think we might have merged the same content for those two files. @tkoganti is checking and re-do it now. But a quick ls looks like those two files has a 1-byte file size off?
[code]
that would explain the md5 difference, but with exactly same mutation content. sorry for the confusion, we will fix this in a new release.

[2020-01-28 19:15] tkoganti commented on #483
Hi @cansavvy I used strelka files for mutect by mistake. Sorry about that. I uploaded new  strelka and mutect2 under V14 folder here -
https://cavatica.sbgenomics.com/u/cavatica/pbta/files/#q?path=processed-data-merge%2FV14-data&search=pbta-tcga

mutect2 file is 3.3Mb and strelka is 8.4Mb (file size for new maf.gz files )

[2020-01-28 19:24] cansavvy commented on #483
@tkoganti , this seems to be telling me I don't have access to the link you posted?

[2020-01-28 19:27] cansavvy commented on #483
Also, the files before were 8.8Mb, but now neither file is that size?

[2020-01-28 19:35] tkoganti commented on #483
Both the new and old files have a file size of 8.4 Mb (8,805,610 bytes)

I did not realize you did not have access to cavatica. These files are in a staging area currently and we will let you know when they are released.

[2020-01-28 20:42] jharenza commented on #483
@cansavvy if you have a CAVATICA username, we can add you to the project so you can preview the files. @tkoganti I am seeing that the Mutect2 gzipped maf is 3.3 MB and the Strelka2 gzipped maf is 8.4 MB - is this correct, or should Mutect2 be larger, as alluded to above?

[2020-01-28 21:26] tkoganti commented on #483
@jharenza - See below for file sizes -

new and old strelka gzipped maf files - ~8.4M
old mutect file - ~8.4M (This was an error)
New mutect file - ~3.3M

[2020-01-28 23:05] jharenza commented on #432
@jashapiro - are we using `cnv-consensus.tsv` for any current analyses? Eg - gain/loss info, or is that all being derived from GISTIC at this point?

[2020-01-28 23:16] jaclyn-taroni commented on #432
@jharenza there's a module for mapping status to gene symbols, cytobands, etc. [`focal-cn-file-preparation`](https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/master/analyses/focal-cn-file-preparation). It is being updated to use the _consensus SEG file_ in #479.

[2020-01-28 23:17] #473 closed

[2020-01-29 13:36] jharenza commented on #244
Even using the minimal set of genes, the subtyping is not clear-cut based on these genes' expression, and after discussing with @jaclyn-taroni, I think it would be a better approach to develop a classifier for ATRT subtyping, similar to what we was done for MB [here](https://github.com/d3b-center/medullo-classifier-package). Since this may not make it into the first submission of the paper, I will

[2020-01-29 13:36] #244 closed

[2020-01-29 13:45] jaclyn-taroni opened #486 "Discussion: possible improvements for copy number processing / analyses"
We at the CCDL have been thinking quite a bit about the copy number data this sprint (#479 #485 #480 #482 #463 #467 #476). Here I want to document some potential improvements that have come up during various discussions. I don't know if anything here will rise to the level of "must-have" and it may also be more appropriate to split individual notes/points into their own, more fleshed out tickets.

[2020-01-29 15:48] tkoganti commented on #245
@jharenza I am not finding `ARLD4` in the gene expression file and also in HGNC. Is there an alias I should be using?

[2020-01-29 16:17] jaclyn-taroni commented on #245
Maybe: https://www.genecards.org/cgi-bin/carddisp.pl?gene=ARL4D&keywords=ARL4D ?

[2020-01-29 16:55] jharenza commented on #245
AHhh, yes, it is `ARL4D`  from this publication https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5867234/, Supp Figure 1. Sorry about that!

[2020-01-30 13:13] cansavvy commented on #394
So do we want genes that are included in broad arm changes to be included in these results or should be they be included with some sort of asterisk?

[2020-01-30 13:37] cansavvy opened #487 "Updated analysis: Chromosomal Instability Tweaks"
#### What analysis module should be updated and why?
`chromosomal-instability` has some open issues that need to be addressed in a particular order. Originally discussed on #394 This issue and #488 are the remaining issues from the #394 ticket.

#### Why should the module be updated?
Now that the consensus CNV file and its associated BED files are ready and annotated (#467 and #480 and etc)

####

[2020-01-30 13:53] cansavvy opened #488 "Updated analysis: Recurrently Altered Genes CNV and SV data"
## What analysis module should be updated and why?
This needs to be added on to `chromosomal-instability`. Originally discussed on . #394
This issue and #487 are the remaining issues from the #394 ticket.

#### Why should the module be updated?
This analysis will be used to determine what genes should be displayed on the Oncoprint.

#### What changes need to be made? Please provide enough detail f

[2020-01-30 14:09] cansavvy commented on #394
The remaining aspects of this issue have been moved to their own places #488 #487

[2020-01-30 14:11] #394 closed

[2020-01-30 19:49] natemella commented on #448
We are actively working on this. Do we need to update status with this anywhere?

[2020-01-30 20:42] jaclyn-taroni commented on #448
Hi @natemella - if you have an idea of when you expect to file a first pull request, posting that timeline can help us plan out the review workload. You should also feel free to comment here with interim results if you'd like to discuss!

[2020-01-30 21:24] jashapiro commented on #432
@jharenza before finalizing `gistic-results-consensus.zip` can you check that the base folder enclosed has the same name? The current `pbta-cnv-cnvkit-gistic.zip` has a base folder named `2019-12-10-gistic-results-cnvkit` which is confusing and seems like a recipe for broken code on updates.

[2020-01-30 21:51] jharenza commented on #432
@jashapiro yep! i attached the files here with dates to keep track of a version since we were running them a few times, but was planning to name them similar to the current naming scheme:
`pbta-cnv-cnvkit-gistic.zip`
`pbta-cnv-consensus-gistic.zip`
Does that work?

[2020-01-30 21:53] jashapiro commented on #432
Yes, that is fine. It was just surprising to me that when the unzipped the folder name was not the same as the zip file.

[2020-01-30 21:56] jharenza commented on #432
Ahh, I see what you're saying - yep, will fix both of those to be generic without dates.

[2020-01-30 22:35] jharenza opened #491 "Updated analysis: run GISTIC with new CNVkit seg file"
#### What data file(s) does this issue pertain to?

pbta-cnv-cnvkit-gistic.zip

#### What release are you using?

v13

#### Put your question or report your issue here.
Per #472, we are adding the missing sample to the v14 cnvkit seg file, which also means gistic for cnvkit has to be rerun, so I will also add this to the v14 release (#432)

[2020-02-02 17:28] jaclyn-taroni commented on #251
Closed via #458 - the subtype labels will need to go into a data release.

[2020-02-02 17:28] #251 closed

[2020-02-02 17:31] jaclyn-taroni commented on #455
I believe the remaining items were addressed throughout review of the subtyping tickets. `sex-prediction-from-RNASeq` is blocked by #474 and then next data release.

[2020-02-02 17:31] #455 closed

[2020-02-02 17:40] jaclyn-taroni commented on #250
Per this discussion https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/475/files#r371877081 - what's left here is to evaluate the poorly differentiated calls in light of how the expression levels look overall (#387) and to have a domain expert weigh in.

[2020-02-02 20:46] jaclyn-taroni opened #496 "Update CI subset files for v14"
Depends on #432 - because the germline data is not going to be included in this release, I don't anticipate many changes to the `create-subset-files` code.

[2020-02-02 21:17] jaclyn-taroni opened #497 "Updated analysis: generate cytoband copy number status file for consumption"
Related to the open draft pull request #485 and #186

#### What analysis module should be updated and why?

The annotated output of `focal-cn-file-preparation` (e.g., the contents of [`results`](https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/c2ec68909df4480580de91cdff3b2a0018208343/analyses/focal-cn-file-preparation/results)) contains some information about cytobands. Specifically, the ra

[2020-02-02 21:18] jaclyn-taroni commented on #186
Closing this - what's left is now tracked in #497 and #485.

[2020-02-02 21:18] #186 closed

[2020-02-02 21:39] jaclyn-taroni opened #499 "Updated analysis: Do HGAT samples with BRAF V600E mutations cluster with LGAT samples?"
#### What analysis module should be updated and why?

Context is https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/435#discussion_r373808742

During the course of the HGAT subtyping effort (#249), we identified tumor samples that were originally labeled as HGAT, had no defining histone mutations, and had _BRAF_ V600E mutations.

#### What changes need to be made? Please provide enough detail

[2020-02-02 21:46] jaclyn-taroni commented on #84
Now that this module has a README as of #404, I believe this issue can be closed and if we decide to make changes, we can file a new `Update an analysis` issue. Thanks for all your hard work @bill-amadio, congrats!

[2020-02-02 21:46] #84 closed

[2020-02-03 00:15] jaclyn-taroni opened #500 "Updated analysis: rerun sex prediction from RNA-seq with v14 data"
#### What analysis module should be updated and why?

Running the `sex-prediction-from-RNA-seq` module with the v13 kallisto data lead to the loss of feature names due to #474.

#### What changes need to be made? Please provide enough detail for another participant to make the update.

I believe should be a matter of downloading v14 data and rerunning:

[code]

#### What input data should be used?

[2020-02-03 13:44] bill-amadio commented on #84
@jaclyn-taroni It was my pleasure.  Thank you for the opportunity and for all your help.

[2020-02-03 13:47] jaclyn-taroni opened #501 "Updated analysis: CNVkit consensus calls when tumor_ploidy > 2"
Splitting up the discussion ticket https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/486 into more focused tickets

#### What analysis module should be updated and why?

From #486

[code]

In [`focal-cn-preparation`](https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/master/analyses/focal-cn-file-preparation), we process SEG files (e.g., CNVkit, consensus) using the `tumor_ploidy` inf

[2020-02-03 14:28] jaclyn-taroni opened #502 "Updated analysis: "more nuanced" copy number calls"
Splitting up #486 into more focused tickets

#### What analysis module should be updated and why?

#### What changes need to be made? Please provide enough detail for another participant to make the update.

_Should_ we try to make more nuanced/detailed copy number calls using the (consensus) `seg.mean` values? From @jharenza on https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/182#discussio

[2020-02-03 15:09] jharenza commented on #432
Hi @cansavvy and @jaclyn-taroni - these files have changed names since the last release - do you want me to change to what is current or keep named how we had them?
New file and name for `intersect_exon_lancet_strelka_mutect_WGS.bed` -> `intersect_cds_lancet_strelka_mutect_WGS.bed`

No new file, keep old name? `intersect_exon_WXS.bed`
No new file, keep old name? `intersect_strelka_mutect_WGS.bed`

[2020-02-03 15:12] cansavvy opened #503 "AnnotSV output data and getting translocation coordinates"
#### What data file(s) does this issue pertain to?
pbta-sv-manta.tsv.gz

#### What release are you using?
v13

#### Put your question or report your issue here.

Related to #484 Circos plotting.

I've been trying to find where both sets of coordinates for translocations are for plotting purposes but it seems like I've only been able to find single base breakpoints. I have been able to get the pair

[2020-02-03 15:13] jharenza commented on #503
Going to loop in @kgaonkar6, since she worked on this previously - she will be back in later today.

[2020-02-03 15:14] cansavvy commented on #432
Yes, this is correct. I will change the code to get rid of the underscores for future releases. `intersect_exon_WXS.bed` although it didn't change, I would still change the filename to better reflect its contents. (I mistakenly called it `exon` in its filename originally, but it really is based on coding sequences.)

[2020-02-03 15:15] jharenza commented on #432
So for that one, should it be `intersect_exon_WXS.bed` -> `intersect_cds_WXS.bed`?

[2020-02-03 15:16] jaclyn-taroni commented on #432
Can we change the new file `pbta-snv-consensus_snv_tmb_coding_only.tsv` to use underscores `pbta-snv-consensus-mutation-tmb-coding.tsv` so we don't have breaking changes please?

[2020-02-03 15:19] jharenza commented on #432
@jaclyn-taroni do you mean hyphens, use all underscores? Please send the exact name you want :)

[2020-02-03 15:20] jaclyn-taroni commented on #432
Sorry that should have been to _not_ use underscores. The file name should be `pbta-snv-consensus-mutation-tmb-coding.tsv`.

[2020-02-03 15:21] jharenza commented on #432
OK, sure, and get rid of the `only` to keep it as it was?

[2020-02-03 15:21] jaclyn-taroni commented on #432
Correct, I want to keep it as it was to minimize breaking changes.

[2020-02-03 16:09] jashapiro opened #504 "Updated analysis: Backfill seg.mean into neutral segments"
#### What analysis module should be updated and why?

This proposed analysis follows discussion in #486  about updating the `copy_number_consensus_call` analysis to backfill `seg.mean` calls from cnvkit into the "neutral" segments that are included in `pbta-cnv-cnvkit.seg.gz` as part of the #476 update. These seg.mean calls may be useful for plotting and for examining calls in situations where the

[2020-02-03 19:08] kgaonkar6 commented on #503
Hi @cansavvy , as much as I know only a set of breakend mates can be matched using the components of the IDs (first 7 as specified here https://github.com/Illumina/manta/blob/master/docs/developerGuide/ID.md) like you've mentioned above. The coordinates can as be identified from the SV_start, SV_end and ALT columns per row.

Also just wanted to mention that the ID column comes from Manta and Annot

[2020-02-03 19:34] cansavvy commented on #503
I've never worked with this kind of data before so I'm trying to figure out how we represent this on a chord diagram and my original thought was that the translocation data upon matching the mates would include 4 points that would be the start and end of the segments translocated, but after rearrangement, all the starts and ends appear to be single bases.

I'm assuming you are referring to `SV.sta

[2020-02-03 20:37] jharenza commented on #432
Also, updating `pbta-histologies.tsv` to include new `molecular_subtype` for #249 and #251 tumors.

[2020-02-04 14:45] cansavvy commented on #432
Sorry, I misunderstood/lost track of this. This file is no longer necessary, the only WXS bed should be `intersect_cds_lancet_WXS.bed`

[2020-02-04 15:29] kgaonkar6 commented on #503
When plotting circos plots I would remove BND lines because of the difficulty in formatting them for circos link plots.

I think this is expected format to not have length or end position format for BND SV type in manta vcf as per vcf 4.1 format in AnnotSV however since the output is bed format it adds the SV.end which is a single basepair apart from SV.start. I am no expert but I think the way SV

[2020-02-04 17:02] cansavvy commented on #8
I believe this issue can be closed now?

[2020-02-04 17:02] #8 closed

[2020-02-04 19:20] jharenza commented on #432
got it, thanks!

[2020-02-04 19:41] jaclyn-taroni opened #509 "Updated analysis: molecular subtyping for cell lines"
#### What analysis module should be updated and why?

We do not currently perform molecular subtyping for cell lines because it requires additional information to map between DNA-seq and RNA-seq samples. This ticket pertains to all molecular subtyping modules, but I only know for certain that it is an issue in the [`molecular-subtyping-HGG`](https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/

[2020-02-04 19:51] cansavvy opened #510 "Updated analysis: Unified color palette for plots"
#### What analysis module should be updated and why?
All modules that have plots with colors.

We should probably prioritize plots that will be in the main document? But we probably want the unified color palette to also extend to non-main figures.

#### What changes need to be made? Please provide enough detail for another participant to make the update.

We should have a unified color palette. T

[2020-02-04 20:58] jaclyn-taroni commented on #249
I am going to close this - what is left of what has been discussed is tracked in #499 and #509 as well was the open PR #466.

[2020-02-04 20:58] #249 closed

[2020-02-04 22:16] cansavvy opened #512 "TCGA Lancet data has only "calls" with t_alt_count = 0 or NA"
#### What data file(s) does this issue pertain to?
The TCGA Lancet data : `pbta-tcga-snv-lancet.vep.maf.gz` of version 14

#### What release are you using?

v14

#### Put your question or report your issue here.
I was confused because Lancet's data for TCGA was not agreeing at all with Mutect or Strelka.
I looked into the VAF distributions and saw Lancet was all zeroes, because `t_alt_count` is on

[2020-02-04 22:42] jharenza commented on #512
Hi @cansavvy - thanks for noticing this - was this also an issue in V13? I am assuming so, since this file should not have changed. I am cc-ing @tkoganti, @migbro, and @yuankunzhu for this.

[2020-02-04 23:44] jaclyn-taroni commented on #512
I can confirm that it was also an issue for v13:
[code]

[2020-02-05 00:38] jharenza commented on #512
Quick spot check on individual MAFs - seems they are all like this, so not a merge/filter issue (no filtering for these). I asked those above to check out the run, as it appears something went wrong there.

[2020-02-05 02:04] jharenza commented on #512
@cansavvy and @jaclyn-taroni it looks like for some reason, all of the lancet tasks were run with the tumor/normal inputs swapped, and the correct IDs were used in VEP/VCF2MAF, and that is why the strange output. @migbro is queueing these up to rerun tonight and I will ask @tkoganti to pick up in the morning. The strelka2/mutect2 MAF runs were run correctly. Thank you again for finding this!

[2020-02-05 13:23] jaclyn-taroni opened #514 "Updated analysis: add more detail to the `molecular-subtyping-embryonal` README"
#### What analysis module should be updated and why?

`analyses/molecular-subtyping-embryonal/README.md` could use more detail about the steps that are documented in the notebook.

#### What changes need to be made? Please provide enough detail for another participant to make the update.

The following should be reviewed and relevant details should be written up in the README:

* The notebooks in

[2020-02-05 16:56] jaclyn-taroni opened #517 "[Discussion] How should we define a recurrent mutation and how do our mutation results compare to the literature?"
There are a number of ways to define or identify _recurrent_ mutations. The purpose of this issue is to discuss how to define a "recurrent mutation" throughout the project, with some acknowledgment that the answer might be "it depends."

My goal is to document some of the things that I've been thinking about or reading recently (which is almost certainly not a complete look at all available litera

[2020-02-05 19:43] jainpayal022 opened #519 "Updated analysis: Immune deconvolution"
#### What analysis module should be updated and why? https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/master/analyses/immune-deconv/plots

#### What changes need to be made? Please provide enough detail for another participant to make the update.
For the correlation plot (CIBERSORT)- update the colors so that text on the deep blue circles are visible
For both the hearmaps, separate the brai

[2020-02-05 20:00] jharenza commented on #432
TCGA lancet file, release notes, and md5 are updated on s3 now.

[2020-02-06 01:21] jharenza commented on #432
I also had to update `pbta-histologies.tsv` - found an inconsistency when I created one sample's new broad histology. Bo will update in the AM.

[2020-02-06 12:33] jaclyn-taroni commented on #517
I was looking more into what functionality `maftools` has in [their documentation](https://bioconductor.org/packages/release/bioc/vignettes/maftools/inst/doc/maftools.html), specifically [**Detecting cancer driver genes based on positional clustering**](https://bioconductor.org/packages/release/bioc/vignettes/maftools/inst/doc/maftools.html#92_detecting_cancer_driver_genes_based_on_positional_clus

[2020-02-06 14:51] jaclyn-taroni opened #522 "Updated analysis: all the places we used the GISTIC results posted on GitHub"
#### What analysis module should be updated and why?

Update all the places we use `2019-01-28-consensus-cnv.zip` downloaded from GitHub to use `pbta-cnv-consensus-gistic.zip` included in the data download

- [ ] https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/319fcddc2b4483962c9d3283a5b65fcd2ef2c846/analyses/cnv-chrom-plot/gistic_plot.Rmd#L52
- [ ] https://github.com/AlexsLemonade/OpenPBT

[2020-02-06 14:58] jharenza commented on #432
@cansavvy and @jaclyn-taroni - this is all ready now and downloads pass. sorry about that!

[2020-02-06 14:59] jaclyn-taroni commented on #432
@jharenza can you post the expected checksum so I can make sure I have what we want to include in testing please?

[2020-02-06 15:00] jharenza commented on #432
[md5sum.txt](https://github.com/AlexsLemonade/OpenPBTA-analysis/files/4165704/md5sum.txt)

[2020-02-06 23:06] jaclyn-taroni opened #527 "CI: Enrich for samples with TP53 and NF1 mutations that are in the stranded dataset"
We need to account for the requirements to successfully run `tp53_nf1_score` when generating files in CI. Specifically - we can skip the poly-A and test only the stranded dataset (https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/523/commits/da8db99b50236d74ed1a5ee9571d152b383f3248) but we have to make sure to do the following:

* Include positive examples in the SNV files (e.g., biospecimen

[2020-02-07 16:09] cbethell commented on #387
In addition to the plots in PR #493, density plots were generated using the consensus SEG autosomes files, annotated in the `focal-cn-file-preparation` module. These plots use z-scored expression values (polyA and stranded expression files are handled separately) to look at the density of copy number calls, specifically looking to validate the losses.

The rendered notebook can be seen [here](http

[2020-02-07 23:38] jaclyn-taroni commented on #522
Closed via #526

[2020-02-07 23:38] #522 closed

[2020-02-08 02:04] jharenza commented on #519
@komalsrathi can you work on these minor updates when you have a chance? Thanks!

[2020-02-08 02:06] jharenza commented on #432
closed via #507

[2020-02-08 02:06] #432 closed

[2020-02-08 02:06] jharenza commented on #491
closed via #507

[2020-02-08 02:06] #491 closed

[2020-02-08 02:06] jharenza commented on #472
closed via #507

[2020-02-08 02:06] #472 closed

[2020-02-08 02:07] jharenza commented on #417
closed via #507

[2020-02-08 02:07] #417 closed

[2020-02-08 02:07] jharenza commented on #512
closed via #507

[2020-02-08 02:07] #512 closed

[2020-02-08 02:07] jharenza commented on #483
closed via #507

[2020-02-08 02:07] #483 closed

[2020-02-08 02:08] jharenza commented on #474
closed via #507

[2020-02-08 02:08] #474 closed

[2020-02-08 02:08] jharenza commented on #453
closed via #507

[2020-02-08 02:08] #453 closed

[2020-02-08 11:19] jaclyn-taroni commented on #496
Closed via #515; additional requirements tracked in #527.

[2020-02-08 11:19] #496 closed

[2020-02-10 02:27] komalsrathi commented on #519
@jharenza sure

[2020-02-10 14:53] jaclyn-taroni opened #529 "Add MATLAB Runtime and the relevant MATLAB programs to project Docker container"
We currently run GISTIC upstream of the project. It would be great to include the GISTIC steps in the project repository, as that would give us a better opportunity to document and encapsulate the entire CNA _analysis file_ pipeline and give us more flexibility for how GISTIC is run (e.g., on individual histologies with larger sample sizes, different parameters for a broad change) if desired. Nota

[2020-02-10 15:02] kgaonkar6 opened #530 "Updated analysis: Update kinase reference gene list for fusion filtering"
#### What analysis module should be updated and why?
Kinase reference list from http://kinase.com/human/kinome/tables/ needs to be updated.

#### What changes need to be made? Please provide enough detail for another participant to make the update.
This will be updated using Kinase domain location form pfam (http://hgdownload.soe.ucsc.edu/goldenPath/hg38/database/ucscGenePfam.txt.gz) overlapped wi

[2020-02-10 15:23] jaclyn-taroni commented on #529
I am going to look into this today.

[2020-02-10 16:14] cbethell commented on #499
I am going to begin the work on this ticket today.

[2020-02-11 14:35] #527 closed

[2020-02-11 15:18] cansavvy commented on #397
Some [circos plotting functions and examples of how to use them](https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/analyses/chromosomal-instability/01b-visualization-cnv-sv.Rmd) have been added. What's left for this issue is to decide what we want to be plotted.

[2020-02-11 15:21] cansavvy commented on #503
Thanks for this information, @kgaonkar6 . I think this issue has been resolved since it turned out to be an information gathering issue.

[2020-02-11 15:21] #503 closed

[2020-02-12 15:14] cansavvy opened #533 "Updated analysis: CNV seg.mean heatmap"
#### What analysis module should be updated and why?
`chromosomal-instability` or `cnv-consensus`?

#### What changes need to be made? Please provide enough detail for another participant to make the update.
Need to make a heatmap that shows the samples' seg.means or copy numbers

#### What input data should be used? Which data were used in the version being updated?
pbta-cnv-consensus.seg.gz
pbta

[2020-02-12 17:38] jaclyn-taroni commented on #529
@jharenza - relevant to this issue but also more generally - what is the markers file used here: https://github.com/d3b-center/OpenPBTA-workflows/blob/cb87a2b725d0e41d34a88436492830802c40f7f0/bash/run-gistic.sh#L16

[2020-02-12 17:40] jaclyn-taroni commented on #529
It seems like it might be optional?

[2020-02-12 17:43] cbethell commented on #514
I am going to be working on this ticket.

[2020-02-12 18:26] jharenza commented on #529
@jaclyn-taroni yes- markers are the original SNP markers used in the SNP array, and is optional - the program generates psuedo-markers, so I really should not have that in the command. Same with the array file - optional, that is to list which samples you want to run, rather than creating a seg each time.I had used in the past but never took that out of the command. Interestingly, GISTIC doesn't c

[2020-02-12 18:30] jaclyn-taroni commented on #529
@jharenza can you take a gander at #535? I believe I have all the parameters the same as the other runs with the extra commands removed.

[2020-02-14 13:30] jaclyn-taroni commented on #393
Hi @yangyangclover, based on your [README for `sv-analysis`](https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/analyses/sv-analysis/README.md) and pull requests you've submitted in the past, I expect that you will be adding some plots to this module. It would also be great to address https://github.com/AlexsLemonade/OpenPBTA-manuscript/issues/75 so others have a better understanding o

[2020-02-14 15:40] yangyangclover commented on #393
Hi @jaclyn-taroni , I am glad to add some plots to this module, such as "the percentage of chromothripsis sample across different tumor type", "genome chromothripsis events", or others?

I do have some figures locally and I can send them to you, then you can see what you need, and I can upload the codes and figures.

I hope I can finish the manuscript this week.

[2020-02-14 15:43] jaclyn-taroni commented on #393
Hi @yangyangclover – thanks for the quick reply! It'd be great have you share the plots you have locally. If you zip them up or if the individual plots are PNGs, you are able to drag and drop them into a comment here. Thanks!

[2020-02-14 15:55] yangyangclover commented on #393
**chromothripsis  event in one patient**
![BS_1M63B97V_1_2_4_5_6_7_8_11_15_16_17_18_consensus](https://user-images.githubusercontent.com/7209877/74545833-2ad61b80-4f0f-11ea-90cd-b9ec2c57fb8f.jpeg)

**the percentage of chromothripsis sample across different tumor type**
![image](https://user-images.githubusercontent.com/7209877/74546069-98824780-4f0f-11ea-90de-129d1e1f41ec.png)

**association betwe

[2020-02-14 16:04] komalsrathi commented on #519
@jainpayal022 @jharenza I am slightly wary of this approach as the sample sizes of the non-brain tumors are pretty small - 1 for lymphomas and 5 for histiocytic tumors. I have still submitted a pull request and working on some minor changes that Jaclyn suggested.

[2020-02-17 01:41] jharenza commented on #519
@komalsrathi good catch - I think perhaps then we should remove lymphomas (and perhaps add a minimum N for histologies plotted in such figures). The histiocytic tumors are a good positive control (could possibly go in a supplement).

[2020-02-17 14:48] komalsrathi opened #541 "v14 PBTA Histologies"
#### What data file(s) does this issue pertain to?

pbta-histologies.tsv

#### What release are you using?

v14

#### Put a link to the relevant section of the [OpenPBTA-manuscript](https://github.com/AlexsLemonade/OpenPBTA-manuscript/) here.

#### Put your question or report your issue here.

broad_histology column has `Embryonal Tumor` and `Embryonal tumor` which needs to be standardized.

[2020-02-17 18:26] jharenza commented on #119
Hi @jashapiro ! I came across this with the PCAWG pan-cancer paper releases: https://www.nature.com/articles/s41467-019-13929-1#code-availability ([code](https://github.com/smshuai/DriverPower)). I thought I also saw something mentioning MutSigCV cc @jaclyn-taroni but couldn't find. I wonder if it is worth running this algorithm (after lifting over to hg19) with our consensus calls.

[2020-02-17 19:07] jaclyn-taroni commented on #514
Closed via #538

[2020-02-17 19:07] #514 closed

[2020-02-17 19:10] jaclyn-taroni commented on #119
I think you're thinking of #517 @jharenza

[2020-02-17 19:11] jharenza commented on #119
oh yes, thanks!

[2020-02-17 19:12] jharenza commented on #517
I came across this with the PCAWG pan-cancer paper releases: https://www.nature.com/articles/s41467-019-13929-1#code-availability ([code](https://github.com/smshuai/DriverPower)).

[2020-02-17 23:42] kgaonkar6 opened #543 "Planned release: v15"
#### What data file(s) does this issue pertain to?
Updated fusion files, TCGA MAFs, clinical file

#### What release are you using?

v14

#### Put your question or report your issue here.
Fusion files need to be updated because of updated kinase reference list and old v13 recurrently-fused-genes files in v14

- [x] pbta-fusion-recurrently-fused-genes-byhistology.tsv per [comment](https://github.co

[2020-02-18 12:47] jharenza commented on #543
@jaclyn-taroni should there be any updates to GISTIC/CN files in V15? We are probably looking at another week or so until we can do a release.

[2020-02-18 15:15] cansavvy commented on #543
@jharenza , when you say ` BED file from WXS kit` does that mean using the WXS file: `WXS.hg38.100bp_padded.bed` from the data release?

[2020-02-18 15:20] jaclyn-taroni commented on #543
@jharenza re: GISTIC/CN files - I would recommend that we use the consensus GISTIC file in `master` for consistency's sake: https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/46cf6ccb119312ccae6122ac94c51710df01f6da/analyses/run-gistic/results/pbta-cnv-consensus-gistic.zip

We can also think about distributing the consensus files here: https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/4

[2020-02-18 15:20] jharenza commented on #11
@cansavvy and @jaclyn-taroni - [this](https://twitter.com/serenanikzainal/status/1229463472041123841?s=12) is a recent tweetorial of new twist on mutational signatures.

[2020-02-18 15:24] jharenza commented on #543
@cansavvy no, the BED file from your comment here: https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/521#issuecomment-583053607

(sorry, I updated the comment from @kgaonkar6 to be inclusive for v15)

[2020-02-19 13:31] jaclyn-taroni opened #545 "Install FocalScan on the project Docker image"
I am going to split up #529 into more focused tickets. I am stuck on FocalScan installation (related to #540) and want to record what I've found so far.

FocalScan ([Karlsson and Larsson. _NAR._ 2016.](https://dx.doi.org/10.1093%2Fnar%2Fgkw674))requires `v901` of the MATLAB Compiler Runtime to use the executable ([documentation](https://github.com/jowkar/focalscan/tree/86808b5e03fb240eb8543a63216a

[2020-02-19 13:46] jaclyn-taroni opened #546 "Install MutSigCV on the project Docker image"
Splitting up #529 into more focused tickets. This is related to #517.

We are interested in trying out MutSigCV for this project. I am recording what I've found so far. Here's where we can download MutSigCV from: https://software.broadinstitute.org/cancer/cga/sites/default/files/data/tools/mutsig/MutSig2CV.tar.gz

MutSigCV requires MATLAB R2013a Runtime to be installed, which we can probably insta

[2020-02-19 13:51] jaclyn-taroni commented on #529
Closing this – the GISTIC portion was addressed in #535 and anything else we've considered adding (so far) is subsumed by #545 and #546.

[2020-02-19 13:52] #529 closed

[2020-02-19 13:59] jaclyn-taroni commented on #546
This is beyond the scope of this particular ticket but MutSigCV related things that I also found that could be helpful (with minimal commentary): I happened upon [this Biostars thread](https://www.biostars.org/p/164608/) and one of the answers mentioned [CovGen](https://github.com/tgen/CovGen) and the CovGen docs state:

[2020-02-19 14:00] jaclyn-taroni commented on #530
Closed via #539. The update of these files in a data release is tracked in #543.

[2020-02-19 14:00] #530 closed

[2020-02-19 17:11] cbethell opened #547 "Proposed Analysis: comparison of GISTIC results (specific histology versus entire cohort)"
#### What are the scientific goals of the analysis?

To determine whether or not the GISTIC results are in agreement when we compare those of a specific histology to those of the entire PBTA cohort.

For context, we found that there are some histologies in the PBTA cohort that contain more samples than others (ie. LGAT). This means that histologies with higher n samples may be driving the results

[2020-02-20 18:47] jharenza commented on #543
@adamcresnick suggests we change `disease_type_old` and `disease_type_new` to not sound so much like right/wrong/QC, but to reflect all information: `pathology_diagnosis`  and `integrated_diagnosis`, so will update with v15

[2020-02-20 19:29] hbeale opened #550 "Proposed Analysis: Flag RNA-seq samples with substantially different read-type composition"
#### What are the scientific goals of the analysis?

Identify samples that substantially differ in read-type composition in order to allow  any other analyses of the RNA-Seq expression to identify results that are potentially based on technical artifacts

#### What methods do you plan to use to accomplish the scientific goals?

Catalog unmapped reads, multi-mapped reads, duplicate reads and exonic

[2020-02-20 19:30] natemella commented on #448
Okay, this week I have finished up the analysis. Sorry for the lack of responses lately. Here's the time line for the remaining work:

1) Feb 20th, upload graphs and brief interpretation of results
2) Feb 22nd, upload robust interpretation of results, along with the methods.
3) Feb 24th, (assuming that we are in agreement with the results, the methods, and the interpretation) submit a pull request

[2020-02-20 20:03] jaclyn-taroni commented on #550
Hi @hbeale - I've updated the issue title, please feel free to edit if it's not quite right!

[2020-02-20 21:31] cansavvy opened #551 "Proposed Analysis: PCAWG WGS Brain samples to run through SNV caller pipeline"
#### What are the scientific goals of the analysis?
Following [Grobner et al, 2019](https://www.nature.com/articles/nature25480) we want to compare tumor mutation burden in our pediatric cohort with adult brain tumors.

This is a continuation of the goals of #257 and #481  that was originally to be used with TCGA data. However, upon running the TCGA data through the pipelines, we have encountered

[2020-02-20 21:52] cansavvy commented on #551
@migbro @jharenza @tkoganti

[2020-02-20 23:08] jharenza commented on #551
@yuankunzhu

[2020-02-21 07:08] natemella commented on #448
Here's how I broke up the analysis:

I tested for batch effects in three different areas:
1) Batch = Sequencing Center
2) Batch = Cohort
3) Batch = polyA vs Stranded

Within each of theses analysis I looked at the rsem and kallisto files

Within each rsem and kallisto file, I looked at polyA files and stranded files

**The null hypothesis is that there are no batch effects in the data**

**RESULTS

[2020-02-21 14:03] kgaonkar6 opened #552 "Updated analysis: Fusion Filtering"
#### What analysis module should be updated and why?
1) During project specific filtering I mistakenly removed "other" fusions while filtering on column Fusion_Type for putative-oncogene fusion list.
2) There is also a spelling mistake in the run_script
3) IGH-@,IGH@ , IGL-@ and IGL@ need to be added to reference list as oncogenic genes.

#### What changes need to be made? Please provide enough de

[2020-02-21 14:07] jaclyn-taroni commented on #552
We should keep an eye on if this changes the output of `fusion-summary` (my intuition suggests not, but I'm not sure) and if so, those changes will need to get propagated to: 1) the data download 2) `molecular-subtyping-embryonal` 3) `molecular-subtyping-EPN`

[2020-02-21 15:45] kgaonkar6 commented on #552
I looked into ^, I reran the fusion-summary analysis and the files seem to be unchanged.

`md5sum data/fusion_summary_embryonal_foi.tsv `
dd9970e8d64ce7665c6c3983d8d34e98  data/fusion_summary_embryonal_foi.tsv
`md5sum analyses/fusion-summary/results/fusion_summary_embryonal_foi.tsv `
dd9970e8d64ce7665c6c3983d8d34e98  analyses/fusion-summary/results/fusion_summary_embryonal_foi.tsv

`md5sum data/fu

[2020-02-21 15:46] jaclyn-taroni commented on #552
Thanks for checking that out @kgaonkar6, looking at your PR (#553) now!

[2020-02-21 18:29] jaclyn-taroni commented on #499
Closed via #534

[2020-02-21 18:29] #499 closed

[2020-02-21 18:54] jaclyn-taroni commented on #552
Closed via #553

[2020-02-21 18:54] #552 closed

[2020-02-21 19:10] jharenza commented on #543
@yuankunzhu fyi for next release

[2020-02-21 19:18] jaclyn-taroni commented on #448
Thanks for this analysis and posting your update @natemella! I would suggest that you submit your pull request at the same time that you write up the methods and interpretation of results. Our pull request template (which you can view [here](https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/.github/PULL_REQUEST_TEMPLATE.md)) is designed to help with reporting methods and results. It i

[2020-02-23 23:21] yuankunzhu commented on #551
@cansavv @jharenza, the requested query contains data hosted on both EGA and PDC, for now, we only have access to PDC which is 110 BAMs from 60 donors (_do we know why the total number is not 120 btw?_). We can start downloading and looking at those first. And we probably need someone to submit the [EGA request](https://docs.icgc.org/pcawg/data/#download-from-ega). Do we know what's those subjects

[2020-02-24 15:28] jharenza commented on #551
@yuankunzhu do you have the breakdown of cancer types for the 110 BAMs from 60 donors?

@cansavvy @jaclyn-taroni @cgreene  - I can make a request for this data, but I am currently held up with our contracts office in approving an ICGC DACO for another project and don't have a clear idea of how long this will take. Looks like no one at CHOP has [ICGC access](https://icgc.org/daco/approved-projects)

[2020-02-24 20:09] yuankunzhu commented on #551
@jharenza I can't find the detailed cancer types for those samples. the only thing i can find from the query are their originated projects. looks like they have TCGA-LGG and GBM there?

[2020-02-25 00:50] natemella commented on #448
Hi @jaclyn-taroni. I'm still working on getting everything ready for the pull request. Thank you for sending the template.

To answer your question regarding confounding variables, I have not explicitly checked to see if the batches correlate with diseases or histologies. With the tool I'm using (batchqc), I can check to see how well certain covariates correlate with batches. A correlation should

[2020-02-25 13:37] jharenza commented on #3
@cansavvy @jaclyn-taroni @jashapiro @yuankunzhu - commenting on this issue for some additional background I found, from one of the earlier papers that identified an association with _PMS2_ mutations and hypermutation:

**Analysis of 100,000 human cancer genomes reveals the landscape of tumor mutational burden**
Chalmers ZR, Connelly CF, Fabrizio D, Gay L, Ali SM, Ennis R, et al. Analysis of 100,00

[2020-02-25 13:42] jharenza commented on #3
For the [PPTC PDX paper](http://bit.ly/pdx-genomics), we had removed germline variants by way of a panel of normals, since we had tumor-only samples. However, we do mention in the paper that our TMBs are a bit higher because we likely did not remove all of the germline variants in that regard. In OpenPBTA, we should be removing these with the paired normal, but I also wonder if more are coming thr

[2020-02-25 14:31] jaclyn-taroni commented on #3
@jharenza file a new issue that uses either the proposed analysis or updated analysis template and link to this one please. The additional structure in those templates has proved to be helpful.

[2020-02-25 14:31] #3 closed

[2020-02-25 14:33] jharenza commented on #3
ok sure - saw it was the one referenced in the PR, so I plopped that info here. I can create a new one :)

[2020-02-25 14:39] jharenza opened #556 "Updated analysis: PBTA vs TCGA TMB analysis"
#### What analysis module should be updated and why?
PBTA vs TCGA TMB analysis In the works by @cansavvy #548 based on #551 and/or #257

#### What changes need to be made? Please provide enough detail for another participant to make the update.
We are seeing higher TMB in pediatric vs adult cancers and suspect variant calling behavior in WXS with lancet, which is complicating results.

#### What i

[2020-02-26 17:48] cbethell opened #560 "Proposed Analysis: GISTIC vs. focal-cn-file-preparation comparison"
#### What are the scientific goals of the analysis?

The scientific goal of the analysis is to gather evidence needed to validate whether or not the way we handle the copy number data in this project is reasonable and the best possible way in which we could handle it.

To do this, we compare our calls to GISTIC's calls. More specifically, we want to compare the GISTIC gene level status calls (and

[2020-02-26 18:07] jaclyn-taroni commented on #560
@cbethell can you say a little bit more about what the output you mention in the quote below will look like:

Either a sketch or example markdown table work

[2020-02-26 18:33] cbethell commented on #560
@jaclyn-taroni does the following update to the original comment now seem suffice?

[2020-02-26 18:49] jaclyn-taroni commented on #560
Yep, looks good to me. Thanks for updating!

[2020-02-26 18:58] yuankunzhu commented on #556
@cansavvy we are thinking about this filtering:

[2020-02-26 22:20] jashapiro commented on #509
One particular complication that arises here is that HGG subtyping (see https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/0edfe5f176105c5c3e8590b678f1d9f735341368/analyses/molecular-subtyping-HGG/results/HGG_defining_lesions.tsv) reclassified samples previously labeled as "Brainstem glioma- Diffuse intrinsic pontine glioma", mostly as "Diffuse midline glioma". This means that the only remain

[2020-02-26 23:01] jharenza commented on #509
@jashapiro what do you mean by "odd results when they are"? These should be updated based on the H3 mutations just like the rest of the HGG tumors. Eg: if they have an H3 K28M mutation, they would be deemed diffuse midline glioma with subtype: H3 K28M mutant and if they have the G35 mutation or are wildtype, they would be be deemed "High-grade glioma with subtype H3 G35 or H3 wildtype", such that

[2020-02-26 23:02] hbeale opened #563 "OK to use non-MRAN packages?"
Is there any restriction on adding packages to the Rstudio docker? I noticed that only libraries in the pinned MRAN repository can be installed without changing the repo manually.  I change the repo manually :)

[2020-02-26 23:10] jashapiro commented on #509
@jharenza I guess I don't mean odd results... just that maybe we can't do this with current data? My main point was that the "Brainstem glioma- Diffuse intrinsic pontine glioma" should probably be removed (soon? next data release?) perhaps before this ticket is complete, as it has potential to cause and/or mask issues with analysis that relies on particular sets of disease types. That was the cont

[2020-02-26 23:16] jaclyn-taroni commented on #563
Hi @hbeale, in general I would say if you can tie things to a specific version (e.g., if you're using `remotes::install_github` in R, you make use `ref = <specific commit>`), then you are welcome to add that package to `Dockerfile`. The MRAN snapshot has generally helpful for transitive R dependencies in my experience. I might be able to give you a better/clearer answer if we get into the specific

[2020-02-27 12:39] jharenza commented on #509
@jashapiro sure, I can add no problem - I think we just want to have this subtyping completed. I did not do it before because I think in going through the first PR for tumor subtyping, @jaclyn-taroni and I had talked about handling cell lines separately. @jaclyn-taroni - thoughts on order of operations here?

[2020-02-27 12:55] jaclyn-taroni commented on #509
What is the timeline for v15 (#543) @jharenza? I think that will inform my answer.

[2020-02-27 13:01] jharenza commented on #509
We can do a v15 release this week if we exclude EPN subtypes (still in progress) and discuss what we want to do with TCGA MAFs (wait on those as well/release our v2 of those while testing WXS params)?

[2020-02-27 13:15] jaclyn-taroni commented on #509
Okay, let's wait to make changes to the histologies file until this is completed (and after v15) and we'll consider this a candidate for our next sprint.

[2020-02-27 13:26] jharenza commented on #543
@jaclyn-taroni - For:

You are talking about these two files, correct?
`
consensus_seg_annotated_cn_autosomes.tsv.gz
consensus_seg_annotated_cn_x_and_y.tsv.gz
`

[2020-02-27 13:28] jaclyn-taroni commented on #543
Yes @jharenza, that's correct.

[2020-02-27 14:57] cansavvy opened #564 "Updated analysis: bedtools creation of bed files for TMB"
#### What analysis module should be updated and why?
@yuankunzhu mentioned that the BED files used for TMB denominators seemed too big.

One issue is that bedtools' intersections when more than two bed files are being intersected do this pairwise. https://bedtools.readthedocs.io/en/latest/content/tools/intersect.html So if A B and C are being intersected, A and B are intersected and then A and C.

[2020-02-27 15:40] yuankunzhu opened #565 "WGS/CDS intersect BED file looks too big"
#### What data file(s) does this issue pertain to?
the WGS intersection bed file, `intersect_cds_lancet_strelka_mutect_WGS.bed`

and the code generated this bed
https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/b1b73fe321a97fa82d85c86d20bd85635aabba25/analyses/snv-callers/run_caller_consensus_analysis.sh#L66-L71

#### What release are you using?

release-v14-20200203

#### Put a link to the

[2020-02-27 16:13] cansavvy commented on #564
Okay, I *think* this will give us more what we need: https://github.com/cansavvy/OpenPBTA-analysis/blob/81a806e376e9040877368ca39fa3ec0808cffaab/analyses/snv-callers/run_caller_consensus_analysis.sh#L52

I've switched to doing intersections one step at a time and then sorts and merges on all BED files. This yields bed sizes that seem more reasonable:
![Screen Shot 2020-02-27 at 11 04 53 AM](https:

[2020-02-27 16:24] yuankunzhu commented on #564
I have also created one for this at #565, but can close that and move the discussion here.

[2020-02-27 16:51] yuankunzhu commented on #564
@cansavvy or can also share your TCGA liftover'd BED? Or you are just using the one from V14: `release-v14-20200203/gencode.v19.basic.exome.hg38liftover.bed`

[2020-02-27 18:49] hbeale commented on #563
Thanks, @jaclyn-taroni.

I looked at the Dockerfile, but I can't build a new image based on the old one. Here's the error I get. It might be due to an expired security certificate, because when I try to visit the URL in chrome, I get a message: "Your connection is not private...NET::ERR_CERT_DATE_INVALID".  I've [posted](https://social.technet.microsoft.com/Forums/en-US/f731d10a-252b-467d-a37c-5b0

[2020-02-27 18:58] jashapiro commented on #563
Well, I just tweeted the expired cert out into the void. We'll see if that gets us anywhere.
https://twitter.com/jashapiro/status/1233103722181472267?s=20

[2020-02-27 18:59] jaclyn-taroni commented on #563
In the interim, have you tried pulling the current image and then adding to the Dockerfile so some of the layers are cached locally?

[2020-02-27 19:00] jaclyn-taroni commented on #563
That will not help if you are adding an R package haha. Don't mind me!

[2020-02-27 19:02] jashapiro commented on #563
First step of success! https://twitter.com/revodavid/status/1233104425553498112?s=20

[2020-02-27 19:33] jharenza commented on #543
Looping in @yuankunzhu and @tkoganti to this thread.

[2020-02-27 21:04] jashapiro commented on #563
And fixed! https://twitter.com/revodavid/status/1233131001901023232?s=21

Try again @hbeale ?

[2020-02-27 21:17] hbeale commented on #563
works for me. Thanks!

[2020-02-27 22:02] hbeale commented on #563
Building the docker still fails (full msg below):
ERROR: dependency ‘BSgenome.Hsapiens.UCSC.hg19’ is not available for package ‘deconstructSigs’

Even though I've pulled the latest image, Docker still wants to build each layer.
Dockerfile
[code]

[code]

[2020-02-27 22:19] jaclyn-taroni commented on #563
Hm, that is strange considering the step right before that installs `BSgenome.Hsapiens.UCSC.hg19`.

https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/b1b73fe321a97fa82d85c86d20bd85635aabba25/Dockerfile#L153

I am wondering if the `BSgenome.Hsapiens.UCSC.hg19` is failing with a _warning_ instead of an error which allows the build to keep on going without success. I may be wrong but [we've run

[2020-02-27 22:21] jaclyn-taroni commented on #563
I'm going to try building locally and see if I'm getting the same thing, too.

[2020-02-27 22:31] jaclyn-taroni commented on #563
I am not seeing an issue with the `deconstructSigs` install locally (starting from `Step 27/66`), so I am curious if raising warnings to errors gives us more information.

[2020-02-27 22:44] jaclyn-taroni commented on #564
Hi @yuankunzhu - this is the BED that is included as part of #562 and I believe is what you are looking for: https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/bd22c5d5e6db700bfb927153eb4cbc5a98547e7f/analyses/snv-callers/ref_files/gencode.v19.basic.exome.hg38liftover.bed

@cansavvy correct me if I'm wrong.

[2020-02-27 23:00] cansavvy commented on #564
Yes. That's the one.

[2020-02-28 00:34] jharenza commented on #543
@jashapiro @jaclyn-taroni do we still want `pbta-cnv-cnvkit-gistic.zip` in the data release since we have consensus? right now, that one was processed on d3b's end, so it points to the bash code in our repo, but since we are replacing `pbta-cnv-consensus-gistic.zip` with the GISTIC in docker here, would you also want to update the cnvkit gistic results if we keep them?

[2020-02-28 13:20] jaclyn-taroni commented on #565
This issue is a duplicate of #564.

[2020-02-28 13:20] #565 closed

[2020-02-28 13:24] jharenza opened #568 "TCGA BED file used for variant calling"
#### What data file(s) does this issue pertain to?
`gencode.v19.basic.exome.hg38liftover.100bp_padded.bed`

#### What release are you using?

V15

#### Put a link to the relevant section of the [OpenPBTA-manuscript](https://github.com/AlexsLemonade/OpenPBTA-manuscript/) here.

#### Put your question or report your issue here.
We had used the file noted by the GDC [here](https://gdc.cancer.gov/abou

[2020-02-28 14:31] yuankunzhu commented on #564
Thanks @jaclyn-taroni @cansavvy. we think that BED file might just be the whole exome region for gencode v19, so are trying to find the right WXS bait kit for the TCGA BAM. we might need to use that and re-calculate the TMB

[2020-02-28 19:40] jaclyn-taroni opened #571 "[Transition plan] Publication-ready figures that don't have publication-ready content"
The CCDL data science team (@cbethell @cansavvy @jashapiro and @jaclyn-taroni) has other commitments that require us to wind down the phase of the project where we are _actively analyzing data_ and move to maintenance and review. We plan to use our next sprint (March 2-13) to make this transition.

Specifically, our goal is to get publication-ready figures added to the manuscript repository  that

[2020-02-28 20:34] jaclyn-taroni opened #572 "Figure panel: GitHub contributions"
As part of the overview figure/Figure 1 of the manuscript, we would like to include panels that contain information about how the process worked on GitHub. Below is a subset of the sketch of Figure 1 in the manuscript repository.

![gh-fig](https://user-images.githubusercontent.com/19534205/75585077-4d078780-5a3f-11ea-958c-02ea3e74e2dd.png)

Some possible metrics to include:
* Lines over time (tri

[2020-02-28 20:55] jaclyn-taroni commented on #572
@davidsmejia is going to take a look at generating flat files for contributions over time + comments on issues/pull requests. The idea is that we will set this up such that we can regenerate the flat files -> figure panel at the time of submission.

[2020-02-28 22:14] jaclyn-taroni commented on #564
@cansavvy was this closed via #566?

[2020-02-28 22:22] cansavvy commented on #564
Yes except I don’t think it’s been merged. And there will be more BED files changes according to #568

[2020-02-28 22:23] #564 closed

[2020-02-28 22:56] jaclyn-taroni opened #574 "Fix v15 breaking changes"
To quote the release notes being added in #569, we're changing the names of well-enough-used columns in the clinical file:

I know this change to `pbta-histologies.tsv` will break a number of things. The purpose of this issue is to track what will need to be changed as a result. Not only will the column names need to be updated, but we will also need to rerun any notebooks, change documentation, e

[2020-02-29 12:37] jaclyn-taroni opened #577 "Intermittent CI failure - R Package Install in molecular-subtyping-ATRT"
The `Molecular Subtyping and Plotting - ATRT` step in CI is failing with:

[code]

When running [`analyses/molecular-subtyping-ATRT/02-ATRT-molecular-subtyping-plotting.R`](https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/286ff25022930024bb9812e3cfad5410a2cf49c8/analyses/molecular-subtyping-ATRT/02-ATRT-molecular-subtyping-plotting.R), the first steps of which look like:

[code]

But simply

[2020-02-29 13:24] jaclyn-taroni opened #578 "Updated analysis: fusion-summary with v15 fusion files and downstream"
#### What analysis module should be updated and why?

`fusion-summary` creates files of fusions of interest from the `pbta-fusion-putative-oncogenic.tsv` file, which is being updated in v15 (#569). The `molecular-subtyping-embryonal` and `molecular-subtyping-EPN` are downstream of the `fusion-summary` module.

#### What changes need to be made? Please provide enough detail for another participant

[2020-02-29 13:28] jaclyn-taroni commented on #578
We also have to keep an eye on the logic for CI in `01-fusion-summary.Rmd`. We may need to take an approach where we enrich for certain fusions in the subset files for CI or include the full `pbta-fusion-putative-oncogenic.tsv`.

[2020-02-29 13:46] jaclyn-taroni opened #579 "Updated analysis: HGG fusion steps"
#### What analysis module should be updated and why?

`molecular-subtyping-HGG` uses fusion data, which is cleaned in `analyses/molecular-subtyping-HGG/05-HGG-molecular-subtyping-fusion.Rmd`. The putative oncogenic fusion file is being updated as part of v15.

#### What changes need to be made? Please provide enough detail for another participant to make the update.

Unclear if we now have `FGFR1-

[2020-02-29 14:54] jaclyn-taroni commented on #577
Except sometimes the packages _are not_ installed:

[code]

https://circleci.com/gh/AlexsLemonade/OpenPBTA-analysis/3453

[2020-02-29 15:31] jaclyn-taroni commented on #577
`ComplexHeatmap` was not installed in the `Dockerfile` and now telomerase activity prediction steps are failing with:
[code]
Wondering if these two packages used to be dependencies of dependencies of packages we installed from GitHub tied to a specific commit but we don't pin things "all the way down" or something like that.

[2020-02-29 15:53] jaclyn-taroni opened #581 "Updated analysis: modules that use output of `focal-cn-file-preparation`"
#### What analysis module should be updated and why?

With v15 of the data release, we are now including the following files from the `focal-cn-file-preparation` module:

[code]

There are several modules that use the files that are committed to the repository (e.g., in `analyses/focal-cn-file-preparation/results`) that should get updated to use the files in `data`.

#### What changes need to be m

[2020-02-29 16:39] jaclyn-taroni commented on #577
Closed via #580

[2020-02-29 16:39] #577 closed

[2020-02-29 17:01] jaclyn-taroni commented on #574
Because of the extent of these breaking changes, I believe it's prudent to handle each module in a separate pull request as stated above. Unfortunately, that means that CI will fail for a bunch of these fixes until the last one goes in. So here is the general procedure I think we should follow:

1. First and foremost, state which module you'll be working on on this issue so we don't duplicate effo

[2020-03-02 14:19] cansavvy commented on #574
So we can keep track of progress on these, I took @jaclyn-taroni 's list above and made it into a checklist. We can claim items and then check things off as we fix them. I'll start by claiming this first item.

- [ ] `gene-set-enrichment-analysis` - @cansavvy

- [ ] `interaction-plots`

- [ ] `molecular-subtyping-embryonal`
 - 01-samples-to-subset.Rmd
 - 04-table-prep.Rmd
 - docs in 02-generate-su

[2020-03-02 14:32] jharenza commented on #519
closed via #536

[2020-03-02 14:32] #519 closed

[2020-03-02 14:33] jharenza commented on #504
closed via #476 and #507

[2020-03-02 14:33] #504 closed

[2020-03-02 17:23] jaclyn-taroni commented on #574
I just realized that the `sv-analysis` failure may simply be due to the fact that I had commented out the first script in that module. So the scope of that fix may be to group those near each other in `.circleci/config.yml` or to add a shell script to that module.

[2020-03-02 17:25] cansavvy commented on #574
Okay. Well I just started  working on it now, I'll see if that's it.

[2020-03-02 17:42] cansavvy commented on #574
@jaclyn-taroni you were right. It is fine if the first script is ran. #587

[2020-03-02 17:45] jaclyn-taroni commented on #574
Okay 👍  - would love to see those organized such that the step that was failing was immediately after the step that it depends on (perhaps after v15 is out out). I think that would have increased the chances I noticed that immediately.

[2020-03-02 17:47] cansavvy commented on #574
I was about to just make this change when I had the branch open but I didn't know if there were particular sequential orders to some of the other tests and didn't want to throw another possible wrench in our testings here. But yeah, we may even want to have a bash script that calls both and make it one CircleCI test.

[2020-03-02 17:50] cansavvy commented on #574
@jaclyn-taroni In regards to `selection-strategy-comparison` and your comment:

I don't know enough about this analysis module to make an informed decision on this. Do we want to retire it though?

[2020-03-02 17:50] jaclyn-taroni commented on #574
@jashapiro - what do you think, time to retire `selection-strategy-comparison` ?

[2020-03-02 18:09] jharenza opened #588 "Update modules at a glance readme"
#### What data file(s) does this issue pertain to?
all data files

#### What release are you using?

NA

#### Put your question or report your issue here.
It was suggested by @allisonheath that we update the [modules at a glance README](https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/analyses/README.md) to add another column to clearly annotate which data is included in the data rel

[2020-03-02 18:31] jashapiro commented on #574
I think it can be deprecated. Will do that now.

[2020-03-02 21:49] jaclyn-taroni commented on #510
Tagging @sjspielman to weigh in about color palette.

[2020-03-02 22:09] jashapiro commented on #574
We did it, everyone!

[2020-03-02 22:09] #574 closed

[2020-03-02 22:13] sjspielman commented on #571
A strategy like this was suggested to me for color palette. Use an existing smaller color palette that is colorblind friendly and reasonable to distinguish, and then have different gradients. This would work out well if we have some kind of _higher level grouping_ for subtypes? https://stackoverflow.com/questions/50163072/different-colors-with-gradient-for-subgroups-on-a-treemap-ggplot2-r/50164882

[2020-03-02 22:14] sjspielman commented on #510
A strategy like this was suggested to me for color palette. Use an existing smaller color palette that is colorblind friendly and reasonable to distinguish, and then have different gradients. This would work out well if we have some kind of _higher level grouping_ for subtypes? https://stackoverflow.com/questions/50163072/different-colors-with-gradient-for-subgroups-on-a-treemap-ggplot2-r/50164882

[2020-03-02 23:46] jaclyn-taroni commented on #510
Wow, that S.O. post makes me want to consider reworking our treemaps in [`sample-distribution-analysis`](https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/661f6441c897cabe9d386d26739aac273dda8bc0/analyses/sample-distribution-analysis), too! (Related to publication-ready figures: #571)

[2020-03-03 00:17] hbeale commented on #563
Whoa, now the whole dockerfile works for me! So exciting. Now I can ask the question I originally thought would be the hard one:

Below are the lines I added to the dockerfile. They include installing tidyr from CRAN so that I can get tidyr 1.0 (The MRAN snapshot version is 0.83).  However, I think you don't want to be pulling code from CRAN. I was unable to install it from github after several tr

[2020-03-03 00:42] jashapiro commented on #510
Okay, this is not exactly what we want, but it was something I did in the past (and mentioned before in person) to generate a lot of colors that are pretty distinguishable. This example has 49 colors, which is definitely pushing it. It could be a place to start.

[code]
![image](https://user-images.githubusercontent.com/20483/75731477-bbf21400-5cbd-11ea-986c-8b90ed06a559.png)

[2020-03-03 01:24] jaclyn-taroni commented on #563
Hi @hbeale, if we were going to update the Docker image to `tidyr 1.0`, we'd do it by bumping the versioned `rocker/tidyverse` image we pull from (#400). Does one of the packages listed above (`janitor`, `patchwork`) rely on `tidyr v1.0`?

[2020-03-03 17:21] hbeale commented on #563
Hi @jaclyn-taroni, No other packages rely on it. I've used commands that were introduced in tidyr v1.0 (e.g. pivot_longer and unnest_wider). I can probably work around that if necessary.

[2020-03-03 17:30] jaclyn-taroni commented on #563
Gotcha! If you don't mind working with other (potentially uglier) solutions and adding some TODOs into your code, so if we do end up tackling #400 and bumping the version of the Docker image we have some notes on what can be improved, I think that's the best path forward for now. If that sounds good, please feel free to close this issue. Thanks for your flexibility!

If you'd like to bounce any id

[2020-03-03 17:37] sjspielman commented on #563
There's a general recommendation [here](https://tidyr.tidyverse.org/articles/in-packages.html#tidyr-v0-8-3---v1-0-0) for dealing with `tidyr` version conflicts - maybe there is somewhere at the top of the pipeline we can pop this code and everything will just fall cleanly into place (said no one ever)

[2020-03-03 18:54] jashapiro commented on #510
Ooh, I just found: http://phrogz.net/css/distinct-colors.html

Which allowed me to generate this set:
<img width="1002" alt="Screenshot 2020-03-03 13 53 27" src="https://user-images.githubusercontent.com/20483/75809199-6158c680-5d56-11ea-84f6-8709ca43daaa.png">
#400000, #ffaa00, #bfffd0, #3370cc, #bf0099, #bf3030, #8c5e00, #005924, #0030b3, #731d4b, #d9a3a3, #f2da79, #2d5950, #001140, #ff0066, #ff

[2020-03-03 18:54] hbeale commented on #563
Great resource. Thanks!

On Tue, Mar 3, 2020 at 9:37 AM Stephanie <notifications@github.com> wrote:

[2020-03-03 20:01] cansavvy opened #594 "Proposed Analysis: CN status heatmap"
#### What are the scientific goals of the analysis?
Create a visualization that can show the CN copy number status across samples.
This would be much like the heatmaps in [chromosomal-instability](https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/analyses/chromosomal-instability/02a-plot-chr-instability-heatmaps.Rmd) except this heatmap would be samples x copy number status across the

[2020-03-04 00:25] jashapiro commented on #568
The investigation of this issues seems to be continuing, according to https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/570#issuecomment-594091210

@tkoganti

While it is good to have this analysis proceeding, I think it would be good if we could keep all of the discussion and analysis in this repository as much as possible. To that end, each of the steps outlined in the readme referenced ab

[2020-03-04 00:41] jharenza commented on #568
Thanks @jashapiro - I think @yuankunzhu and @tkoganti plan to submit 1 and 2 as a new PR tomorrow.

[2020-03-04 01:12] jharenza commented on #551
As an update on this, I am still working with CHOP legal to get this access request documentation approved before I can go back to ICGC to submit the final application. I should know more Thursday.

@yuankunzhu - did you mention that we lost data access to these files?

[2020-03-04 12:42] cansavvy commented on #594
What I need to figure out more specifically is what the unit of columns for this heatmap will be. Do we want:
- each pixel is a cytoband?
- each pixel is a gene?
- each pixel is a particular bin of width of the genome (which requires me to make a summary call for each bin) - this is probably the least easily interpretable idea.

I think cytoband makes the most sense, so I'll go with that unless so

[2020-03-04 15:56] jashapiro opened #598 "Add CrossMap to docker"
#### What are the scientific goals of the analysis?

Processing reference BED files often involves converting between reference versions. To date we have done this offline, but having the capability to do it within analysis will be useful (see #597, for example). SInce it is unclear whether we can install UCSC LiftOver, we will be using [CrossMap](http://crossmap.sourceforge.net/).

#### What meth

[2020-03-04 15:57] cansavvy commented on #594
The pixel is a gene form of this heatmap did not turn out to be useful. After consulting @jaclyn-taroni and @jashapiro , we decided to . move to a window approach where binned portions of the genome are called as a loss, gain or amplification based on the number of bp that are called as each. Will also require a certain (percent of bases?) threshold to avoid calling a whole window as gained/loss i

[2020-03-04 19:25] jaclyn-taroni commented on #231
Context for this comment is https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/595#issuecomment-594773187.

The FLAGS list can be obtained via this link: https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5706417/bin/12920_2017_309_MOESM3_ESM.txt

Here is the (abbreviated) list used in maftools: https://github.com/PoisonAlien/maftools/blob/acef26fa99e2619c4051d7792025e7a16c13b43b/R/summarizeMaf.R#L

[2020-03-04 20:08] jharenza opened #601 "Planned Data Release: V16"
#### What data file(s) does this issue pertain to?
pbta-histologies.tsv
pbta-tcga-manifest.tsv
pbta-tcga-snv-lancet.vep.maf.gz
pbta-tcga-snv-mutect2.vep.maf.gz
pbta-tcga-snv-strelka2.vep.maf.gz

#### What release are you using?

V15

#### Put your question or report your issue here.
- [ ] Updated TCGA MAFs per #568
- [ ] Update TCGA manifest file to include BED file used per sample
- [ ] Add new T

[2020-03-04 20:36] #598 closed

[2020-03-04 20:55] yuankunzhu commented on #551
@jharenza no we still have those data in the bucket, just need the DevOpt team to renew the our access credentials, so that we can access them on cavatica

[2020-03-05 04:21] jaclyn-taroni commented on #578
During #605, I realized that we were not using the fusion summary files included in the data download and fixed that. Before I fixed it, I reran both modules and found that some specimens we had classified as CNS NB-FOXR2 now have _FOXR2_ fusions (_FOXR2_ was overexpressed). We have not yet gotten to the logic/classification of the EPN samples. We are planning on looking at that next week (https:/

[2020-03-05 17:44] jainpayal022 opened #606 "'Brainstem glioma- Diffuse intrinsic pontine glioma' diagnosis based on RNAseq?"
#### What data file(s) does this issue pertain to?
RNAseq data from these samples specifically:
BS_1D6PZNKN
BS_30VC3R2Q
BS_5965SFPZ
BS_6DCSD5Y6
BS_7GJT4A6A
BS_9CA93S6D
BS_B1C6GZ84
BS_F0JB4EAK
BS_G3NN392N
BS_MKM0EEN1
BS_NB9XXBW6
BS_PZVHMSYN
BS_W4DB5RP1
BS_W7MFJZ5A
BS_YDEVMD24

#### What release are you using?

V15

#### Put a link to the relevant section of the [OpenPBTA-manuscript](https://github.

[2020-03-05 17:59] kgaonkar6 commented on #606
Strelka has an experimental mode to call variant calls for transcribed genes here :
https://github.com/Illumina/strelka/blob/master/docs/userGuide/README.md#rna-seq

[2020-03-05 19:57] jharenza opened #607 "Add information about diagnosis changes to histologies file"
#### What data file(s) does this issue pertain to?
pbta-histologies.tsv

#### What release are you using?

V15

#### Put your question or report your issue here.
@adamresnick requests us add information about how the `integrated_diagnosis` was obtained. This is generally in the `Notes` column when it was a change, however, some other aspects are not captured.

Requested info:
1. Whether this was c

[2020-03-05 20:07] jharenza opened #608 "Updated analysis: chordoma subtyping"
#### What analysis module should be updated and why?
We should add the "poorly differentiating" subtype

#### What changes need to be made? Please provide enough detail for another participant to make the update.
We have a data [table](https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/analyses/molecular-subtyping-chordoma/results/chordoma_smarcb1_status.tsv) of SMARCB1 copy number inf

[2020-03-05 20:59] jharenza opened #609 "Proposed Analysis: Investigate integrated diagnosis vs pathology diagnosis"
#### What are the scientific goals of the analysis?
1. To determine via pathology reports, slides, images whether the molecular (`integrated_diagnosis`) was something missed, could be explained by pathology, and/or was not suggested by pathology.
2. To determine whether therapy would have been different given the `integrated_diagnosis`.
3. If 2 is `yes, different`, to investigate clinical outcomes

[2020-03-05 21:07] jvlilly commented on #609
Looping in the PMs

Jena V. Lilly MS CCRC
Director of Operations & Strategic Planning
Center for Data Driven Discovery in Biomedicine
Children’s Brain Tumor Tissue Consortium
The Roberts Center for Pediatric Research
12th floor, 12473
2716 South Street.
Philadelphia, PA 19146
M: (609) 922-1092
lillyj@email.chop.edu<mailto:lillyj@email.chop.edu> ● d3b.center<http://d3b.center/>

[cid:image002.jpg@0

[2020-03-05 21:16] jharenza commented on #541
closed via #569

[2020-03-05 21:16] #541 closed

[2020-03-05 21:17] jharenza commented on #543
closed via #569

[2020-03-05 21:17] #543 closed

[2020-03-05 21:29] jvlilly commented on #551
@stefankies can you work with allison on this^^

[2020-03-05 21:36] jharenza opened #610 "Add cell line composition type to pbta-histologies.tsv"
#### What data file(s) does this issue pertain to?
pbta-histologies.tsv

#### What release are you using?

V15

#### Put your question or report your issue here.
There are sometimes more than two cell lines derived from the same patient tumor. Add a `composition_type` or other column descriptor to describe the manner of growth of these lines. A = adherent, S = suspension. Below are the cell lines

[2020-03-06 14:39] yuankunzhu commented on #551
@jharenza @cansavvy @jvlilly @tkoganti, quick update on this, we got the data bucket access renewed and mounted that to cavatica ready.

[2020-03-06 15:23] jaclyn-taroni commented on #606
If using Strelka with RNA-seq is not a regular part of a pipeline that has been benchmarked, I would consider it to be beyond the scope of the initial version of a manuscript.

[2020-03-06 16:28] jaclyn-taroni commented on #601
Because we made changes to the `pbta-fusion-putative-oncogenic.tsv` with v15, we've had to update the `fusion-summary` files that are included in a release (`fusion_summary_embryonal_foi.tsv` and `fusion_summary_ependymoma_foi.tsv`): https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/516201f91f174c495f6d7964f4a03d6c7c6fb227/analyses/fusion-summary/results

[2020-03-06 18:43] jaclyn-taroni commented on #579
New subset files from v15 were generated as part of fixing v15 breaking changes (#586) where the entire module was rerun. I have revisited the fusions notebook (`analyses/molecular-subtyping-HGG/05-HGG-molecular-subtyping-fusion.Rmd`) and we don't see any additional `FGFR1--` fusions and therefore none of the interpretations change. I am closing this issue.

[2020-03-06 18:43] #579 closed

[2020-03-09 18:28] jaclyn-taroni commented on #250
I am going to call this subsumed by #608.

[2020-03-09 18:28] #250 closed

[2020-03-09 18:30] jaclyn-taroni commented on #4
Closing all planned analysis tickets in favor of opening new proposed analysis tickets as needed.

[2020-03-09 18:30] #4 closed

[2020-03-09 18:30] jaclyn-taroni commented on #6
Closing all planned analysis tickets in favor of opening new proposed analysis/updated analysis tickets as needed.

[2020-03-09 18:30] #6 closed

[2020-03-09 18:30] cansavvy commented on #533
I think we've decided against this and are instead going with a CNV status heatmap, as noted by #594. If so, should we close this issue?

[2020-03-09 18:31] jaclyn-taroni commented on #7
Closing all planned analysis tickets in favor of opening new proposed analysis/updated analysis tickets as needed.

[2020-03-09 18:31] #7 closed

[2020-03-09 18:31] jaclyn-taroni commented on #9
Closing all planned analysis tickets in favor of opening new proposed analysis/updated analysis tickets as needed.

[2020-03-09 18:31] #9 closed

[2020-03-09 18:31] jaclyn-taroni commented on #10
Closing all planned analysis tickets in favor of opening new proposed analysis/updated analysis tickets as needed.

[2020-03-09 18:31] #10 closed

[2020-03-09 18:31] #487 closed

[2020-03-09 18:32] jaclyn-taroni commented on #13
Closing all planned analysis tickets in favor of opening new proposed analysis/updated analysis tickets as needed.

[2020-03-09 18:32] #13 closed

[2020-03-09 18:32] jaclyn-taroni commented on #15
Closing all planned analysis tickets in favor of opening new proposed analysis/updated analysis tickets as needed.

[2020-03-09 18:32] #15 closed

[2020-03-09 18:32] jaclyn-taroni commented on #18
Closing all planned analysis tickets in favor of opening new proposed analysis/updated analysis tickets as needed.

[2020-03-09 18:32] #18 closed

[2020-03-09 18:33] jaclyn-taroni commented on #119
Closing all planned analysis tickets in favor of opening new proposed analysis/updated analysis tickets as needed.

[2020-03-09 18:33] #119 closed

[2020-03-09 18:33] jharenza commented on #245
Upon exploration of fusion data for another analysis @kgaonkar6 and I found that the meningioma sample `BS_23M72ABG` harbors a `YAP1--FAM118B` fusion. Per [this publication](https://www.nature.com/articles/s41467-019-11884-5), this is specific to ST-EPN-YAP1 subtype, so I think we should rework some criteria for this analysis to search the entire cohort for fusions specific to the ST-EPN-YAP1 and

[2020-03-09 18:35] cansavvy commented on #335
I think this is generally covered by the newer TMB CDF plots which are broken up by histology, so this can be closed?

[2020-03-09 18:36] jaclyn-taroni commented on #397
As @cansavvy stated, we have some functionality for generating Circos plots in the [`chromosomal-instability`](https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/master/analyses/chromosomal-instability) module. I am going to close this in favor of opening more specific issues for what, if any, specific plots should be generated.

[2020-03-09 18:36] #397 closed

[2020-03-09 18:36] cansavvy commented on #481
This issue is put on pause due to low sample numbers we have for TCGA currently (https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/257#issuecomment-573094811)  However, since there may be more TCGA samples being added, I'll revisit this issue when those samples are added in the next release #601.

[2020-03-09 18:46] cansavvy commented on #257
I think this issue is covered except for 1) More samples that will be added to the TCGA cohorts in v16 (#601 ) and 2) BED file issues noted here: #568  which I think also will be updated in v16.

[2020-03-09 18:49] jaclyn-taroni commented on #148
Addressed through #494, #506, #511, and #516

[2020-03-09 18:49] #148 closed

[2020-03-09 19:03] jaclyn-taroni commented on #533
Sure, closing this. We can always reopen if need be!

[2020-03-09 19:03] #533 closed

[2020-03-09 19:05] jaclyn-taroni commented on #563
Because you've opened #596 with the current Docker image, I am going to go ahead and close this @hbeale.

[2020-03-09 19:05] #563 closed

[2020-03-09 19:13] jaclyn-taroni commented on #165
Addressed via the linked pull requests. Closing in favor of filing an updated analysis ticket if needed.

[2020-03-09 19:13] #165 closed

[2020-03-09 20:00] #257 closed

[2020-03-10 14:10] jharenza commented on #608
CC @stefankies for coordination

[2020-03-10 14:49] cansavvy commented on #510
@dvenprasad and I chatted a bit about color palettes. Here are the colorsets I believe we need:

1) Color palette for each histology group in `short_histology`.
2) A gradient color scale (for things like TMB).
3) A divergent color scale (for things like seg.means) ...
4) A binary color key (for things like CN status). The most extreme colors in the divergent color scale can be used for this binary

[2020-03-10 17:58] kgaonkar6 opened #620 "Updated analysis: Fusions found in more than 4 histologies in putative oncogene fusion list"
#### What analysis module should be updated and why?
module: fusion_filtering
background:
We had previously implemented filtering in 04-project-specific-filtering.Rmd as a last step to remove potential false calls, for example if fusion reading-frame could not be determined by the callers (Fusion_Type=="other") we removed them if the fusion is a local-rearrangement according to FusionAnnotator we

[2020-03-10 20:26] jharenza opened #623 "Proposed Analysis: Identify CNS Ewing Sarcomas"
#### What are the scientific goals of the analysis?
- Confirm/identify all samples with Ewings Sarcoma hallmark fusions are classified as such in `integrated_diagnosis`.
- Remove `CNS EFT-CIC` from `short_histology` for these samples, as these are distinct tumors with different transcriptional regulation and fusion alterations.

#### What methods do you plan to use to accomplish the scientific goa

[2020-03-10 21:03] jharenza commented on #588
closed with #618

[2020-03-10 21:03] #588 closed

[2020-03-10 21:03] jharenza opened #624 "CNS EFT-CIC removal from pbta-histologies file"
#### What data file(s) does this issue pertain to?
pbta-histologies.tsv

#### What release are you using?

V15

#### Put a link to the relevant section of the [OpenPBTA-manuscript](https://github.com/AlexsLemonade/OpenPBTA-manuscript/) here.
NA

#### Put your question or report your issue here.
Per the newly filed issue and literature in #623, the `short_histology` for `Ewings sarcoma` should not

[2020-03-11 13:11] allisonheath commented on #601
For the v16 release, @baileyckelly and @chris-s-friedman are moving the histology file generation over to a new database workflow to make the manual changes more trackable. We are working on replicating v15 first, expected to be done by the end of this week and then will start working on the new issues noted in the ticket early next. Will update if this changes.

[2020-03-11 13:19] allisonheath commented on #601
And can we go ahead and add https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/624 as well?

[2020-03-11 13:23] jharenza commented on #609
Sent Mariarita and Angela the following files, but they had requested us to write up findings in paragraph form. @adamcresnick to determine who will do this.

[2020-02-28-OpenPBTA-differential-dx.xlsx](https://github.com/AlexsLemonade/OpenPBTA-analysis/files/4318453/2020-02-28-OpenPBTA-differential-dx.xlsx)
[2020-02-28-hgg-molecular-lesions.txt](https://github.com/AlexsLemonade/OpenPBTA-analysis/f

[2020-03-11 15:43] cansavvy commented on #497
To confirm the thought here, @jashapiro and/or @jaclyn-taroni, we ultimately want the ranges in bed with status to be treated separately, but *annotated* with the cytoband ranges reported in A? But we do not want ranges in B to be merged together based on A's status? If this is the case, this makes me think we want `-wb` instead. Or that these intersect ranges should be swapped: cytoband with stat

[2020-03-11 19:01] jharenza opened #626 "Updated analysis: ependymoma subtyping lesions table update"
#### What analysis module should be updated and why?
[ependymoma subtyping
](https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/master/analyses/molecular-subtyping-EPN)
#### What changes need to be made? Please provide enough detail for another participant to make the update.
Per [this comment ](https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/245?email_token=ANLQX4X7E6YAX7R3ATHPRDLQ

[2020-03-12 13:32] jharenza opened #627 "[Discussion] What is the best way to annotate histologies in figures?"
We have multiple columns of with histology type and molecular subtype information, and as we are creating figures, we should decide which columns to use for figures to aid in disease expert/audience interpretability.

For example, in reviewing the figures in [this comment](https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/611#issuecomment-596617098), it could be confusing having medulloblast

[2020-03-12 13:33] jharenza commented on #627
Related to #571

[2020-03-12 18:22] natemella commented on #448
I'm submitting a merge request today. But first I'm going to upload the results of testing for batch effects after running combat. This way the results can easily be stored within these comment boxes
[rsem_stranded_sequence_combat_pca.pdf](https://github.com/AlexsLemonade/OpenPBTA-analysis/files/4325809/rsem_stranded_sequence_combat_pca.pdf)
[rsem_stranded_sequence_combat.pdf](https://github.com/A

[2020-03-12 20:26] jharenza commented on #626
Temporary time out on this - the pathologists would like to review the one patient whose dx would change in doing this. They will do this week.

[2020-03-13 06:20] natemella commented on #448
[kallisto_polya_cohort_combat.pdf](https://github.com/AlexsLemonade/OpenPBTA-analysis/files/4328136/kallisto_polya_cohort_combat.pdf)
[kallisto_polya_cohort_combat_pca.pdf](https://github.com/AlexsLemonade/OpenPBTA-analysis/files/4328137/kallisto_polya_cohort_combat_pca.pdf)

[2020-03-13 15:49] jharenza commented on #627
@jaclyn-taroni @jashapiro @cansavvy

I have created an _amateur_ (:grinning:) notebook [here](https://jharenza.github.io/openPBTA-notebooks/plot-labels.nb.html) to discuss around a histologies label concept.

Of note (and at the end of the notebook):
- The 833 remaining NAs are the normal specimens.
- The CNS EFT-CIC will become CNS Ewings sarcoma via #624 .
- We have a standalone BRAF V600E subty

[2020-03-13 16:42] cbethell opened #629 "Figure Panel: Sample distribution across histologies plot"
As a part of [figure 1 of the manuscript](https://github.com/AlexsLemonade/OpenPBTA-manuscript/blob/master/content/04.results.md#the-open-pediatric-brain-tumor-atlas). The Github contributions figure mentioned in ticket #572 is not yet available, I will therefore be working on the following subset of this panel:
<img width="1003" alt="Screen Shot 2020-03-13 at 12 37 11 PM" src="https://user-images

[2020-03-14 14:31] jaclyn-taroni opened #630 "Use snakemake for pub-ready figure generation"
_Originally suggested by @jashapiro._

With #613, we're using a large bash script to regenerate figures. Some kind of workflow management system would be _better_. [`snakemake` is already on the project Docker container](https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/7e000418b106e34040325d2fbd642f63080966c8/Dockerfile#L190).  The CCDL does not have bandwidth to implement this as part of o

[2020-03-14 23:13] jaclyn-taroni opened #631 "Proposed Analysis: Molecular subtyping for LGAT"
#### What are the scientific goals of the analysis?

Breaking things out from https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/627#issuecomment-598789232 - **Molecular subtyping of LGAT** into LGG BRAF fusion, LGG BRAF V600E, or LGG BRAF WT

#### Analysis steps

1. Subset the consensus mutation file mentioned below to biospecimens where `short_histology == LGAT` and commit them to the rep

[2020-03-14 23:35] jaclyn-taroni commented on #509
Because all of these samples are relevant to `molecular-subtyping-HGG`:
[code]

I think the following point from https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/627#issuecomment-598789232

Can be addressed at the same time.

[2020-03-15 18:32] jaclyn-taroni commented on #547
Closed via the linked pull requests – subsequent analyses are tracked in #560

[2020-03-15 18:32] #547 closed

[2020-03-15 18:42] jaclyn-taroni commented on #509
I am planning on addressing this issue early this week.

[2020-03-16 12:22] cansavvy opened #632 "Documentation: Relative file paths for snv-callers"
#### What changes need to be made? Please provide enough detail for another participant to make the update.

Documentation around how `snv-callers` and `chromosomal-instability` analyses take relative file paths should be made a bit more clear. Related to [this comment](https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/625#issuecomment-598785681)
[And this is the original note in the documen

[2020-03-16 20:22] kgaonkar6 commented on #631
ok @jaclyn-taroni ! Thanks for providing the details above I'll start working on this.

[2020-03-18 14:10] jaclyn-taroni commented on #608
I'm going to label this as `blocked` because this is external to analyses contained within the repository.

[2020-03-18 14:11] jaclyn-taroni commented on #626
I'm going to label this as `blocked` because this is external to analyses contained within the repository.

[2020-03-18 18:40] arpoe opened #636 "Mutational Signatures"
The current figure for mutational signatures is very nice. I am however worried that there may be problems with fitting. The "flat signatures" tend to have problems in this regard, of which Signature 3 is the most relevant one here. With the current methodology it is likely to be overestimated.
I am also concerned that the smoking and UV signatures are picked up in non-negligible levels.
May I rai

[2020-03-18 19:18] jaclyn-taroni commented on #636
Hi @arpoe, thanks for filing this! I am pinging @cansavvy who initially did the analysis.

I also wanted to direct you to the current version of the mutational signature analysis so you can take a closer look: https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/5f2468daf2756a62c7d4615a7660b0a52e5ad135/analyses/mutational-signatures

When you say:

You are referring to the previously defined/de

[2020-03-18 19:24] jharenza commented on #626
Closing this issue - from CHOP pathology after reviewing slides and pathology report, it seems like there can be very rare cases of non-EPN samples with what were considered "EPN-specific fusions", so we should not use this fusion to re-classify as EPN.

Final dx:

[2020-03-18 19:24] #626 closed

[2020-03-18 22:08] allisonheath opened #637 "Updates in v16 for pbta-histologies.tsv"
#### What data file(s) does this issue pertain to?

pbta-histologies.tsv

#### What release are you using?

v16

#### Put a link to the relevant section of the [OpenPBTA-manuscript](https://github.com/AlexsLemonade/OpenPBTA-manuscript/) here.

N/A - or this is what this ticket is trying to discern.

#### Put your question or report your issue here.

For v16 we have revamped how this file is genera

[2020-03-18 22:13] allisonheath commented on #637
Initial summary of demographic changes:

| # Updates | Field |
| ---------- |-------|
| 20 | reported_gender |
| 796 | race |
| 398 | ethnicity |

[2020-03-19 11:29] arpoe commented on #636
Thanks for the link to the analysis. Here are the responses to your questions:

With "flat signatures" it is meant that the nucleotide changes are not distinct, so the signature plot does not have any spikes. For example Signature 3 is flat, the Apobec signatures have distinct nucleotide changes.
Flat signatures are (for mathematica reasons) more susceptible for overfitting and to being misassigne

[2020-03-19 13:44] jaclyn-taroni commented on #637
Hi @allisonheath and @baileyckelly, of the demographic changes listed above, I don't expect any of those to change the logic or labels in the molecular subtyping modules. However, I do expect that the tabular data generated in those modules to change. That being said, the _idea_ of rerunning molecular subtyping modules, in particular, prior to a final release and then updating the clinical file wi

[2020-03-19 22:01] cbethell opened #641 "Figure Panel: Oncoprint Landscape"
As depicted in the sketch of [the landscape of genomic alterations figure in the manuscript](https://github.com/AlexsLemonade/OpenPBTA-manuscript/blob/master/content/04.results.md#landscape-of-genomic-alterations), the oncoprint figure found in `analyses/oncoprint-landscape/plots` should be updated and made publication ready. (Related to: #571)

Updating/making this figure publication ready will c

[2020-03-19 22:40] jaclyn-taroni commented on #636
Thanks for the explanation @arpoe, makes sense!

Is this something you would be able to contribute? If so, the steps would be 1) filing a pull request (or likely multiple pull requests) adding the new results and 2) where possible using the existing code for the bubble plots you've referenced, that way the figure that will eventually go in [the manuscript](https://github.com/AlexsLemonade/OpenPBTA

[2020-03-19 23:18] jaclyn-taroni commented on #601
@tkoganti gave me a heads up that the updated TCGA files are available pre-v16 if folks would like to take a look.

Here's the link to the s3 bucket and folder `https://s3.amazonaws.com/kf-openaccess-us-east-1-prd-pbta/data/TCGA_mar-12-2020/`

And the file list:

[code]
Where the README includes an explanation of what each of these files are.

[2020-03-20 16:42] yuankunzhu commented on #601
[note-to-self]

[code]
## new data
### TCGA
 get overlapped file names between v15 and `TCGA_mar-12-2020/`
[code]
it turns 0 output, no overlaps? check all TCGA MAF files:
[code]
returns below
[code]
MAF files named differently in `TCGA_mar-12-2020/` folder and release folder, rename/overwrite TCGA_mar-12-2020/ MAF with vep extension to keep consistence
[code]

[2020-03-20 16:58] yuankunzhu commented on #601
@tkoganti for the new TCGA BED files you put on `TCGA_mar-12-2020/`
I didn't see the Gh38 version for `tcga_6k_genes.targetIntervals.bed` and the original/un-liftover'd for `whole_exome_agilent_plus_tcga_6k.targetIntervals.Gh38.bed`?

[2020-03-20 17:15] yuankunzhu commented on #601
@tkoganti I think we need to also add the BED information to the manifest.

[2020-03-20 17:25] tkoganti commented on #601
Just uploaded `data/TCGA_mar-12-2020/tcga_6k_genes.targetIntervals.padded.Gh38.bed`

This file from March 12 `data/TCGA_mar-12-2020/whole_exome_agilent_plus_tcga_6k.targetIntervals.bed` - Is this what you are asking for?

[2020-03-20 17:27] yuankunzhu commented on #601
[code]
it looks like it's just uploaded?

[2020-03-20 17:27] arpoe commented on #636
Thanks, yes, I will make the pull request and have a look at this next week. I am currently working on genome evolution of Corona, which has to have priority at the moment.

[2020-03-20 17:38] tkoganti commented on #601
<img width="745" alt="Screen Shot 2020-03-20 at 1 33 56 PM" src="https://user-images.githubusercontent.com/56036338/77190411-929ff900-6aaf-11ea-964e-24e084f55a3f.png">

Hmm It said March 12 when I first looked and I uploaded again. Not sure if it was overwritten.

This is the capture kit info used for the new samples. But might be easier to generate again with all 319 samples. Let me know if you w

[2020-03-20 19:53] kgaonkar6 commented on #601
Adding files updated from fusion-filtering analysis https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/master/analyses/fusion_filtering/results

Changes :
A QC step to identify and remove fusions in multi (more than 4) histologies is added to the fusion-filtering analysis:
Update files:
- [ ] pbta-fusion-putative-oncogenic.tsv
- [ ] pbta-fusion-recurrently-fused-genes-byhistology.tsv
- [ ] pb

[2020-03-23 12:13] jaclyn-taroni commented on #550
Hi @hbeale - was this closed by #596?

[2020-03-23 12:43] jaclyn-taroni opened #643 "Figure: Transcriptomic overview"
One of the figures mentioned in #571 is a "transcriptomic overview" with the following panels:

![Image from iOS (32)](https://user-images.githubusercontent.com/19534205/77316399-be092a80-6cdf-11ea-84f2-c6ff0ea5c8a8.jpg)

The GSVA and immune deconvolution steps both require `collapse-rnaseq`. I will use `broad_histology` for now and add TODOs about how we might deal with additional information (#6

[2020-03-23 17:23] hbeale commented on #550
Yes, thanks.

[2020-03-23 17:23] #550 closed

[2020-03-23 17:25] cansavvy commented on #510
With #622 merged, we are ready to update figures to the unified color palette (See the README in `figures` for instructions). If there are any changes that need to be made to the color palette as we are starting to implement, you can note them here and I can help with that.

[2020-03-23 19:53] jharenza commented on #609
Updated feedback from Rita:

| ﻿Kids_First_Biospecimen_ID | glioma_brain_region | sample_id | aliquot_id | Kids_First_Participant_ID | experimental_strategy | pathology_diagnosis                              | integrated_diagnosis                     | Notes from Path inspection                                                                  | Action

[2020-03-23 19:58] jaclyn-taroni commented on #609
My inclination would be to handle these specimens in their own section of  `07-HGG-molecular-subtyping-combine-table.Rmd` and document why we're doing that.

[2020-03-23 20:03] jaclyn-taroni commented on #623
Closed via #635 and #640.

[2020-03-23 20:03] #623 closed

[2020-03-23 22:51] baileyckelly commented on #610
We are starting on this.

[2020-03-24 00:38] jaclyn-taroni commented on #509
Some notes mostly to self:

* In light of https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/609#issuecomment-602821376, I think it makes sense to wait to address the issue of the standalone `BRAF V600E` and more generally add a step/notebook to `molecular-subtyping-HGG` that alters the labels from the `07` notebook (related to: https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/609#

[2020-03-24 12:28] jaclyn-taroni commented on #610
I was working on #509 yesterday and ran into some difficulties that I think are related to this issue. Let's take a look at the cell lines with the `sample_id` `7316-195` as an example (full table [here](https://github.com/jaclyn-taroni/OpenPBTA-analysis/blob/f37ea59562d5639546af24184413ff2068f7df4e/analyses/molecular-subtyping-HGG/results/HGG_molecular_subtype.tsv)):

Kids_First_Participant_ID |

[2020-03-24 13:07] jaclyn-taroni opened #645 "Proposed Analysis: Include pathology feedback in repository"
Related to #609

#### What are the goals of the analysis?

In https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/609#issuecomment-602821376, we have some feedback from CHOP pathologists Maria Rita Santi and Angela Viaene on `integrated_diagnosis`.  Many of the `Notes` contain:

Which is to say are the results of molecular subtyping modules included in the repository.  From that same comment

[2020-03-24 13:22] jaclyn-taroni commented on #645
Related to https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/637#issuecomment-601186284 – specifically, how would this feed back into the generation of the clinical file? cc: @baileyckelly @allisonheath

[2020-03-24 14:43] jaclyn-taroni commented on #645
Also related to https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/607

[2020-03-24 15:12] jaclyn-taroni commented on #631
Closed via #634 and #642 - anything left with LGAT is subsumed by #645.

[2020-03-24 15:12] #631 closed

[2020-03-24 16:21] baileyckelly commented on #601
Hi there -
From reviewing tickets, can we confirm that the following tickets are likely not going to be ready for v16 for the pbta-histologies file?
#608 - blocked
#509 - Target for v17
#245 - Target for v17

We will be adding in the following ticket(s), though for the histologies file:
#637 - Data refresh for pbta-histologies file

[2020-03-24 16:39] baileyckelly commented on #610
@jaclyn-taroni Just to confirm I'm understanding correctly - Are you trying to identify the RNA/DNA cell line pairs?

[2020-03-24 17:11] jaclyn-taroni commented on #601
Yes, sounds good. I will edit the original post to match this.

[2020-03-25 17:35] letitiaismyname opened #646 "Request for help with statistically significant PBTA scores"
#### What data file(s) does this issue pertain to?
nature_signatures_results.tsv
cosmic_signatures_results.tsv

#### What release are you using?

V11 Release (#293)

#### Put a link to the relevant section of the [OpenPBTA-manuscript](https://github.com/AlexsLemonade/OpenPBTA-manuscript/) here.

https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/master/analyses/mutational-signatures/results

[2020-03-26 13:31] jashapiro commented on #510
In #622, colors are defined for `short_histology`, but not for other histology definitions. I propose we have colors defined for `broad_histology` as well  and a table that assigns the same colors (or slightly modified versions) to `integrated_diagnosis`.  Unfortunately, it appears that `short_histology` does not neatly nest in `broad_histology`, which could make this a challenge.

I am also unsur

[2020-03-26 13:51] jashapiro opened #647 "short_histology "Other" groups disparate types"
#### What data file(s) does this issue pertain to?

pbta-histologies.tsv

#### What release are you using?

v15

#### Put your question or report your issue here.

The `short_histology` label as it currently is used contains a category called "Other", which includes tumor histologies of vastly different types, which can lead to improper grouping if it is used as the main label for a figure or anal

[2020-03-26 14:15] cansavvy commented on #510
Yes, I wasn't sure how `Other` vs no assignment for `short_histology` were being assigned, so I didn't want to merge that and lose the information, so I left it as is.

[2020-03-26 14:19] jashapiro commented on #510
Looks like NA is exclusively "non-tumor", which makes sense. But "Other" is a mix of unrelated things, as discussed in #647